* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Chivo", sans-serif;
}

.bg-lightblue {
  background-color: #bee1e6;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1320px) 1fr;
}

.container * {
  grid-column: 2;
}

.btn {
  padding: 18px 20px;
  border-radius: 4px;
  font-weight: 700;
  border: 2px solid transparent;
}
