$color-primary: #2f89fc;
$dark-color-primary: #2970ce;
$color-white: #FFFFFF;

* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin grid ($one, $two) {
  display: grid;
  grid-template-columns: $one $two;
}

@mixin widthPadding ($width, $padding) {
  width: $width;
  padding: $padding;
}

@mixin after($left, $bottom, $width, $height, $bgColor) {
  content: "";
  position: absolute;
  left: $left;
  bottom: $bottom;
  width: $width;
  height: $height;
  background-color: $bgColor;
}

@mixin buttonType ($borderRadius, $backgroundColor, $border, $fontSize) {
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  border: $border;
  font-size: $fontSize;
  color: $color-white;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $dark-color-primary;
  }
}

@mixin flex ($flexWrap, $gap) {
  display: flex;
  flex-wrap: $flexWrap;
  gap: $gap;
}

@mixin fontPadColor ($fontSize, $padding, $color) {
  font-size: $fontSize;
  padding: $padding;
  color: $color;
}

header {
  position: absolute;
  top: 20px;
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1999;
  .container {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    padding: 1rem;
    .logo {
      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        a {
          font-weight: 900;
          @include fontPadColor(20px, 0, $color-white)
        }
      }
    }
    ul {
      @include flex (nowrap, 1rem);
      text-align: right;
      justify-content: end;
      margin-right: 3rem;
      li {
        @include fontPadColor (1rem, 20px 10px, $color-white);
        cursor: pointer;
      }
    }

    .logInContainer {
      @include flex (nowrap, 1.5rem);
      align-content: end;
      justify-content: end;
      .login {
        @include fontPadColor (1.1rem, 20px 10px, $color-white);
      }
      .register {
        @include fontPadColor(1.1rem, 20px 10px, $color-white);
        display: inline-block;
        span {
          @include buttonType (.25rem, $color-primary, none, 1.1rem);
          padding: 12px 20px;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}

.welcome {
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ), url("https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 600px;
  height: calc(100vh);
  position: relative;
  .container {
    text-align: center;
    .topSection {
      padding-top: 18rem;
      margin-bottom: 1.5rem;
      color: #FFFFFF;
      h1 {
        font-size: 3.3rem;
        font-weight: 500;
      }
      p {
        font-size: 1.2rem;
        line-height: 2;
        margin-bottom: 2rem;
        font-weight: 100;
      }
    }
    .formWelcome {
      margin-bottom: 1rem;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
      padding: 20px;
      form {
        @include flex (wrap, 2rem);
        flex-direction: row;
        .formItem{
          @include fontPadColor(1rem, 0.375rem 0.75rem, #495057);
          @include buttonType (.25rem, $color-white, none, 1rem);
          height: 35px;
          line-height: 1.5;
          &:focus {
            outline: none;
          }
          &.lookInput {
            width: 28%;
          }
          &.formSelect {
            margin-left: 2rem;
            height: auto;
            @include widthPadding(22%, 0.375rem 0.75rem);
          }
        }
        .locationInput {
          position: relative;
          width: 22%;
          input {
            width: 100%;
          }
          span {
            position: absolute;
            right: -10px;
            top: 50%;
          }
        }
        button {
          @include widthPadding(15%, 10px 30px);
          @include buttonType(0.25rem, $color-primary, none, 1.1rem);
          line-height: 1.5;
          font-weight: 400;
          text-align: center;
        }
      }
    }
    .trendSearch {
      @include widthPadding(100%, 10px 0);
      @include flex (wrap, .5rem);
      align-items: center;
      color: #FFFFFF;
      h2 {
        font-size: 1.1rem;
        margin-right: 10px;
        font-weight: 500;
        line-height: 1.2;
      }
      a {
        @include fontPadColor(.8rem, 7px 10px, #FFFFFF);
        @include buttonType (4px, rgba(255, 255, 255, 0.2), 1px solid $color-white, .8rem);
        text-align: left;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: $color-white;
          color: $color-primary;
        }
      }
    }
  }
}

.featured {
  background-color: #f8f9fa;
  padding: 5rem 0;
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .cardWrapper {
    @include flex (wrap, 2rem);
    justify-content: center;
    padding: 0 10px;
    .card {
      width: 23%;
      box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      background: #FFFFFF;
      .cardImg {
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
          border-radius: 7px 7px 0 0;
        }
      }
      .cardInfo {
        padding: 20px;
        .topCardInfo {
          display: flex;
          justify-content: space-between;
          span {
            @include fontPadColor(.8rem, 8px 10px, #000000);
            background: #e9ecef;
            border-radius: 30px;
            margin-bottom: 20px;
            font-weight: bold;
          }
          a {
            span {
              @include fontPadColor(1rem, 8px, $color-primary);
              border-radius: 50%;
              transition: all .3s ease-in-out;
            }
            &:hover {
              span {
                background-color: #F23A2E;
                color: $color-white;
              }
            }
          }
        }

        .middleCardInfo {
          padding-bottom: 1rem;
          h3 {
            @include fontPadColor(1.1rem, 0, $color-primary);
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: .7rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover {
              color: $dark-color-primary;
            }
          }
          address {
            margin-bottom: 1.5rem;
            font-style: normal;
            line-height: inherit;
            font-size: .9rem;
          }
          .stars {
            .checked {
              color: #f89d13;
            }

            .original {
              color: #6c757d;
            }
            .review {
              font-size: .9rem;
              margin-left: .2rem;
            }
          }
        }
      }
    }
  }
}

.popular {
  background-color: #FFFFFF;
  padding: 5rem 0;
  .topSection {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    h2 {
      @include fontPadColor(2.2rem, 0, $color-primary);
      font-weight: 700;
      margin-bottom: .5rem;
    }
    p {
      @include fontPadColor(1.1rem, 0, rgba(0, 0, 0, 0.5));
      line-height: 2rem;
      &::after {
        @include after(46.5%, -10px, 80px, 3px, $color-primary);
      }
    }
  }
  .cardWrapper {
    @include flex (wrap, .5rem);
    justify-content: center;
    .card {
      @include flex (nowrap, 1.5rem);
      @include widthPadding(12%, 1.5rem);
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      background: #FFFFFF;
      text-align: center;
      border-radius: 7px;
      transition: all .3s ease-in-out;
      span {
        font-size: 2.5rem;
        transition: all .3s ease-in-out;
        &.icon {
          color: $color-primary;
        }
        &.typeIcon {
          @include fontPadColor(1rem, 0, #666666);
        }
        &.number {
          @include fontPadColor(1rem, 7px 20px, #000000);
          border-radius: 30px;
          display: inline-block;
          background: #e9ecef;
        }
      }
      &:hover {
        background-color: $color-primary;
        transform: scale(1.15);
        .icon,
        .typeIcon {
          color: $color-white;
        }
        .number {
          background-color: $dark-color-primary;
          color: $color-white;
        }
      }
    }
  }
}

.section2 {
  .topSection {
    position: relative;
    margin-bottom: 5rem;
    h2 {
      @include fontPadColor(2.2rem, 0, $color-primary);
      font-weight: 700;
      margin-bottom: .5rem;
      &::after {
        @include after(0, -10px, 90px, 3.5px, $color-primary);
      }
    }
  }
  .cardWrapper {
    @include grid(1fr, 1fr);
    .card {
      width: 100%;
      @include grid(2fr, 3fr);
      .cardImg {
        border-radius: 7px 0 0 7px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 7px 0 0 7px;
        }
      }
      .cardInfo {
        padding: 1.5rem;
      }
    }
  }
}

.testimonials {
  .topSection{
    position: relative;
    line-height: 1.5;
    &::after {
      @include after(47%, 0, 80px, 3px, $color-primary);
    }
  }
  .customer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    .customerInfo {
      margin-bottom: 1.5rem;
      img {
        max-width: 100px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
      p {
        @include fontPadColor(1.1rem, 0, rgba(0, 0, 0, 0.5));
        line-height: 2rem;
        font-weight: 600;
      }
    }
    .customerComment {
      p {
        @include fontPadColor(1.1rem, 0, rgba(0, 0, 0, 0.7));
        font-style: italic;
        line-height: 1.7;
      }
    }
  }
}

.blog {
  .topSection {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    h2 {
      @include fontPadColor(2.2rem, 0, $color-primary);
      font-weight: 700;
      margin-bottom: .5rem;
    }
    p {
      @include fontPadColor(1.1rem, 0, rgba(0, 0, 0, 0.5));
      line-height: 2rem;
      &::after {
        @include after(47%, -10px, 80px, 3px, $color-primary);
      }
    }
  }
  .cardWrapper {
    padding: 0;
    .card {
      width: 30.8%;
      background: transparent;
      box-shadow: none;
      .cardImg {
        margin-bottom: 30px;
        img {
          width: 100%;
          height: auto;
          border-radius: .25rem;
        }
      }
      .cardInfo {
        padding: 0;
        h2 {
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: .8rem;
          cursor: pointer;
        }
        .middleBlogInfo {
          @include fontPadColor(.9rem, 0, #b3b3b3);
          margin-bottom: 1.4rem;
          a {
            @include fontPadColor(.9rem, 0, $color-primary);
          }
        }
        p {
          @include fontPadColor(1rem, 0, #4d4d4d);
          line-height: 1.7;
        }
      }
    }
  }
  .cardButton {
    display: block;
    text-align: center;
    margin-top: 5rem;
    a {
      @include fontPadColor(1rem, .7rem 1.5rem, $color-white);
      background-color: $color-primary;
      border-radius: 4px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: $dark-color-primary;
        color: #FFFFFF;
      }
    }
  }
}

.newsSection {
  background-color: $color-primary;
  padding: 3rem 0;
  .news {
    @include flex (wrap, 2rem);
    .newsLeft {
      @include widthPadding(45%, 0 15px);
      h2 {
        @include fontPadColor(1.2rem, 0, $color-white);
        font-weight: 400;
        margin-bottom: .7rem;
      }
      p {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .newsRight {
      @include widthPadding(45%, 0 15px);
      input {
        border: none;
        border-bottom: 1px solid $color-white;
        background: none;
        @include widthPadding(70%, 0);
        height: 43px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          @include fontPadColor(1rem, 0, $color-white);
          font-style: italic;
        }
      }
      a {
        @include fontPadColor(1rem, .82rem .9rem, #000000);
        background-color: $color-white;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        margin: 0 -5px;
        &:hover {
          background-color: #000000;
          color: #FFFFFF;
        }
      }
    }
  }
}

footer {
  @include fontPadColor(auto, 8rem 0, $color-white);
  background: #333333;
  .footerCards {
    @include flex (wrap, 4rem);
    padding: 0 15px;
    .footerCard {
      width: 33%;
      h2 {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }
      p {
        @include fontPadColor(1.05rem, 0, #737373);
        margin-bottom: 1rem;
        line-height: 1.7;
      }
    }
    .navigations {
      width: 12%;
      ul {
        li {
          margin-bottom: 1.1rem;
          a {
            color: #999999;
            transition: all .3s ease-in-out;
            &:hover {
              color: #FFFFFF;
            }
          }
        }
      }
    }
    .socials {
      width: 12%;
      .socialItems {
        display: flex;
        justify-content: space-between;
        a {
          color: #999999;
          transition: all .3s ease-in-out;
          &:hover {
            color: #FFFFFF;
          }
        }
      }
    }
    .search {
      width: 20%;
      display: flex;
      input {
        height: 43px;
        background-color: transparent;
        border: 1px solid #6c757d;
        @include fontPadColor(1rem, 0 10px, $color-white);
        &:focus {
          outline: none;
        }
      }
      button {
        @include buttonType (none, $color-primary, 1px solid transparent, 1rem);
        height: 45px;
        background-color: $color-primary;
        @include fontPadColor(1rem, 0 10px, $color-white);
        &:hover {
          background-color: $dark-color-primary;
        }
      }
    }
  }
  .copyRight {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 3rem;
    p {
      @include fontPadColor(1rem, 3rem 0 0 0, #737373);
      a {
        color: #999999;
        transition: all .3s ease-in-out;
        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .container {
      padding-top: 0;
      .menu {
        display: none;
      }
      .logInContainer {
        display: none;
      }
      .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
        cursor: pointer;
        z-index: 999;
        .hamburgerLine {
          width: 25px;
          height: 3px;
          background-color: #FFFFFF;
          margin: 5px 0;
          transition: all .3s ease-in-out;
        }
      }
    }
  }

  .welcome {
    .container {
      .topSection {
        padding-top: 12rem;
        h1 {
          font-size: 2rem;
        }
      }
      .formWelcome {
        form {
          gap: 1.4rem;
          .formItem{
            &.lookInput {
              width: 100%;
              height: 40px;
            }
            &.formSelect {
              width: 100%;
              height: 55px;
              margin: 0;
            }
          }
          .locationInput {
            width: calc(100% - 25px);
            input {
              width: 100%;
              height: 40px;
            }
          }
          button {
            width: 100%;
            height: 40px;
          }
        }
      }
    }
  }

  .sectionfea {
    .cardWrapper {
      .card {
        width: 100%;
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  .popular {
    .cardWrapper {
      .card {
        width: 80%;
      }
    }
  }

  .section2 {
    .cardWrapper {
      grid-template-columns: 1fr;
      .card {
        width: 100%;
        grid-template-columns: 1fr;
      }
    }
  }

  .testimonials {
    .topSection{
      &::after {
        @include after(40%, 0, 80px, 3px, $color-primary);
      }
    }
  }
  
  .blog {
    .topSection {
      p {
        &::after {
          @include after(40%, -10px, 80px, 3px, $color-primary);
        }
      }
    }
    .cardWrapper {
      .card {
        width: 80%;
      }
    }
  }

  .newsSection {
    .news {
      .newsLeft,
      .newsRight {
        width: 100%;
      }
    }
  }

  footer {
    padding: 5rem 0;
    .footerCards {
      .footerCard,
      .navigations,
      .search {
        width: 100%;
      }
      .socials {
        width: 60%;
      }
    }
  }
}