.listGroup {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
}

h3 {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.18);
}

.lastSearch {
    padding: 0 5px;
    border-radius: 5px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}

.lastSearch:hover {
    background-color: #0a3e50;
}