.listGroup {
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 0;

}

.lastSearch {
    padding: 0 5px;
    border-radius: 5px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}

.lastSearch:hover {
    background-color: #0a3e50;
}