*{
    margin: 0
    padding:0;
}

.boxs{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

.box1{
    background-color: orange;
}

.box2{
    background-color: palegoldenrod;
}

.box3{
    background-color: paleturquoise;
}

.box4{
    background-color: palegreen;
}

.box5{
    background-color: palevioletred;
}

.box6{
    background-color: red;
}
