@import url(//db.onlinewebfonts.com/c/d7a74f6ebe99f3f64ac5c9cb859c25f6?family=SVN-Gilroy);

#root {
  background: #F5F5F5;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: SVN-Gilroy;
}