* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  background-attachment: fixed;
}
.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.2)),
    url("https://static.wixstatic.com/media/82fcd3_1e4cb7a7053948998237a43286bee5bf~mv2_d_3840_1470_s_2.jpg/v1/fill/w_1225,h_940,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/82fcd3_1e4cb7a7053948998237a43286bee5bf~mv2_d_3840_1470_s_2.jpg");
  background-position: 50% -25px;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  .nav-item img {
    width: 40px !important;
  }
  .position-absolute {
    top: 40%;
    left: 20%;
    a:hover {
      color: #554739 !important;
    }
  }
}
.filter-group {
  border-bottom: 1px solid #dee2e6;
  .category {
    &:hover {
      color: #ffffff;
    }
    &:focus {
      color: #1ad81d;
      font-weight: bold;
    }
  }
}
.card {
  img {
    max-width: 245px;
    max-height: 300px;
    margin-bottom: 15px;
    &:hover {
      transform: scale(1.12);
    }
  }
  .grid-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100ch;
  }
}
.card.card-product-grid,
.card.card-product-list {
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.07);
  &:hover {
    box-shadow: 0 3px 10px rgba(51, 51, 51, 0.1);
    a {
      color: #ccc11c !important;
    }
    .list-group {
      display: flex !important;
      left: 30px;
      bottom: 10px;
    }
  }
  .img-wrap {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .info-aside {
    border-left: 1px solid #dee2e6;
  }
}
.btn-check:checked ~ .viewGrid {
  display: none !important;
}
.btn-check:checked ~ .viewList {
  display: block !important;
}
.btn-check2:checked ~ .viewList {
  display: none !important;
}
.btn-check2:checked ~ .viewGrid {
  display: flex !important;
}

.active {
  color: #6247ea !important;
}

.nav-link {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

// details pages
.details {
  background: #2d2d2d;
  .card {
    box-shadow: 0 0px 10px rgb(255, 255, 255, 0.9);
    background-color: #2d2d2d;
    .color {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #c9c9c9;
      input[type="color"] {
        border: 0;
        padding: 0;
        width: 200%;
        height: 200%;
        cursor: pointer;
        transform: translate(-25%, -25%);
      }
    }
    input[type="number"] {
      width: 20%;
    }
    a {
      background-color: #554739;
      width: 50%;
      &:hover {
        color: #554739 !important;
      }
      &:last-child {
        margin-top: 20px;
        background-color: #d0b48f;
      }
    }
    .accordion-button::after {
      background-color: #fff;
      border-radius: 50%;
    }
  }
  button{
    white-space: nowrap;
  }
}
.comments {
  .comment-name {
    color: #554739;
  }
  .object-fit-cover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  button {
    background-color: #554739;
    &:hover {
      color: #554739 !important;
    }
  }
}
.about{
  background-color: #030306;
  header{
    background: none;
    height: auto;
  }
  .about-img{
    box-shadow: 0 5px 10px rgb(58, 185, 233, 0.5);
  }
  .about-content{
    box-shadow: 0 5px 10px rgb(58, 185, 233, 0.5);
  }
}
.faq{
  header{
    background: none;
    height: auto;
  }
  iframe{
    width: 100%;
    height: 600px;
  }
}
