body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #696969;
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px;
}

.lab-btn {
  margin-top: 32px;
}
.lab-btn a {
  padding: 16px 24px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, #ff5195, #ffb84b);
  text-decoration: none;
}
.lab-btn a:hover {
  position: relative;
  overflow: hidden;
}
.lab-btn a:hover::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent);
  transform: rotate(45deg);
  animation: shine 2s infinite;
}
@keyframes shine {
  from {
    transform: translateX(-150%) rotate(45deg);
  }
  to {
    transform: translateX(150%) rotate(45deg);
  }
}

.title {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(105, 105, 105, 0.1450980392);
}
.title h2 {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.title p {
  max-width: 450px;
}
.title.center {
  margin: 0 auto;
  text-align: center;
  border-bottom: none;
}
.title.center p {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.section1, .section5, .section4, .section3, .section2 {
  flex-wrap: wrap;
}
.section1 .container, .section5 .container, .section4 .container, .section3 .container, .section2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.section1 .left, .section5 .left, .section4 .left, .section3 .left, .section2 .left,
.section1 .right,
.section5 .right,
.section4 .right,
.section3 .right,
.section2 .right {
  width: 45%;
}
.section1 .list, .section5 .list, .section4 .list, .section3 .list, .section2 .list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.section1 ul, .section5 ul, .section4 ul, .section3 ul, .section2 ul {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 ul li, .section5 ul li, .section4 ul li, .section3 ul li, .section2 ul li {
  margin: 5px 0px;
  padding: 10px 0px;
}
.section1 ul li i, .section5 ul li i, .section4 ul li i, .section3 ul li i, .section2 ul li i {
  color: #fd4372;
  margin-right: 1rem;
}
.section1 .lab-btn a, .section5 .lab-btn a, .section4 .lab-btn a, .section3 .lab-btn a, .section2 .lab-btn a {
  padding: 16px 46px;
  margin-bottom: 6px;
}
.section1 .lab-btn a span, .section5 .lab-btn a span, .section4 .lab-btn a span, .section3 .lab-btn a span, .section2 .lab-btn a span {
  font-weight: 700;
}

.section2 {
  background-color: #fffcfa;
}
.section2 .container {
  flex-direction: row-reverse;
}

.section4 .container {
  flex-direction: row-reverse;
}

.cards {
  display: grid;
  /*guzin minmax 20% den 200px e degistirdi */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}
.cards .card {
  box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
  padding: 48px 45px;
  border-radius: 4px;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out;
}
.cards .card .card-txt {
  text-align: center;
  margin-top: 2rem;
}
.cards .card .card-txt h6 {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
}
.cards .card .card-img {
  width: 50%;
  margin: 0 auto;
}
.cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 10px rgba(58, 58, 58, 0.1);
}

.benefit .card:nth-child(1) .card-img {
  background: linear-gradient(to top, #f9769d, #bb6df7);
  box-shadow: 0 0 10px 2px #fcd5e1;
}
.benefit .card:nth-child(2) .card-img {
  background: linear-gradient(to top, #fd77b4, #ffbae7);
}
.benefit .card:nth-child(3) .card-img {
  background: linear-gradient(to top, #d17fff, #9982ff);
}
.benefit .card .card-img {
  width: 80px;
  height: 80px;
  line-height: 80px;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.benefit .card .card-img img {
  height: 40px;
  width: 50px;
  max-width: 100%;
}
.benefit .card .card-img::before {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  background-color: #bb6df7;
  width: 92px;
  height: 92px;
  opacity: 0.2;
}
.benefit .card .card-img::after {
  width: 105px;
  height: 105px;
  opacity: 0.09;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  background-color: #bb6df7;
}

.smrat {
  background-color: #fffef6;
}
.smrat .card {
  background-color: #fff;
}
.smrat h5 {
  color: black;
}
.smrat img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.smrat .row {
  display: flex;
  justify-content: space-between;
}
.smrat .row:nth-child(2) {
  flex-direction: column;
  padding-top: 10px;
}
.smrat .row:nth-child(2) span {
  padding-top: 10px;
}
.smrat .row:nth-child(2) .icofont-star {
  color: #e9ba17;
}
.smrat .row:nth-child(3) {
  justify-content: flex-end;
}
.smrat .row:nth-child(3) i {
  font-size: 36px;
  color: orangered;
}

/*Guzin */
.footer {
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/css/bg-image/app-footer-bg.jpg");
  background-size: cover;
}
.footer .footer-row1 {
  padding-top: 0 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-row1 .footer-row1-left {
  text-align: center;
}
.footer .footer-row1 .footer-row1-left h2 {
  margin-bottom: 5px;
  color: #fff;
}
.footer .footer-row1 .footer-row1-left p {
  color: #fff;
}
.footer .footer-row1 img {
  width: 46px;
  height: 50px;
  margin-right: 10px;
}
.footer .footer-row1 .footer-row1-right {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  max-width: 100%;
}
.footer .footer-row1 .footer-row1-right a {
  width: 200px;
  height: auto;
  padding: 10px 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #fff;
  display: flex;
  margin-right: 15px;
}
.footer .footer-row1 .footer-row1-right a span {
  display: block;
  font-weight: 700;
  color: #c961fa;
}
.footer .footer-row2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  padding: 110px 0 95px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer-row2 h6 {
  font-size: 18px;
  line-height: 30px;
  margin: 30px 0;
}
.footer .footer-row2 a {
  color: #fff;
}
.footer .footer-row2 ul li {
  padding: 8px 0;
}
.footer .footer-row2 ul li i {
  margin-right: 10px;
}
.footer .footer-row3 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.footer .footer-row3 a {
  color: #fff;
}

.top {
  position: fixed;
  bottom: 20px;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  padding-top: 5px;
  font-family: sans-serif;
  color: #fff;
  background: #fd4372;
  border-radius: 50%;
  white-space: nowrap;
  text-align: center;
  right: 0;
  margin-right: 30px;
}

.sponsors .container {
  display: flex;
  justify-content: space-between;
}
.sponsors .container .sponsor {
  transition: filter 0.3s;
  filter: grayscale(0%);
}
.sponsors .container .sponsor:hover {
  filter: grayscale(100%);
}

header {
  height: 100vh;
  width: 100%;
  background: #f9f2ff;
  position: relative;
}
header .left-shape {
  position: absolute;
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/shape-1.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}
header .right-shape {
  position: absolute;
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/shape-2.png");
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 1;
}
header .right-shape .images {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
header .right-shape .images .img1, header .right-shape .images .img4, header .right-shape .images .img3, header .right-shape .images .img2 {
  width: 100%;
  height: 50%;
  position: absolute;
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/01.png");
  background-repeat: no-repeat;
  z-index: 1;
}
header .right-shape .images .img2 {
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/shape/02.png");
  right: -75%;
  top: 23%;
  z-index: 2;
  animation: img2 5s infinite;
}
@keyframes img2 {
  0% {
    transform: translateY(-20px) translateX(0px);
  }
  50% {
    transform: translateY(0px) translateX(-20px);
  }
  100% {
    transform: translateY(-20px) translateX(0px);
  }
}
header .right-shape .images .img3 {
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/shape/03.png");
  right: -27%;
  top: 35%;
  z-index: 2;
  animation: img3 5s linear infinite;
}
@keyframes img3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
header .right-shape .images .img4 {
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/banner/pos/shape/01.png");
  right: -52%;
  top: 35%;
  z-index: 2;
  animation: img4 15s linear infinite;
}
@keyframes img4 {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateY(-60px);
  }
  75% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
header .container {
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}
header .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header .title h2 {
  font-size: 60px;
  line-height: 72px;
  color: black;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar .menu {
  position: relative;
}
.navbar #label-check {
  z-index: 300;
  margin-right: 1rem;
  display: none;
  color: #ff5195;
}
.navbar .menu-web {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar .menu-web .lab-btn {
  margin-top: 0;
}
.navbar .menu-web ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.navbar li:hover {
  color: #ffb84b;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

#checkbox {
  display: none;
}

.content-part2 {
  display: none;
}

@media screen and (max-width: 740px) {
  .footer-row1-right {
    padding-top: 20px;
    justify-content: center;
  }
  .footer-row2 {
    padding-top: 40px !important;
  }
}
@media screen and (max-width: 740px) {
  .navbar .container {
    max-width: 540px;
  }
  .navbar .container .menu-web {
    display: none;
  }
  .navbar .container #label-check {
    display: block;
  }
  .navbar .container #checkbox:checked + label {
    color: black;
    z-index: 1000;
  }
  .navbar .container #checkbox:checked ~ .menu-mobile {
    position: absolute;
    background: white;
    padding: 5rem;
    height: 100vh;
    top: 1rem;
    right: -2rem;
    display: block;
  }
  .navbar .container #checkbox:checked ~ .menu-mobile li {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .left-shape,
  .right-shape {
    display: none;
  }
  header {
    height: 75vh;
  }
  header .navbar {
    top: -2.8rem;
  }
  header .content {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  header .content-part {
    margin-bottom: 2rem;
  }
  header .title h2 {
    font-size: 30px;
    line-height: 1.4;
  }
  header .title p {
    margin: 5px 0 30px;
    margin-top: 5px;
    margin-top: 10px;
    color: #696969;
    font-size: 15px;
  }
  .content-part2 {
    display: block;
  }
  .section1 .container, .section2 .container, .section3 .container, .section4 .container, .section5 .container {
    margin: 0;
    flex-direction: column-reverse;
  }
  .section1 .left, .section2 .left, .section3 .left, .section4 .left, .section5 .left,
  .section1 .right,
  .section2 .right,
  .section3 .right,
  .section4 .right,
  .section5 .right {
    width: 100%;
  }
  .section1 ul, .section2 ul, .section3 ul, .section4 ul, .section5 ul {
    gap: none;
    flex-direction: column;
  }
  .section1 ul div, .section2 ul div, .section3 ul div, .section4 ul div, .section5 ul div {
    width: 100%;
  }
  .sponsors .container {
    justify-content: center;
  }
  .sponsors .container .sponsor:not(:first-child) {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
