.container {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 600px;
}
.h2 {
  margin-top: 25px;
}
.ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.containerRepos {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5em auto;
  height: 350px;
  width: 200px;
}

.overflow {
  overflow: hidden;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.card {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 110%;
}
.card h1 {
  font-family: "Bebas Neue", cursive;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #344055;
  margin: 0;
}
.noBorder {
  border: none !important;
}
.footer {
  display: flex;
}
.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #2f3640;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 6px;
  margin: 5px;
	width: 150px;
}

.btn:hover {
  transform: translateY(-6px);
  background: #472d47;
}
.btnDelete {
  background: #2f3640;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 6px;
  margin: 5px;
	width: 150px;
}
.btnDelete:hover {
  background: #680f0f;
}
.img {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: inline-block;
}
/* Search Area */
.input {
  background: #2f3640;
  border-radius: 40px;
  padding: 10px;
}
.inputBtn {
  border: none;
  border-radius: 40px;
  background: #2f3640;
}
.inputBtn:hover {
  background: #472d47;
}
/* Repo */
.repos {
  font-size: 20px;
  color: #2f3640;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100ch;

}
@media (max-width: 768px) {
  .container {
    height: auto;
    width: 80%;
  }
}
