* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

body {
	background-color: rgb(235, 235, 235);
}

.category {
	color: white;
	margin-top: 4px;
}

span {
	background-color: rgb(24, 120, 88);
	padding: 2px 5px;
	border-radius: 10px;
}

.orange {
	color: white;
	background-color: rgb(255, 94, 0);
}

.grey {
	color: rgb(82, 82, 82);
}

.text {
	text-align: start;
	color: white;
}

.black {
	color: black;
}

.container {
	padding: 0 100px;
	display: grid;
}

.nav_cnt {
	grid-template-columns: 1fr 5fr 1fr;
	padding: 10px 100px;
}

.nav_logo {
	color: rgb(226, 149, 5);
	align-self: center;
	font-size: 2.5em;
}

.nav_items {
	display: grid;
	align-items: center;
}

.nav_items ul {
	display: grid;
	grid-template-columns: repeat(4, 50px);
	text-align: center;
}

.nav_items ul li {
	padding: 1px 0;
	border-radius: 5px;
}

.social_list {
	display: grid;
	align-items: center;
}

.social_list ul {
	display: grid;
	grid-template-columns: repeat(4, 20px);
}

header {
	width: 100%;
	background-image: url("https://picsum.photos/id/237/500/200");
	background-size: cover;
	display: grid;
}

.header_inside {
	color: white;
	padding: 40px 0;
	max-width: 600px;
}

.header_head {
	padding: 10px 0;
	font-size: 24px;
	font-weight: 600;
}

.button {
	text-align: center;
}
.button_header {
	width: 100px;
	margin-top: 10px;
	padding: 4px;
}

.section_header {
	padding: 20px 0;
	font-size: 20px;
	font-weight: 500;
}

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 25px;
}

.box {
	padding: 10px;
	background-color: white;
}

img {
	width: 100%;
}

.box_header {
	padding: 5px 0 5px 10px;
}
