$accordion-button-active-bg:   #6c757d;
$accordion-button-active-color: #fff;
$accordion-button-focus-box-shadow: #000000;
$accordion-button-focus-border-color: #000000;
$input-btn-focus-box-shadow:#6c757d;
$input-focus-box-shadow:#6c757d;
$input-focus-border-color:  #6c757d;