.productArea {
  border-radius: 20px;
  border: 1px solid var(--neutral-color-10);
}
.iconColored{
  color: var(--icon-color-gray);
}
table{
  width: 95%;
}
tr{
  display: flex;
  padding-bottom: 8px;
  margin-top: 14px;
  border-bottom: 1px solid #EBEEEF;
}
td{
  width: 50%;
  text-align: start;
  align-items: start;
  font-weight: 500;
  color: #667479;
}
.smallWidth{
  width: 40%;
}
.editInput{
  border:none;
  padding:6px 20px;
  
}
.editInput:focus{
  border:1px solid #239af0;
    outline:none;
}
.editInput::placeholder{
  font-style:italic;
    font-size:12px;

}