.section-bg-orange {
  background-image: url("../../../assets/bannerImg/OrangeBanner.png");
  background-size: cover;
  background-position: center;

  .bannerGirlImg {
    height: 280px;
    object-fit: cover;
  }
}

.banner-section-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.banner-text-two {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  margin-top: 0;
}

.banner-sec-header {
  font-size: 52px;
  font-weight: 800;
  line-height: 68px;
}