@media screen and (min-width: 1200px) {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
  :has(input[id=anchor-home]:checked) label[for=anchor-home] {
    color: #fff;
    background: #2f89fc;
    padding: 0.5em;
    border-radius: 5px;
  }
  :has(input[id=anchor-ads]:checked) label[for=anchor-ads] {
    color: #fff;
    background: #2f89fc;
    padding: 0.5em;
    border-radius: 5px;
  }
  :has(input[id=anchor-about]:checked) label[for=anchor-about] {
    color: #fff;
    background: #2f89fc;
    padding: 0.5em;
    border-radius: 5px;
  }
  :has(input[id=anchor-contact]:checked) label[for=anchor-contact] {
    color: #fff;
    background: #2f89fc;
    padding: 0.5em;
    border-radius: 5px;
  }
  :has(input[id=anchor-blog]:checked) label[for=anchor-blog] {
    color: #fff;
    background: #2f89fc;
    padding: 0.5em;
    border-radius: 5px;
  }
  #anchor-ads,
  #anchor-home,
  #anchor-about,
  #anchor-contact,
  #anchor-blog {
    top: 200px;
  }
  nav {
    font-size: 16px;
    font-weight: 600;
  }
  nav .mobile {
    display: none;
  }
  nav .desktop {
    display: flex;
    align-items: center;
  }
  nav .desktop .nav-links {
    justify-self: end;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 6em;
    gap: 1em;
  }
  nav .desktop .nav-links li a {
    color: #000;
  }
  nav .desktop .nav-links li a label {
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
  }
  nav .desktop .sign-container {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  nav .desktop .sign-container .login {
    border-left: 2px solid #2f89fc;
    padding: 0 2em;
  }
  nav .desktop .sign-container .register {
    padding: 12px 20px;
    border-radius: 5px;
    background: #2f89fc;
    color: #fff;
  }
  header {
    background: fixed url("https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp") top center/cover no-repeat;
    height: 102vh;
    height: 102dvh;
  }
  header .container {
    height: 100vh;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-container {
    width: 100%;
    gap: 1em;
  }
  .header-container .header-title {
    font-size: 48px;
  }
  .header-container .header-footer {
    margin-top: -1em;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
  }
  .header-container .header-footer h5 {
    margin-top: 0.5em;
  }
  form {
    flex-direction: row;
  }
  form input[type=text],
  form select {
    flex: 2;
  }
  form input[type=submit] {
    flex: 1;
  }
  .featured-cards-container {
    justify-content: space-between;
  }
  .featured-cards-container .featured-card {
    display: block;
    width: 23%;
  }
  .popular {
    padding: 3em 0;
  }
  .popular-links-container {
    justify-content: space-between;
    gap: 0.5em;
  }
  .popular-links-container .popular-links {
    width: 16%;
    padding: 1em 0;
  }
  .featured-ads.trending-today h2::after {
    width: 220px;
    background: #2f89fc;
  }
  .featured-card.trending-today-card {
    display: flex;
    flex-direction: row;
    width: 48%;
  }
  .featured-card.trending-today-card:first-child {
    display: flex;
  }
  .featured-card.trending-today-card img {
    width: 230px;
  }
  .featured-card.trending-today-card .featured-card-content.trending-today-card-content {
    flex: 1;
  }
  .featured-card.trending-today-card .featured-card-content.trending-today-card-content div:not(.review) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .testimonial .container .testimonial-container .testimonial-card {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .testimonial .container .testimonial-container .testimonial-card .testimonial-card-body p {
    font-size: 24px;
    max-width: 800px;
  }
  .our-blog {
    padding: 3em 0;
  }
  .our-blog .ourblog-container {
    display: flex;
    flex-direction: column;
  }
  .our-blog .ourblog-container .ourblog-cards {
    display: flex;
    flex-direction: row !important;
    width: 100%;
  }
  .our-blog .ourblog-container .ourblog-cards .ourblog-card-body p {
    font-size: 16px;
  }
  .newsletter .container {
    display: flex;
    justify-content: space-between;
  }
  .newsletter .container .newsletter-form {
    width: 62%;
    text-align: right;
    margin-top: 0.8em;
  }
  .site-footer {
    padding: 8rem 0;
  }
  .site-footer .container .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .site-footer .container .footer-content .footer-about {
    max-width: 35%;
  }
  .site-footer .container .footer-content .footer-form {
    height: 3rem;
    width: 25%;
  }
  .site-footer .container .footer-content .footer-form .search-btn {
    height: 2.5rem;
  }
}/*# sourceMappingURL=media.css.map */