.paragraf{
    font-size: 1.5em;
}
.title{
    color:aqua;
}
@media screen and (max-width:700px) { /* burada tanımladığımız özellikler mobildeki şeklini ayarlamak için*/
    .paragraf{
        font-size : 14px;
    }
    .title{
        color: red;
    }
}
.link{
    font-size: 30px;
    text-decoration: none;
    color: rgb(44, 180, 78);
}
.link:visited{
    color: black;
}
.link:hover{
    color: green;
}

.link:active{
    font-size: 40px;
    color: blue;
}