body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #fffbd5, #BDFFF3);
}

.header {
    margin: 20px;
    background: linear-gradient(90deg, #22c1c3, #fdbb2d);
}

.logo{
    height: 60px;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.main {
    position: relative;
    left: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    
}

.main-image {
    width: 350px;
    height: 550px;
    margin-bottom: 30px;
    border-image: linear-gradient(to right,  darkblue, darkorchid) 1;
    border-style:solid;
    border-width: 5px;
}

.image {
    width: 320px;
    height: 420px;
    padding: 15px;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
}

.paragraph{
    text-align: center;
    font-size: 1.5rem;
}

.footer {
    width: 100%;
    background-color: darkblue;
    color:aliceblue;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    font-size: 1.2rem;
    cursor: pointer;
}