.todo-form {
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 2rem;
  width: 75%;
  align-self: center;
  margin-bottom: 0.75rem;
}

form button {
  width: 75%;
  height: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-self: center;
}
