* {
  font-family: "Nunito", sans-serif;
  line-height: 27px;
}
a {
  text-decoration: none;
}
#bussinessSection {
  height: 84vh;
}
h1 {
  font-weight: 700;
}
p,
i {
  color: #808080;
}

.mainContent h1 {
  font-size: 56px;
}
.mainImage {
  position: absolute;
  top: -100px;
  right: -200px;
}
.cardIcon i {
  color: white;
}
.imagineCards {
  background-color: #f1f1f1;
}
.carousel-item {
  position: relative;
}
.container-carousel {
  position: absolute;
  bottom: 0;
}
.customCard .card-body,
.customCard .cardIcon {
  transition: 0.5s all;
}

.customCard:hover .imagineCards {
  background-color: rgb(66, 133, 244);
}
.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background-color: rgb(103, 102, 102) !important;
  margin-right: 0.5em !important;
}
.carousel-indicators button:focus {
  background-color: #4285f4 !important;
}

.customCard:hover .cardIcon {
  background-color: white;
}
.customCard:hover .cardIcon i {
  color: rgb(66, 133, 244);
}
.customCard:hover .imagineCards h4,
.customCard:hover .imagineCards a,
.customCard:hover .imagineCards p {
  color: white;
}
#formSection {
  background: url("https://preview.colorlib.com/theme/imagine/images/hero_1.jpg ");
}
.colorImage {
  width: 100%;
  height: 100%;
  background-color: rgba(35, 139, 230, 0.6);
}

.cardIcon {
  position: absolute;
  top: -40px;
  left: 40%;
  background-color: rgb(66, 133, 244);
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 900px) {
  .mainImage {
    position: static;
  }
  .mainContent h1 {
    font-size: 32px;
  }
  #bussinessSection {
    height: 120vh;
  }
}
