:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  width: 100% !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.9136029411764706) 0%,
    rgba(167, 167, 238, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
