header{
  height: 100px;
  background-color: rgb(9, 132, 213);
  width: 100%;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer{
    height: 100px;
    background-color: rgb(9, 132, 213);
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.first-section{
    display: flex;
    width: 60px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.third-section{
    display: flex;
    width: 120px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.langs{
    cursor: pointer;
}
nav {
  height: 100px;
  background-color: whitesmoke;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
article {
  width: 70%;
  height: 500px;
  background-color: rgb(71, 165, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
article p{
    text-align: left;
}
aside {
  width: 30%;
  height: 500px;
  background-color: rgb(9, 247, 73);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  width: 100%;
  background-color: rgb(255, 136, 16);
  justify-content: left;
  display: flex;
}
.row {
  display: flex;
}
* {
  box-sizing: border-box;
  text-align: center;
}
body{
    border: 1px solid black;
}
