@font-face {
  font-family: 'Middleearth';
  src: url('../Assets/Middleearth-ao6m.ttf') format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
.a-menu-nav li {
  font-family: 'Middleearth';
}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
