$title:#2f89fc;
$grey-text:#4d4d4d;
$bg-grey:#f8f9fa;
$bg-white:#fff;
$header-tag:#ffffff33;
$input-area:#ffffffcc;
$grey-span:#e9ecef;
$font-family: 'Nanum Gothic', sans-serif;
$border-radius:30px;

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
@mixin title {
    font-size: 2rem;
    color: $title;
    margin-bottom: 8px;
}

