*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --orange: #ff5714;
}

.navbar {
    padding-right: 220px;
    padding-left: 30px;
    width: 100%;
    position: sticky;
    top:0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 15fr 25fr 5fr;
    font-size: 12px;
    font-family: "Roboto Slab", "sans-serif";
    text-transform: uppercase;
}

.logo:hover{
    cursor: pointer;
}

.navbar  *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    padding: 15px;
}

.nav-menu li:hover{
    cursor: pointer;
    color: var(--orange);
}

.social{
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
}

.social:hover{
    cursor: pointer;
    background-color: #dd5000;
}

.intro{
    background-image: url("./images/background.jpg");
    height: 120vh;
}

.dark-background{
    color: white;
    height: 120vh;
    background: rgba(22,28,45,0.75);
}

.intro-title{
    font-size: 42px;
}

.intro-paragraph{
    font-size: 17px;
    letter-spacing: 0.5px;
}