@media screen and (max-width: 992px) {
    // * HOMEPAGE
    .banner-bg{
        display: none;
    }
    .sc-banner{
        background-color: #FFFCFA;
        .banner{
            .banner-title{
                h2, p {
                    color: #04091e !important;
                    margin-bottom: 20px;
                }
            }
            img{
                display: none;
            }
        }
    }
    .customers{
        :nth-child(n+4){
            display: none;
        }
    }
    // * ABOUT US
    .about-us{
        img{
            display: none;
        }
    }
    // * PRODUCT
    .card{
        width: 20rem;
    }
    // * PRODUCT DETAİL
    .pro-detail-img{
        width:75% ;
    }    








}