body {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.searchArea {
    padding: 20px;
    text-align: center;
}

.searchInput {
    color: white;
    padding: 5px;
    border: black 2px solid;
    box-shadow: transparent 0 2px 2px;
    border-radius: 10px;
    background-color: #aeaeae8f;
}

.searchButton {
    font-weight: bold;
    padding: 5px 20px;
    border: black 2px solid;
    box-shadow: transparent 0 2px 2px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: #0a3e50;
    color: white;
    transition: 0.3s;
}

.searchButton:hover {
    color: #0a3e50;
    background-color: white;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;

}

@media only screen and (max-width: 960px) {
    .content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}