body {
    background-image: url(https://images.unsplash.com/photo-1618401471353-b98afee0b2eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1188&q=80);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

@media only screen and (max-width: 720px) {
    body {
        background-position: center;
    }
}