body {
  overflow-y: hidden;
  background-image: linear-gradient(to left bottom, #d43f94, #d66eb6, #d894d2, #dcb7e7, #e6d7f5, #e1e4fd, #e3f0ff, #eef9ff, #d1f9ff, #affaff, #88fbff, #5ffbf1);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

div {
  position: relative;
  width: 100vw;
  height: 100vh;
}

button {
  position:absolute; 
  left:50%; 
  transform:translateX(-50%);
  top: 20%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 32px 16px;
  background: white;
  cursor: pointer;
  font-size: larger;
}

button:hover {
  background-color: orange;
  transition: all .3s ease;
  color: white;
}
