.postCard {
  display: flex;
}

.card{
  position: relative;
}

.card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  scale: 1.05;
}

.cardActions{
  position: absolute;
  bottom: 0;
}

.cardActions button{
  margin: 0 5px;
}

.cardActions button:hover{
  color: #fff;
  background-color: #000;
}
