<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://upload.wikimedia.org/wikipedia/commons/6/6e/One_Ring.png"
      type="image/x-icon" />
    <title>Yüzüğün Yolu</title>
    <link rel="stylesheet" href="../Style/structure/secim.css" />
    <link rel="stylesheet" href="../Style/theme/color-secim.css" />
  </head>
  <body>
    <audio autoplay loop>
      <source
        src="../Assets/Audio/y2mate.com - The Breaking of the Fellowship feat In Dreams.mp3"
        type="audio/ogg" />
      <source
        src="../Assets/Audio/y2mate.com - The Breaking of the Fellowship feat In Dreams.mp3"
        type="audio/mpeg" />
    </audio>
    <img
      src="https://images.squarespace-cdn.com/content/v1/5d3f5ab4e0b0f80001519db3/1626990457893-KDTMF2R30NHNAV672GYN/CFC24B4A-AB8B-49A6-A53A-EC69C297D9DE.jpeg" />
    <div class="pick-side-container">
      <div class="pick-side-video-container">
        <h1>Yüzüğün Yolu</h1>
        <div class="fix-video">
          <div class="hero-container-sau">
            <div class="youtube-container">
              <iframe
                width="320"
                height="180"
                src="https://www.youtube.com/embed/YujWw7VJN1c?autoplay=1&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <a href="./sauron.html" target="iframe_x">Sauron'u Seç</a>
          </div>
          <div class="hero-container-thr">
            <div class="youtube-container">
              <iframe
                width="320"
                height="180"
                src="https://www.youtube.com/embed/TlKRTTgoWVI?autoplay=1&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <a href="./thranduil.html" target="iframe_x">Thranduil'i Seç</a>
          </div>
        </div>
        <p>
          Güneş, Orman Diyarı üzerinde batmaya başladığında,
          <i class="green">Thranduil</i> gözetleme kulesinin tepesinde durmuş,
          toprağını gözetliyordu. Aniden, güneyden yaklaşan karanlık bir figür
          dikkatini çekti. Yaklaştıkça, <i class="red">Sauron'un</i> kusursuz
          şeklini tanıdı. "<i class="green"
            >Sizi benim diyarıma getiren nedir, karanlık lord?"</i
          >
          diye sordu <i class="green">Thranduil</i>, kalbindeki korku hissine
          rağmen sesi değişmemişti.
          <i class="red"
            >Sauron "Zarar vermeye değil, ittifak aramaya geldim,"</i
          >, diye yanıtladı, derin sesi ormanda yankılandı.
          <i class="green">Thranduil</i> şüpheciydi ama
          <i class="red">Sauron'un</i> boş tehditler savuracak biri olmadığını
          da biliyordu. Onu dinlemeyi kabul etti.
          <i class="red">"İkimizi de tehdit edenler Erebor cüceleri,"</i>
          diye ilan etti
          <i class="red"
            >Sauron. "Çok açgözlü ve çok derin kazdılar ve şimdi kendilerinden
            çok daha büyük bir şeyi uyandırdılar."</i
          >
          <i class="green">Thranduil,</i>
          <i class="red">Sauron'un</i> doğruyu söylediğini biliyordu - Yalnız
          Dağ'dan yayılan dehşeti kendisi de hissetmişti. İsteksizce elini
          uzattı ve ikisi sallantılı bir ittifak kurdu. Birlikte, cüceleri ve
          hobbit müttefiklerini kayıp hazinelerini geri almak için kıyasıya
          mücadele ederken buldukları Yalnız Dağ'a doğru yürüdüler.
          <i class="red">Sauron</i> ve <i class="green">Thranduil,</i> ölümcül
          kılıçlarıyla sağda ve solda cüceleri biçerek mücadeleye katıldı. Bir
          an için zafer kazanacaklarmış gibi göründü. Ancak güneş savaş alanında
          yükselmeye başladığında, <i class="green">Thranduil</i> onların
          <i class="red">Sauron'un</i> büyük planındaki piyonlardan başka bir
          şey olmadığını anladı. <i class="red">Sauron,</i> kötü bir
          kıkırdamayla kılıcını <i class="green">Thranduil'e</i> çevirerek, bu
          ihaneti başından beri planladığını ortaya çıkardı.
          <i class="green">Thranduil</i> şiddetle savaştı ama karanlık lordun
          güçleriyle boy ölçüşemezdi. Savaş alanından yüce geyiğini çağırarak
          kaçmayı başardı, <i class="green">Thranduil'in</i> son düşünceleri ise
          <i class="red">Sauron'u</i> hezimete uğratmaktı.
          <i class="green">Thranduil</i> tüm elf ordusuna ve insan ırkına
          kaybolmuş yüzüğü bulma emrini verdi. Savaşı zaferle sonlandırabilecek
          ve <i class="green">Sauron'u</i> alt edebilecek yegâne tek yüzük. Orta
          Dünya'da yaşanacak bu büyük savaşta tarafını seçme zamanı.
        </p>
      </div>
    </div>
  </body>
</html>
