@import url('https://fonts.cdnfonts.com/css/svn-gilroy');
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  aspect-ratio: 1;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  color: #003459 !important;
  text-transform: capitalize;
}
h4 {
  font-weight: 500;
  font-size: 16px !important;
  color: #000;
}
