body{
  background-image: linear-gradient(to right top, #0a7e8c, #006f8c, #005f8a, #004e84, #003c79, #003770, #003268, #002d5f, #003257, #10364c, #243841, #353839);
  min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

Button{
  color: white;
}
