#root {
  width: 100%;
  /* height: 100vh; */
}

.app {
  text-align: center;
}

.app.dark {
  background-color: #222;
  color: #fff;
}

.app.light,
.nav.light {
  background-color: #fff;
  color: #222;
}

.nav.dark {
  background-color: #0d1421;
  color: #fff;
}
