.borderRadius{
  border-radius: 50%;
}
.bgImage{
 background-image: url("https://picsum.photos/900/900"); 

 width: 500px;
 height: 500px;
 background-position-y: center;
 background-position-x: center;
 background-size: cover;
 /* bg size cover ile bg image i belirlediğimiz content içerisine fitliyor. */
 color: white;
}