body {
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* height: 100vh; */
  /* width: 100%; */
}
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(12.1px);
}
