*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", "sans-serif";
    transition: all 0.5s ease;
    --bg-color-ligth-gray: #343f4b;
    --bg-color-dark-gary: #303841 ;
    --nav-button: #183b56;
    --button: #0076a3;
    --title1: #0076a3;
    --header-color-white: #ffffff;
    --paragraph: rgba(255,255,255,.3);
    --light-background: #f8f9fc;
    --bs-white: rgba(255, 255, 255);
}

body{
    background-color: var(--bg-color-ligth-gray);
}
ul li{
  list-style: none;
}
p{
  color: var(--paragraph);
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.features{
  background-color: var(--bg-color-ligth-gray);
}
.section-title{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.section-title h6{
  color: #0076a3;
  font-size: 16px;
  text-align: center;
  margin-left: 130px;
}
.section-title h1{
  font-size: 40px;
  color: #f8f9fc;
  font-family: "Poppins",sans-serif !important;
  font-weight: 700 !important;
}
.section-title p{
  color: var(--paragraph);
  font-size: 15px;
}
.features-button{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.button-top{
  margin: 0 20px;
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  background-color: #343f4b;
}
.button-smart{
  margin: 0 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid var(--button);
  background-color:var(--button);
  color: #fff;
}
.smart-features{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;

} 
.smart-features p{
  margin-top: 10px;
  margin-left: 15px;
}
.features-img{
  max-width: 100%;
  height: auto;
}
.features-icon{
  font-size: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap:5px;
}
.features-icon i{
  margin-top: 8px;
}
.features-icon h6{
  font-weight: 600;
  color:#e3e5eb;
  font-size: 1rem;
  
}
.smart-features-list{
  margin-left: 20px;
}
.smart-features-list h2{
  color:#f8f9fc
}
.client-testimonial{
  background-color:var(--bg-color-dark-gary);
}
.client-title{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-left: 15px;
}
.client-title h6{
  color:var(--paragraph);
  font-size: 1rem;
}
.client-title h2{
  color:var(--header-color-white);
  font-size: 25px;
  margin-top: 20px;
  margin-right: 155px;
}
.client-title p{
  margin-top: 10px;
  color: var(--paragraph);
}
.client-title button{
  margin: 20px;
  margin-left: -5px;
  border: 1px solid #0076a3;
  border-radius: 5px;
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
}
.slider{
  background-color: #303841;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}
.slider img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 13px rgba(60,72,88,.2);
  margin: 20px 0;
}
.client-follow{
  background-color: #303841;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}
.client-follow img{
  border-radius: 50%;
}
.follow-text{
  background-color: #303841;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  color: var(--paragraph);
}
.follow{
  margin-left: 20px;
}
.follow h2{
  color: #f8f9fc;
}
.follow button{
  margin: 20px;
  margin-left: -5px;
  border: 1px solid #0076a3;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
}
.pricing{
  background-color: var(--bg-color-ligth-gray);
}
.price{
  background-color: #183b56;
}

 /* APPLICATION */
 .application{
  background-color: var(--bg-color-dark-gary);
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
 }
 .application-img{
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-left: 40px
 }
