*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", "sans-serif";
    transition: all 0.5s ease;
    --bg-color-ligth-gray: #343f4b;
    --bg-color-dark-gary: #303841 ;
    --nav-button: #183b56;
    --button: #0076a3;
    --title1: #0076a3;
    --header-color-white: #ffffff;
    --paragraph: rgba(255,255,255,.3);
    --light-background: #f8f9fc;
    --bs-white: rgba(255, 255, 255);
}

/* body{
    background-color: var(--bg-color-ligth-gray);
} */

.container{
    max-width: 600px;
    margin: 0 auto;
}
