:is(nav, main, aside, body, button) {
  transition: ease 1.5s;
  color: var(--text-dark);
  background-color: var(--bg-dark);
}
:is(.a-menu-nav li:hover, .footer-link-section a) {
  background: var(--bg-dark);
  color: var(--text-dark);
}
:is(.a-menu, .footer-link-section a:hover, button:hover) {
  color: var(--text-black);
  background-color: var(--text-dark);
  border-color: var(--text-dark);
}
:has(#tema-gunduz:checked) :is(nav, main, aside, footer, body, button) {
  transition: ease 1.5s;
  color: var(--text-light);
  background-color: var(--bg-light);
}
:has(#tema-gunduz:checked)
  :is(.a-menu, .footer-link-section a:hover, button:hover) {
  color: var(--bg-light);
  border-color: var(--bg-dark);
  background-color: var(--dark);
}
:has(#tema-gunduz:checked) :is(.a-menu-nav li:hover) {
  background: var(--bg-light);
  color: var(--text-light);
}
:has(#tema-gunduz:checked) :is(.footer-link-section a) {
  color: var(--text-light);
  background: var(--bg-light);
  border-color: var(--text-light);
}
