/* Test için açtım, sizde testlerinizi yapabilirsiniz. En son toplarlıcaz burayı */
@media screen and (min-width: 1200px) {
  /* Genel */
  .container {
    max-width: 1140px;
  }
  /* Mücahit */
  .apptech-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
  .apptech-content1 {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
    width: 100%;
  }

  .apptech-image-cl {
    width: 360px;
  }

  .apptech-content2 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    width: 100%;
    text-align: left;
  }
  .what-we-do-container {
    height: 800px;
  }
  .app-services {
    padding-top: 250px;
  }
  .button1 {
    display: block;
  }
  .nav-item {
    display: block;
  }
  .dropdown {
    display: none;
  }

  .column1 {
    width: 25%;
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  .column2 {
    width: 33%;
  }

  .rowcontainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .servicecol {
    width: 33%;
  }
  .rowcontainer1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin: 0 auto;
  }

  .toggle-video-container {
    top: 800px;
  }
  .socials-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50px;
    transform: translateY(150%);
  }
  .socials-column img {
    width: 75%;
    margin: 10px;
  }

  .socials-column img:hover {
    transition: ease-in 200ms;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
  }
  /* Oğulcan */

  .client-testimonial-container {
    flex-direction: row;
  }
  .client-testimonial-info {
    width: 45%;
  }
  .carousel {
    width: 55%;
  }
  .client-testimonial {
    padding: 10em 0 10em 0;
  }
  .client-testimonial-container {
    flex-direction: row;
  }
  .client-testimonial-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .client-testimonial-info > button {
    width: 250px;
  }
  .carousel {
    width: 70%;
    padding-top: 27%;
    box-shadow: none;
  }
  .carousel__snapper {
    flex-direction: row;
  }
  .carousel-img-container {
    height: 280px;
    border-radius: 1em 0 0 1em;
  }
  .wyp-cards-container {
    flex-direction: row;
    align-items: center;
  }
  .wyp-card {
    width: 30%;
  }
  .app-looks-like {
    padding: 5em 0;
  }
  .all-carousel {
    display: none;
  }
  .app-looks-like-pc-images {
    display: flex;
    gap: 1em;
  }
  .pc-img-container {
    border: none;
    border-radius: 1em;
    overflow: hidden;
  }
  /* Seyit */
  .our-team {
    padding-bottom: 10em;
  }
  .our-team-imgs {
    flex-direction: row;
  }
  .our-team-member {
    width: 25%;
  }
  .our-team-member-name {
    justify-content: flex-end;
    margin-bottom: 5.5em;
  }
  .build-your-ideal-container {
    flex-direction: row;
    align-items: center;
    height: 250px;
  }
  .contact-us-header {
    margin-top: 5.5rem;
  }
  .contact-us-support {
    display: flex;
    flex-direction: row;
  }
  .contact-us-infos {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-us-map::after {
    right: -10%;
  }
  .footer-container {
    display: flex;
  }
  .footer-container div {
    flex: 1;
    /* width: 33.33333%; */
    margin-top: 0;
    padding-right: 10px;
  }
  .footer-container div:first-child,
  .footer-container div:last-child {
    flex: 0 0 auto;
    width: 33.33333%;
  }
  .footer-container > div:nth-child(2),
  .footer-container > div:nth-child(3) {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .footer-icons-social {
    display: flex;
  }
  /* .footer-po-pr {
    display: flex;
    margin-top: -20px;
  } */
  .footer-policies {
    /* margin-top: 1.5rem; */
  }
}
