$primary: #6247ea;
$secondary: #ec9d5f;
$bs-font-sans-serif: 'Roboto', sans-serif;
// $h6-font-size: 12px;

$font-sizes: (
  1: 12px,
  2: 14px,
  3: 20px,
  4: 36px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);








