<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About Us</title>
		<link rel="icon" type="image/x-icon" href="../assets/img/pear-logo.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand m-0 d-lg-none" href="../index.html">
					<img class="w-100" src="../assets/img/pear-logo.png" alt="" />
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-around nav-list" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" aria-current="page" href="../index.html">
								<img src="../assets/img/pear-logo.png" alt="" />
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="../index.html">Mağaza</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone.html">üPhone</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone-ult.html">üPhone Pro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./band.html">Band</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Mek</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">üPad</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">PearPods</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Aksesuarlar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./about-us.html">Hakkımızda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./faq.html">S.S.S.</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./sitemap.xml">Site Haritası</a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-search"></i></a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-bag"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- about-us -->
		<section class="about-us">
			<div class="container py-5">
				<div class="row">
					<div class="col-8 mx-auto"><img src="../assets/img/about-us/biz-kimiz.jpg" alt="" class="w-100" /></div>
					<div class="col-10 mx-auto mt-5">
						<h1>Biz Kimiz?</h1>
						<p>
							Biz müşterilerimizi yeni teknolojilerle buluşturmak isteyen ve bu vizyon doğrultusunda yenilikçi
							yaklaşımlarla bilişim ve teknoloji sektörüne yön veren uluslararası bir firmayız. Ürünlerimizde
							kullandığımız teknolojiler ile siz değerli müşterilerimizin konforunu en üste çıkarmayı amaçlıyoruz. Bu
							doğrultuda yaptığımız ve yapacağımız yeni ürünleri, maksimum kar ile satarak kendinizi
							<strong>özel</strong>
							hissetmenizi sağlamaktayız.
						</p>
					</div>
					<div class="col-10 why-us mt-5 mx-auto">
						<div class="row">
							<div class="col-lg-5">
								<img src="../assets/img/about-us/neden-biz.png" alt="" class="w-100" />
							</div>
							<div class="col-lg-6 mt-5 mt-lg-0">
								<h3>Neden Bizi Tercih Etmelisiniz?</h3>
								<p>
									Geliştirdiğimiz ürünler ile hem teknolojinin gidişatına yön verirken hem de size değerli
									müşterilerimize sunduğumuz kesintisiz desteğimizle birlikte büyük bir aile oluşturuyoruz. Bu yüzden bu
									ailenin bir parçası olmak isterseniz bizi tercih edebilirsiniz.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- NOT: Bu bölüm iframe ile verildiği için responsive ayarlayamadım. Mobil için iphone 12 Pro boyutuna göre ayarlanmıştır. -->
		<!-- maps -->
		<section class="maps bg-dark bg-opacity-25">
			<div class="container py-5">
				<div class="row">
					<div class="d-none d-lg-flex col-lg-8 mx-lg-auto">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11304402.942641256!2d-12.401354149999948!3d46.233049199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c62fcec737b11%3A0x81bef3ae7a885e31!2sCERN!5e0!3m2!1sen!2str!4v1681591299248!5m2!1sen!2str"
							width="800"
							height="400"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
					<div class="col-lg-8 d-lg-none mx-auto">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11304402.942641256!2d-12.401354149999948!3d46.233049199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c62fcec737b11%3A0x81bef3ae7a885e31!2sCERN!5e0!3m2!1sen!2str!4v1681591299248!5m2!1sen!2str"
							width="360"
							height="400"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
				</div>
			</div>
		</section>

		<!-- employees -->
		<section class="employee py-5">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center mb-5"><h2>Çalışanlarımız</h2></div>
					<div class="col-lg-4">
						<div class="card mx-auto mb-3 mb-lg-0" style="width: 18rem">
							<img src="../assets/img/about-us/employee-3.webp" class="card-img-top" alt="..." />
							<div class="card-body">
								<h4 class="card-title text-center">Tim FRYING</h4>
								<h5 class="card-text text-center">CEO</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card mx-auto mb-3 mb-lg-0" style="width: 18rem">
							<img src="../assets/img/about-us/employee-2.webp" class="card-img-top" alt="..." />
							<div class="card-body">
								<h4 class="card-title text-center">Dr. Brand</h4>
								<h5 class="card-text text-center">Senior Software Enginner</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card mx-auto" style="width: 18rem">
							<img src="../assets/img/about-us/employee-1.jpg" class="card-img-top" alt="..." />
							<div class="card-body">
								<h5 class="card-title text-center">X Æ A-12</h5>
								<h5 class="card-text text-center">apple hnathawk a ni</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- footer -->
		<footer class="bg-black text-white">
			<div class="container py-5">
				<div class="row">
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Pear</p>
							<li><a href="./about-us.html">Hakkımızda</a></li>
							<li><a href="./faq.html">Sıkça Sorulan Sorular</a></li>
							<li><a href="./sitemap.xml">Site Haritası</a></li>
							<li><a href="./404.html">İletişim</a></li>
							<li><a href="./404.html">Destek alın</a></li>
							<li><a href="./404.html">Yasal Bilgiler</a></li>
						</ul>
					</div>
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Faydalı Linkler</p>
							<li><a href="../index.html">Mağaza</a></li>
							<li><a href="./phone.html">üPhone 14</a></li>
							<li><a href="./phone-ult.html">üPhone 14 Ultimate</a></li>
							<li><a href="./band.html">Band</a></li>
							<li><a href="./404.html" disabled>üPad</a></li>
							<li><a href="./404.html">PearPods</a></li>
							<li><a href="./404.html">Mek</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-4 mt-4 mt-lg-0">
						<div class="row">
							<div class="col-12 text-center">
								<p class="fw-bold">Bizi takip edin</p>
								<ul class="list-group list-group-horizontal gap-3 justify-content-center">
									<li>
										<a href="https://github.com/aytugyesilyurt" target="_blank"><i class="bi bi-github"></i></a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/aytugyesilyurt/" target="_blank">
											<i class="bi bi-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/agyesilyurt/" target="_blank"><i class="bi bi-instagram"></i></a>
									</li>
								</ul>
							</div>
							<div class="col-9 mt-3 mx-auto">
								<div class="input-group mt-3">
									<input type="text" class="form-control" placeholder="Mailinizi girin" aria-label="Username" />
									<button class="btn btn-secondary">Abone Ol</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 text-center mt-5">
						<p>
							Bu sayfa ödev için oluşturulmuştur. Kullanılan örneklerin gerçek kişi, kurum, kuruluş, şirket veya ürünle
							ilgisi yoktur. Tamamen hayal ürünüdür.
						</p>
						<p>Aytuğ YEŞİLYURT</p>
					</div>
				</div>
			</div>
		</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
	</body>
</html>
