body{
    background: rgb(181,181,181);
    background: radial-gradient(circle, rgba(181,181,181,1) 0%, rgba(0,0,0,1) 100%);
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-shadow: #474747 3px 5px 2px;
}

.profiles{
    width: 80%;
    margin: 10% auto;
}

.profile {
    padding-top: 3rem;
    height: 450px;
    color: white;
    border-radius: 30px;
    margin: 24px;
    border: 1px solid white;
    backdrop-filter: sepia(80%);
    text-align: center;
    width: 30%;
    float: left;

}

.profilePicture {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
}

.clear{
    clear: both;
}

.links{
    width:50%;
    margin: 0 auto;
}

.links div{
    float: left;
    width: 50%;
    float: left;
}

a{
    color: ghostwhite;
    text-decoration: none;
}

a:hover{
    color: slategray;
}