.textContainer::before {
  top: -85%;
  position: absolute;
  content: "";
  z-index: 0;
  width: 635px;
  height: 635px;
  transform: rotate(25.23deg);
  flex-shrink: 0;
  border-radius: 99px;
  background: var(--secondary-color-mon-yellow);
  top: -50%;
  left: -30%;
}
.textContainer::after {
  display: none;
  position: absolute;
  content: "";
  z-index: 0;
  width: 635px;
  height: 635px;
  transform: rotate(56.47deg);
  flex-shrink: 0;
  border-radius: 99px;
  background: var(--secondary-color-mon-yellow);
}
.headerText {
  z-index: 100;
  position: relative;
}
.textBox::before {
  display: none;
  position: absolute;
  content: "";
  z-index: 1;
  transform: rotate(25.23deg);
  background: var(--secondary-color-mon-yellow);
  border-radius: 10px;
  left: -10px;
  top: 5px;
}
.boxContent {
  position: relative;
}
.littleBox1::after {
  position: absolute;
  content: "";
  z-index: 5;
  background: var(--secondary-color-mon-yellow);
  width: 14.626px;
  height: 14.626px;
  transform: rotate(20.792deg);
  flex-shrink: 0;
  border-radius: 4px;
  right: 0;
  bottom: -5%;
}
.littleBox2::after {
  display: none;
  background: var(--secondary-color-mon-yellow);
  position: absolute;
  content: "";
  z-index: 5;
  width: 27.498px;
  height: 27.498px;
  transform: rotate(-22.85deg);
  flex-shrink: 0;
  border-radius: 9px;

}
.littleBox2::before {
  display: none;
  background: var(--primary-color-dark-blue);
  position: absolute;
  content: "";
  z-index: 6;
  width: 21.471px;
  height: 21.471px;
  transform: rotate(-43.005deg);
  flex-shrink: 0;
  border-radius: 6px;

}
.imageBox img {
  z-index: 100;
  position: relative;
}
.imageBox::before {
  position: absolute;
  content: "";
  z-index: 5;
  width: 635px;
  height: 635px;
  transform: rotate(25.23deg);
  flex-shrink: 0;
  background: var(--secondary-color-mon-yellow);
  border-radius: 99px;
  bottom: -30%;
  left: 80px;
}
.imageBox::after {
  position: absolute;
  content: "";
  z-index: 3;
  width: 635px;
  height: 635px;
  transform: rotate(9.355deg);
  background: var(--primary-color-dark-blue);
  border-radius: 99px;
  bottom: -35%;
  left: 24px;
}
.littleBox1{
  font-size: 50px;
}
@media screen and (min-width: 576px) {
  .textContainer::before {
    top: -50%;
    left: -30%;
    border-radius: 99px;
  }
  .textBox::before {
    display: none;
  }

  .littleBox2::after {
    display: block;
    right: 29%;
    top: 40%;
  }
  .littleBox2::before {
    display: block;
    right: 30%;
    top: 60%;
  }
  .littleBox1{
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .textContainer::before {
    top: -47%;
    left: 4%;
    border-radius: 99px;
  }
  .textBox::before {
    display: none;
  }

  .littleBox2::after {
    right: 38%;
    top: 40%;
  }
  .littleBox2::before {
    right: 39%;
    top: 60%;
  }
}
@media screen and (min-width: 992px) {
  .textContainer::before {
    top: -85%;
    left: -25%;
    border-radius: 99px;
  }
  .textBox::before {
    display: block;
    width: 57.103px;
    height: 57.103px;
    border-radius: 15px;
  }
  .textContainer::after {
    display: block;
    bottom: -90%;
    opacity: 0.4000000059604645;
    left: -10%;
  }
  .littleBox1::after {
    right: -180%;
    top: 0;
  }
  .littleBox2::after {
    right: -20%;
    top: -70%;
  }
  .littleBox2::before {
    right: -18%;
    top: -55%;
  }
}
@media screen and (min-width: 1200px) {
  .textContainer::before {
    top: -85%;
    left: -23%;
    border-radius: 99px;
  }
  .textBox::before {
    width: 62.103px;
    height: 62.103px;
    border-radius: 17px;
  }
  .textContainer::after {
    left: -7%;
  }
  .littleBox1::after {
    right: -240%;
    top: 0;
  }
  .littleBox2::after {
    right: -30%;
    top: -130%;
  }
  .littleBox2::before {
    right: -28%;
    top: -115%;
  }
}
@media screen and (min-width: 1400px) {
  .textContainer::before {
    top: -85%;
    left: -3%;
    border-radius: 99px;
  }
  .textBox::before {
    width: 67.103px;
    height: 67.103px;
    border-radius: 20px;
  }
  .textContainer::after {
    bottom: -85%;
    left: 5%;
  }
  .littleBox1::after {
    right: -50%;
    top: -10%;
  }
  .littleBox2::after {
    right: -30%;
    top: -30%;
  }
  .littleBox2::before {
    right: -28%;
    top: -9%;
  }

}
