$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);


$danger: #103559; // darkbluecolor
$warning: #FFC300; //
$dark: #002A48; // 
$light: #FBFBFB; // 
$secondary: #FDECCD; //
$primary: rgba(0, 167, 231, 1);

$pagination-border-width: 0;
$pagination-bg: transparent;
$pagination-active-bg: $danger;
$pagination-color: $danger;
$pagination-hover-color: $danger;
$pagination-hover-border-color: none;
$pagination-hover-border-radius: 0;
$pagination-hover-bg: transparent;