@import "./_bt_overrides.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./style.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;900&display=swap');


body {
  font-family: 'Varela Round', sans-serif;
  background-color: #fdfdfd;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}