header{
  background-color: #42545d;
  text-align: center;
  color: rgb(246, 246, 246);
}

nav{
  background-color: rgb(255, 255, 255);
  height: 50px;
  text-align: center;
  margin-bottom: 40px;
}
aside{
  background-color: rgb(255, 255, 255);
  width: 350px;
  float: left;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
main{
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  height: 300px;
}
footer{
  background-color: #42545d;
  color: white;
  height: 100px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 60px;
}
