body{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 980px;
    margin: 0 auto;
}
.header{
    height: 150px;
    margin-bottom: 10px;
    background-color: aquamarine;
    
}
.content{
    width: 690px;
    height: 600px;
    background: linear-gradient(to bottom, rgb());
}