body {
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
  
  .header {
    height: 150px;
    margin-bottom: 10px;
    background-color: #16a085;
  }
  
  .content {
    width: 690px;
    height: 590px;
    background: #16a085;
    background: linear-gradient(to bottom, #16a085, #56CCF2);
    float: right;
    /* border: 5px;
    border-color: brown;
    border-style: solid; */
    border: 5px solid brown;
    border-radius: 10px;
  }
  
  .sidebar {
    width: 275px;
    height: 590px;
    background-color: #16a085;
    float: left;
  }