$yellow: #d58d06;
$green: rgb(34, 139, 34);
$blue: rgb(70, 130, 180);
$light: rgb(230, 220, 220);
$gray-900: rgb(24, 22, 22);
$cyan: rgb(255, 241, 230);
$font-size-base: 1rem;

$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: $font-size-base * 0.75,
);

$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 1.25rem !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1300px,
);
