.filter {
  background-color: #f1f1f1;
  padding: 20px;
}

.filter__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.filter__content {
  display: flex;
}

.filter__section {
  margin-right: 20px;
}

.filter__section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter__list {
  list-style: none;
  padding: 0;
}

.filter__list-item {
  margin-bottom: 5px;
  cursor: pointer;
}

.filter__list-item:hover {
  color: #fff;
  background-color: #007bff;
}