* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameArea {
  width: 400px;
  height: 400px;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  border: 1px solid gray;
  cursor: pointer;
}
.hidden {
  display: none;
}
.unclickable {
  pointer-events: none;
}
