.basketImages {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.basketTitle {
  width: 150px;

  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }

}

.basketQuantity {
  width: 100px;

  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

.basketPrice {
  width: 80px;

  h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

.basketDropdown {
  max-height: 330px;
  overflow-y: scroll;
}

.basketCheckout {
  font-size: 15px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
}

.quantityButton {
  text-align: center;
  cursor: pointer;
}

.quantityInput {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .basketImages {
    width: 70px;
    height: 40px;
    object-fit: contain;
    /* Değişiklik */
  }

  .basketTitle {
    width: 70px;

    h5 {
      font-size: 10px;
      /* Değişiklik */
      line-height: 16px;
      /* Değişiklik */
    }
  }

  .basketQuantity {
    width: 35px;

    h5 {
      font-size: 10px;
      /* Değişiklik */
      line-height: 16px;
      /* Değişiklik */
    }
  }

  .basketPrice {
    width: 45px;

    h5 {
      font-size: 10px;
      /* Değişiklik */
      line-height: 16px;
      /* Değişiklik */
    }
  }

  .deleteButton {
    width: 20px;
    height: 20px;
    height: 20px;
  }
}