.borderRadius{
    border-radius: 50%;
}

.bgImage{
    background-image: url("https://picsum.photos/id/200/200");
    width: 500px;
    height: 500px;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    color: blue;
}

.text{
    margin-top: 20px;
    text-align: center;
}