.paragraf{
    font-size: 24px;
}

.title1{
    color:aqua;
}

@media screen and (max-width: 768px){
    .paragraf{
        font-size:14px;
    }
    .title1{
        color:red;
    }
}

.link{
    font-size:18px;
    text-decoration: none;
    color:rgb(255, 123, 0)
}

.link:hover{
    color:black;
}

.link:visited{
    color:purple;
}

.link:active{
    color:blue;
}

.listItem{
    list-style-type:none;
    font-size: 18px;
    color:orange;
}

.listItem:last-child{
    color:rgb(231, 8, 45);
}

.listItem:nth-child(3){
    color:yellow;
}

/* Psuedo Element */

.paragraf::first-letter{
    font-size: 30px;
}

.paragraf::first-line{
    color:orange;
}

.paragraf::after{
    content:"Bu sonrasına gelen bir yazıdır.";
}

.paragraf::before{
    content:"Bu öncesinde gelen bir yazıdır.";
}

