.formStyle {
  border: 5px outset rgb(196, 16, 16);
  border-radius: 10px;
  padding: 2rem 1rem;
}

.formButton {
  margin-top: 1rem;
  border: 5px inset yellow;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: brown;
}

.formInput {
  height: 3rem;
}
