a {
  text-decoration: none;
}
li::before {
  visibility: hidden;
}
.mainCon {
  width: 100%;
}
.card-body h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#blogImage {
  height: 20rem;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sticky-div {
  position: absolute;
  top: 0%;
  left: 92%;
  height: 100%;
  width: fit-content;
  margin: 0;
}
.sticky-span {
  position: sticky;
  font-size: 24px;
  top: 0%;
  left: 97%;
  color: #fd6767;
  padding: 10px;
}
.card-text-modal {
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
}
.sign {
  display: none;
}
@media screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .sign {
    display: block;
    margin-top: auto;
  }
  .navCon,
  .filter-container {
    position: fixed;
  }
}
