* {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
/* *::before {
  content: "";
  visibility: hidden;
} */
a {
  text-decoration: none;
}
li::before {
  visibility: hidden;

}

.card-body h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#blogImage {
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .navCon {
    position: fixed;
  }
}
