.banner-bg {
  background-image: url("../../../assets/bannerImg/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 0px 0px 30px 30px;

}


.banner-header {
  font-size: 60px;
  font-weight: 600;
  color: #003459;
  margin-bottom: 20px;
}


.banner-header {
  font-size: 60px;
  font-weight: 600;
  color: #003459;
  margin-bottom: 20px;
}

.banner-girl-image {
  width: 80%;
  display: none;
  bottom: 10px;
}

@media (max-width: 768px) {
  .banner-girl-image {
    display: block;
    width: 80%;

  }
}