@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$primary:#344D67;
$secondary:#6ECCAF;
$success:#ADE792;
$info:#F3ECB0;

$font-family-sans-serif:'Comfortaa';

$link-decoration:none;