@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


header{
    i{
        font-size: 60px;
    }
    h1{
        font-family: 'Dosis', sans-serif;

    }
}

.carousel{
    img{
        height: 45rem;
    }
}

#inputFooter{
    width: 15rem;
}

.footerLeft{
    border-right: 4px solid white;
}

.footerButton{
    font-size: 14pt;
    background-color: $secondary;
    border: 2px solid black;
    border-radius: 10px;
    width: 8rem;
    transition: all 0.5s;
    &:hover{
        background-color: $info;
    }
}