table,
tr,
td,
th {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  padding: 0 20px;
  font-family: sans-serif;
}

table {
  margin: auto;
}

th {
  background-color: #9d4edd;
}
th:hover {
  color: aliceblue;
  width: 100px;
  height: 100px;
}

tr:nth-child(even) {
  background-color: rgba(222, 217, 217, 0.666);
}
tr:hover {
  background-color: grey;
  cursor: pointer;
  font-family: cursive;
}

td:hover {
  color: azure;
  background-color: rgb(50, 47, 47);
}
