@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100%;
}

header {
  color: black;
}

footer {
  height: 100px;
  width: 100%;
}

nav {
  height: 50px;
  width: 100%;
  display: flex;
}

ul {
  display: flex;
}

li {
  padding-left: 10px;
  list-style-type: none;
  justify-content: space-between;
}

article {
  width: 70%;
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
}

aside {
  width: 30%;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
}

section {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
}

.row {
  display: flex;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}
p{
  padding: 5px;
}
.footer_image{
  display: flex;
  justify-content: space-between;
}
img{
  box-shadow: 10px 10px 5px 0px rgba(151, 151, 151, 0.75);
}