* {
  margin: 0;
  padding: 0;
}
p {
  padding: 10px;
}
.wrap {
  height: 100vh;
  width: 80vw;
  background-color: rgba(0, 255, 255, 0.116);
  margin: 0 auto;
}
.header {
  height: 10%;
  /* width: 100vw; */
  box-sizing: border-box;
  /* background-color: blue; */
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid black;
  margin-bottom: 10px;
}
.content {
  height: 70%;
  width: 55%;
  /* background-color: brown; */
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  float: left;
  margin-bottom: 10px;
  margin-right: 5%;
}
.sidebar {
  height: 70%;
  width: 40%;
  /* background-color: violet; */
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  float: right;
  margin-bottom: 10px;
}
.clear {
  clear: both;
}
.footer {
  height: 10%;
  width: 100%;
  /* background-color: tomato; */
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f9d423,
    #e65c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
  margin: 5px;
}
