body {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 980px;
  margin: 0 auto;
}
.header {
  height: 150px;
  margin-bottom: 10px;
  background-color: rgb(65, 65, 220);
  border: 5px solid black;
  border-radius: 10px;
}
.content {
  width: 690px;
  height: 600px;
  background: linear-gradient(to bottom, rgb(21, 0, 255), rgb(255, 0, 230));
  border: 5px solid black;
  border-radius: 10px;
  float: left;
}
.sidebar {
  width: 250px;
  height: 600px;
  background-color: rgb(31, 84, 215);
  border: 5px solid black;
  border-radius: 10px;
  float: right;
}
.footer {
  height: 100px;
  background-color: rgb(47, 48, 48);
  margin-top: 10px;
  border: 5px solid black;
  border-radius: 10px;
}
.clear {
  clear: both;
}
