.footerBody {
  background: linear-gradient(
    134deg,
    #fceed5 6.17%,
    #fceed5 75.14%,
    #ffe7ba 100%
  );
}
.inputArea{
  padding: 12px;
  background: #fff;
  border-radius: 14px;
}

.inputStyle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  padding: 14px 28px;
  color: #99a2a5;
  border-radius: 8px;
  border: 1px solid  #99a2a5;
  background: #fff;
  outline: none;
}
