body {
  background: rgb(136, 153, 247);
  background: linear-gradient(
    164deg,
    rgba(136, 153, 247, 0.6558998599439776) 0%,
    rgba(184, 255, 241, 0.7259278711484594) 52%,
    rgba(255, 128, 128, 0.4766281512605042) 100%
  );
}
.card {
  cursor: pointer;
  height: 150px !important;
  background: rgba(54, 54, 53, 0.45) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.bi {
  font-size: 70px !important;
}
