* {
    box-sizing: border-box;
    text-align: center;
    margin: 0 ;
    padding: 0;
  }
  .conteiner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .footerNewsletter{
    /* height: 150px; */
    background-color: #FFB91F;
    /* display:flex */
  }
        
  .footerblack{
    width: 100%;
    height: 500px;
    background-color: #000;
}
.footeralt{

    width: 100%;
    height: 100px;
    background-color: #000;
    border-top: 1px solid rgba(170,170,170,1);
}

.new-slater-wraper{
    display: flex;
    gap: 5rem;
    height: 150px;
    align-items: center;
    justify-content: space-between;

}

  .footerNewsletterform{
    filter: none;
    padding: 5px;
    text-align: left;
    width: 50%;
    box-shadow: none;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    line-height: 24px;
    background: #FFFFFF00;
    border-color: #202020;
    color: #202020;
    display: flex;
    justify-content: space-between;
  }


  input[type=email] {
/* 
    filter: none;
    padding: 12px 26px;
    text-align: left;
    width: 100%;
    box-shadow: none;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    line-height: 24px;
    background: #FFFFFF00;
    border-color: #202020;
    color: #202020; */
    width: 70%;
    margin-bottom: 0;
    box-shadow: none;
    vertical-align: bottom;
    line-height: 24px;
    color: #202020; 
    background-color: transparent;
    outline: none;
    border: none;
    text-align: left;
    margin-left: 20px;

}
.footerNewsletterform .button{
    background-color: #000;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: inherit;
    font-weight: 600;
    border: 1px solid black;
    
}

  h2.Newsletter{
    color: #202020;
    border-color: rgba(24,24,24,1);
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 45px;
    font-family: Outfit;
    font-style:normal;
    font-weight: 700;
    text-align: left;
  }


  p.Newsletter{
    text-align: left;
  }
  .footerNewsletterform .button:hover{
    color: #000;
    border-color: #000;
  }
  .button:hover {
    background: transparent !important;
   
  }

  .footerblack-conteiner{
    max-width: 1230px;
    margin: 0 auto;
    /* padding: 0 30px; */
    /* background-color: aqua; */
    display: flex;
    gap: 120px;
    /* justify-content: space-between; */

  }

  .footeralt-container{
    max-width: 1230px;
    margin: 0 auto;
    /* background-color: #FFB91F; */
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }



  .icons{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    /* color: white; */
  }
  .icons a{
    color: rgba(170,170,170,1);
  }
  .icons .face{
    width: 50px;
    height: 50px;
    color: white;
  }
  .icons .twit{
    width: 50px;
    height: auto;
  }
  .icons .pint{
    width: 50px;
    height: auto;
  }
  .icons .flickr{
    width: 50px;
    height: auto;
  }
  .icons .face a:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(10, 135, 244);
    color: white;
  }
  .icons .twit a:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2caae1;
    color: #fff !important;
  }
  .icons .pint a:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #cb2027;
    color: #fff !important;
  }
  .icons .flickr a:hover{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e30761;
    color: #fff !important;
  }
  

  .SAYHELLO{
    width: 25%;
    height: auto;
    margin-top: 70px;
    /* background-color: aliceblue; */
  }
  .SAYHELLO p{
    text-align: left;
    /* color: rgba(255,255,255,1); */
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
  }
  .SAYHELLO h5{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    color: rgba(255,255,255,1);
    padding-bottom: 50px;
    
  }
  .SAYHELLO p a{
    text-align: left;
    color: rgba(255,255,255,1);
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
    text-decoration: none;
  }
  .SAYHELLO p a:hover{
    color: rgba(255,185,31,1);
  }
  .MYACCOUNT{
    width: 25%;
    height: auto;
    margin-top: 70px;
    /* background-color: rgb(28, 77, 119); */
  }

  .MYACCOUNT p{
    text-align: left;
    /* color: rgba(255,255,255,1); */
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
  }
  .MYACCOUNT h5{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    color: rgba(255,255,255,1);
    padding-bottom: 50px;
    
  }
  .MYACCOUNT p a{
    text-align: left;
    color: rgba(255,255,255,1);
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
    text-decoration: none;
  }
  .MYACCOUNT p a:hover{
    color: rgba(255,185,31,1);
  }

  .PRODUCT{
    width: 25%;
    height: auto;
    margin-top: 70px;
    /* background-color: rgb(231, 104, 203); */
  }

  .PRODUCT p{
    text-align: left;
    /* color: rgba(255,255,255,1); */
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
  }
  .PRODUCT h5{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    color: rgba(255,255,255,1);
    padding-bottom: 50px;
    
  }
  .PRODUCT p a{
    text-align: left;
    color: rgba(255,255,255,1);
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
    text-decoration: none;
  }
  .PRODUCT p a:hover{
    color: rgba(255,185,31,1);
  }


  .READERSERVICES{
    width: 25%;
    height: auto;
    margin-top: 70px;
    /* background-color: rgb(98, 18, 145); */
  }
  .READERSERVICES p{
    text-align: left;
    /* color: rgba(255,255,255,1); */
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
  }
  .READERSERVICES h5{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    color: rgba(255,255,255,1);
    padding-bottom: 50px;
    
  }
  .READERSERVICES p a{
    text-align: left;
    color: rgba(255,255,255,1);
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
    text-decoration: none;
  }
  .READERSERVICES p a:hover{
    color: rgba(255,185,31,1);
  }

  .footeralt-container .yazi{
    width: 300px;
    height: auto;
    /* background-color: #2caae1; */
  }
  .footeralt-container .logo{
    width: 300px;
    height: auto;
    /* background-color: #37be6b; */
  }
  .footeralt-container .yazi span{
    color: rgba(255,185,31,1);
  }
  .footeralt-container .yazi p{
    color: white;
  }

