body {
  background-color: #EBECF0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: #152848;
  color: white;
  padding: 10px;
  cursor:pointer;
  border: none;
  border-radius: 10px;
}

button:disabled {
  background: gray;
}