@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: "Roboto Slab", serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #24272c;
}


/*--------- NAVBAR --------*/
nav {
    height: 70px;
    background-color: #24272c;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    height: 50px;
    width: 1100px;
    margin: auto;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-items {

    width: 100%;
    font-size: 12px;
    display: flex;
    float: right;
    justify-content: right;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 65%;
    float: right;

    margin-right: 15px;
}

.items a {
    color: #D4D4D6;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.items a:hover {
    color: #FF5714;
    transition: 0.3s;
}

.items span {
    color: white;
}

.social {
   
    width: 8%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.social a {
    color: white;
}

.social a:hover {
    color: #778496;
    transition: 0.3s ease-in-out;
}

/*------- LANDING AREA -------*/

.Landing-Area {
    background: url("./img/1.jpg");
    height: 80vh;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;

}

.overlay {
    display: block;
    background-color: rgba(22, 28, 45, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    position: absolute;

}

.title-heading {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 30%;
    left: 20%;
}

.title-heading h2 {
    font-size: 40px;
}

.heading-button {
    color: white;
    background-color: #FF5714;
    border: none;
    border-radius: 10px;
    padding: 12px 25px 12px 25px;
    font-size: 16px;
    margin-top: 18px;
}

.heading-button:hover {
    background-color: #972c0f;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.title-p {
    width: 70%;
    font-size: 20px;
    color: #788490;
    letter-spacing: 1px;
}

/*--------- SECTION 1 --------*/
.section1 {
    padding: 100px 0;
    width: 100%;
    background-color: #F8F9FC;
}

.section1-div {
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.video {
    background: url("./img/about.jpg");
    width: 450px;
    height: 515px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.play-icon {

    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    left: 0;
    text-align: center;

}

.play-button {
    height: 78px;
    width: 78px;
    font-size: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
}

.play-button:hover {
    color: #FF5714;
}

.section1-info {
    width: 50%;
    bottom: 15%;
}


.section1-subTitle {
    color: #FF5714;

}

.section1-title {
    font-size: 20px;

}

.section1-p {
    line-height: 1.6em;
    color: #88B2D9;
}

.section1-btn button {
    color: white;
    font-size: 18px;
    background-color: #FF5714;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}

.section1-btn button:hover {
    background-color: #972c0f;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*--------- SECTION 2 --------*/

/* UP */
.section2 {
    padding: 100px 0;


}

.section2-div {
    width: 1100px;
    margin: auto;
}

.section2-up {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section2-down {
    width: 100%;
}

.section2-up-info {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.up-left {
    width: 30%;
}

.up-left h1 {
    font-size: 28px;
}

.up-left h4 {
    color: #FF5714;
}

.up-right {
    width: 50%;
}

.section2-up-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.section2-card {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
}

.section2-card:hover {
    box-shadow: 0px 20px 10px 0.1px rgba(0, 0, 0, 0.1);
    transition: 0.7s ease-in-out;
}

.card-info p {
    color: #778496;
}

.card-info a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.card-info a:hover {
    color: #ff5714;
    text-decoration: underline;
    transition: 0.3s ease-in-out;

}

.card-icons i {
    background: rgba(255, 87, 20, 0.1);
    color: #ff5714;
    height: 85px;
    width: 85px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
}

.card-shadow {
    box-shadow: 0px 20px 10px 0.1px rgba(0, 0, 0, 0.1);
}

/* DOWN */

.section2-down {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section2-down-info {
    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 100px;
}

.section2-down-info h1 {
    font-size: 26px;
}

.section2-down-info h4 {
    color: #FF5714;
}

.section2-down-info p {
    color: #8593A6;
}

.tl-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.tl-info {
    width: 45%;

}

.tl-info p {
    line-height: 1.5em;
    color: #8593A6;

}

.tl-img {
    width: 30%;
    display: flex;
    justify-content: right;
}

.tl-img img {
    width: 70%;
}

.tl-reverse {

    flex-direction: row-reverse;

}

.tl-reverse .tl-info {}

.tl-reverse .tl-info h3 {
    text-align: right;
}

.tl-reverse p {
    text-align: right;
}

.tl-reverse .tl-img {
    display: flex;
    justify-content: left;
}

/*--------- SECTION 3 --------*/
.section3 {
    padding: 100px 0px;
    color: #24272c;
    text-align: center;
    background-color: #f8f9fc;
}

.s3-container {
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.section3-text {
    margin: 0px 0px 24px;
    padding: 0px 0px 8px;
}

.section3 h4 {
    color: #ff5714;
    margin: 0px 0px 8px;
}

.section3 h1 {
    font-size: 28px;
    margin: 0px 0px 16px;
}

.section3 p {
    color: #8492a6;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.section3 a {
    text-decoration: none;
}

.section3-images {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px 12px;
    padding: 3px;
    flex-wrap: wrap;

}

.section3-img {
    width: 261px;
    height: 203px;
    margin: 24px 0px 0px;
    padding: 8px 12px 0px;
    border-radius: 6px;
    position: relative;
}

.section3-img-sub {
    background-color: #24272c;
    border-radius: 6px;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    height: 203px;
}

.section3-content {
    position: absolute;
    left: 30px;
    bottom: 20px;
    opacity: 0;
}

.section3-content p,
h6 {
    color: white;
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.section3-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    opacity: 0;
}

.section3-icon a {
    color: #FF5714;
}


.section3-img img {
    width: 261px;
    height: 203px;
    border-radius: 6px;
    background-color: #24272c;
    background-size: cover;
}

.section3-img img:hover {
    opacity: 0.5;
    transition: transform 0.4s ease-in-out;
    transform: rotate(+6deg) scale(1.1);
}

.section3-img:hover .section3-content {
    opacity: 1;
    transition: transform 0.4s;
}

.section3-img:hover .section3-icon {
    opacity: 1;
    transition: transform 0.4s;
}

.section3-content h6:hover {
    color: #FF5714;
    transition: color 0.4s ease-in-out;
}

/*--------- SECTION 4 --------*/

.section4 {
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url("./img/sec4-bg.png");
    background-size: cover;
    background-position: center center;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sec4-bg {
    display: block;
    background-color: rgba(22, 28, 45, 0.75);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.sec4-content {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec4-content h4 {
    font-size: 28px;
    letter-spacing: 0.5px;
    color: #fff;
}

.sec4-content p {
    max-width: 600px;
    color: rgba(255, 255, 255, .5);
}

.sec4-button {
    margin: 24px 0px 0px;
    padding: 8px 0px 0px;
}

.sec4-button button {
    color: white;
    font-size: 18px;
    background-color: #FF5714;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}

.sec4-button button:hover {
    background-color: #972c0f;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*--------- SECTION 5 --------*/



.section5 {
    padding: 100px 0px;
    position: relative;
    font-size: 15px;
    color: #24272c;
}

.section5_1 {
    margin: 0px 0px 24px;
    padding: 0px 0px 8px;
    text-align: center;
}

.section5_1 h4 {
    color: #ff5714;
    margin: 0px 0px 8px;
}

.section5_1 h1 {
    font-size: 28px;
    margin: 0px 0px 16px;
}

.section5_1 p {
    color: #8492a6;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.section5_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

.sec5-card {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
    padding: 8px 12px;
    margin: 24px 0px 0px;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
}

.sec5-card:hover {
    transition: transform 0.4s ease-in-out;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 15px;
}

.sec5-card h5 {
    font-size: 16px;

}

.price p {
    margin-top: 5px;
    font-size: 40px;
    font-weight: bold;
}

.sec5-card ul {
    list-style: none;
    color: #8492A6;
    padding: 0px;
}

.sec5-card ul>li {
    margin: 0px 0px 8px;
    padding: 5px;
}

.sec5-card ul>li>i {
    margin-right: 4px;
}

.sec5-button button {
    font-size: 18px;
    background-color: #ffe1d6;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    color: #FF5714;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
}

.sec5-button button:hover {
    background-color: #FF5714;
    color: #ffe1d6;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}


/*----- FOOTER -----*/
footer {
    background-color: #212842;
    height: 100px;
    width: 100%;
}


.footer {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #A0B4BC;
    font-weight: 500;

}

.footer-social {
    width: 120px;
    display: flex;
    justify-content: space-between;
    float: right;
    gap: 2px;
}

.footer-social div {
    border: 1px solid #ADB5BD;


    border-radius: 5px;
    padding: 6px;

}

.footer-social div:hover {
    background-color: #FF5714;
    color: #ADB5BD;
}


.footer-social a {
    color: #A0B4BC;
}

.footer-social a:hover {
    color: #ADB5BD;
    transition: 0.3s;

}


/*----- AHMET KANBAZ ALANI ------- */
/* Creative Minds Section*/
.creativeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FC;
    padding: 100px 0;
    font-family: "Roboto Slab", serif;
}

.creativeTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.creativeTop h6 {
    color: #ff5714;
    font-size: 15px;
}

.creativeTop h4 {
    letter-spacing: 0.5px;
    font-size: 28px;
}

.creativeParagraph {
    max-width: 600px;
    display: flex;
    margin: auto;
    text-align: center;
    color: #8492a6;
}

.rowImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    width: 25%;
    height: auto;
    display: flex;
    margin: 2%;
    transition: all .3s ease-in-out;
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 15px;
    transition: all .5s ease-in-out;
    transform: scale(1.05);
}

.card ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: -80px;
}

.card li {
    background-color: #ff5714;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    cursor: pointer;
}

.card li:hover {
    background-color: #E04000;
}

.card a {
    color: #FFFFFF;
}


.creativeInfo {
    width: 100%;
    margin-top: 2rem;
}

.rowInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.rowInfo div {
    width: 25%;
}

.rowInfo span {
    color: #8492a6;
}

.creativeLogo {
    width: 100%;
    margin-top: 3rem;
}

.rowLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    width: 80%;
    margin: auto;
}

.rowLogo div img {
    width: 40%;
    color: #000000;
}

/* Latest News Section */
.latestNews {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    font-family: "Roboto Slab", serif;
}

.containerNews {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newsTop h6 {
    color: #ff5714;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsTop h4 {
    letter-spacing: 0.5px;
    font-size: 28px;
    text-align: center;
}

.newsParagraph {
    max-width: 600px;
    display: flex;
    margin: auto;
    text-align: center;
    color: #8492a6;
}

.contentNews {
    display: flex;
    padding-top: 3rem;
    width: 100%;
    margin: auto;
}

.cardNews {
    box-shadow: 0 0 3px rgba(36, 39, 44, 0.15);
    border-radius: 5px;
    width: 30%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

.cardNews:hover {
    box-shadow: rgba(79, 77, 77, 0.25) 0px 24px 15px;
    transition: all .3s ease-in-out;
}

.cardNews img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.cardNewsInfo {
    padding: 1.5rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 80%;
}

.cardNewsInfo>a {
    font-size: 18px;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    line-height: 1.5;
    font-weight: 600;
    color: #24272c;
}

.readMore>a:hover,
.cardNewsInfo>a:hover {
    color: #FF572A;
}

.cardNewsInfo>p {
    color: #8492a6;
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1.6;
}

.readMore {
    margin-top: 1rem;
}

.readMore>a {
    color: #24272c;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* Contact US Section */

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FC;

    font-family: "Roboto Slab", serif;
}

.contactTop {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contactTop h6 {
    color: #FF5714;
    font-size: 15px;
}

.contactTop h4 {
    letter-spacing: 0.5px;
    font-size: 28px;
}

.contactParagraph {
    max-width: 600px;
    display: flex;
    margin: auto;
    text-align: center;
    color: #8492a6;
}

.contactMain {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    padding-bottom: 100px;
}

.message {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.nameEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nameEmail input {
    width: 45%;
    border: 1px solid #DEE2e6;
    border-radius: 5px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Input ve textarea kısımlarına tıklandığında border renginin değişimi sağlanmaktadır. */
input:focus,
textarea:focus {
    outline: #E04000 solid 1px;
}

.subject {
    width: 86.6%;
    border: 1px solid #DEE2e6;
    border-radius: 5px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.textarea {
    width: 86.6%;
    border: 1px solid #DEE2e6;
    border-radius: 5px;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    min-height: 30px;
    height: 127px;
    resize: vertical;
    /*Textarea'nın sadece dikeyde hareket edilebilmesi sağlanıyor. */
}

.formButton {
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.formButton button {
    background-color: #FF572A;
    color: #FFFFFF;
    border: 1px #FF572A solid;
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition: all .3s ease;
    cursor: pointer;
}

.formButton>button:hover {
    background-color: #d54106;
    transition: all .3s ease;
}

.location {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1rem;
    flex-wrap: wrap;
    padding: 5%;
}

.locationSingle {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10%;
}

.locationIcon {
    text-align: start;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 0;
}

.locationInfo {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.locationInfo h5 {
    font-size: 18px;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-top: 0;
}

.locationInfo p,
.locationInfo a {
    color: #8492a6;
    text-decoration: none;
    text-align: left;
}

.location a:hover {
    color: #778496;
}



/* ------------ MEDIA QUERIES ------------ */

@media only screen and (min-width: 1200px) {
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {

    /* .section2{
        height: 1000px;
    } */

    .s3-container {
        width: 100%;
    }

    .section2-up-cards {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


    }

    .section2-div {
        width: 100%;
    }

    .section2-up-info {
        width: 80%;

    }

    .nav-items {
        justify-content: center;
    }

    .mobile-nav {
        display: none;
    }

    .title-p {
        width: 100%;
        font-size: 20px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 35px;
    }

    .heading-button {
        color: white;
        background-color: #FF5714;
        border: none;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        margin-top: 18px;
    }

    .section1-div {
        width: 100%;
        justify-content: space-around;
    }

    .video {
        width: 300px;
        height: 350px;
    }


    .footer {
        width: 80%;
    }

}



@media only screen and (max-width: 992px) {

    .rowImage {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }

    .rowLogo {
        max-width: 960px;
    }

    .contentNews {
        flex-wrap: wrap;
    }

    .cardNews {
        width: 45%;
    }

    .message {
        width: 50%;
    }

    .navbar {
        background-color: white;
        width: 100%;
    }

    .nav-items {
        display: none;
    }

    .logo {
        display: none;
    }

    .mobile-nav {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-p {
        width: 100%;
        font-size: 18px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {



    .tl-reverse .tl-info h3 {
        text-align: left;
    }

    .tl-reverse p {
        text-align: left;
    }

    .tl-reverse .tl-img {
        display: flex;
        justify-content: left;
    }

    .tl-reverse {

        flex-direction: row;

    }

    .tl-info {
        width: 50%;

    }

    .tl-img {
        width: 40%;
        display: flex;
        justify-content: left;
    }

    .tl-img img {
        width: 70%;
    }

    .tl-element {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section2-up-info {
        width: 80%;
        flex-direction: column;
    }

    .up-left {
        width: 100%;
    }

    .up-right {
        width: 100%;
    }

    .Landing-Area {
        background: url("./img/1.jpg");
        height: 60vh;

        background-size: cover;

    }

    .overlay {
        display: block;
        background-color: rgba(22, 28, 45, 0.75);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
    }

    .title-p {
        width: 100%;
        font-size: 12px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 25px;
    }

    .heading-button {
        color: white;
        background-color: #FF5714;
        border: none;
        border-radius: 10px;
        padding: 8px 16px 8px 16px;
        font-size: 12px;
        margin-top: 18px;
    }

    .title-heading {

        top: 22%;
        left: 20%;
    }

    .section1-div {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

    }

    .video {
        width: 300px;
        height: 350px;

    }

    .section1-info {
        width: 60%;
        bottom: 15%;
    }

    .footer {
        height: 80%;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    footer {
        height: 20vh;

    }

    .rowInfo div {
        width: 45%;
    }

    .card {
        width: 100%;
    }

    .rowLogo {
        flex-wrap: wrap;
    }

    .rowLogo div {
        width: 50%;
        margin-bottom: 30px;
    }

    .cardNews {
        width: 100%;
    }

    .nameEmail input {
        width: 45%;
        margin: auto;
    }

    .contact {}

    .contactMain {
        flex-wrap: wrap;
    }

    .message {
        width: 100%;
    }

    .location {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {

    footer {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .contactMain {
        width: 100%;
    }

    .contact {
        max-width: 540px;
    }
}