body {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

.header {
  height: 150px;
  margin-bottom: 10px;
  background-color: rgb(136, 201, 255);
}

.content {
  width: 690px;
  height: 600px;
  background: linear-gradient(to bottom, rgb(40, 153, 245), rgb(136, 201, 255));
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: left;
}

.sidebar {
  width: 250px;
  height: 600px;
  background-color: rgb(136, 201, 255);
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: right;
}

.footer {
  height: 100px;
  background-color: rgb(136, 201, 255);
  margin-top: 10px;
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
}

.clear {
  /* for float */
  clear: both;
}
