.about {
    display: flex;
    justify-content: space-around;
    /* background-color: #f8f9fc; */
    padding: 100px 0;
    align-items: center;
    /* width: 100%; */
}

/* .about-horizontal {
    width: 100%;
} */

.about-img {
    width: 445px;
    height: 525px;
    margin-left: 10px;
    border-radius: 10px;
}

.about-col {
    margin-left: 80px;
    /* display: flex;
    flex-direction: column; */
}

/*Mücahit'ten copy -- bazı yerlerde margin ve padding ile oynandı*/
.about-col h6 {
    font-family: "roboto slab", serif;
    color: #e04203;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}

.about-col h4 {
    font-family: "roboto slab", serif;
    font-size: 28px;
    letter-spacing: 0.5px;
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    margin-bottom: 30px;
    margin-top: 0;
}

.about-col p {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    color: #8492a6;
    margin-bottom: 1.5rem;
    margin-right: 10px;
}

.about-button {
    background-color: #ff5714;
    /* margin: 20px; */
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #fff;
    cursor: pointer;
}

.about-button:hover {
    background-color: #ff5714;
    opacity: 0.8;
    color: white;
    transition: .3s ease-in-out;
}

@media screen and (max-width:3000px) {}

@media screen and (max-width:1200px) {
    .about-img {
        width: 445px;
        height: 525px;
        margin-left: 10px;
    }
    .about-col p {
        margin-right: 20px;
    }
}

@media screen and (max-width:1024px) {
    .about-img {
        width: 375px;
        height: auto;   
        margin-left: 45px;
    }
    .about-col {
        margin-left: 70px;
        /* display: flex;
        flex-direction: column; */
    }
}

@media screen and (max-width:991px) {
    .about{
        /* max-width: 75%; */
        margin: auto;
    }

    .about-img {
        width: 340px;
        height: auto;   
        margin-left: 15px;
    }
    .about-col {

        margin-left: 20px;
        /* display: flex;
        flex-direction: column; */
    }
}

@media screen and (max-width:767px) {
    .about{
        max-width: 75%;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 
    .about-img {
        width: 520px;
        height: auto;   
        margin-left: 0px;
    }
    .about-col {
        margin-left: 30px;
        /* display: flex;
        flex-direction: column; */
    }
}

@media screen and (max-width:425px) {
    .about{
        max-width: 100%;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 
    .about-img {
        width: 400px;
        height: auto;   
        margin-left: 0px;
    }
    .about-col {
        margin-left: 15px;
        /* display: flex;
        flex-direction: column; */
    }
}
@media screen and (max-width:375px) {
    .about{
        max-width: 100%;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 
    .about-img {
        width: 350px;
        height: auto;   
        margin-left: 0px;
    }
    
}
@media screen and (max-width:325px) {
    .about{
        max-width: 100%;
        flex-direction: column;
        width: 100%;
        margin: auto;
    } 
    .about-img {
        width: 300px;
        height: auto;   
        margin-left: 0px;
    }
    
}