/* Portfolio Section*/
.portfolioMain {
    background-color: #f8f9fc;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}

.images {
    padding: 30px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.images>img {
    width: 260px;
    margin: 10px;
    border-radius: 5px;
}