$button-color: linear-gradient(to right, #ff5195, #ffb84b);
$grey-text: #696969;
$bg-light: #fffef9;
$bg-light2: #fffcfa;




/*-⁡⁣⁣⁢--- MIXINS ----⁡*/

@mixin cardThumbBG($leftColor, $rightColor) {
  background: linear-gradient(to top, $leftColor, $rightColor);
  ;
}

@mixin sectionHeader() {
  margin: auto;
  text-align: center;
  display: grid;
  gap: 20px;


  h2 {
    font-size: 36px;
  }

  p {
    margin: auto;
    width: 70%;
    line-height: 1.5rem;
  }
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 100px 0;
}

p {
  color: #696969;
  font-size: 16px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1320px) 1fr;

  & > * {
    padding: 0 20px;
    grid-column: 2;
  }
}

/*-⁡⁣⁣⁢--- BUTTON ----⁡*/

@mixin flex($just, $aling) {
  display: flex;
  justify-content: $just;
  align-items: $aling;
}

@mixin buttonText($color, $fw, $fs, $lh) {
  color: $color;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin button($padding, $mb) {
  background: $button-color;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  padding: $padding;
  margin-bottom: $mb;
  position: relative;
  @include flex(center, center);
  @include buttonText(white, 700, 1rem, 1);
}

.bg-light {
  background-color: $bg-light;
}
.bg-light2 {
  background-color: $bg-light2;
}

.row {
  @include flex(center, flex-start);
}

.button {
  @include button(16px 25px, 0);

  span {
    @include buttonText(white, 700, 1rem, 1);
    z-index: 1;
  }
}

.button-lg {
  @include button(16px 46px, 6px);
  width: max-content;

  span {
    @include buttonText(white, 700, 1rem, 1);
    z-index: 1;
  }
}

.button::after,
.button-lg::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background: linear-gradient(
    to left,
    #ffab8b,
    #ff957d,
    #ff7d75,
    #ff6371,
    #fd4372
  );
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  position: absolute;
  content: "";
}

.button:hover::after,
.button-lg:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
  transition: transform 0.3s ease-in-out;
}

.heading-title1 {
  @include buttonText(black, 700, 2.5rem, 48px);
  margin-bottom: 30px;
}

.text-body {
  @include buttonText($grey-text, 400, 1rem, 1rem);
}

/*-⁡⁣⁣⁢--- HEADER ----⁡*/

header {
  margin-top: 20px;
  z-index: 999;
  background: transparent !important;
  position: fixed;
  margin: auto;
  width: 100%;

  nav {
    @include flex(space-between, center);

    .menu-wrap {
      @include flex(space-evenly, center);

      a {
        margin: 25px 20px;
      }
    }
  }
}

.red {
  background-color: white;
  height: 1000px;
}

/*-⁡⁣⁣⁢--- SECTION 1 ----⁡*/

.section1 {
  background: #f9f2ff;
  position: relative;
  z-index: 1;
  padding: 265px 0 190px;
  height: 46vh;

  .section1-banners {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .banner1,
    .banner2 {
      position: absolute;
      content: "";
      img {
        overflow-clip-margin: content-box;
        overflow: clip;
      }
    }

    .banner1 {
      left: -22%;
    }

    .banner2 {
      right: -22%;
    }
  }

  .section1-content {
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 700;

    .s1-contents {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      flex-wrap: wrap;
      gap: 10px;

      .s1-con-left {
        display: grid;
        gap: 20px;

        h1 {
          font-size: 60px;
          line-height: 72px;
        }
      }

      .s1-con-right {
        position: relative;

        .sideEffect,
        .zoomIn,
        .runTop {
          position: absolute;
        }

        .sideEffect {
          right: -10%;
          top: 23%;

          animation: sideEffect 15s linear infinite;
        }

        .zoomIn {
          right: -40%;
          top: 0;
          animation: zoomIn 5s linear infinite;
        }

        .runTop {
          left: 40%;
          animation: runTop 5s linear infinite;
          bottom: 0px;
        }
      }
    }
  }
}

#perfectPos {
  margin: 100px 0;
  .section-head {
    text-align: center;
    margin-bottom: 50px;
    p {
      max-width: 600px;
      margin: auto;
    }
  }

  .section-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    * {
      text-align: center;
      text-transform: uppercase;
    }
    .lab-item {
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-10px);
        transition: all 0.5s ease-in-out;
      }
      .inner {
        padding: 48px 45px;
        border-radius: 4px;
        margin: 15px;
        box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
      }
      img {
        margin-bottom: 20px;
      }
      h6 {
        @include buttonText(black, 700, 1rem, 30px);
      }
    }
  }
}

#smartpos2 {
  .section-head {
    @extend .section-head;
  }
  .card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

.row {
  @include flex(center, flex-start);
}

.button {
  @include button(16px 25px, 0);

  span {
    @include buttonText(white, 700, 1rem, 1);
    z-index: 1;
  }
}

.button-lg {
  @include button(16px 46px, 6px);
  width: max-content;

  span {
    @include buttonText(white, 700, 1rem, 1);
    z-index: 1;

  }
}

.button::after,
.button-lg::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  position: absolute;
  content: "";
}

.button:hover::after,
.button-lg:hover::after {

  transform: scaleX(1);
  transform-origin: 0% 50%;
  transition: transform 0.3s ease-in-out;


}

/*-⁡⁣⁣⁢--- HEADER ----⁡*/

header {
  margin-top: 20px;
  z-index: 999;
  background: transparent !important;
  position: fixed;
  margin: auto;
  width: 100%;

  nav {
    @include flex(space-between, center);

    .menu-wrap {
      @include flex(space-evenly, center);

      a {
        margin: 25px 20px;
      }
    }
  }
}

.red {
  background-color: white;
  height: 1000px;
}

/*-⁡⁣⁣⁢--- SECTION 1 ----⁡*/

.section1 {
  background: #f9f2ff;
  position: relative;
  z-index: 1;
  padding: 265px 0 190px;
  height: 46vh;

  .section1-banners {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .banner1,
    .banner2 {
      position: absolute;

    }

    .banner1 {
      left: 0%;
    }

    .banner2 {
      right: 0%;
    }
  }

  .section1-content {
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 700;

    .s1-contents {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      flex-wrap: wrap;
      gap: 10px;

      .s1-con-left {
        display: grid;
        gap: 20px;

        h1 {
          font-size: 60px;
          line-height: 72px;
        }
      }

      .s1-con-right {


        position: relative;



        .sideEffect,
        .zoomIn,
        .runTop {
          position: absolute;
        }

        .sideEffect {
          right: -10%;
          top: 23%;

          animation: sideEffect 15s linear infinite;
        }

        .zoomIn {
          right: -40%;
          top: 0;
          animation: zoomIn 5s linear infinite;
        }

        .runTop {
          left: 40%;
          animation: runTop 5s linear infinite;
          bottom: 0px;
        }
      }
    }

  }
}


.section2-contents {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 80px;
  .section2-left {
    padding-left: 0;
    &{
        padding-left: 50px;
    }
    .section2-title {
      margin-bottom: 40px;
      max-width: 100%;
      margin-left: 0;
      text-align: left;
      padding-bottom: 30px;
      border-bottom: 1px solid #ecf0f3;
      h2 {
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        font-size: 36px;
        line-height: 48px;
      }
      p {
        max-width: 450px;
        margin: 0 0 15px;
        font-weight: 400;
        position: relative;
      }
    }
  }
}
.section2-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px;
    li {
      width: 50%;
      display: inline-block;
      padding: 10px 0;
      color: #696969;
      font-size: 16px;
      i {
        color: #ff4d94;
      }
    }
  }
}
/*-⁡⁣⁣⁢--- SECTION 8 ----⁡*/



.section8 {

  .s8-header {
    @include sectionHeader();
  }

  .s8-cards {
    @include flex(center, center);
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;


    .s8-card {
      width: calc(100% / 3.1);

      .s8-card-inner {
        padding: 70px 40px;
        margin: 15px 0;
        position: relative;
        box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 5px;
          left: 0;
          bottom: 0;
          transition: transform 0.3s ease-in-out;
          transform: scaleX(0);
          transform-origin: 100% 50%;
          background: linear-gradient(to left, #f9769d, #bb6df7);
          box-sizing: border-box;
        }

        #s8-thumb-1 {
          @include cardThumbBG(#f9769d, #bb6df7);
        }

        #s8-thumb-2 {
          @include cardThumbBG(#fd77b4, #ffbae7);

        }

        #s8-thumb-3 {
          @include cardThumbBG(#d17fff, #9982ff);

        }

        .s8-card-thumb {

          position: relative;
          width: 80px;
          height: 80px;
          text-align: center;
          line-height: 110px;
          box-shadow: 0 10px 10px rgba(248, 118, 158, 0.1);
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-radius: 100%;
          margin: auto;
          margin-bottom: 30px;
          box-shadow: 0 0 10px 2px #fcd5e1;
          align-items: center;
          text-align: center;

          &::before {
            position: absolute;
            content: "";
            width: 92px;
            height: 92px;
            opacity: 0.2;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            background-color: #bb6df7;
          }

          &::after {
            position: absolute;
            content: "";
            width: 105px;
            height: 105px;
            opacity: 0.09;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            background-color: #bb6df7;
          }
        }

        .s8-card-content {
          text-align: center;

          h4 {
            font-size: 24px;
            margin-bottom: 20px;
          }

          p {
            line-height: 1.5rem;


          }
        }
      }



    }
  }
}

/*-⁡⁣⁣⁢--- SECTION 9 ----⁡*/
.section9 {
  background: #fffef6;

  .s9-header {
    @include sectionHeader();
  }

  .s9-cards {
    @include flex(center, center);
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;
    border-bottom: 1px solid #fff5f3;

    .s9-card {
      width: calc(100% / 3.1);
      background-color: white;
      .s9-card-inner {
        box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
        padding: 20px 40px;
        margin: 15px 0;

        .s9-card-thumbs {
          #s9-img-left {
            width: 60px;
            height: 60px;
            border-radius: 100%;
          }

          #s9-img-right {
            height: auto;
            max-width: 100%;
          }

          @include flex(space-between, center);
          flex-wrap: wrap;
          gap: 10px;
          padding: 30px;

          h5 {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .s9-card-content {

          p {
            margin-bottom: 15px;
            line-height: 24px;
            text-align: left;
          }

          .ratings {
            i {
              font-size: 14px;
              color: #E8BB17;
            }
          }

          &::after {
            bottom: 20px;
            right: 30px;
            width: 30px;
            height: 20px;
            background: url(../img/denden.png);
            background-size: contain !important;
            background-repeat: no-repeat !important;
          }
        }
      }
    }
  }
}


/*-⁡⁣⁣⁢--- SECTION 10 ----⁡*/

.section10{
  .s10-inner{
    @include flex(space-between, center);

    .logo img::hover{
      filter: grayscale(100%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

/*-⁡⁣⁣⁢--- APP FOOTER ----⁡*/

.app-footer{
  background-image: url(../img/app-footer-bg.jpg);
  background-repeat: no-repeat;
  background-size:  cover;
  padding: 80px 0 0 0 ;
  .footer-top{
    @include flex(space-between, center);
    border-bottom: 1px solid #A26BDD;
    padding: 50px 0;
    .footer-header{
    color: white;
      
      text-align: start;
      h2{
        font-size: 36px;
      }
      p{
        color: white;
        margin-top: 10px;
      }
      
      
    }

    .footer-apps{
    @include flex(center, center);
      gap: 20px;

      .f-app{
        background-color: #FFFEFE;
        padding: 10px;
        width: 200px;
        a{
          @include flex(center, center);
          gap: 20px;
          span{
            color: #D363FA;
            font-weight: 600;
          }
        }
        
      }
    }
  }

  footer{
    padding-top: 70px;
    @include flex(space-between, center);
    flex-wrap: wrap;
    .footer-sec{
      color: white;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin: 10px 20px;
      ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        a{
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .footer-bottom{
    margin: auto;
    text-align: center;
    padding: 40px 0;
    margin-top: 100px;
    border-top: 1px solid #A26BDD;
    @include flex(center, center);
    p{
      color: white !important;
    }
  }
}


/*-⁡⁣⁣⁢--- MEDIA QUERIES ----⁡*/
@media only screen and (min-width: 1200px) {
  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .menu-wrap {
    display: none;
  }

  .section1-banners {
    display: none;

  }

  .animation-imgs {
    display: none;
  }


/*-⁡⁢⁣⁢--- BURAKHAN ----⁡⁡*/

  .s8-cards {
    @include flex(center, center);
    flex-direction: column !important;

    .s8-card {
      width: 80% !important;
    }
  }

  .footer-top{
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    .footer-header{
      text-align: center;
      p{
        margin: auto;
      text-align: center;
        
      }
      
    }
  }

}

@media only screen and (max-width: 768px){
/*-⁡⁢⁣⁢--- BURAKHAN ----⁡⁡*/
  .s9-cards {
    .s9-card {
      width: calc(100% / 2.1) !important;
    }
    #last-box{
      display: none;
    }

    
  }
  #display-none{
    display: none;
  }

  .f-app{
    width: 50% !important;
    font-size: 10px;
    
  }
}


/*-⁡⁣⁣⁢--- ANIMATIONS ----⁡*/

@keyframes sideEffect {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateX(-60px);
  }

  50% {
    transform: translateY(-60px);
  }

  75% {
    transform: translateX(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  0% {
    transform: translateY(-20px) translateX(0px);
  }

  50% {
    transform: translateY(0px) translateX(-20px);
  }

  100% {
    transform: translateY(-20px) translateX(0px);
  }
}

@keyframes runTop {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}