a {
  text-decoration: none;

}

.home-section {
  background-image: url("../Assets/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

//categories
.categories {
  @extend .home-section;
  background-image: url("../Assets/squiggle-background\ 1.svg");


  img {
    transition: all ease 0.8s;
    width: 100%;
    height: 250px;
  }

  img:hover {
    transform: scale(1.1);
  }
}