.card-img {
    background-position: center;
    background-size: cover;
    width: 20rem;
    aspect-ratio: 1;
}

.card-img img {
    width: 100%;
}

.card-img .overlay {
    position: relative;
    border: 1px solid salmon;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;

}

.card-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}