.service-card-img {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 0.2rem;
    background: rgba(255, 87, 20, 0.1);
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card {
    width: 18rem;
    aspect-ratio: 1;
    /* border: 1px solid black; */
    justify-content: center;
    /* box-shadow: 0, 25px, 25px, rgba(36, 39, 44, 0.05); */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
}