
.bgImage{
    background-image: url("https://picsum.photos/800");
    width: 500px;
    height: 500px;
    background-position-y: center;
    background-position-x: center;
    /* background-position ==> İki ekseni de aynı anda etkiler */
    background-size: cover;
    color: ghostwhite;
    text-shadow: black 3px 5px 2px;
}
