* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.card-img {
  width: 250px;
  height: 250px;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}
.music-img{
 height: 100%;
  object-fit: cover;
}
.music-name{
  word-break: break-all;
  min-height: 75px;
}

.manuel-shadow{
  box-shadow: 0 0 9px 0 rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.card-img:hover {
  animation-play-state: unset;
}
/* .img, picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.card-img::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  background: linear-gradient(
    135deg,
    #96c0ff 0%,
    #6c4f9d 25%,
    #d42635 50%,
    #f58437 75%,
    #ffe295 100%
  );
  z-index: -6;
  border-radius: 1000px;
  transform: rotate(0deg);
}
.card-img::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  background-color: #141518;
  z-index: -3;
  border-radius: 1000px;
}

.card-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100ch;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* 0. karede dönüş açısı 0 derecedir */
  100% {
    transform: rotate(360deg);
  } /* 100. karede dönüş açısı 360 derecedir (tam bir tur) */
}
