:root{
  --bs-background-color:#1D152D;
  --secondary-bg-color: #4a4356;
  --black:#000;
  --cafe-racer-card-bg: #29152d;
  --accordion-button-bg:#605b6c;
}
$primary: #0e002b;
$light:#a4a1ab;
$secondary:#332c42;
$info:#777281;
$danger:#d8ae2d;

$navbar-light-color:$light;

$headings-font-family:'Saira Condensed', sans-serif;
$font-family-base: 'Gemunu Libre', sans-serif;

$thumbnail-padding:.5rem;
$thumbnail-bg:none;
$thumbnail-border-color:var(--secondary-bg-color);

$accordion-color:#000;
$accordion-border-color: $primary;
$accordion-button-bg:var(--accordion-button-bg);
$accordion-button-active-bg: $primary;
$accordion-button-active-color:  $light;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10px:10px,
  100: $spacer * 6.25,
  120: $spacer * 7.5, 
);