.box{
  width: 150px;
  height: 50px;
  margin: 10px;
}

.blue{
  margin-bottom: auto;
 
  background-color: blue;

}

.red{
  background-color: red;
  margin-left: 50px;
  padding-top: 20px;


}



.gray{
  background-color: gray;
  padding-right: 50px;
  margin: 20px;
}