.banner-3 {
    background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 378px;
  border-radius: 20px;
}

.banner-content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
    width: 50%;
  }
  
  .banner-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
  }

.products-title h4, .filter h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #002A48;
    text-align: start;
    display: flex;
  }

  .filter h5 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;
    text-align: start;
    display: flex;
  }

  .categories {
    text-align: start;
    padding: 20px;
    border-radius: 20px;
  }

  .filter label {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
    color: black;
    text-align: start;
  }

  .filter input {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
    color: black;
    text-align: start;
    margin-right: 10px;

  }
  .price  {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }

  .price input {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: start;
    margin-right: 10px;
    width: 50%;
    color: black;
    background-color: white;
    border: 1px solid #002A48;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
  }