*,

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

}

.container{
  max-width: 1200px;
  margin: 0 auto;

}

.text-header{
  color: orangered;
  text-align: center;
}

.title{
  text-align: center;
}
.paragraf{
  text-align: center;
  color: #8492a6;
  font-size: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  
}
p{
  line-height: 1.6;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}




.card {
  width: 25%;
  height: auto;
  
  margin: 2%;
  
}
.card img {
  border-radius: 5px;
  width: 100%;
}


.card-info{
  text-align: center;
  margin-top: 2rem;
}



h5{
  font-size: large;
  color: aqua;
  display: flex;
  text-align: center;
}

.card ul {

  display: flex;
  list-style-type: none;
    flex-direction: column;
  margin-left: -80px;
}






.card li {
  background-color: #ff5714;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  cursor: pointer;
  list-style-type: none;
  
}

.card li:hover {
  background-color: #E04000;
}

.card a {
  color: #FFFFFF;
}

.row{
  display: flex;
  box-sizing: border-box;
  
}

/* ikinci alan */

.creativeInfo {
  width: 100%;
  margin-top: 2rem;
}

.rowInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.rowInfo div {
  width: 25%;
}

.rowInfo span {
  color: #8492a6;
}


.creativeLogo {
  width: 100%;
  margin-top: 3rem;
}

.rowLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
}

.rowLogo div img{
  width: 40%;
  color: #000000;
}

/* BLOG */

.latestNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  font-family: "Roboto Slab", serif;
}

.containerNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newsTop h6 {
  color: #ff5714;
  font-size: 15px;
}

.newsTop h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
}

.newsParagraph {
  max-width: 600px;
  display: flex;
  margin: auto;
  text-align: center;
  color: #8492a6;
}

.contentNews {
  display: flex;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
}

.cardNews {
  box-shadow: 0 0 3px rgba(36,39,44,0.15);
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.cardNews img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.cardNewsInfo {
  padding: 1.5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 80%;
}

.cardNewsInfo>a {
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto Slab",serif;
  line-height: 1.5;
  font-weight: 600;
  color: #24272c;
}

.readMore > a:hover,
.cardNewsInfo>a:hover {
  color: #FF572A;
}

.cardNewsInfo>p {
  color: #8492a6;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.6;
}

.readMore {
  margin-top: 1rem;
}

.readMore > a {
  color: #24272c;
  text-decoration: none;
  letter-spacing: 0.5px;
}
