*{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 980px;
    margin: 0 auto;
}
.header{
    height: 150px;
    margin-bottom: 10px;
    background-color: rgb(146, 146, 181);
    border: 5px solid rgb(134, 134, 105);
    border-radius: 10px;
}
.content{
    width: 690px;
    height: 600px;
    /* background: linear-gradient( to bottom, red,yellow ); */
    border: 5px solid blue;
    border-radius: 10px;
    float: left;
    overflow: scroll;
}
.sidebar{
    width: 250px;
    height: 600px;
    background-color: rgb(16, 59, 45);
    border: 5px solid rgb(134, 134, 105);
    border-radius: 10px;
    float: right;
}
.footer{
    height: 100px;
    background-color: rgb(204, 161, 161);
    margin-top: 10px;
    border: 5px solid rgb(134, 134, 105);
    border-radius: 10px;
    
}
.clear{
    clear: both;
}
.res{
    display: flex;
    margin: 5px 5px 0 5px;
    padding-bottom: 40px;
    /* margin-bottom: 40px; */
    border-bottom: 1px solid black;
}
.eser img{
    max-width: 150px;
    max-height: 175px;
    
}
.res p{
    margin-left: 5px;
    font-size: 14px;
}