.form-label {
  border-radius: 5px;
}

.delete-item {
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.done {
  text-decoration: line-through;
  background-color: rgba(11, 101, 11, 0.5);
}
