.subscribe-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.hr-bottom {
  border: 1px solid #99A2A5;
}

.trend-logo {
  width: 115px;

}

.text-footer {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #667479;
}

@media (max-width: 768px) {
  .p-sm-bootom {
    padding-bottom: 80px;
    padding-top: 30px;
  }
}