#root {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 0 2em;
  border-radius: 10px;

  background: url("./img/clouds.jpg") rgba(0, 0, 0, 0.851);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  background-size: cover;
  background-position: center;
  min-height: 400px;
}
