* {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: rgb(85, 222, 247);
  background: linear-gradient(
    90deg,
    rgba(64, 188, 210, 0.471) 28%,
    rgba(205, 231, 235, 0.577) 89%,
    rgba(103, 223, 249, 0.2497199563419118) 100%
  );
}
