.bgImage {
  background-image: src("https://picsum.photos/200/300");
  width: 100px;
  height: fit-content;
  background-color: aqua;
}
.borderRadius {
  border-radius: 50%;
}
.deneme-liste:first-child {
  color: aqua;
}
.deneme-liste:last-child {
  background-color: blue;
}
.deneme-liste:nth-child(3n-1) {
  text-decoration: underline;
}
.deneme-liste:nth-child(2n + 1)::before {
  color: crimson;
}
.deneme-liste::after {
  color: crimson;
  background-color: tomato;
}
