$siteBlue: #2f89fc;
$siteDarkBlue: #0362db;
$siteGray: #4d4d4d;
$opacityBlack: rgba(0, 0, 0, 0.5);
$bgGray: #e9ecef;
$rounded: 0.25rem;
$pill: 30px;

* {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

img,
input {
  width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: $siteGray;
}

a {
  color: $siteBlue;
}

@mixin boxMixin($bgColor, $clr, $bR, $px, $py) {
  background-color: $bgColor;
  border-color: $bgColor;
  color: $clr;
  border-radius: $bR;
  padding: $px $py;
}

@mixin heading($clr, $fs, $fw) {
  color: $clr;
  font-size: $fs;
  font-weight: $fw;
}

.btn {
  @include boxMixin($siteBlue, white, 0.25rem, 10px, 30px);
}

.heading {
  @include heading($siteBlue, 2rem, 700);
}

.title {
  position: relative;
  &.center {
    text-align: center;
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #2f89fc;
  }
}

.sub-heading {
  color: $opacityBlack;
  text-transform: capitalize;
}

.tag {
  @include boxMixin($bgGray, black, $pill, 2px, 20px);
  font-size: 14px;
  &:hover {
    background-color: $siteDarkBlue;
    color: white;
  }
}

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px -2px rgb(0 0 0 / 10%);
  margin-bottom: 30px;
  margin-left: 30px;
  //   margin-right: 30px;
  .card-tag {
    @include boxMixin($bgGray, black, $pill, 5px, 20px);
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }

  .card-img {
    overflow: hidden;
    display: inline-block;
    background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_2.jpg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    border-radius: 7px 7px 0 0;
  }

  .card-text {
    padding: 20px;
    position: relative;
    .bookmark {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background: rgba(0, 0, 0, 0.03);
      transition: 0.3s all ease;
      font-size: 16px;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    h3 {
      line-height: 1.2;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    address {
      color: $siteGray;
      font-size: 13px;
      font-style: normal;
      margin-bottom: 1rem;
    }

    .stars {
      span:nth-child(-n + 3) {
        color: #f89d13;
      }
    }
  }
}

.bookmark {
  color: $siteBlue;
}

.other {
  .card-img {
    height: 250px;
  }
}

.blog-card {
  padding: 0 30px;
  width: 100%;
  img {
    margin-bottom: 15px;
    border-radius: $rounded;
    max-width: 100%;
  }

  .blog-info {
    margin-bottom: 1rem;
    span {
      margin: 0 0.25rem;
    }

    .blog-text {
      margin-bottom: 1rem;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
}
