* {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container {
  max-width: 540px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

img,
input {
  width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  color: #4d4d4d;
  position: relative;
}

a {
  color: #2f89fc;
}

.btn {
  background-color: #2f89fc;
  border-color: #2f89fc;
  color: white;
  border-radius: 0.25rem;
  padding: 10px 30px;
}

.heading {
  color: #2f89fc;
  font-size: 2rem;
  font-weight: 700;
}

.title {
  position: relative;
  margin-bottom: 20px;
}
.title.center {
  text-align: center;
}
.title.center::after {
  left: 50%;
  transform: translateX(-50%);
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}

.sub-heading {
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.tag {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: black;
  border-radius: 30px;
  padding: 2px 20px;
  font-size: 14px;
  align-self: center;
}

.category {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  transition: 0.3s all ease-in-out;
  padding: 30px 10px;
}
.category .category-title {
  color: #4d4d4d;
}
.category i {
  font-size: 45px;
  color: #2f89fc;
}
.category:hover {
  background-color: #2f89fc;
}
.category:hover i {
  color: white;
}
.category:hover .tag {
  background-color: #0362db;
  color: white;
}
.category:hover .category-title {
  color: white;
}

.featured-ads {
  background-color: #f8f9fa;
  padding: 25px 0;
}
.featured-ads h2 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
}
.featured-ads .card:nth-child(n+2) {
  display: none;
}
.featured-ads .card:nth-child(2) .card-img {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_3.jpg");
}
.featured-ads .card:nth-child(3) .card-img {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_4.jpg");
}
.featured-ads .card:nth-child(4) .card-img {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_1.jpg");
}

.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 30px;
}
.card .card-tag {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: black;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}
.card .card-img {
  overflow: hidden;
  display: inline-block;
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_2.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.card .card-text {
  padding: 20px;
  position: relative;
}
.card .card-text .bookmark {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.03);
  transition: 0.3s all ease;
  font-size: 16px;
}
.card .card-text .bookmark:hover {
  background: red;
}
.card .card-text .bookmark span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card .card-text h3 {
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.card .card-text address {
  color: #4d4d4d;
  font-size: 13px;
  font-style: normal;
  margin-bottom: 1rem;
}
.card .card-text .stars span:nth-child(-n+3) {
  color: #f89d13;
}

.trending {
  background-color: #f8f9fa;
  padding: 20px 0;
}
.trending .card-img {
  height: 250px;
}

.img2 {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_3.jpg.webp") !important;
}

.img3 {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_1.jpg.webp") !important;
}

.img4 {
  background-image: url("https://preview.colorlib.com/theme/directoryads/images/img_4.jpg.webp") !important;
}

.testimonials {
  margin-top: 20px;
  text-align: center;
}
.testimonials img {
  border-radius: 50%;
  max-width: 100px;
}
.testimonials figure {
  margin: 2rem 0;
}
.testimonials blockquote {
  font-style: italic;
  font-size: 1.5rem;
  padding: 0 0 20px 0;
}

.blog-card {
  margin-bottom: 1.5rem;
  width: 100%;
}
.blog-card img {
  margin-bottom: 15px;
  border-radius: 0.25rem;
  max-width: 100%;
}
.blog-card .blog-info {
  margin-bottom: 1rem;
}
.blog-card .blog-info span {
  margin: 0 0.25rem;
}
.blog-card .blog-info .blog-text {
  margin-bottom: 1rem;
}
.blog-card .blog-info a:hover {
  color: #0362db;
}
.blog-card h2 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: white;
  position: relative;
}
.navbar a {
  color: white;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 1rem;
}

.title-header {
  margin-top: 5rem;
  text-align: center;
}
.title-header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}
.title-header p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.hero {
  min-height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 2rem 0;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp");
  color: white;
}

.form-wrap {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px;
}

.form-inner {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  position: relative;
  margin-bottom: 1.5rem;
}
.input-wrap input {
  height: 50px;
  padding: 6px 12px;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}
.input-wrap input::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.input-wrap input::placeholder {
  color: #6c757d;
  opacity: 1;
}
.input-wrap i {
  position: absolute;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.input-wrap select {
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}
.input-wrap select::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.input-wrap select::placeholder {
  color: #6c757d;
  opacity: 1;
}

.row-text h2 {
  font-size: 16px;
  margin: 0px 10px 8px 0px;
}
.row-text a {
  display: inline-block;
  color: #fff;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 0.8rem;
}
.row-text a:hover {
  background-color: white;
  color: #2f89fc;
}

.our-blog {
  background-color: #f8f9fa;
  padding-top: 20px;
  margin-top: 20px;
}

.blog-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#blog-btn {
  padding: 0.5rem 1.5rem;
  text-align: center;
  align-self: center;
  margin-top: 1.5rem;
}

.newsletter {
  background-color: #2f89fc;
  padding-bottom: 50px;
}
.newsletter form {
  display: flex;
  flex-direction: row;
  border: none;
  opacity: 1;
  border-bottom: 1px solid #fff;
  padding-top: 20px;
}
.newsletter form input.text::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
}
.newsletter form input.text::placeholder {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
}
.newsletter form input.text {
  width: 70%;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 43px;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
.newsletter form input.button {
  width: 30%;
  border-radius: 0;
  line-height: 1.5;
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 1rem;
}
.newsletter form input.button:hover {
  cursor: pointer;
}

.newsletter-inside {
  display: flex;
  flex-direction: column;
}

.news-text {
  padding-top: 50px;
}

h2.white {
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 1.2;
}

p.text {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
}

footer {
  padding: 4em 0;
  background: #333333;
}
footer p.text,
footer ul {
  color: #737373;
  padding-top: 10px;
}
footer .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 25px;
}
footer .icon i {
  color: #999;
}
footer .icon i:hover {
  cursor: pointer;
}
footer form {
  display: flex;
  flex-direction: row;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}
.footer-info input.text {
  width: 80%;
  line-height: 1.5;
  color: #495057;
  height: 43px;
  background: none;
  padding: 0.375rem 0.75rem;
  outline: none;
  border-color: #6c757d;
  border-right: none;
}
.footer-info input.text::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
  font-size: 1rem;
}
.footer-info input.text::placeholder {
  color: #6c757d;
  opacity: 1;
  font-size: 1rem;
}
.footer-info input.button {
  width: 20%;
  border-radius: 0;
  line-height: 1.5;
  font-family: inherit;
  background-color: #2f89fc;
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
}
.footer-info input.button:hover {
  cursor: pointer;
}
.footer-info input.text {
  border: 1px solid #6c757d;
  color: white;
}

.footer-copy {
  border-top: 1px solid rgba(79, 76, 76, 0.5882352941);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
}
.footer-copy a {
  color: #4d4d4d;
  font-size: 1.5rem;
  transition: 0.3s all;
}
.footer-copy a:hover {
  color: white;
  letter-spacing: 2px;
}

.navbar-menu {
  width: 300px;
  padding-top: 20px;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: -1rem;
  right: -15px;
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}
.navbar-menu .menu-body {
  margin-top: 3rem;
  padding: 0 20px 20px 20px;
}
.navbar-menu .menu-body ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #212529;
  font-size: 18px;
}
.navbar-menu .menu-body li {
  text-transform: capitalize;
}
.navbar-menu .menu-body li:hover {
  cursor: pointer;
}
.navbar-menu .menu-body li:not(:last-child):hover {
  color: #2f89fc;
}
.navbar-menu .menu-body .btn {
  align-self: flex-start;
}
.navbar-menu .menu-body .btn:hover {
  background-color: #0362db;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .navbar-menu {
  display: block;
}
#checkbox:checked + label {
  color: black;
  z-index: 1000;
}

.navbar-menu-web {
  display: none;
}

.bookmark {
  color: #2f89fc;
}
.bookmark:hover {
  color: white;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 1140px;
  }
  #label-check {
    display: none;
  }
  .navbar-menu-web {
    display: block;
  }
  .navbar-menu-web ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
  }
  .navbar-menu-web ul li {
    text-transform: capitalize;
  }
  .navbar-menu-web ul li:hover {
    cursor: pointer;
  }
  .navbar-menu-web ul li:not(:last-child):hover {
    color: #2f89fc;
  }
  .navbar-menu-web ul li:nth-child(6) {
    border-left: 1px solid white;
    padding-left: 0.5rem;
  }
  .navbar-menu-web ul .btn:hover {
    background-color: #0362db;
  }
  .form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-wrap form {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
  }
  .form-wrap form input,
  .form-wrap form select,
  .form-wrap form .btn {
    width: 220px;
    height: 39px;
  }
  .form-wrap form #what {
    width: 300px;
  }
  .form-wrap form .form-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .form-wrap form .input-wrap {
    margin-bottom: 0;
  }
  .title-header h1 {
    font-size: 3rem;
  }
  .row-text {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  .hero h2 {
    font-weight: 500;
  }
  .hero .container {
    padding-top: 25vh;
  }
  .featured-ads {
    padding-top: 4rem;
  }
  .featured-ads .card-area {
    display: flex;
    gap: 2rem;
  }
  .featured-ads .card .card-tag {
    font-size: 11px;
  }
  .featured-ads .card h3 a {
    font-size: 16px;
  }
  .featured-ads .card h3 a:hover {
    color: #0362db;
  }
  .featured-ads .card address,
  .featured-ads .card .stars {
    font-size: 13px;
  }
  .featured-ads .card:nth-child(n+2) {
    display: flex;
  }
  .popular {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .popular .categories-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .popular .category {
    width: 15%;
  }
  .popular .category:hover {
    scale: 1.1;
  }
  .trending {
    padding: 4rem 0 6rem 0;
  }
  .trending .card-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem;
  }
  .trending .card-area .card {
    width: 540px;
    flex-direction: row;
    height: 200px;
    margin: 0;
  }
  .trending .card-area .card .card-img {
    width: 45%;
    height: 200px;
  }
  .trending .card-area .card .card-tag {
    font-size: 11px;
  }
  .trending .card-area .card h3 a {
    font-size: 16px;
  }
  .trending .card-area .card h3 a:hover {
    color: #0362db;
  }
  .trending .card-area .card address,
  .trending .card-area .card .stars {
    font-size: 13px;
  }
  .trending .card-area .card .bookmark {
    right: -70px;
  }
  .testimonials {
    padding: 4rem 0;
  }
  .testimonials blockquote {
    margin: 0 auto;
    width: 800px;
  }
  .our-blog {
    padding: 4rem 0;
  }
  .our-blog .blog-cards {
    display: flex;
    gap: 2rem;
  }
  .newsletter-inside {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .newsletter-inside .news-mail {
    width: 50%;
  }
  .newsletter-inside .news-mail .text {
    width: 80%;
  }
  .newsletter-inside .news-mail .button {
    width: 20%;
  }
  .footer-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-info .footer-info-box:nth-child(1) {
    width: 35%;
  }
  .footer-info .footer-info-box:nth-child(2) li {
    cursor: pointer;
    padding: 5px 0;
    color: #999;
  }
  .footer-info .footer-info-box:nth-child(2) li:hover {
    color: white;
  }
  .footer-info .footer-info-box:nth-child(3) i:hover {
    color: white;
  }
  .footer-info .footer-info-box:nth-child(4) {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */