.table ,th, td{
  border: 1px solid #000;
  border-collapse: collapse;
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 2rem auto;
}

.tableTitle{
  background-color: #55c9e6;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.tableContent:nth-child(2n+1){
  background-color: #f39696;
  color: #000;
  text-align: center;
}
.tableContent:nth-child(2n){
  background-color: #ffffff;
  color: #000;
  text-align: center;
}
.tableContent:hover{
  background-color: #e40202;
  color: #fff;
  text-align: center;
  cursor: pointer;
}


