* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 20px;
  margin-bottom: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1999;
}
header .container {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  padding: 1rem;
}
header .container .logo h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
header .container .logo h1 a {
  font-weight: 900;
  color: #FFFFFF;
  font-size: 20px;
}
header .container ul {
  display: flex;
  gap: 1rem;
  text-align: right;
  justify-content: end;
  margin-right: 3rem;
}
header .container ul li {
  font-size: 1rem;
  padding: 20px 10px;
  color: #FFFFFF;
  cursor: pointer;
}
header .container .logInContainer {
  display: flex;
  gap: 1.5rem;
  align-content: end;
  justify-content: end;
}
header .container .logInContainer .login {
  font-size: 1.1rem;
  padding: 20px 10px;
  color: #FFFFFF;
}
header .container .logInContainer .register {
  color: #fff;
  padding: 20px 10px;
  display: inline-block;
  font-size: 1.1rem;
}
header .container .logInContainer .register span {
  background-color: #2f89fc;
  border-radius: 0.25rem;
  padding: 12px 20px;
}

.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  height: 100vh;
  position: relative;
}
.welcome .container {
  text-align: center;
}
.welcome .container .topSection {
  padding-top: 18rem;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
}
.welcome .container .topSection h1 {
  font-size: 3.3rem;
  font-weight: 500;
}
.welcome .container .topSection p {
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 2rem;
  font-weight: 100;
}
.welcome .container .formWelcome {
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px;
}
.welcome .container .formWelcome form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.welcome .container .formWelcome form .formItem {
  border: none;
  height: 35px;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #FFFFFF;
}
.welcome .container .formWelcome form .formItem:focus {
  outline: none;
}
.welcome .container .formWelcome form .formItem.lookInput {
  width: 30%;
}
.welcome .container .formWelcome form .formItem.formSelect {
  margin-left: 2rem;
  height: auto;
  width: 23%;
  padding: 0.375rem 0.75rem;
}
.welcome .container .formWelcome form .locationInput {
  position: relative;
  width: 22%;
}
.welcome .container .formWelcome form .locationInput input {
  width: 100%;
}
.welcome .container .formWelcome form .locationInput span {
  position: absolute;
  right: -10px;
  top: 50%;
}
.welcome .container .formWelcome form button {
  width: 14%;
  padding: 10px 30px;
  border-radius: 0.25rem;
  background-color: #2f89fc;
  border: none;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.welcome .container .formWelcome form button:hover {
  background-color: #2970ce;
}
.welcome .container .trendSearch {
  width: 100%;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  align-items: center;
  gap: 0.5rem;
}
.welcome .container .trendSearch h2 {
  font-size: 1.1rem;
  margin-right: 10px;
  font-weight: 500;
  line-height: 1.2;
}
.welcome .container .trendSearch a {
  color: #fff;
  padding: 7px 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: left;
  transition: all 0.3s ease-in-out;
}
.welcome .container .trendSearch a:hover {
  background-color: #FFFFFF;
  color: #2f89fc;
}

.featured {
  background-color: #f8f9fa;
  padding: 5rem 0;
}
.featured h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.featured .cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 10px;
}
.featured .cardWrapper .card {
  width: 23%;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: #FFFFFF;
}
.featured .cardWrapper .card .cardImg {
  width: 100%;
  cursor: pointer;
}
.featured .cardWrapper .card .cardImg img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.featured .cardWrapper .card .cardInfo {
  padding: 20px;
}
.featured .cardWrapper .card .cardInfo .topCardInfo {
  display: flex;
  justify-content: space-between;
}
.featured .cardWrapper .card .cardInfo .topCardInfo span {
  font-size: 0.8rem;
  padding: 8px 20px;
  background: #e9ecef;
  border-radius: 30px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}
.featured .cardWrapper .card .cardInfo .topCardInfo a span {
  color: #2f89fc;
  font-size: 1rem;
  padding: 8px;
  border-radius: 50%;
}
.featured .cardWrapper .card .cardInfo .topCardInfo a:hover span {
  background-color: #F23A2E;
  color: #FFFFFF;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo {
  padding-bottom: 1rem;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo h3 {
  font-size: 1.1rem;
  color: #2f89fc;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo h3:hover {
  color: #2970ce;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo address {
  margin-bottom: 1.5rem;
  font-style: normal;
  line-height: inherit;
  font-size: 0.9rem;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo .stars .checked {
  color: #f89d13;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo .stars .original {
  color: #6c757d;
}
.featured .cardWrapper .card .cardInfo .middleCardInfo .stars .review {
  font-size: 0.9rem;
  margin-left: 0.2rem;
}

.popular {
  background-color: #FFFFFF;
  padding: 5rem 0;
}
.popular .topSection {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
.popular .topSection h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2f89fc;
  margin-bottom: 0.5rem;
}
.popular .topSection p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  line-height: 2rem;
}
.popular .topSection p::after {
  position: absolute;
  content: "";
  left: 47%;
  bottom: -10px;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}
.popular .cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.popular .cardWrapper .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  gap: 1.5rem;
  cursor: pointer;
  background: #FFFFFF;
  text-align: center;
  padding: 1.5rem 1.5rem;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}
.popular .cardWrapper .card span {
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.popular .cardWrapper .card span.icon {
  color: #2f89fc;
}
.popular .cardWrapper .card span.typeIcon {
  color: #666666;
  font-size: 1rem;
}
.popular .cardWrapper .card span.number {
  padding: 7px 20px;
  border-radius: 30px;
  display: inline-block;
  background: #e9ecef;
  color: #000;
  font-size: 1rem;
}
.popular .cardWrapper .card:hover {
  background-color: #2f89fc;
  transform: scale(1.15);
}
.popular .cardWrapper .card:hover .icon {
  color: #FFFFFF;
}
.popular .cardWrapper .card:hover .typeIcon {
  color: #FFFFFF;
}
.popular .cardWrapper .card:hover .number {
  background-color: #2970ce;
  color: #FFFFFF;
}

.section2 .topSection {
  position: relative;
  margin-bottom: 5rem;
}
.section2 .topSection h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2f89fc;
  margin-bottom: 0.5rem;
}
.section2 .topSection h2::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 90px;
  height: 3.5px;
  background: #2f89fc;
}
.section2 .cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section2 .cardWrapper .card {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.section2 .cardWrapper .card .cardImg {
  border-radius: 7px 0 0 7px;
}
.section2 .cardWrapper .card .cardImg.bgCard1 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_2.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardImg.bgCard2 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardImg.bgCard3 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_3.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardImg.bgCard4 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_2.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardImg.bgCard5 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_4.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardImg.bgCard6 {
  background: url("https://preview.colorlib.com/theme/directoryads/images/img_3.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section2 .cardWrapper .card .cardInfo {
  padding: 1.5rem;
}

.testimonials .topSection {
  position: relative;
  line-height: 1.5;
}
.testimonials .topSection::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 47%;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}
.testimonials .customer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.testimonials .customer .customerInfo {
  margin-bottom: 1.5rem;
}
.testimonials .customer .customerInfo img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.testimonials .customer .customerInfo p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 600;
}
.testimonials .customer .customerComment p {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.7);
}

.blog .topSection {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
.blog .topSection h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #2f89fc;
  margin-bottom: 0.5rem;
}
.blog .topSection p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  line-height: 2rem;
}
.blog .topSection p::after {
  position: absolute;
  content: "";
  left: 47%;
  bottom: -10px;
  width: 80px;
  height: 3px;
  background: #2f89fc;
}
.blog .cardWrapper {
  padding: 0;
}
.blog .cardWrapper .card {
  width: 30.8%;
  background: transparent;
  box-shadow: none;
}
.blog .cardWrapper .card .cardImg {
  margin-bottom: 30px;
}
.blog .cardWrapper .card .cardImg img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}
.blog .cardWrapper .card .cardInfo {
  padding: 0;
}
.blog .cardWrapper .card .cardInfo h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.blog .cardWrapper .card .cardInfo .middleBlogInfo {
  color: #b3b3b3;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
}
.blog .cardWrapper .card .cardInfo .middleBlogInfo a {
  color: #2f89fc;
  font-size: 0.9rem;
}
.blog .cardWrapper .card .cardInfo p {
  color: #4d4d4d;
  line-height: 1.7;
  font-size: 1rem;
}
.blog .cardButton {
  display: block;
  text-align: center;
  margin-top: 5rem;
  font-size: 1rem;
}
.blog .cardButton a {
  padding: 0.7rem 1.5rem;
  background-color: #2f89fc;
  color: #FFFFFF;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.blog .cardButton a:hover {
  background-color: #2970ce;
  color: #FFFFFF;
}

.newsSection {
  background-color: #2f89fc;
  padding: 3rem 0;
}
.newsSection .news {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.newsSection .news .newsLeft {
  padding: 0 15px;
  width: 45%;
}
.newsSection .news .newsLeft h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 0.7rem;
}
.newsSection .news .newsLeft p {
  color: rgba(255, 255, 255, 0.7);
}
.newsSection .news .newsRight {
  padding: 0 15px;
  width: 45%;
}
.newsSection .news .newsRight input {
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  padding-left: 0;
  height: 43px;
  width: 70%;
}
.newsSection .news .newsRight input:focus {
  outline: none;
}
.newsSection .news .newsRight input::placeholder {
  color: #FFFFFF;
  font-size: 1rem;
  font-style: italic;
}
.newsSection .news .newsRight a {
  padding: 0.82rem 0.9rem;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  margin: 0 -5px;
}
.newsSection .news .newsRight a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

footer {
  padding: 8rem 0;
  background: #333333;
  color: #FFFFFF;
}
footer .footerCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 15px;
}
footer .footerCards .footerCard {
  width: 33%;
}
footer .footerCards .footerCard h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
footer .footerCards .footerCard p {
  color: #737373;
  margin-bottom: 1rem;
  line-height: 1.7;
  font-size: 1.05rem;
}
footer .footerCards .navigations {
  padding: 0 15px;
  width: 12%;
}
footer .footerCards .navigations ul li {
  margin-bottom: 1.1rem;
}
footer .footerCards .navigations ul li a {
  color: #999999;
  transition: all 0.3s ease-in-out;
}
footer .footerCards .navigations ul li a:hover {
  color: #FFFFFF;
}
footer .footerCards .socials {
  padding: 0 15px;
  width: 12%;
}
footer .footerCards .socials .socialItems {
  display: flex;
  justify-content: space-between;
}
footer .footerCards .socials .socialItems a {
  color: #999999;
  transition: all 0.3s ease-in-out;
}
footer .footerCards .socials .socialItems a:hover {
  color: #FFFFFF;
}
footer .footerCards .search {
  width: 20%;
  display: flex;
  padding: 0 15px;
}
footer .footerCards .search input {
  height: 43px;
  background-color: transparent;
  border: 1px solid #6c757d;
  padding: 0 10px;
  font-size: 1rem;
  color: #FFFFFF;
}
footer .footerCards .search input:focus {
  outline: none;
}
footer .footerCards .search button {
  height: 45px;
  padding: 0 10px;
  background-color: #2f89fc;
  border-color: #2f89fc;
  cursor: pointer;
  font-size: 1rem;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
footer .footerCards .search button:hover {
  background-color: #2970ce;
}
footer .copyRight {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-top: 3rem;
}
footer .copyRight p {
  padding-top: 3rem;
  color: #737373;
  font-size: 1rem;
}
footer .copyRight p a {
  color: #999999;
  transition: all 0.3s ease-in-out;
}
footer .copyRight p a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  header .container .menu {
    display: none;
  }
  header .container .logInContainer {
    display: none;
  }
  .featured .cardWrapper .card {
    width: 100%;
  }
  .featured .cardWrapper .card:nth-child(2), .featured .cardWrapper .card:nth-child(3), .featured .cardWrapper .card:nth-child(4) {
    display: none;
  }
  .popular .cardWrapper .card {
    width: 80%;
  }
  .testimonials .topSection::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 40%;
    width: 80px;
    height: 3px;
    background: #2f89fc;
  }
  .blog .topSection p::after {
    position: absolute;
    content: "";
    left: 40%;
    bottom: -10px;
    width: 80px;
    height: 3px;
    background: #2f89fc;
  }
  .blog .cardWrapper .card {
    width: 80%;
  }
  .newsSection .news .newsLeft {
    width: 100%;
  }
  .newsSection .news .newsRight {
    width: 100%;
  }
  footer .footerCards .footerCard {
    width: 100%;
  }
  footer .footerCards .navigations {
    width: 100%;
    padding: 0;
  }
  footer .footerCards .socials {
    width: 50%;
  }
  footer .footerCards .search {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
