body{
    margin:0;
}

.container{
    display: grid;
    height: 600px;
    padding: 20px;
    background-color: beige;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px; */
    gap:10px;
    /* grid-template-columns: 150px auto 150px auto 150px 1fr 1fr 2fr; */
    /* grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2,100px); */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-auto-rows: 1fr; */
    /* grid-auto-columns: 1fr; */
    grid-template-columns: minmax(200px, 500px) 1fr 2fr;
    grid-template-rows: 200px 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: orange;
    padding: 20px;
}

