body{
  margin: 0;
  padding: 0;
}

.wrap{
  width: 960px;
  margin: 0 auto;
}

.header{
  background-color: rgb(117, 232, 240);
  height: 150px;
  margin-bottom: 20px;
}

.content{
  background-color: rgb(80, 201, 207);
  width: 600px;
  height: 500px;
  border: 3px solid rgb(25, 88, 182);
  border-radius: 10px;
  float: left;
}
.slidebar{
  background-color: rgb(80, 201, 207);
  width: 300px;
  height: 500px;
  border: 3px solid rgb(25, 88, 182);
  border-radius: 10px;
  float: right;
}
.clear{
  clear: both;
}
.footer{
  background-color: rgb(117, 232, 240);
  height: 150px;
  margin-top: 20px;
}