.head1{
  text-align: center;  
}
.paragraf{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.box{
  width: 300px;
  height: 300px;
  background-color: #f00;
  border: 1px;
}
.inbox{
  width: 100px;
  height: 100px;
  background-color: #0f0;
  margin: 20px;
  border: 2px dashed #00f;
  border-radius: 50%;
}