/* featured ads */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

.container {
  padding: 0 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* featured */
.featured-container {
  padding-top: 2em;
}

.featured-container > h2 {
  font-size: 20px;
  padding-bottom: 1em;
}

.featured-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 2em;
}

.featured-card {
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 7px;
}

.featured-card > img {
  width: 100%;
  border-top: 7px;
}

.featured-header {
  display: flex;
  justify-content: space-between;
}

.featured-category {
  background-color: #e9ecef;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.fa-heart {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.031372549);
  color: #2f89fc;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5em;
  transition: 0.3s all ease;
}
.fa-heart:hover {
  background-color: red;
  color: #fff;
}

.featured-card-bottom {
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 7px;
  padding: 20px;
  gap: 1em;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.featured-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.featured-info > h3 {
  color: #2f89fc;
  font-weight: 100;
  font-size: 17px;
}

.featured-address, .featured-stars > span {
  font-size: 13px;
  margin-bottom: 1rem;
}

.featured-arrows {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 2em;
}

/*populer categories */
.categories-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.categories-border {
  position: relative;
  width: 30%;
  height: 2px;
  background-color: #2f89fc;
  margin: 0 auto;
}

.categories-header > h2 {
  color: #2f89fc;
  font-weight: 700;
  font-size: 2rem;
}

.categories-header > p {
  color: rgba(0, 0, 0, 0.5);
}

.categories-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  gap: 2em;
  padding-bottom: 4em;
}

.categories-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.02em 1px;
  border-radius: 8px;
  gap: 1em;
  width: 130px;
}
.categories-card:hover {
  background: #2f89fc;
  box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
  z-index: 1;
  transform: scale(1.09);
  transition: 0.3s all ease-in-out;
}
.categories-card:hover .icon-car {
  color: #fff;
}
.categories-card:hover .categories-title {
  color: #fff;
}
.categories-card:hover .categories-number {
  color: #fff;
  background: #0362db;
}

.categories-card > .icon-car {
  color: #2f89fc;
  font-size: 45px;
}

.categories-card > .categories-title {
  text-align: center;
  color: #666666;
  font-size: 15px;
}

.categories-card > .categories-number {
  padding: 2px 20px;
  border-radius: 30px;
  background: #e9ecef;
}

/*# sourceMappingURL=style.css.map */
