$dark : #322c2c;
$light : #ffffff;
$info : #000000;
$primary : #54881c;
$secondary : #d1ff0b;
$success : #efefef;
$danger : #d9534f;
$warning : #f0ad4e;

$grid-gutter-width: 0;

$transition-collapse:         height .35s ease;
$transition-collapse-width:   width .35s ease;