.paragraf {
  color: orangered;
  font-size: 20px;
  text-align: center;
  background-color: purple;
}
#p1 {
  font-size: 30px;
  background-color: green;
}
#p2 {
  font-size: 40px;
  background-color: black;
}
