@mixin grid-layout($gap, $columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin font-layout($size, $family) {
    font-size: $size;
    font-family: &$family;
}

body{
    background-color: #f7edcc;
}

.container-fluid {
    width: 1340px;
}

a.navbar-brand {
    font-family: "DynaPuff", cursive;
    font-size: 46px;
    color: #a16efd;
    font-weight: 800px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary.justify-content-center {
    background-color: #f7e29e;
}

div#navbarSupportedContent {
    margin-left: 80px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    gap: 40px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
    gap: 40px;
}

form.d-flex {
    width: 500px;
}

button.btn.btn-outline-success {
    border-color: $success;
    color: $success;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #a688dd;
    border-color: #8771af;
}

div#navbarNavDropdown {
    justify-content: center;
}

ul.navbar-nav {
    gap: 100px;
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
    color:wheat       
}

.nav-item:hover{
    transition: transform 1s ease-in-out;
    transform-origin: 100% 50%;
    background: linear-gradient( #fdebb9, #e5c6fc);
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #e7def9;
}

.carousel-caption.d-none.d-md-block {
    background-color: #80808054;
    margin-bottom: 50px;
}

.carousel-inner{
    h5{
        font-size: 30px;
    }
}

section.kategoriler {
    background-color: #6f42c133;
}

h2 {
    font-size: 40px;
    font-family: 'Convergence', sans-serif;
}

.minicards {
    display: grid;
    justify-content: space-around;
    &:hover{
        box-shadow: rgba(77, 3, 80, 0.1) 0px 0px 10px;
        transform: translateY(-10px);
        cursor: pointer;
        background-color: #978ea8;
    }
}

.kategoriler-imgs {
    @include grid-layout(auto, 6);
    padding-bottom: 30px;
}

.urunler {
    .title {
    margin: 40px;
    border-bottom: 2px solid #978ea8;
    }
}

.title{
    padding: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Convergence', sans-serif;
}

.col {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    &:hover{
        box-shadow: rgba(77, 3, 80, 0.1) 0px 0px 10px;
        transform: translateY(-10px);
        cursor: pointer;
    }
}

.col-lg-6.mb-6 {
    justify-content: center;
    display: flex;
    margin-top: 200px;
}


h4 {
    font-size: 40px;
}

section.py-8.bg-light {
    margin-top: 80px;
    padding-top: 80px;
}

.card-body {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .row.row-cols-1.row-cols-md-4.g-2.justify-content-center{
        @include grid-layout(auto, 3);
        justify-items: center;
    }
}

@media screen and (max-width: 992px) {
    .kategoriler-imgs {
        display: grid;
        justify-content: space-evenly;
        padding-bottom: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .row.row-cols-1.row-cols-md-4.g-2.justify-content-center{
        @include grid-layout(auto, 2);
        justify-items: center;
    }
}

