.container-fluid {
    width: 1340px;
}

a.navbar-brand {
    font-family: "DynaPuff", cursive;
    font-size: 46px;
    color: #a16efd;
    font-weight: 800px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary.justify-content-center {
    background-color: #f7e29e;
}

div#navbarSupportedContent {
    margin-left: 100px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    gap: 40px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    gap: 40px;
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
}

form.d-flex {
    margin-left: 60px;
    width: 500px;
}

button.btn.btn-outline-success {
    border-color: $success;
    color: $success;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #a688dd;
    border-color: #8771af;
}

div#navbarNavDropdown {
    justify-content: center;
}

ul.navbar-nav {
    gap: 200px;
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
    color:wheat
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #e7def9;
}

.carousel-caption.d-none.d-md-block {
    background-color: #80808054;
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    font-family: 'Convergence', sans-serif;
}
