/*********************** Please use [camelCase] ****************************/

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* Roboto doesn`t provide semibold(600) font size anymore.500 is same  */
}
.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.colorBlue {
  background-color: #1b7596;
}
.textColorWhite {
  color: white;
}
.textColorBlue {
  color: #0076a3;
}
.textColorGray {
  color: rgba(255, 255, 255, 0.3);
}
.lightGray {
  background-color: #343f4b; /* Arkaplan ve birkac yerde */
}
.darkGray {
  background-color: #303841; /* Arkaplan ve birkac yerde */
}
.wrap {
  margin: 0 auto;
  width: 75%;
}
.button {
  background-image: linear-gradient(to right, #4495b5, #095471);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 19px;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
#header {
}
.navbar {
}
.navItem {
  padding: 0 1.5em;
  font-size: 13px;
  line-height: 20px;
}
.navButton {
  color: #3b434c;
  font-size: 13px;
  line-height: 20px;
  padding: 0.75em 2em;
  cursor: pointer;
}
.navContainer {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

/* Selim Eminoğlu--Features */

.featuresSection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.centerText {
  font-size: 16px;
  line-height: 22px;
}

.featuresText {
  flex-flow: column wrap;
}

.featureForText {
  font-size: 40px;
  line-height: 56px;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.featureParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  width: 55%;
  max-width: 650px;
  margin-top: 0px;
}

.featureButtons {
  justify-content: center;
  margin-top: 3rem;
  padding-top: 1rem;
}

.featureButtonList {
  flex-flow: row wrap;
}

.topButton {
  border: 1px solid #0076a3;
  background: linear-gradient(#2e8da5 0%, #114d64 100%);
  color: #fff;
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.25rem;
}

.topButton:hover {
  cursor: pointer;
}

.smartButton {
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 10px 30px;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 24px;
}

.smartButton:hover {
  cursor: pointer;
}

.featureThirdSection {
  margin: 1.5rem 12px;
}

.columnRule {
  height: auto;
  width: 60%;
  margin: 24px 0 0;
  padding: 8px 12px 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.firsFirstCard {
  margin-top: 1.5rem;
  flex-direction: column;
  text-align: right;
  margin-bottom: 1.5rem;
}

.thirFirstCard {
  margin-top: 1.5rem;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}

.firsHeadline {
  font-size: 20px;
  line-height: 28px;
}

.firsFirstText {
  font-size: 15px;
  line-height: 25px;
}

.firstİcon {
  background-color: rgba(0, 118, 163, 0.1);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  margin-left: auto;
}

.secondİcon {
  background-color: rgba(0, 118, 163, 0.1);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  margin-left: 0px;
}

.material-symbols-outlined {
  font: normal normal normal "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: auto;
}
/* Features Sonu */
/* What They Think Bölümü */
.clientText {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 8px;
}

.phoneİcon {
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: "FILL" 1, "opsz" 20, "GRAd" 0, "wght" 200;
}

.whatTheySection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.whatTheyParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  width: 33%;
  max-width: 650px;
  margin-top: 0px;
}

.whatTheyText {
  font-size: 27px;
  line-height: 38px;
  margin: 0 0 8px;
}
/* What they think Sonu */
/* Pricing Bölümü */
.pricing {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Pricing Sonu */
/* Application Bölümü */
.application {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Application Sonu */
