/*********************** Please use [camelCase] ****************************/

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* Roboto doesn`t provide semibold(600) font size anymore.500 is same  */
}
.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.colorBlue {
  background-color: #1b7596;
}
.textColorWhite {
  color: white;
}
.textColorBlue {
  color: #0076a3;
}
.textColorGray {
  color: rgba(255, 255, 255, 0.3);
}
.lightGray {
  background-color: #343f4b; /* Arkaplan ve birkac yerde */
}
.darkGray {
  background-color: #303841; /* Arkaplan ve birkac yerde */
}
.wrap {
  margin: 0 auto;
  width: 75%;
}
.button {
  background-image: linear-gradient(to right, #4495b5, #095471);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 19px;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
#header {
}
.navbar {
}
.navItem {
  padding: 0 1.5em;
  font-size: 13px;
  line-height: 20px;
}
.navButton {
  color: #3b434c;
  font-size: 13px;
  line-height: 20px;
  padding: 0.75em 2em;
  cursor: pointer;
}
.navContainer {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

/* Selim Eminoğlu--Features */

.featuresSection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.appTechText {
  font-size: 16px;
  line-height: 22px;
}

.featuresText {
  flex-flow: column wrap;
}

.featureForText {
  font-size: 40px;
  line-height: 56px;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.featureParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  width: 55%;
  max-width: 650px;
  margin-top: 0px;
}

.featureButtons {
  justify-content: center;
  margin-top: 3rem;
  padding-top: 1rem;
}

.featureButtonList {
  flex-flow: row wrap;
}

.topButton {
  border: 1px solid #0076a3;
  background: linear-gradient(#2e8da5 0%, #114d64 100%);
  color: #fff;
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.25rem;
}

.topButton:hover {
  cursor: pointer;
}

.smartButton {
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 10px 30px;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 24px;
}

.smartButton:hover {
  cursor: pointer;
}
