* {
  font-family: 'Nunito', sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
  background-color: #2a699c;
  padding: 0 20px;
  
}
header table {
 float: right;
 margin-top: 35px;
}
header h1 {
  color: #ffce18;
  font-size: 24pt;
  font-weight: 600;
  float: left;
  margin-top: 30px;
}

header a {
  padding: 1em 2em;
  border: 1px solid #ffce18;
  margin-bottom: 2em;
  color: #ffce18;
}
footer a{
  color: #ffce18;
}

a:hover {
  background-color: #ffce18;
  color: #2a699c;
}

ul li {
  margin: 30px;
}

main {
  background-color: #E2E2E2;
}

.clearfix {
  clear: both;
}
h3 {
  text-align: center;
  font-size: 20pt;
  margin-bottom: 10px;
}

.card {
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(61, 140, 181, 1) 70%);
  width: 20rem;
  height: auto;
  padding: 25px;
  padding-left: 0 20px;
  padding-right: 20px;
  border: 4px solid #ffd129;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #000;
  transition: all 0.3s ease;
  margin: 15px;
  box-shadow: 11px 13px 28px -6px rgba(1, 7, 74, 1);
}
.card:hover {
  transform: translateY(-10px);
}
.picture {
  overflow: hidden;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border: 4px solid #ffd129;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffd129;
  border-radius: 3px;
}

.name span {
  font-weight: 200;
  font-size: 16px;

}
.part1 {
  width: 30%;
  padding: 20px;
  float: left;
  margin-left: 20rem;
  
}
.part1 .card{
  float: right;
}
.part2 {
  float: right;
  width: 30%;
  padding: 20px;
  margin-right: 20rem;
}
.part2 .card{
  float: left;
}
footer {
 height: 150px ;
  background-color: #2a699c;
  padding: 30px;
  text-align: center;
}
.form{
  width: 300px;
}
iframe{
  width: 600px;
  margin-left: -160px;
  
}
input{
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 3px;
  width: 200px;
  border-radius: 6px;
  background-color: #E2E2E2;
}
input:focus{
  outline: none;
}
.CONTRIBUTORS {
 float: right;
}
.form{float: left;}
.submit{
  width: 100px;
}


