header{
    text-align: center;
    background-color: #8bcdcf;
    height: 41px;
}

nav{
    text-align: center;
    background-color: cornsilk;
    margin-top: -11px;
}
img{
    float: left;
    margin-right: 10px;
    padding: 10px;
}
.icerik{
    border: 1px solid black;
    height: 342px;
    background-color: #8bcdcf;
    border-radius: 17px;
}

.icerik p{
    padding-top: 10px;
    font-family: cursive;
}
footer{
    height: 60px;
    background-color:#e37b2a;
}
footer p{
    padding: 5px;
}