/* .borderRadius {
  border-radius: 50%;
} */

.bgImage {
  background-image: url("http://picsum.photos/800/800");
  width: 500px;
  height: 500px;
  background-position-y: center;
  background-position-x: center;
  background-size: cover; /* burası içinde bulunduğu div e göre boyutlandırıyor*/
  color: wheat;
}
