* {
  margin: 0;
  padding: 0;
}
h1,
form {
  padding: 10px;
}
#unordered-list {
  padding: 10px;
}
.listItem {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding-bottom: 10px;
  padding-top: 10px;
}
.listItem span {
  padding-left: 10px;
  text-transform: capitalize;
}
.done {
  color: rgb(0, 0, 0);
}
.done span {
  text-decoration: line-through wavy rgba(43, 255, 0, 0.459);
}
