* {
  margin: 0;
  padding: 0;
}
h1,
form {
  padding: 10px;
}
#unordered-list {
  padding: 10px;
}
.listItem {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding-bottom: 10px;
  padding-top: 10px;
}
.listItem h6 {
  padding-left: 10px;
  text-transform: capitalize;
  align-self: center;
}
.listItem span,
.listItem p {
  align-self: center;
}
.done {
  color: rgb(0, 0, 0);
}
.done h6 {
  text-decoration: line-through wavy rgb(43, 255, 0);
color: rgb(130, 129, 129);
}
.btn {
  background-color: transparent;
  border: none;
}
