* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #747457;
}
.bookCollection {
  background-image: url("./images/raf.jpg");
  background-size: cover;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 6em 2em;
  row-gap: 3em;
}
.cardItem {
  cursor: pointer;
  height: 305px;
  padding-top: 3em;
}

.bookImage {
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .bookCollection {
    background-size: cover;
    width: 100%;
  }
}
