.todo-card {
  margin: 2rem 0;
  border: 4px solid rgb(45, 184, 202);
  background: #283c86; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45a247,
    #283c86
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45a247,
    #283c86
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.edit-div {
  display: flex;
  flex-direction: column;
}

.edit-div input {
  height: 2rem;
  width: 75%;
  align-self: center;
}

.edit-div button {
  margin: 1rem 0;
  width: 50%;
  align-self: center;
}

.todo-headline h2 {
  font-size: 22pt;
  color: rgb(78, 5, 56);
}

.todo-delete {
  margin-bottom: 1rem;
}
