.paragraf{
  font-size: 24px;
}
.title {
  color: aqua;
}
@media only screen and (max-width: 768px) {
  .paragraf{
    font-size: 14px;
  }
  .title9{
    color: red;
  }
}
/* pseuedo classlar */
.link{
  font-size: 18px;
  text-decoration: none;
  color: orange;
}
.link:hover {
  color: rgb(197, 114, 5);
  text-decoration: underline;
}
.link:visited{
    color: greenyellow;
}
.link:active{
    color: aqua;
}
.listItem{
    link-stye-type:none;
    font-size: 18px;
    color: orange;
}

/* pseudo element */
.text1::first-letter{
    font-size: 38px;
}