* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

.container {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    background-color: gray;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    width: 100px;
    border: 1px solid black;
}

.box1 {
    order: 1;
}

.box2 {
    order: 2;
}

.box3 {
    order: 3;
}

@media only screen and(max-width:768px) {
    .box1 {
        order: 3;
    }

    .box2 {
        order: 1;
    }

    .box3 {
        order: 2;
    }
}

.outer {
    width: 200px;
    height: 200px;
    background-color: #73a164;
    position: relative;
    top: 0px;
    left: 0px;
}

.inner {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    top: 40px;
    right: 10px;

}