.detailWrap {
  border: 1px solid #ebeeef;
  border-radius: 20px;
  max-height: 600px;
}

.productImg {
  height: 500px;
}

.category {
  border: 1px solid #003459;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 6px 8px;
  border-radius: 12px;
  background: transparent;
  resize: none;
  color: #00171f;
}

.title {
  border: 0;
  font-size: 24px;
  background: transparent;
  color: #00171f;
  resize: none;
}

.description {
  border: 0;
  background: transparent;
  resize: none;
  height: 80px;
}

.stock {
  border: 0;
  background: transparent;
  resize: none;
  width: 42px;
}

.price {
  border: 0;
  background: transparent;
  resize: none;
  color: #008000;
  text-align: end;
  width: 42px;
}

.counter-wrapper {
  display: flex;
  gap: 12px;
}

.counter {
  display: flex;
  max-width: min-content;
  align-items: center;
  height: 100%;
}

.count-button {
  background-color: transparent;
  border: 1px solid #003459;
  border-radius: 0;
  width: 40px;
  height: 100%;
  transition: all 0.3s ease-out;
}

.dec {
  border-radius: 25% 0 0 25%;
}

.inc {
  border-radius: 0 25% 25% 0;
}

.count-button:hover {
  background-color: #003459;
  color: white;
}

.count-button:disabled {
  background-color: gainsboro;
  color: #ebeeef;
}

.input {
  width: 50px;
  height: 100%;
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: 1px solid #003459;
  border-bottom: 1px solid #003459;
}

.save {
  border: 1px solid black;
  background: #28a745;
  color: white;
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

.save:hover {
  background: #1f8637;
}

@media screen and (max-width: 992px) {
  .detailWrap {
    max-height: 100%;
  }
}
