* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head1 {
    font-size: 20pt;
}

.paragraf {
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #f00;
    padding: 20px 30px;
}

.inBox {
    width: 100px;
    height: 100px;
    background-color: #0f0;
    margin: 20px 30px;
    border: 5px solid #449;
    border-radius: 50%;
}

/* .box {
    width: 300px;
    height: 300px;
    background-color: #f00;
    border: 1px solid #449;
  }
  .inBox {
    width: 100px;
    height: 100px;
    background-color: #0f0;
    margin: 30px;
  } */