*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* px ve pt(font için) yani punto arasında fark var*/
.head1{
    font-size: 20pt;
}
/* relative olanlar ; en , rem, ex vb. */
.paragraph{
    font-size:12pt;
    font-weight:600 ;
    text-align : center;
}
/*bazı yazı stilleri için farklı weightler olabiliyor.. google fonts bkz.*/
/*yazının hizalanması için text-align: center*/

.box{
    width:400px;
    height: 600px;
    background-color: rgb(222, 216, 210);
    padding: 20px 30px ; /*20 alttan üstten , 30 sağdan soldan*/
    border: 2px solid #252525;
    margin: 20px;
    border-radius: 2%;
}
.inbox{
    width:120px;
    height: 120px;
    background-color:  rgb(71, 70, 68);
    margin:20px 20px ; /*20 alttan üstten , 30 sağdan soldan*/
    border: 3px dashed #252525;
    border-radius: 50%;
}
.paragraph2{
    margin-top:20px;
}