* {
    list-style: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: ghostwhite;
    
  }
  
  a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: black;
  }
  // Navbar
  .navbar-nav > li > a {
    color: black;
    
  } 
  header{
    z-index: 50;
  }
  header img{
    height: 50px;
  }
  .collapse{
    .navbar-nav{  background-color: white;
      z-index: 200;
        .nav-item{
          &:hover{
            color: blue($color: $primary)
          }
        }
      }
  }
 
  .carousel{
    margin: 100px 100px; 
  }
  .card img{
    padding: 10px 5px;
  }
  .btn-primary{
    margin: 0 60px;
    padding: 5px 40px;
  }
  .footer{
    padding-top: 50px;
  }
