body{
  background: rgb(25,26,96);
  background: linear-gradient(45deg, rgba(15,15,55,1) 10%, rgba(33,37,40,1) 87%);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.card {
  transition: all .3s ease-in-out;
}

.card:hover{
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.75) !important;
}

#movieList a {
  color: #333333;
  transition: all .3s ease-in-out;
}

#movieList a:hover {
  color: rgb(208, 106, 17);
}