* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

@mixin btn($borderRadius, $pX, $pY) {
  a {
    padding: $pX $pY;
    border-radius: $borderRadius;
    color: white;
    background: linear-gradient(to right, #ff5195, #ffb84b);
    text-decoration: none;

    &:hover {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.2),
          transparent
        );
        transform: rotate(45deg);
        animation: shine 2s infinite;
      }
    }

    @keyframes shine {
      from {
        transform: translateX(-150%) rotate(45deg);
      }

      to {
        transform: translateX(150%) rotate(45deg);
      }
    }
  }
}

@mixin d-flex($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

@mixin sectionMix($flexDir, $just, $align) {
  @include d-flex($just, $align);
  flex-direction: $flexDir;
  flex-wrap: wrap;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.lab-btn {
  @include btn(5px, 16px, 24px);
  margin-top: 32px;
  font-weight: 700;
}

.section {
  @include sectionMix(row-reverse, center, center);

  .left,
  .right {
    width: 500px;
  }
}
