.link{
    font-size: 18px;
    text-decoration: none;
    color: rgb(242, 116, 13);
  }
  
  .link:visited{
    color: rgb(46, 24, 145);
  }
  
  .link:hover{
    color: rgb(87, 30, 5);
  }
  
  .link:active{
    color: rgb(13, 242, 242);
  }
  .paragraf{
    font-size: 24px;
  }
  .title1{
    color: rgb(224, 42, 154);
  }
  
  @media screen and (max-width: 768px) {
    .paragraf{
      font-size: 14px;
    }
    .title1{
      color: red;
    }
  }