/* Pseudo Element */
.text1::first-letter{
    font-size: 30px;
  }
  
  .text1::first-line{
    color: orangered;
  }
  
  .text1::after {
    content: "Bu sonrasına gelen bir yazıdır"
  }
  .text1::before {
    content: "Bu öncesine gelen bir yazıdır"
  }