* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  line-height: 1.4;
  transition: all 0.5s ease;
  text-decoration: none !important;
  list-style: none;
  list-style-type: none;
  font-size: 12px;
  // margin: 0;
  // padding: 0;
}
section{
  padding: 120px 0;
}
.container-head {
  max-width: 1650px !important;
  margin: 0 auto;
}
.seciton-title{
  margin-bottom: 75px;
  p{
    max-width: 570px;
  }
 
}
h2{
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 600;
}
p{
  font-size: 14px;
}
.pur-btn {
  border-radius: inherit;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}
.active{
  color: #6247EA !important;
}
.nav-link{
  margin-right: 25px;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
.banner{
  padding: 225px 0;
  .banner-btn{
    padding: 0px 50px;
    line-height: 50px;
    background: #ec9d5f;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    transition: all 300ms linear 0s;
    &:hover{
      color:#6247EA ;
    }
  }
  h2{
    margin: 20px 0 15px;
  }
  p{
     margin: 0 0 35px;
     max-width: 405px;
  }
}
.features-area{
  .card-body{
    padding: 60px 20px 60px 30px;
  }
}
