.details h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #00171f;
    text-align: left;
}

.details h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #002A48;
    text-align: left;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.quantity input {
    width: 50px;
    height: 50px;
    border: 1px solid #002A48;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    color: #002A48;
}

.quantity button {
    width: 50px;
    height: 50px;
    border: 1px solid #002A48;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    color: #002A48;
    background-color: transparent;
}

.titles p, .features p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #667479;
    text-align: left;
}