.bgimage {
    border-radius: 10px;
    background-image: url("https://picsum.photos/500/500");
    width: 500px;
    height: 500px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}