*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2{
    font-size: 20px;
  }
  
  p{
    font-size: 14px;
  }
  
  .container{
    width: 70%;
    height: 400px;
    margin: 0 auto;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .box{
    width: 200px;
    border: 1px solid black;
  }
  
  .box1{
    order: 1
  }
  
  .box2{
    order: 2
  }
  
  .box3{
    order: 3
  }
  
  @media screen and (max-width: 800px) {
    .box1 {
        order: 2
      }
    
      .box2 {
        order: 3
      }
    
      .box3 {
        order: 1
      }
  }