*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none !important;
	text-decoration: none !important;
}

.content-banner{color: #ffffff;
background-image: url(https://wallpaperaccess.com/full/815652.jpg);
min-height:400px;
background-position: center center;
background-size: cover;
padding-top: 225px;
}

.content-banner .first-title{font-size: 44px;
font-weight: 400;
line-height: 1.2;
position: relative;
z-index: 2;
margin:0px 0px 12px;}

.content-banner .banner-des{font-size: 12px;
line-height: 150%;
letter-spacing: 0;
position: relative;
z-index: 2;
font-weight: 400;
margin-top: 0;}

.banner-btn{padding:0 34px;
z-index: 1;
margin:30px auto 25px;
line-height: 56px;
position: relative;
border-radius: 6px;
height:56px;
font-size: 16px;
background-color: #fe4066;
display: inline-block;
color: #ffffff;
transition: 0.3s;
text-align: center;

}

.banner-btn:hover{text-decoration: none;
color:#fe4066 !important;
background-color:white; }


.header{position: relative;
width: 100%;
}

.header-inner{position: absolute;
top: 0;
left: 0;
width:100%;
z-index: 99;
background-color: rgba(128, 128, 128, 0.388);

}

.logo{color:#ffffff;
}

.nav-item .nav-link{
line-height: 36px;
font-size: 16px;
font-weight: 500;
transition: 0.15s;}

.nav-item .nav-link:hover{color: #FE4066 !important;}

.header-btn{
border-radius: 30px;
transition: 0.5s;
}

.header-btn:hover{
background: #ef133f !important;
color: #ffffff !important;
cursor: pointer;}

.navbar-scroll{background-color: #ffffff;
padding: 0;
position: fixed;
border-bottom: 5px dashed rgb(198, 198, 3);
top:0;
z-index: 99;
box-shadow:0px 1px 10px rgba(0,0,0,0.4);
transition: 1s all ease-in;}

.navbar-scroll .nav-item .nav-link{color: black !important;
}

.navbar-scroll .header-btn{color: #ffffff;
background-color: #fe4066;
}

.navbar-scroll .logo{
color: #000 !important;
font-weight: 500;
}

footer {
	border-top: 7px dashed yellow;
	background-image: url(https://images4.alphacoders.com/843/84316.jpg);
min-height:400px;
background-position: center center;
background-size: cover;

	}
	footer h3 {
	font-size: 24px;
	letter-spacing: 1px;
	}
	footer h4 {
	font-size: 20px;
	letter-spacing: 1px;
	display: inline-block;
	margin-bottom: 2px;
	}
	footer a {
		color: #FFFFFF;
	}
	footer a:hover {
	color: yellow !important;
	}
	.footer-title {
	border-bottom: 2px solid yellow;
	padding-bottom: 25px;
	margin-bottom: 35px;
	}
	ul.footer-social i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 30px;
	font-size: 16px;
	transition: all 0.5s;
	font-weight: 800;
	}
	ul.footer-social i:hover {
	background: #1b1b1b !important;
	color: #ef133f !important;
	}
	
	.open-hour{
		padding-bottom: 20px !important;
	}
	.text-hover::after {
			content: "";
			display: block;
			width: 0;
			height: 3px;
			background: #ef133f;
			transition: width 0.3s;
		}
		.text-hover:hover::after {
			width: 25%;
		}
		.card-img-top {
			max-height: 100%;
			}

		.card-deck{
			gap: 50px;
			
		
			
		}
		.card{
			max-height: 100px !important;
			max-width: 80px !important;
			box-shadow: 10px 0 0px 3px rgba(252, 252, 252, 0.1),17px 0 0px 3px rgba(255, 255, 255, 0.1),22px 0 0px 3px rgba(253, 253, 253, 0.1),26px 0 0px 3px rgba(255, 255, 255, 0.1),29px 0 0px 3px rgba(0,0,0,0.1) !important;
			
			
		}

		.card-title{
			font-size: 12px !important;
			
		}

	body{
		background-color: #1b1b1b;
	}
	main{
		min-height: 800px;
	}
	.shelf{
		position: absolute;
		z-index: -1;
		top: 260px;
		left: -60px;
		width: 100%;
	}

	.dragon{
		position: absolute;
		
		top: 520px;
		right: 70px;
		width: 10%;
	animation: fly 4s infinite;}

	@keyframes fly {
		0% {top: 450px;}
		20% {right: 100px;}
		40% {top: 500px;}
		60% {right: 200px;}
		80% {right: 100px;}
		100% {top: 450px;}
		
	}

	.filters{
		gap: 20px;
	}

		.modal-content{
			background: rgba(255, 255, 255, 0.4);
box-shadow: 0 8px 32px 0 rgba(194, 195, 209, 0.37);
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

		}
	




@media only screen and (max-width:992px){
	.header-inner{background-color: white!important;
	}
	.nav-item > .nav-link{
		color: black!important}
		.logo{color: #000 !important;
			font-weight: 600!important;}
			.content-banner .first-title{font-size: 30px !important;
			}

			.shelf{display: none;}
			.dragon{display: none;}
			.card{display: flex;
			margin: 0 auto !important;}

			.filters{
				display: block !important;
				margin: 0 0 20px 20px !important;
			}
}
