$danger: #3B0918;
$warning: #EBEBE8;
$primary: #132F70;
$dark: #0B2840;

$card-bg: rgba(157, 152, 152, 0.25);
$border-color-translucent: rgba(
  $color: $warning,
  $alpha: 0.5,
);

$modal-header-padding-y: 3rem;
$modal-content-bg: rgba(255, 255, 255, 0.6);
$modal-content-color: #000;

$accordion-bg: rgba(255, 255, 255, 0.25);
