section.footer {
    background-color: #373b54;
    color: white;
}

.footer-container {
    /*max-width: 1100px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-column-gap: 25px; */
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 15px;
grid-row-gap: 30px;
}


.logotext {
    display: grid;
    justify-content: start;
    align-content: space-around;
}

p.paragraph {
    /* border: 1px; */
    text-align: center;
}

.minifooter {
    grid-template-rows: minmax(15px, min-content);
    display: grid;
}

button {
    border-block-color: orange;
    color: white;
    background-color: orange;
    width: 340px;
}

input#Email {
    width: 330px;
    margin-bottom: 15px;
}


    
   

   