section.footer {
    background-color: #373b54;
    color: white;
    font-family: sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    margin-left: 70px;
}

.logotext {
    display: grid;
    justify-content: start;
    align-content: space-around;
}

p.paragraph {
    /* border: 1px; */
    text-align: center;
}

.minifooter {
    grid-template-rows: minmax(15px, min-content);
    display: grid;
}

button {
    border-block-color: orange;
    color: white;
    background-color: orange;
    width: 335px;
    height: 25px;
    margin-top: 10px;
}

input#email {
    width: 20rem;
    border: 1px solid #dee2e6;
    font-size: 12px;
    /* border-radius: 6px; */
    padding: 0.3rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* size: 20px; */
}

.links-list {
    list-style: none
}

    
   

   