.container {
    display: grid;
    height: 600px;
    background-color: gray;
    gap: 5px;
    grid-template-areas: 
    "header header header"
    "sidebar section section"
    "sidebar . ."
    "box-1 box-1 box-1"
    "footer footer footer"
}

.header {
    grid-area: header;
    background-color:  orange;
    padding: 20px;
}
.section {
    grid-area: section;
    background-color:  rgb(16, 185, 25);
    padding: 20px;
}
.sidebar {
    grid-area: sidebar;
    background-color:  rgb(173, 39, 30);
    padding: 20px;
}
.footer {
    grid-area: footer;
    background-color:  rgb(100, 18, 100);
    padding: 20px;
}
.box-1 {
    grid-area: box-1;
    background-color:  rgb(10, 156, 100);
    padding: 20px;
}