$primary: #E8A965;
$secondary: #EFF3FF;
$warning: #5E38A4;

$navbar-light-active-color: $primary;
$navbar-light-color: #000000;
$navbar-light-hover-color: $primary;
$nav-link-font-size: .95rem;
$nav-link-font-weight: 500;
$nav-dropdown-hover-color: $primary;

$font-size-base: 1rem;
$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: $font-size-base * 0.85,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 7,
);