a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.iconDiv {
  width: 75px;
  height: 60px;
}

.trousersOne {
  margin-top: 37.5%;
}

.topSection {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.8)
  ), url("../images/bgSection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.aboutUs {
  @extend .topSection;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.6)
  ), url("../images/bgaboutus.png");
}