.profileDiv {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 35rem;
}

.profilePictureDiv {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvyUo5k42h97DYqo_EYF5K5iXL3moSjitJ6A&usqp=CAU");
  background-position: center;
}

.profilePic {
  position: relative;
  top: 5rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 8rem;
  margin-top: 1rem;
}

.profileState {
  margin-top: 6rem;
}

.nameH1 {
  min-height: 2rem;
  font-size: 20pt !important;
}

h3 {
  font-size: 18pt;
}

.pText {
  min-height: 2rem;
  font-size: 14pt;
  margin-bottom: 0;
}
