.profileDiv {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 30rem;
}

.profilePic {
  border: 1px solid black;
  border-radius: 50%;
  width: 8rem;
  margin-top: 1rem;
}

h1 {
  font-size: 20pt !important;
}

h3 {
  font-size: 18pt;
}

p {
  font-size: 14pt;
}
