.extbutton {
 font-weight: 600;
 font-size: 15px;
 border-radius: 5px;
 padding: 1em 1.5em;
 align-items: center;
 color: $white;
 background: $primary-gradient;
 cursor: pointer;
 &:hover {
  background: $primary-hover-gradient;
 }
}
.extheader {
 text-align: center;
 padding-bottom: 3em;
 h3 {
  @include font-full(24px, 600, 1.3em);
 }
 p {
  margin-top: 1em;
  @include font-full(15px, 400, 1.4em);
  color: #696969;
 }
}
