.d-none {
  display: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: url(./assets/bg.jpg);
}

nav {
  font-size: 24px;
  background: #000000aa;
  box-shadow: 0 0.5px 0.5px 0.5px rgba(6, 128, 52, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-body input {
  width: 100%;
}

.inputWrap{
  justify-content: space-between;
}

.cardWrap{
  transition: all .5s ease;
  background: #00000052;
  color: white;
}
.cardWrap:hover{
  box-shadow: 0 5px 15px -2px rgba(3, 87, 146, 0.326);
}

.card-item{
  transition: all .5s ease;
}
.book-title{
 color:#67820D;
}

.card-item:hover{
  box-shadow: 15px 15px 15px -2px rgba(202, 206, 209, 0.553);
  transform: translateY(-10px);
}

.addbtn{
  background-color: #67820D;
  color : white;
}

.addbtn:hover{
  background-color: #a1b952;
  color : white;
}

.mobile{
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}
