@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-full($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin absolute-full($top, $bottom, $left, $right) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
@mixin font-full($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
