/* Error: Expected identifier.
 *    ,
 * 46 |     @include;
 *    |             ^
 *    '
 *   sass/main.scss 46:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 46 \2502      @include;\a    \2502              ^\a    \2575 \a   sass/main.scss 46:10  root stylesheet";
}
