table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 30px;
}
table{
    margin: auto;
}
thead{
    background-color: rgb(23, 166, 23);
}
tr:nth-child(even){
    background-color: rgb(209, 200, 200);
}
tr:hover{
    cursor: pointer;
    background-color: rgb(153, 146, 146);
}