$bgColor: red;
$x150: 150px;
$x100: 100px;


@mixin boxFunction($color, $w, $h) {
    background-color: $color;
    width: $w;
    height: $h;
}

.container {
    display: flex;

    &:hover {
        background-color: green;
    }

    .box1 {
        @include boxFunction($bgColor, $x150, $x100);
    }

    .box2 {
        @include boxFunction(orange, $x150, $x100*2);
    }

    .box3{
        @extend .box1;
        width:300px;
    }

    .box4 {
        @include boxFunction($bgColor, $x150, $x100*4);

        &.deneme {
            background-color: blue;
        }
    }
}