*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    transition: all 0.5s ease;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
html{
    font-size: 10px;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.8rem;
}
button{
    font-size: 1.8rem;
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: orangered;
    color: aliceblue;
}
section{
    padding: 5rem 0;
}
.section-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.nav-menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-menu ul li{
    margin: 0 1rem;
    font-size: 2rem;
}
.nav-icon{
    display:flex;
}
.social{
    font-size: 2rem;
    padding: 1rem;
}
.nav-logo img{
    width: 100px;
    margin-left: 3rem;
}
.home{
    background: url("https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1618602622635-4LFSCPXPMK8MOR64BC2N/cars_trip.jpg");
    background-size: cover;
    background-position: center;
    height: 50rem;
}
.home .section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-title{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 2rem;
    color: aliceblue;
}
.button{
    padding: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    width: 12%;
    border-radius: 40%;
    text-align: center;
}