* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}

.feature-big h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.pl-lg-5 {
  padding-left: 3rem;
}
@media screen and (max-width: 992px) {
  .pl-lg-5 {
    padding-left: 15px;
  }
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.author-box {
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #eee;
  border-left-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 1px;
  border-left: 10px solid #4285f4;
}
.author-box img {
  max-width: 50px;
}
.author-box :last-child {
  margin-bottom: 0;
}
.author-box blockquote {
  font-style: italic;
}

.section-title {
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.ul-check.success li::before {
  color: #8bc34a;
}
.ul-check li::before {
  left: 0;
  font-size: 20px;
  top: -0.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}

.btn.btn-primary {
  border-width: 2px;
  background: #4285f4;
  border-color: #4285f4;
  color: #fff;
  position: relative;
  top: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
  box-shadow: 0 4px 20px -5px rgba(66, 133, 244, 0.4);
}

.btn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}
.person {
  position: relative;
}
.person .bio-img {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.person h2 {
  font-size: 18px;
}
.sub-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 700;
  color: #4285f4;
  margin-bottom: 10px;
}

.person figure {
  position: relative;
  margin-bottom: 0;
}
.person figure::before {
  display: none;
  position: absolute;
  content: "";
  z-index: 1;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #4285f4;
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease;
}
.person .bio-img img {
  position: relative;
  transition: 0.3s all ease-in-out;
  transform: scale(1);
}
.person .bio-img .social {
  z-index: 2;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0%;
  transform: translateY(100%);
  left: 0;
  transition: 0.3s all ease;
  background: #4285f4;
}
.person .bio-img .social a {
  display: inline-block;
  padding: 5px;
  color: #fff;
}
.icon-facebook:before {
  content: "\f09a";
}

/* dfhdrhyer */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel.owl-drag .owl-item {
  user-select: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.testimonial {
  max-width: 800px;
  margin: 0 auto !important;
  text-align: center;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.testimonial figure img {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.testimonial blockquote {
  font-size: 1.5rem;
  font-style: italic;
}
