
.questions{
    @include sectionPadding(30px);
    .questions-inner{
        @include innerStyle();



        .questions-info{
            display: grid;
            gap: 20px;
            p{
                font-size: 20px;
                color: $text-color;
            }
        }
    }

}