body{
  margin: 0;
  padding: 0;
}
.wrap{
  width: 980px;
  margin: 0 auto;
}
.header{
  height: 150px;
  margin-bottom: 10px;
  background-color: #cecece;
}
.content{
  width: 690px;
  height: 600px;
  background-color: #cecece;
  float: left;
}
.sidebar{
  width: 250px;
  height: 600px;
  background-color: #cecece;
  float: right;
}
.footer{
  height: 100px;
  background-color: #cecece;
  margin-top: 10px;
}
.clear{
  clear: both;
  
}