*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container{
    padding: 0 80px;
}

.nav-container{
    display: grid;
    grid-template-columns: 20% 50% 20% 10%; 
    gap: 15;  
    align-items: center;
    padding: 20px 100px;
}

.menu ul{
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 10px;
}

.nav-button{
    display: grid;
    justify-content: center;
}

nav{
    display: grid;
    grid-template-columns: 90% 10%;
}

.hamburger-ikon{
    font-size: 25px;
}
.nav-button button{
    border-radius: 50px;
    padding: 15px;
    font-size: 15px;
}





