.table1 {
  display: flex;
  margin: auto auto;
  width: 400px;
  align-items: center;
  justify-content: center;
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}

.env {
  width: 400px;
  height: 200px;
}

thead {
  background-color: rgb(60, 159, 216);
  height: 50px;
}

.items:nth-child(even) {
  background-color: rgb(19, 94, 47);
}

.items:hover {
  background-color: rgb(72, 80, 85);
}
