.signUpForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #003459;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #4a5568;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 100%;
}

.signUpForm label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.signUpForm input {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
}

.signUpForm input::placeholder {
  color: lightgray;
}

.signUpForm input:focus {
  border-color: lightblue;
}

.signUpForm button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: rgb(112, 164, 181);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.signUpForm .input-error {
  border-color: rgb(180, 91, 106);
}

.signUpForm .error {
  color: rgb(180, 91, 106);
  font-size: 12px;
  text-align: left;
}
