.static-img-main {
  height: 595px;
}

@media screen and (max-width: 992px) {
  .static-img-main {
    height: 263px;
  }
}

@media screen and (max-width: 768px) {
  .static-img-main {
    height: 304px;
  }
}

@media screen and (max-width: 600px) {
  .static-img-main {
    height: 357px;
  }
}
