.static-img {
  padding-top: 0px;
  height: 545px;
}

@media screen and (max-width: 992px) {
  .static-img {
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .static-img {
    height: 240px;
  }
}

@media screen and (max-width: 768px) {
  .static-img {
    height: 330px;
  }
}

@media screen and (max-width: 600px) {
  .static-img {
    height: 372px;
  }
}

@media screen and (max-width: 507px) {
  .static-img {
    height: 355px;
  }
}

@media screen and (max-width: 480px) {
  .static-img {
    height: 392px;
  }
}

@media screen and (max-width: 467px) {
  .static-img {
    height: 375px;
  }
}

@media screen and (max-width: 368px) {
  .static-img {
    height: 350px;
  }
}
