.static-img-category {
  height: 300px;
  margin-top: 115px;
}

@media screen and (max-width: 1200px) {
  .static-img-category {
    margin-top: 236px;
  }
}

@media screen and (max-width: 992px) {
  .static-img-category {
    margin-top: -50px;
  }
}
