.paragraf{
    color: rgb(40, 154, 247);
    font-size: 20px;
    text-align: left;
    background-color: rgba(220, 211, 211, 0.601);
}
#p1{
    color: rgb(40, 154, 247);
    font-size: 10px;
    text-align: left;
    background-color: rgba(162, 151, 151, 0.601);
}
#p2{
    color: rgb(40, 154, 247);
    font-size: 30px;
    text-align: left;
    background-color: rgba(255, 244, 244, 0.601);
}
