@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$color-primary: #007aff;
$color-secondary: #ff4d4d;
$color-tertiary: #26d3c3;
$color-accent: #ffae00;
$color-dark: #333333;
$color-light: #f7f7f7;
$color-white: #ffffff;
$color-black: #000000;

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #696969;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

// Flexbox için bir mixin tanımlıyoruz
// varsayılan değerlerle birlikte $justify-content, $align-items, $flex-direction ve $flex-wrap değişkenleri kullanılabilir
@mixin flexbox($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

// Grid için bir mixin tanımlıyoruz
// $gap ve $columns değişkenleri kullanılabilir
@mixin grid-layout($gap, $columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Düğmeler için bir mixin tanımlıyoruz
// $width değişkeni kullanılabilir
@mixin button-gradient($width) {
  @include flexbox(center, center, row, nowrap);
  background: linear-gradient(to right, #ff5195, #ffb84b);
  padding: 18px 23px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 24px;
  width: $width;

  a {
    color: #fff;
  }
}

//posshape
@mixin pos-shape {
  position: absolute;
  content: "";
}

// Resim ve metinlerin yerleştirildiği alanlar için bir mixin tanımlıyoruz
// $img-order, $content-order, $p-max-width, $gap ve $columns değişkenleri kullanılabilir
@mixin content-layout($img-order, $content-order, $p-max-width, $gap, $columns) {
  @include grid-layout($gap, $columns);

  img {
    width: 100%;
    padding: 0 12px;
  }

  .content {
    @include flexbox(center, flex-start, column, nowrap);
    order: $content-order;
    padding: 0 32px;

    .content-title {
      border-bottom: 1px solid #ecf0f3;

      h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
      }

      p {
        max-width: $p-max-width;
        margin: 0 0 15px;
      }
    }
  }

  .image-area {
    order: $img-order;
  }
}

.container {
  width: 1140px;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

//Header 
header {
  margin-top: 20px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header-btn {
  @include button-gradient(171px);
}

.primary-menu {
  @include flexbox(space-between, center, row, nowrap);

  .main-area {
    @include flexbox(center, center, row, nowrap);
  }
}

.main-menu {
  @include flexbox(center, center, row, nowrap);

  ul {
    @include flexbox(center, center, row, nowrap);
    gap: 20px;

    li {
      margin-right: 16px;

      a {
        @include flexbox(center, center, row, nowrap);
        color: black;
      }
    }
  }
}

//banner section
.banner-section {
  background-color: #f9f2ff;
  padding: 265px 0 190px;
  position: relative;
  overflow: hidden;

  .banner-title{
    display: flex;
  }
  .banner-image{
    flex: 0 0 auto;
    width: 50%;
    
    .th-shape{
      @include pos-shape;
      overflow: hidden;
      border-radius: 3px;
    }

    .shape-1{
      right: -10%;
      top: 23%;
      animation: lab_sideeffect 15s linear infinite;
    }

    .shape-2{
      right:-40%;
      top: 0;
      animation: lab_zoomin 5s linear infinite;
    }

    .shape-3{
      left: 40%;
      bottom: 0;
      animation: lab_run_top_y 5s linear infinite;
    }

    .banner-thumb{
      margin-right: -120px;
      text-align: center;
      position: relative;
      img{
        vertical-align: middle;
        height: auto;
        max-width: none;
      }
    }
  }
  .banner-header {
    position: relative;
    @extend .banner-image;

    h2 {
      font-size: 60px;
      line-height: 72px;
      color: black;
    }
  }
}

// Animations
@keyframes lab_sideeffect {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateX(-60px);
  }
  50% {
      transform: translateY(-60px);
  }
  75% {
      transform: translateX(-60px);
  }
  100% {
      transform: translateY(0px);
  }
}

@keyframes lab_zoomin {
  0% {
      transform: translateY(-20px) translateX(0px);
  }
  50% {
      transform: translateY(0px) translateX(-20px);
  }
  100% {
      transform: translateY(-20px) translateX(0px);
  }
}

@keyframes lab_run_top_y {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0px);
  }
}



.site-paragraph {
  margin: 15px 0 30px;
}

.pos-banner-shape {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include pos-shape;


  .pos-shape-1 {
    left: -22%;
    @include pos-shape;
  }

  .pos-shape-2 {
    @include pos-shape;
    right: -5%;
    img {
      vertical-align: middle;
      height: auto;
      max-width: 100%;
    }
  }
}


.section-area {
  @include flexbox(center, center, row, wrap);
  padding: 110px 0 95px;
}

.right-image-section {
  @include content-layout(2, 1, 450px, 20px, 2);
}

.left-image-section {
  @include content-layout(1, 2, 450px, 20px, 2);
}

.features-list {
  width: 100%;

  ul {
    padding-top: 30px;
    @include grid-layout(20px, 2);
    margin: 0 0 40px;

    i {
      margin-right: 5px;
    }
  }
}

.navbar-btn {
  @include button-gradient(132px);
  overflow: hidden;
}




@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .right-image-section {
    @include content-layout(1, 2, 100%, 20px, 1);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}