.searchDiv {
  width: 1280px;
}

.searchInput {
  width: 60%;
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 7px 15px;
  margin-right: 10px;
}

.searchButton {
  background-color: #929292;
  border-radius: 12px;
  padding: 10px 30px;
  cursor: pointer;
  border: #e6e6e6;
  color: #FFFFFF;
  font-size: .9rem;
}

@media screen and (max-width: 768px) {
  
  .searchDiv {
    width: 100%;
  }
  .searchInput {
    width: 50%;
  }
}