$primary: #FEE39F;
$secondary: #fff;



$navbar-light-hover-color: ($primary);
$navbar-light-active-color: ($primary);
$navbar-light-color: (black);

$dropdown-link-hover-color: ($secondary);
$dropdown-link-hover-bg: ($primary);
$offcanvas-horizontal-width: 320px;
$zindex-modal-backdrop: 1;
$modal-backdrop-bg: transparent;
$modal-backdrop-opacity: 0.5;

