*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 10px;
} */

/* #tahir{
    font-size: 10px;
} */

/* section-t-a*/

#section-t-a{
    width: 100%;
   
}

.bgimage{
    background-image: url("https://demo.theme-sky.com/druco/wp-content/uploads/2022/08/banner-3.jpg");
    width: 100%;
    height: 300px;
    background-position-x: center;
    display: flex;
    justify-content: center;
}
.bgimage-text-container{
    width: 90%;
    height: 250px;
    
}
.bgimage-text-container h1{
    color: rgb(233, 171, 13);
    font-size: 76px;
    padding-top: 15px;
}
.bgimage-text-container p{
    color: orangered;
    font-size: 20px;
    color:white
}
.yuzde-deger{
    color: rgb(233, 171, 13);
}

/* section-t-b*/

#section-t-b{
    width: 100%;
    height:auto;
    background-color: white;
    text-align: center;
}

.section-t-b-container h1{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.section-t-b-container-2{
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    padding: 15px 0px;

}

.image-container{
    width: 45%;
    height: 580px;
    border: 1px solid gray;
    border-radius: 10px;
}
.image-container img{
    width: 100%;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.image-container ul{
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px;
}
.image-container h3{
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.image-container p{
    text-align: left;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}
.btn-read-more{
    font-size: 15px;
    background-color: rgba(255,185,31,1);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 44px;
    padding: 10px 20px 10px 20px;
    display: flex;
    margin-left: 20px;
    justify-content: left;
}

.btn-read-more:hover{
    color: rgba(255,185,31,1);
    background: rgba(32,32,32,1);
}

.container-2-card{
    width: 45%;
    height: 580px;
    display: flex;
    flex-direction: column;

}

.card{
    padding-left: 35px;
}


.card ul{
    list-style-type: none;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 12px;
}
.card h3{
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.card h3:hover{
    color: rgba(255,185,31,1);
}

.card p{
    text-align: left;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

/* section-t-c*/

.c-bgimage{
    background-image: url("https://demo.theme-sky.com/druco/wp-content/uploads/2022/08/home-about.jpg");
    width: 100%;
    height: 530px;
    background-position-x: center;
}
.c-bgimage-metin-conteiner{
    text-align: center;
    padding-top: 70px;
}
.c-bgimage-metin-conteiner h3{
    color: white;
    font-size: 20px;
}
.c-bgimage-metin-conteiner h1{
    color: white;
    font-size: 60px;
}

.c-bgimage-icon-conteiner{
    display: flex;
    justify-content: space-around;

}
.iconbox{
    text-align: center;
    padding-top: 50px;
}
.iconbox img{
    width: 35%;
}

.iconbox h2{
    color: rgba(255,185,31,1);
    font-size: 30px;
}
.iconbox p{
    color: white;
    font-size: 20px;
}

/* section-t-d*/

#section-t-d{
    width: 100%;
    height:auto;
    background-color: white;
    text-align: center;
}
.t-d-metin h1{
    font-size: 40px;
    padding-top: 70px;
}
.t-d-logo:hover{
    cursor: pointer;
}
.t-d-logo img{
    width: 15%;
}

/* section-t-d*/
#section-t-e{
    width: 100%;
    height:120px;
    background-color: rgba(255,185,31,1);
    display: flex;
    justify-content: center;

}
.t-e-metin{
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
    
}
.t-e-metin h1{
    font-size: 40px;
}
.t-e-metin p{
    font-size: 16px;
}
.t-e-search{
    width: 50%;
    padding-top: 30px;
}
.t-e-search input{
   font-size: 14px;
   padding-left: 20px;
   border-radius: 40px;
   width: 90%;
   height: 60px;
   background-color: rgba(255,185,31,1);
}
.btn-search{
    font-size: 13px;
    background-color: rgba(24,24,24,1);
    color: white;
    border-radius: 44px;
    padding: 15px 25px 15px 25px;
    position: relative;
    left: 471px;
    bottom: 55px;
   
}
.btn-search:hover{
    background-color: rgba(255,185,31,1);
    color: black;
}


/* section-t-f*/

#section-t-f{
    width: 100%;
    height: auto;

}
.t-footer{
    width: 100%;
    background-color: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.t-footer-k1{
    width: 35%;
    padding-left: 5px;
}
.t-footer-k1 h2{
    color: white;
    font-size: 20px;
    padding-top: 70px;
}
.t-footer-k1 p{
    color: gray;
    padding-top: 20px;
    font-size: 16px;
}
.t-footer-k1-icon ul{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 40px;
}
.t-footer-k1-icon li{
    list-style-type: none;
    color: rgb(150, 147, 147);
    font-size: 20px;
    border: 0px solid;
    padding: 8px 12px;
    border-radius: 50%;
    
}
.t-facebook:hover{
    background-color: #3b5998; 
    color: white;
}
.t-twitter:hover{
    background-color: #2caae1;
    color: white;
    
}
.t-pinterest:hover{
    background-color: #cb2027;
    color: white;
   
}
.t-flickr:hover{
    background-color: #e30761;
    color: white;
}

.t-footer-k2{
    width: 20%;
    padding-left: 50px;
}
.t-footer-k2 h2{
    color: white;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.t-footer-k2 ul{
   list-style-type: none;
   font-size: 17px;
}

.t-footer-k2 li{
    padding-bottom: 10px;
    color: gray;
}
.t-footer-k2 li:hover{
    color:rgba(255,185,31,1)
}

/* section-t-e*/
#section-t-e{
    width: 100%;
    height: auto;
    border-top: 0px solid gray;
}
.t-e-bankcard{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0,0,0,1);
    align-items: center;
    padding: 20px 0px;
}
.t-e-bankcard-metin{
    width: 50%;
    font-size: 10px;
    color:white;

}
.sari{
  color: rgba(255,185,31,1);

}
.t-e-bankcard-img{
    width: 50%;

}