*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.container{
    padding: 0 200px;
}

div.nav-inside{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 120px;
    align-items: center;
}

ul.nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

ul.nav li{
    font-family: Chivo,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #101828;
    padding: 30px 22px;
}

.button{
    color: #101828;
    background-color: #f2f4f7;
    border-radius: 50px;
    font-size: 18px;
    line-height: 22px;
    font-family: Chivo,sans-serif;
    font-weight: 700;
    padding: 22px 32px;
    text-align: center;
    border: none;
}

.button:hover{
    background: #101828;
    color: #fff;
    cursor: pointer;
}

i.fa-arrow-right{
    padding-left: 10px;
}

.header{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

span{
    background-color: #006d77;
    color: #fff;
    border-radius: 50px;
    padding: 14px 28px;
    font-size: 14px;
    line-height: 14px;
    font-family: Chivo,sans-serif;
}

h1{
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0;
    font-family: Chivo,sans-serif;
    font-weight: 700;
    color: #101828;
}