@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
  
}

@media (min-width: 1200px) {
  .container1 {
    max-width: 1140px !important;
  }
  .dropdown {
    display: none;
  }
  
}

@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
  }

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}


@media (max-width: 1200px) {
  .site-navigation {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .button {
    width: 100%;
  }
  .site-block {
    top: 10rem !important;
  }
  .form-control {
    width: 100%; 
    margin-top: 20px;
    margin-left: 0;
  }
  .col-xl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
} 
  .col-m {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-s {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .button {
    margin-top:20px;
  }
  .col-welcome h1{
    font-size: 2rem !important;
  }
  .site-search {
    padding-top: 10px;
  }
  .search-col {
    display: block;
    margin-top: 1rem;
    text-align: left;
  }
  .wrap-icon span {
    right: 4px;
    top: 65%;
  }
  .categories-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .trending-cards {
    grid-template-columns: 1fr !important;
  }

  .review-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
    .card img {
      width: 253px;
    }

    .box-4 {
      display: none;
    }
     .galery-div {
      width: 100%;
    }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
    .review-cards {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
      .card img {
        width: 270px;
      }

      .box-3 {
        display: none;
      }
      .row-col-1 {
      width: 100%;
      margin: 10px;
    }
    .row-col-2 {
      width: 100%;
    }
    .form-in {
      padding-top: 2rem;
    }
    .our-blog {
      padding: 5px;
    }
    .site-footer {
      padding: 10px;
    }
}
   
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

    .box-2 {
      display: none;
    }
    .categories-cards {
    grid-template-columns: repeat(1, 1fr);
  }
    .trending-cards {
      margin-right: 20px;
    }
    .card {
      flex-direction: column !important;
    }
    .card__details {
      width: 100% !important;
      border-radius: 0px 0px 7px 7px;
    }
    .trending-section .trending-cards .card img {
    object-fit: cover;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
  }
  .trending-today {
    margin-left: 2rem;
  }
  }

 