.singleItem {
  width: 70%;
  background-color: rgb(206, 206, 206);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  cursor: pointer;
}

.done .taskName {
  text-decoration: line-through;
  font-style: italic;
  color: green;
}