.carousel.slide {
  width: 100%;
  margin: 0 auto;
}

.carousel-inner {
  height: 250px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  filter: brightness(0.4);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-indicators {
  bottom: -2rem;
}

.carousel-caption {
  top: 30px;
}

.slider-mt {
  margin-top: 80px;
}
