a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

ul {
  list-style-type: none;
  padding: 2px;
}

.logo {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: rgba(42, 126, 182, 0.5);
}
nav {
  display: flex;
  align-items: center;
}
.menu {
  margin: 0;
  padding-left: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.row {
  padding: 50px 0;
  max-width: 1326px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

/* article {
  max-width: 612px;
} */

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background-color: rgba(42, 126, 182, 0.5);
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  background-color: rgba(42, 126, 182, 0.5);
  font-size: 19px;
}
