table{
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    border: 1.5px solid black;
    padding: 8px;
    text-align: center;
}
.header{
    background-color: #05641e;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 250px;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
  width: 150px;
}

thead tr th:last-child,
tbody tr td:last-child {
  width: 100px;
}

.body tr:nth-child(even){
    background-color: gray;
}

.body tr:hover{
    background-color: #d6df30;
}
