.bgImage {
	background-image: url(https://picsum.photos/seed/picsum/750/750);
	width: 500px;
	height: 500px;
	background-position-y: center;
	background-position-x: center;
	background-size: cover;
	border-radius: 50%;
}
