.container{
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 gap: 5px;
}
.child{
 cursor: pointer;
 padding: .5em;
 width: 50%;
 text-align: center;
 border-radius: 5px;
 box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
 transition: all 0.3s ease-in-out;
 background: #1f1f1f;
 color: white;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;




}
.child:hover{
 color: #2A9D8F;
 background: rgb(255, 255, 255);
}

.child:nth-child(1){
 animation: sol 2s ease-in 1;
}
.child:nth-child(2){
 animation: sag 2s ease-in 1;
}
@keyframes sag {
 0% {
  transform: translateX(300px);
 }
 100% {
  transform: translateX(0);
 }
}
@keyframes sol {
 0% {
  transform: translateX(-300px);
 }
 100% {
  transform: translateX(0);
 }
}

.deleteHistory{
 margin-top: 5px;
 cursor: pointer;
 padding: .5em;
 text-align: center;
 border-radius: 5px;
 box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
 transition: all 0.3s ease-in-out;
 background: #1f1f1f;
 color: white;
}
.deleteHistory:hover{
 color: #2A9D8F;
 background: rgb(255, 255, 255);
}