* {
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  font-weight: 550;
}

.header {
  flex-direction: column;
}
.logo {
  padding: 20px 200px 20px 200px;
  flex-direction: row;
  display: flex;
  margin-left: 30%;
  align-items: center;
}

.lText {
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: monospace;
  margin-left: 40px;
  text-shadow: 2px 2px #6bd796ba;
}

.footer {
  height: 112px;
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding-top: 1%;
}
body {
  background-color: #aaff99;
  background-image: radial-gradient(
      at 5% 34%,
      hsla(192, 61%, 65%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 52% 94%, hsla(287, 65%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 0%, hsla(2, 91%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 99% 78%, hsla(254, 64%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 48% 56%, hsla(246, 76%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 96%, hsla(62, 74%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 97%, hsla(3, 85%, 72%, 1) 0px, transparent 50%);
}
.article {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside {
  width: 28%;
  height: 740px;
  background-color: rgb(249, 244, 238);
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 20px;
  box-shadow: 5px 5px #8888887f;
  flex-wrap: wrap;
}
.row {
  display: flex;
}

.res {
  display: flex;
  margin: 5px 5px 0 5px;
  border-bottom: 1px solid black;
  background-color: rgb(249, 244, 238);
  border-radius: 6px;
  box-shadow: 5px 5px #8888887f;
}
.eser img {
  margin: 10px;
  max-width: 90px;
  max-height: 100px;
  border-radius: 10px;
  border: 3px solid rgba(23, 123, 59, 0.637);

  transition: transform 0.5s;
}

.eser img:hover {
  transform: scale(2.5);
  margin-left: 100px;
}
.eser h4 {
  color: black;
}
.res p {
  margin-left: 5px;
  font-size: 14px;
  color: black;
  text-align: justify;
  padding: 30px 30px 30px 30px;
}

.bilgilerim {
  border-bottom: 1px solid rgb(224, 200, 200);
  border-radius: 5%;
  background-color: rgb(249, 244, 238);
  justify-content: center;
}
.resmim img {
  max-width: 75px;
  max-height: 100px;
  padding: 7px;
}
.bilgilerim p {
  margin-left: 5px;
  font-size: 14px;
  color: black;
}
.bilgilerim a {
  color: black;
}
.aside h3 {
  color: black;
}
.arama form button {
  color: black;
}
.arama {
  padding-left: 20px;
  background-color: rgb(249, 244, 238);
}
.post a {
  margin-top: 10px;
  width: 3%;
  font-size: 16px;
  color: black;
  padding: 1%;
}
.uyelik {
  font-size: 14px;
  display: flex;
  margin: 5px 5px 0 5px;
  border-bottom: 1px solid rgb(224, 200, 200);
  border-radius: 5%;
  background-color: rgb(249, 244, 238);
}
.uyelik p {
  color: black;
  text-align: center;
}
.arama input {
  color: black;
}

.post {
  margin-top: 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.icons a {
  margin: 10px;
  text-decoration: none;
  color: #000000;
  border: 1.1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 50%;
}

.icons a:hover i {
  color: rgb(242, 242, 242);
}

.icons a:hover {
  border-color: beige;
}
