      
     .header{

         flex-direction: column;
         
      } 
      .logo{
     padding: 10px 200px 10px 30px;
  
     
      }

      .lText{
        font-size: 26px;
        padding: 100px 1px 1px 10px;
        color: rgb(0, 0, 0);
        font-weight: 900;
        font-family: monospace;
    
      }

      .footer {
        height: 112px;
         width: 100%;
        padding: 10px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding-top: 220px;
      }
      body{
       
        background-color:#aaff99;
        background-image:
        radial-gradient(at 5% 34%, hsla(192,61%,65%,1) 0px, transparent 50%),
        radial-gradient(at 52% 94%, hsla(287,65%,65%,1) 0px, transparent 50%),
        radial-gradient(at 75% 0%, hsla(2,91%,76%,1) 0px, transparent 50%),
        radial-gradient(at 99% 78%, hsla(254,64%,66%,1) 0px, transparent 50%),
        radial-gradient(at 48% 56%, hsla(246,76%,70%,1) 0px, transparent 50%),
        radial-gradient(at 94% 96%, hsla(62,74%,78%,1) 0px, transparent 50%),
        radial-gradient(at 41% 97%, hsla(3,85%,72%,1) 0px, transparent 50%);


      }
      .article {
        width: 70%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
      /*  overflow: scroll; */
      }
      .aside {
        width: 30%;
        height: 500px;
       /* overflow: scroll; */
       background-color: rgb(249, 244, 238);
      }
      .row {
        display: flex;
  
      }
      * {
        box-sizing: border-box;
        text-align: center;
    
      }

      .res{
        display: flex;
        margin: 5px 5px 0 5px;
        border-bottom: 1px solid black;
        background-color: rgb(249, 244, 238);
        border-radius: 6px;
        box-shadow: 2px 2px #8888887f;
      }
      .eser img{
        margin: 10px;
        max-width: 90px;
        max-height: 100px;
        border-radius: 10px;
        border: 3px solid rgba(0, 0, 0, 0.382);

      }
      .eser h4{
        color: black;
      }
      .res p{
        margin-left: 5px;
        font-size: 14px;
        color: black;
        text-align: justify;
        padding: 30px 30px 30px 30px;
        
      }
      .icons a {
        margin-top: 10px;
        width: 3%;
        font-size: 25px;
        color: black;
        text-decoration: none;
      }
      .bilgilerim{
        display: flex;
        margin: 5px 5px 0 5px;
        border-bottom: 1px solid rgb(224, 200, 200);
        border-radius: 5%;
        background-color: rgb(249, 244, 238);
      }
      .resmim img{
        max-width: 75px;
        max-height: 100px;
        padding: 7px;
      }
      .bilgilerim p{
        margin-left: 5px;
        font-size: 14px;
        color: black;
      }
      .bilgilerim a{
        color: black;
      }
      .aside h3{
        color: black;
      }
      .arama form button{
        color: black;
      }
      .arama{
        padding-left: 20px;
        background-color: rgb(249, 244, 238);
      }
      .post a{
        margin-top: 10px;
        width: 3%;
        font-size: 16px;
        color: black;
        padding-left: 100px;
      }
      .uyelik{
        display: flex;
        margin: 5px 5px 0 5px;
        border-bottom: 1px solid rgb(224, 200, 200);
        border-radius: 5%;
        background-color: rgb(249, 244, 238);
      }
      .uyelik p{
        color: black;
        text-align: center;
      }
      .arama input{
        color: black;
      }