*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif ;
  font-size: 1rem;
}
body {
  position: relative;
}
@mixin buttonType {
    background: linear-gradient(to right, #ff5195, #ffb84b);
    padding: 16px 25px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    overflow: hidden;
}
@mixin beforeAfter ($width, $height, $left, $transform, $borderRadius, $background) {
  width: $width;
  height: $height;
  left: $left;
  transform: $transform;
  border-radius: $borderRadius;
  background: $background;
  position: absolute;
  content: "";
  display: inline-block;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: #f1f1f1;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      width: 15%;
      cursor: pointer; 
    }
    .menu{
      width: 65%;
      ul{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        li{
          cursor: pointer;
          padding: 20px;
        }
      }
    }
    .btn{
      width: 15%;
      .button{
        @include buttonType;
      }
    }
  }
}
.banner{
  position: relative;
  background-color: #F9F2FF;
  z-index: -2;
  overflow: hidden;
  .bgBanner{
    position: relative;
    z-index: -1;
    .leftSide{
      position: absolute;
      left:0;
      bottom:0;
      top:0;
    }
    .rightSide{
      position: absolute;
      right: 0;
      bottom:0 ;
      top:0;
    }
  }
  .container{
    padding: 15rem 0;
    display: flex;
    .growContainer {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .growRight {
      flex: 0 0 auto;
      width: 45%;
      margin-right: -120px;
      text-align: center;
      position: relative;
      img {
        vertical-align: middle;
        height: auto;
        max-width: none;
      }
  
      .animationOne {
        position: absolute;
        content: "";
        overflow: hidden;
        border-radius: 3px;
        left: 43%;
        top: 21%;
        animation: animationOne 5s linear infinite;
      }
  
      .animationTwo {
        @extend .animationOne;
        left: 75%;
        bottom: 0;
        animation: animationTwo 5s linear infinite;
      }
  
      .animationThree {
        @extend .animationOne;
        right: -105%;
        top: 0;
        animation: animationThree 5s linear infinite;
      }
    }
  
    .growLeft{
      width: 55%;
      text-align: left;
      padding: 2rem 0;
      h2{
        font-size: 3.8rem;
        font-weight: 700;
      }
      p {
        margin: 15px 0 30px;
        color: #696969;
        max-width: 550px;
      }
      .button{
        @include buttonType;
      }
    }
  }
}

@keyframes animationOne {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
@keyframes animationTwo {
  0% {
    transform: translateY(-20px) translateX(0);
  }
  50% {
    transform: translateY(0) translateX(-20px);
  }
}
@keyframes animationThree {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-40px) translateX(40px);
  }

}
.omnichannelPOS {
  .container {
    display: flex;
    padding: 8rem 0;
    align-items: center;
    gap: 4rem;
    .omniLeft {
      padding: 0 12px;
      width: 50%;
      .topLeft {
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ecf0f3;
        h2 {
          font-size: 2.2rem;
          line-height: 3rem;
          margin-bottom: 20px;
        }
        p {
          max-width: 450px;
          margin: 0 0 15px;
          font-size: 1rem;
          line-height: 1.5;
          color: #696969;
        }
      }
      .bottomLeft {
        ul {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          color: #696969;
          margin-bottom: 3rem;
          li {
            width: 50%;
            padding: 15px 0;
            span {
              color: #fd4372;
              margin-right: 10px;
            }
          }
        }
        .button {
          @include buttonType;
          padding: 16px 46px;
        }
      }
    }
    .omniRight {
      padding:  0 12px;
      width: 50%;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
}

.allInOne {
  @extend .omnichannelPOS;
  background-color: #fffcfa;
  .container {
    flex-direction: row-reverse;
  }
}

.retailPOS {
  @extend .omnichannelPOS;
}

.perfectPOS {
  background-color: #fffef9;
  .container {
    padding: 7rem 0;
    align-items: center;
    .perfectTop {
      text-align: center;
      max-width: 70%;
      margin: 0 auto 5rem;
      h2 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        max-width: 600px;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5;
        color: #696969;
      }
    }
    .perfectBottom {
      .perfectCardWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        .card {
          padding: 48px 45px;
          box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
          text-align: center;
          width: 23%;
          border-radius: 4px;
          transition: all .3s ease-in-out;
          img {
            margin-bottom: 30px;
          }
          h6 {
            font-size: 1rem;
            text-transform: uppercase;
            line-height: 2rem;
            font-weight: 700;
            margin-bottom: .5rem;
          }
          &:hover {
            transform: translateY(-10px);
            box-shadow: 2px 2px 10px 4px rgba(58, 58, 58, 0.1);
          }
        }
      }
    }
  }
}

.retailStores {
  @extend .allInOne;
  background-color: #FFFFFF;
}

.extend {
  @extend .omnichannelPOS;
}

.software {
  @extend .perfectPOS;
  background-color: #FFFFFF;
  .softwareBottom {
    .softwareCardWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      .softwareCard {
        position: relative;
        width: 30%;
        padding: 70px 40px;
        text-align: center;
        box-shadow: 0 0 8px rgba(136, 136, 136, 0.08);
        transition: all .3s ease;
        .cardImg {
          width: 80px;
          height: 80px;
          position: relative;
          z-index: 1;
          line-height: 80px;
          background: linear-gradient(to top, #f9769d, #bb6df7);
          border-radius: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          box-shadow: 0 0 10px 2px #fcd5e1;
          transition: all .3s ease;
          &::before {
            @include beforeAfter (92px, 92px, 50%, translate(-50%, -50%), 50%, #bb6df7);
            opacity: 0.2;
            top: 50%;
            z-index: -1;
          }
          &::after {
            @extend ::before;
            opacity: 0.09;
            top: 50%;
            z-index: -1;
          }
          img {
            vertical-align: middle;
          }
        }
        &:hover {
          .cardImg{
            &::before {
              animation: cardImgBefore .8s linear infinite forwards;
            }
            &::after {
              animation: cardImgAfter .8s linear infinite forwards;
            }
          }
          .softwareCardInfo {
            &::after {
              transform: scaleX(1);
              transform-origin: 0 50%;
            }
          }
        }
        .softwareCardInfo {
          h4 {
          font-size: 24px;
          line-height: 32px;
          margin: 30px 0 30px;
          font-weight: 700;
        }
        p {
          font-size: 1rem;
          font-weight: 400;
          color: #696969;
        }
        &::after {
          @include beforeAfter (100%, 5px, 0, scaleX(0), none, linear-gradient(to left, #f9769d, #bb6df7));
          bottom: 0;
          transition: transform 0.3s ease-in-out;
          transform-origin: 100% 50%;
        }
        }
      }
      .softwareCard:nth-child(2) {
        .cardImg {
          background: linear-gradient(to top, #fd77b4, #ffbae7);
        }
      }
      .softwareCard:nth-child(3) {
        .cardImg {
          background: linear-gradient(to top, #d17fff, #9982ff);
        }
      }
    }
  }
}

@keyframes cardImgBefore {
  0% {
    width: 92px;
    height: 92px;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0.05;
  }
}

@keyframes cardImgAfter {
  0% {
    width: 105px;
    height: 105px;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0.05;
  }
}

.powers {
  @extend .perfectPOS;
  .powersBottom {
    .powersCardWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      .powerCard {
        width: 30%;
        padding: 1rem;
        background: #FFFFFF;
        box-shadow: 0 0 10px rgba(136, 136, 136, 0.1);
        .powerCardTop {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #fff5f3;
          padding: 30px;
          position: relative;
          .powerTopLeft {
            position: relative;
            .animationTop {
              position: absolute;
              width: 80px;
              height: 80px;
              left: -10px;
              top: -10px;
              background: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-1.png");
              background-repeat: no-repeat;
              animation: testi_round 5s linear infinite;
              animation-play-state: running;
            }
          }
        }
        .powerCardBottom {
          position: relative;
          padding: 30px;
          p {
            color: #696969;
            line-height: 1.5;
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 1rem;
            text-align: justify;
            width: 90%;
          }
          .rating {
            color: #ffb84b;
            span {
              font-size: .9rem;
            }
            &::after {
              position: absolute;
              content: "";
              bottom: 20px;
              right: 30px;
              width: 30px;
              height: 20px;
              background: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/01.png");
              background-size: contain;
              background-repeat: no-repeat;
          }
          }
        }
        &:hover .powerTopLeft .animationTop{
          animation-play-state: paused;
        }
      }
    }
  }
}

@keyframes testi_round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logos {
  padding-bottom: 6rem;
  .container {
    .logoWrapper {
      padding-top: 4rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      .logo {
        width: 15%;
        a {
          img {
            filter: grayscale(0%);
            transition: all .3s ease-in-out;
          }
        }
        &:hover {
          a {
            img {
              filter: grayscale(100%);
            }
          }  
        }
      }
    }
  }
}

.footerSection {
  background-image: url("http://demos.codexcoder.com/labartisan/html/smartsass/assets/css/bg-image/app-footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 0 0;
  color: #FFFFFF;
  .container {
    .footerTop {
      display: flex;
      justify-content: space-between;
      padding: 0 0 5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .logoLeft {
      h2 {
        margin-bottom: 5px;
        font-size: 36px;
        line-height: 48px;
      }
      p {
        max-width: 600px;
        margin-bottom: 15px;
      }
    }
    .logoRight {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      width: 45%;
      a {
        width: 40%;
        height: 70px;
        padding: 10px 20px;
        border-radius: 2px;
        margin-bottom: 20px;
        background: #fff;
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
        p {
          margin-bottom: 0;
          color: #696969;
          font-weight: 400;
          font-size: 1rem;
        }
        span {
          font-weight: 700;
          color: #c961fa;
          text-transform: uppercase;
          font-size: .9rem;
        }
      }
    }
    }
  }
  footer {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 0;
    .container {
      .footerCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .cards {
          h6 {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            line-height: 30px;
          }
          ul {
            li {
              margin-bottom: .7rem;
              a {
                color: #FFFFFF;
                font-size: 1rem;
                line-height: 30px;
              }
            }
          }
        }
      }
      .bottomFooter {
        margin: 5rem 0 0;
        padding: 3rem 0 2rem;
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        justify-content: center;
        a {
          color: #FFFFFF;
          font-size: 1rem;
          margin-left: 10px;
          margin-right: 1rem;
        }
      }
    }
  }
}