div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.table {
  border: 3px solid black;
  border-collapse: collapse;
  width: 800px;
  height: 200px;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

.header {
  background-color: green;
}

.row:nth-child(odd) {
  background-color: lightgray;
}
