
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}
body {
    background: linear-gradient(to bottom, #5B86E5, #36D1DC);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
}
.title{
    border: 3px solid bisque;
    border-radius: 20px;
    padding: 15px;
    height: 110px;
    margin-bottom: 70px;
}
h1,h2 {
    
    color: bisque;
}
h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.xox-boxs {
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr);
    border: 0.5px solid #203A43;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    border: 5px solid #4b5d63;
    background: #fafafa;
    user-select: none;
}
.box:hover {
    border: 1px solid rgb(179, 115, 115);
}
#error {
    font-size: 1.5rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    color: rgb(204, 42, 42);
}
.btn{
    width: 150px;
    height: 50px;
}