.paragraf{
    font-size: 24px;
}
.title1{
    color: aqua;
}
.link{
    font-size: 18px;
    text-decoration: none;
    color: rgb(230, 230, 87);
}
.link:hover{
    color: rgb(70, 20, 26);;
}
 .link:visited{ /*ziyaret edilmiş linkler için */
    color: brown;
}
.link:active{
    color: bisque;
}




@media only screen and ( max-width: 768px) {
   .paragraf{
    font-size: 14px;
   }
   .title1{
    color: blueviolet;
   }
}