.titleCut{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="text"],input[type="date"]{
    cursor: pointer;
}


input[type="text"]:focus,input[type="date"]:focus{
    outline-color: #fac608;
    cursor: auto;
  }