.styledInput {
  width: 280px;
  padding: 12px 20px 12px 16px;
  align-items: center;

  padding-left: 50px;
  font-size: 14px;
  background: url("../../../images/u_search.svg") no-repeat scroll 8px ;
  border: 0;
}

@media screen and (max-width:992px)  {
 .styledInput{
  width: 240px;
 }
}
@media screen and (max-width:1200px){
  .styledInput{
    width: 240px;
   }
}
.upperContainer{
position: relative;
  z-index: 10000;
}
