.styledInput {
  width: 240px;
  padding: 12px 20px 12px 16px;
  align-items: center;

  padding-left: 50px;
  font-size: 14px;
  background: url("../../../images/u_search.svg") no-repeat scroll 8px ;
  border: 0;
}
.imgContent{
  width: 30px;
  height: 30px;
}
.navbarCollapseArea{
  background-color: white !important;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-width:992px)  {
 .styledInput{
  width: 280px;
 }
 .navbarCollapseArea{
  background-color: transparent !important;
  margin-bottom: 0px;
  margin-top: 0px;
}
}

.upperContainer{
position: relative;
  z-index: 10000;
}
