*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.ty-kısım1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.kısım1-baslik h1{
    font-size: 3rem;
}
.kısım1-card h3{
    padding-top: 1rem;
    font-size: 1.8rem;

}
.kısım1-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.kısım1-card{
    width: 22%;
    height: auto;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: left;
    padding: 2rem;
}
.kısım1-card p{
    padding: 1rem 0rem;
    color: grey;
}

.kısım1-card ul{
    list-style-type: none;

}
.kısım1-card li{
    padding-top: 1rem;

}
#card2{
    background-color: #006d77;
    color: white;

}
.icon-box{
    background-color: #006d77;
    display: inline;
    border-radius: 50%;
    color: white;
    padding: 3px;
}
.card-btn{
    padding:10px 20px;
    margin-top: 4rem;
    margin-left: .5rem;
    width: 80%;
    color: #fff;
    background-color: #101828;
    border-radius: 10px;
    font-size: 18px;
  
}
.kısım1-card:hover{
    background-color: #006d77;
    color: white;
    transform: translateY(-5px);
}
.card-btn:hover{
    background-color:#006d77 ;
    border: 1px solid white;
    transform: translateY(-1px);

}
.ty-kısım2{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.kısım2-container{
    width: 70%;
    height: 350px;
    background-color: #bee1e6;
    border-radius: 20px;
    display: flex;
    gap:50px;
    padding: 3rem;
    position: relative;
    
    
}
.kısım2-metin{
    width: 45%;
}

.kısım2-metin h1{
    font-size: 2.5rem;
    width: 100%;
    margin-top: 1rem;
}
.kısım2-metin a{
    text-decoration: none;
    color: #006d77;

}
.kısım2-metin a:hover{
    color: #83c5be;
}
.kısım2-img{
    width:30%;
    border-radius: 20px;
    position: absolute;
    right: 55px;
  
}
.kısım2-img2 img{
    width: 250px;
    position: relative;
    border-radius: 15px;
    right: 90px;
    top:60px;
    animation: img2 4s forwards 1s ease-in-out infinite;
}

@keyframes img2{
    0%{
      transform: translate(0, 0);
    }
    50%{
      transform: translate(0px, -15px);
    }
    100%{
      transform: translate(0, 0);
    }
  }
.kısım2-metin input{
    height: 68px;
    border-radius: 50px;
    padding: 10px;
    color: gray;
    margin-top: 2rem;
    width: 80%;
    border: none;
}
.btn-right{
    position: absolute;
    bottom: 3px;
    left: 260px;
}