.bg{
    background-color: #e4dcdc;
}
.page-title-area {
    background: transparent url(https://www.shutterstock.com/image-photo/ballroom-dancing-couple-standard-waltz-260nw-1656828220.jpg);
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center;
    background-position: center;
    background-size: cover;
  }
  
  .page-title-area h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: antiquewhite;
  }
  .d-table {
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 767px) {
    .page-title-area{
        padding-top: 100px;
        padding-bottom: 65px;}
    .page-title-area h1{
        font-size: 28px;
    }
  }