#root {
  color: White;
}

.table-img{
  width: 30px;
  height: 30px;
}
td{
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}
th{
  padding: 20px;
}


body {
  background-color: #1a1a1d;
}
a{
  text-decoration: none;
  color: white;
}
.bg-light{
  background-color: white;
  color: black;
}

.bg-dark{
  background-color: #1a1a1d;
  > a{
    color: black;
  }
}