.blogWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px !important;
}
.authorImg {
  border-radius: 50%;
  width: 50px;
}
.author {
  display: flex;
  gap: 15px;
  align-items: center;
}
