a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.transition {
  transition: all .3s linear;
}

.iconDiv {
  width: 75px;
  height: 60px;
}

.trousersOne {
  margin-top: 37.5%;
}

.topSection {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.8)
  ), url("../images/background/bgSection.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
}

.tshirtTopSection {
  @extend .topSection;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.6)
  ), url("../images/tshirt/tshirtLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.shoesTopSection {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.7)
  ), url("../images/shoes/shoesLogo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.thirdShoes {
  background-color: #FAFAFA;
}

.aboutUs {
  @extend .topSection;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.6)
  ), url("../images/background/bgaboutus.png");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app {
  position: relative;
  background-color: aqua;
  margin-top: 10rem;
  .container {
    position: absolute;
    top: -150px;
    margin: 0 auto;
  }
}

.card {
  img {
    height: 300px;
    object-fit: cover;
  }
  .cardDiscount {
    right: 0;
    bottom: 1rem;
  }
}

footer {
  ul {
    a {
    color: #FFFFFF;
    &:hover {
      color: $primary;
    }
  }
  }
  
  .socials {
    a {
      width: 33px;
      height: 33px;
      background-color: #1e2235;
      display: inline-block;
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.contact {
  div {
    &:nth-child(odd) {
      margin: 2.2rem 0;
    }
    span {
      &:nth-child(odd) {
        margin-right: 1rem;
      }
    }
  }
  a {
    color: #000000;
    &:hover {
      color: $primary;
    }
  }
}