* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $--bs-body-bg;
  padding-top: 4.5rem;
}

.modal-bg {
  
  background-color: $--bs-light;
  transition: all 0.3s ease-in-out;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

i {
  pointer-events: none;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}