/*********************** Please use [camelCase] ****************************/

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* Roboto doesn`t provide semibold(600) font size anymore.500 is same  */
}
.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.colorBlue {
  background-color: #1b7596;
}
.textColorWhite {
  color: white;
}
.textColorBlue {
  color: #0076a3;
}
.textColorGray {
  color: rgba(255, 255, 255, 0.3);
}
.lightGray {
  background-color: #343f4b; /* Arkaplan ve birkac yerde */
}
.darkGray {
  background-color: #303841; /* Arkaplan ve birkac yerde */
}
.wrap {
  margin: 0 auto;
  width: 75%;
}
.button {
  background-image: linear-gradient(to right, #4495b5, #095471);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 19px;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
#header {
}
.navbar {
}
.navItem {
  padding: 0 1.5em;
  font-size: 13px;
  line-height: 20px;
}
.navButton {
  color: #3b434c;
  font-size: 13px;
  line-height: 20px;
  padding: 0.75em 2em;
  cursor: pointer;
}
.navContainer {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

/* Selim Eminoğlu--Features */

.featuresSection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.appTechText {
  font-size: 16px;
  line-height: 22px;
}

.featuresText {
  flex-flow: column wrap;
}

.featureForText {
  font-size: 40px;
  line-height: 56px;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.featureParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  width: 55%;
  max-width: 650px;
  margin-top: 0px;
}

.featureButtons {
  justify-content: center;
  margin-top: 3rem;
  padding-top: 1rem;
}

.featureButtonList {
  flex-flow: row wrap;
}

.topButton {
  border: 1px solid #0076a3;
  background: linear-gradient(#2e8da5 0%, #114d64 100%);
  color: #fff;
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.25rem;
}

.topButton:hover {
  cursor: pointer;
}

.smartButton {
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 10px 30px;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 24px;
}

.smartButton:hover {
  cursor: pointer;
}

.featureThirdSection {
  border: 3px solid black;
  margin: 1.5rem 12px;
}

.firstColumn {
  height: 100%;
  margin: 24px 0 0;
  padding: 8px 12px 0;
}

.thirdColumn {
  height: 100%;
  margin: 24px 0 0;
  padding: 8px 12px 0;
}

.firsFirstCard {
  margin-top: 1.5rem;
}

.firsHeadline {
  font-size: 20px;
  line-height: 28px;
}

.firsFirstText {
  font-size: 15px;
  line-height: 25px;
}

.firstİcon {
  background-color: rgba(0, 118, 163, 0.1);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
}

.material-symbols-outlined {
  display: inline-block;
  font: normal normal normal "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: auto;
}

.cardWrap{
  margin:0 auto;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.photo{
  max-width: 190px;
  max-height: 190px;
}

.card{
  display: flex;
  flex-direction: row;
  width: 285px;
  height: 228px;
}

.nameTitle{
  transform: rotate(180deg); 
  writing-mode: vertical-rl;
  color:white;
  max-height: 185px;
  margin-right: 12px;
}

.photoImg{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.iconsWrap{
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon{
  height: 20px;
  width: 30px;
  margin-left: 10px;
}

.title{
  font-size: 14px;
}

.ourTeamSection{
  padding-bottom: 60px;
}

.headerPadding{
  margin-bottom:50px;
}

.personelInfoWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  margin-bottom: 24px;
}

.form{
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 30px;
}

.formInput{
  border: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 22px;
  border-radius: 6px;
  flex:1;
  padding: 0.9rem 0.75rem;
}

.name{
  display: flex;
  flex:1;
  margin-right: 20px;
}
.email{
  display: flex;
  flex:1;
}

.subject{
  display: flex;
  margin-bottom: 24px;
}

.message{
  display: flex;
  margin-bottom: 24px;
}

.sendButton{
  width: 100%;
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 200;
  border-radius: 6px;
  background: #0076a3 !important;
  color: #fff;
  border-color: #0076a3 !important;
  border: 1px solid;
}

.contactWrap{
  max-width: 1200px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.poppins-24px{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color:#fff;
}

.roboto-15px{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-left-20{
  margin-left:20px;
}

.margin-right-20{
  margin-right: 20px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-left-10{
  margin-left:10px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.map{
  position: relative;
  margin: 0 30px;
}

.mapShape{
  content: "";
  position: absolute;
  height: 350px;
  width: 200px;
  background-color: #0076a3;
  top: -5%;
  right: -10%;
  border-radius: 10px;
  z-index: 1;
}

.mapImage{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.contactUs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol{
  width: 50px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.infoHeader{
  width: 290px;
  height: 28px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.infoText{
  width: 290px;
  height: 25px;
}

.informations{
  display: flex;
  flex-direction: column;
}

.contactInfo{
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  margin-top: 70px;
  flex-wrap: wrap;
}

.infoIcon{
  font-size: 48px !important;
  color: #0076a3 !important;
}

@media screen and (max-width: 960px) {
  .cardWrap{
    position: relative;
    justify-content: center;
    gap:1rem;
  }
  .contactInfo{
    justify-content: center;
    gap:1rem;
  }
  .contactWrap{
    justify-content: center;
    gap:2rem;
  }
  .map{
    max-width: 300px; 
  }
  .mapShape{
    height: 200px;
    width: 100px;
  }
  .infoCard{
    margin:0 auto;
  }
  .form{
    width: 300px;
  }
  .personelInfoWrap{
    flex-direction: column;
    gap:1.5rem;
  }
  .name{
    margin-right: 0px;
  }
}
