$primary: #ff5400;
$secondary: #393e46;
$info: #1840d2;
$dark: #070a0e;
$light: #f2f2f2;

small,
.small {
  font-size: 0.8rem !important;
}

$dropdown-link-hover-bg: $info;
$dropdown-link-hover-color: $light;
$breadcrumb-margin-bottom: 0rem;
$form-range-track-bg: $info;
$form-range-thumb-bg: $light;
$accordion-bg: rgb(207, 207, 207);
$accordion-border-color: $dark;
$accordion-button-active-bg: $dark;

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.link-muted {
  color: #aaa;
}
.link-muted:hover {
  color: #1266f1;
}
