$primary: #ff5400;
$secondary: #393e46;
$info: #1a00bb;
$dark: #070a0e;
$light: #f2f2f2;

@media screen and (max-width: 992px) {
  header {
    .nav1 {
      .container-fluid {
        .collapse {
          justify-content: center !important;
        }
      }
    }
    .nav2 {
      .container-fluid {
        .logo {
          width: 180px !important;
        }
        .web-search {
          display: none !important;
        }
        .nav-item {
          margin: 10px auto !important;
        }
        .mobile-search {
          display: flex !important;
        }
      }
    }
    .nav3 {
      .container-fluid {
        .nav {
          justify-content: space-around !important;
          .nav3-item {
            a {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
  main {
    .container {
      .filter-order {
        justify-content: space-between !important;
      }
      .filter-button {
        display: flex !important;
      }
      .aside {
        display: none !important;
      }
      .urunler {
        flex-wrap: wrap;
        .urunlist {
          width: 90%;
        }
      }
      .pagination {
        justify-content: center !important;
      }
      .aboutus-breadcrumb {
        margin-top: 10px !important;
      }
      .who-are-us {
        margin: 3px;
        .who-content {
          flex-wrap: wrap;
          .img {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .vision {
        margin: 3px;
      }
      .values {
        margin: 3px;
        p {
          display: none;
        }
        h4 {
          text-align: center;
        }
        img {
          width: 30% !important;
        }
      }
      .address {
        margin: 3px !important;
      }
      .detail-breadcrumb {
        font-size: 10px;
      }
      .detail {
        .detail-cnt {
          text-align: center;
          padding: 20px 10px !important;
          .fiyatbilgisi {
            .buttons {
              justify-content: center !important;
            }
            .fav-text {
              font-size: 12px !important;
            }
          }
        }
      }
      .prop {
        padding: 40px 20px !important;
      }
      .comment {
        .comment-cnt {
          padding: 3px;
          .card-body {
            padding: 20px 3px !important;
          }
        }
      }
      .sss-bread {
        margin-top: 10px;
      }
      .icons {
        width: 80%;
        margin: auto;

        .sss-icon {
          margin: 0px !important;
          border-radius: 0px;
          border-color: $primary !important;
          width: 50%;
          font-size: 10px !important;
        }
      }
    }
    .sss-banner {
      h2 {
        font-size: 50px;
        padding-left: 30px;
      }
    }
  }
}
