$primary: #ff5400;
$secondary: #393e46;
$info: #1a00bb;
$dark: #070a0e;
$light: #f2f2f2;

@mixin section-padding() {
  padding: 80px 0;
}

@mixin card_style() {
  color: $light;
  border: none;
  background-color: $dark;
}
