@font-face {
 font-family: 'Gilroy';
 src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
 font-weight: 700;
}
@font-face {
 font-family: 'Gilroy';
 src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
 font-weight: 600;
}
@font-face {
 font-family: 'Gilroy';
 src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
 font-weight: 500;
}
@font-face {
 font-family: 'Gilroy';
 src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
 font-weight: 400;
}

* {
 font-family: 'Gilroy', sans-serif;
 font-synthesis: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -o-text-size-adjust: 100%;
 text-size-adjust: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

li {
 list-style: none;
 list-style-type: none;
}

a {
 text-decoration: none;
 color: black;
}
