* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 650px;
  background-color: rgb(136, 133, 133);
  grid-template-columns: 150px 150px 150px 150px 150px;
  gap: 10px;
  grid-template-rows: 200px 1fr 2fr;
  justify-content: center;
  align-content: center;
}

.item {
  /* padding: 10px; */
  background-color: red;
}
