@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #f5f5f5;
}
.a-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 217px;
    align-content: start;
}
.a-header-container{
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.a-flash{
    color: #ffb91f;
}

.a-headerTop-container{
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 9px 15px;
    font-size: 15px;

   }
   .a-headerTop-container h6{
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    height: 18px;
   }
.a-header-top{
    background-color: #233f92;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: white;
    height: 30%;
}

.a-header-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.a-header-links li a{
    color: white;
    margin-right: 13px;
}
.a-header-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:111px;
   
}

.a-header-mid img{
    height: 58px;
}

.a-headerMid-links {
    display: flex;
    gap: 10px;
}
.a-headerMid-links ul{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}


.a-header-bottom{
    display: flex;
   justify-content: space-between;
    align-items: center;
    width: 1260px;
    border-top: 1px solid grey;
    height: 65px;
    
}
.a-headerBottom-links ul{
    display: flex;
}

   .drop-1 {
    position: relative;
    display: inline-block;
    margin-right: 20px
  }
  
  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-top: 2px solid yellow ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    height:90px;
    color: black;
    transition: 0.5s ease;
  }

  .drop-content a{
    color: black;
  }

  .drop-1:hover .drop-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    bottom:-90px;
}

.drop-content a:hover{
    color: #ceb62c;
    transition: 0.5s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-top: 2px solid yellow ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    right: 3px;
    height:160px;
  }

 

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    bottom:-180px;
    justify-content: center;
    align-items: center;
    
}

.dropdown-content a:hover{
    color: #ceb62c;
    transition: 0.5s ease;
}
.a-drop-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    
} 
.a-drop-form input{
    width: 85%;
    border-radius: 30px;
    border: 1px solid grey;
    background-color: rgba(128, 128, 128, 0.493);
    height: 30px;
    padding: 10px;
}

.button{
    width: 25%;
    background-color: #233f92;
    color: white;
    border: none;
    display: flex;
    height: 18px;
    align-items: center;
    text-align: center;
    
}

.a-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    font-size: 15px;

}


.a-headerBottom-container ul{
    display: flex;
    gap: 60px;
    font-size: 14px;
}

.a-headerBottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1260px;
    height: 50px;
    padding: 10px;
}

.CallUs{
    display: flex;
    gap: 20px;
    background-color: #ffb91f;
    padding: 10px;
    width: 285px;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.callUs-title{
    display: flex;
    flex-direction: column;
    


}
.callUs-title span{
    font-size: 12px;
    font-weight: 100;
   
}

.callUs-title a{
    font-size: 22px;
    font-weight: 600;
}

.a-headerMid-Select{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    text-align: center;
    border-radius: 30px;
    width: 45%;
    height: 50px;
    background-color: #dcdcdc;
    gap: 5px;
 
}

.allCategories{
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 15px;
    margin: 10px 0 0 10px;
   
}
.select{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}

.search{
    

    width: 180%;
    border: none;
    background-color: transparent;
    z-index: -2;
 
    
}

.searchby{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.searchby button{
    margin-right: 20px;
    background-color: #ffb91f;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    border: none;
    z-index: 2;
}