.btn-primary{

    &:hover{
        background-color: #0078CD;
        outline-color: #0078CD;
        border-color: #0078CD;

    }
    &:active{
        background-color: #002A48;
        outline-color: #002A48;
        border-color: #002A48;

    }
    &:focus{
        background-color: #00528C;
        outline-color: #00528C;
        border-color: #00528C;

    }
    &:disabled{
        background-color: #CCD1D2;
        outline-color: #CCD1D2;
        border-color: #CCD1D2;
        color: #667479;
        cursor: not-allowed;
    }
}

a{
    color: #003459;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}