/* .hero {
  width: 10%;
  background: #f0f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
} */
nav {
  position: relative;
}
.nav-bg-image {
  position: absolute;
  height: 100%;
  z-index: -1;
  filter: grayscale(50%);
}
h1 {
  color: white;
  font-size: 30px;
}

#searchBox {
  border-radius: 25px;
  padding: 10px;
  background: #f0f3ff;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(40, 39, 39, 0.7);
}

#googleIcon {
  width: 20px;
  cursor: pointer;
}

.fa-microphone {
  transition: 0.5s;
  transition-delay: 0.5s;
}

input {
  font-size: 12px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 2s;
}

.active input {
  width: 100px;
  padding: 12px 20px;
}

.active .mic-icon {
  width: 20px;
}
.li-link {
  color: gold;
}
.li-link:visited {
  color: gold;
}
.nav-intro {
  color: #ffbc58;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
}
