.repo {
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    gap: 20px;
    background-color: #e6baea;
  }
  
  .repo a {
    text-decoration: none;
    color: #000;
  }
  
  .repo a:hover,
  .repo a:active {
    text-decoration: underline;
  }
  
  .repo h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .repo p {
    margin: 0;
    font-size: 16px;
    color: #777;
  }
  
  .header {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }