:root {
  --button-primary-color: linear-gradient(to right, #ff5195, #ffb84b);
  --button-secondary-color: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  --icon-color: #fd4372;
  --site-background-color:#FFFEF9;
  --card-bottom-color: linear-gradient(to left, #f9769d, #bb6df7);
}
.container {
 padding: 0 10px;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin col50($w) {
  display: flex;
  flex-direction: column;
  width: $w;
}
// h2 margin padding ve font size
@mixin title_h2_tag($font-size, $m, $p, $c,$fw) {
  font-size: $font-size;
  font-weight: $fw;
  margin: $m;
  padding: $p;
  color: $c;
}
// section ve ul li ler için grid area düzenlemesi
@mixin grid_area($grid-column, $justify, $m, $p, $g) {
  display: grid;
  grid-template-columns: $grid-column;
  align-items: center;
  justify-content: $justify;
  margin: $m ;
  padding: $p;
  gap: $g;
}
// flex area
@mixin flex_area($fl-dir, $justify, $algn-itm, $m, $p) {
  display: flex;
  flex-direction: $fl-dir;
  align-items: $algn-itm;
  justify-content: $justify;
  margin: $m;
  padding: $p;
}
// card yapıları 
@mixin cards-software($w,$h, $p, $m, $txt-align,$bg,$brad,$pos) {
  width: $w;
  height: $h;
  padding: $p; 
  margin: $m;
  text-align: $txt-align;
  background: $bg;
  border-radius: $brad;
  position: $pos;
}
@mixin button($d, $p, $bg, $tr, $pos, $ov, $top, $r, $b, $l, $tr-orgn, $trfm, $cnt) {
  display: $d;
  padding: $p;
  background: $bg;
  transition: $tr;
  position: $pos;
  overflow: $ov;
  border: 0;
  top: $top;
  right: $r;
  bottom: $b;
  left: $l;
  transform: $trfm;
  content:$cnt;
  transform-origin: $tr-orgn;
}
@mixin pcard {
  padding: 30px; 
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.182);
  box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0 -4px 4px rgba(58, 58, 58, 0.1);
    transform: translateY(-2px);
  }
}
// @mixin smart-paragraph {
//   font-size: 16px;
//   margin: 0;
//   color: #696969;
//   text-align: left;
//   line-height: 24px;
// }
@mixin profile-animation-bg($url) {
  content: url($url);
  position: absolute;
  animation: anime 5s linear infinite;
  top: -10px;
  left: -10px;
}
.arrow-up{
  border-radius: 100%;
background-color: #fd4372 ;
height: 40px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
position: fixed;
bottom: 40px;
right: 40px;
z-index: 1040;
animation: pulse-animation2 1s infinite, updown 8s infinite;
  a {
    color: white;
    text-align: center;
  }
}
//nav//
.dropdown {
  display: none;
  width: 100%;
  .dropbtn {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    position: relative;
  }
}
.dropdown-content {
  width: 300px;
  position: absolute;
  left: 0;
  z-index: 2000;
  top: 100%;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  transform: translateX(-110%);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s all ease-in-out;
  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 600;
    &:hover {
      color: blue;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
  transform: translateX(0%);
}
header {
  position: relative;
}
.site-navbar {
  z-index: 1999;
  position: absolute;
  top: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  .row {
    @include flex_area(row,inherit,center,inherit,inherit);
  }
  .col-1 {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
  }
  .col-2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .site-navigation {
    text-align: right;
    align-items: center;
    display: flex;
    ul {
      display: flex;
      align-items: center;
      a {
        color: black;
        text-decoration: none !important;
        padding: 1rem 1.5rem;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
//nav//
// Home //
.home-section {
  background-color: #F9F2FF;
  padding: 265px 0 134px;
  position: relative;
  .left-image {
    position: absolute;
    left: 0;
    top: 0;
  }
  .right-image {
    position: absolute;
    right: 0;
    top: 0;
  }
  .banner-area {
    z-index: 2;
    position: relative;
    height: 500px;
    @include flex-center;
  }
  .row-grid {
    @include flex_area(row,inherit,center,inherit,inherit);
    flex-wrap: wrap;
    .col {
     @include col50(50%);
      h2 {
        font-size: 60px;
        line-height: 72px;
      }
      p {
        margin: 15px 0 30px;
        color: #696969;
        max-width: 80%;
      }
      .section-wrapper {
        display: flex;
        position: relative;
      }
      .right-images {
        position: relative;
        .image-1 {
          right: 10rem;
          top: 23%;
          animation: sideffect 15s linear infinite;
          position: absolute;
        }
        .image-2 {
          animation: sideffect2 5s linear infinite;
          position: absolute;
          top: 0;
          right: -40%;
        }
        .image-3 {
          bottom: 0;
          top: 5rem;
          right: 29rem;
          animation: updown 5s linear infinite;
          position: absolute;
        }
      }
    }
  }
}
// Home //

// Footer //
.footer-bg-wrapper {
  background-image: url(http://demos.codexcoder.com/labartisan/html/smartsass/assets/css/bg-image/app-footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
    .border-bottom {
      padding: 0 0 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  .row{
    @include flex_area(row,inherit,center,inherit,inherit);
    .col {
      @include col50(50%);
    }
    .header-style {
      max-width: 100%;
      margin-bottom: 0;
      margin-left: 0;
      text-align: left;
      h2 {
        margin-bottom: 5px;
        color: #fff;
        font-size: 36px;
    line-height: 48px;
      }
      p {
        color: #fff;
        margin-bottom: 0;
      }
    }
    .btn-group {
      display: flex;
      gap: 1rem;
      flex-direction: row-reverse;
      a {
        width: 230px;
    height: 70px;
    padding: 10px 20px;
    border-radius: 2px;
    margin-bottom: 20px;
    background: #fff;
    display: flex;
        img {
          margin-right: 10px;
        }
        span {
          text-transform: uppercase;
          font-weight: 700;
          color: #c961fa;
        }
        p {
          margin-bottom: 0;
          color: #696969;
        }
      }
    }
  }
}
.footer-content {
  i {
    margin-right: 10px;
  }
}

.footer-padding {
  padding-top: 110px;
  padding-bottom: 95px; 
  h6 {
   @include title_h2_tag(18px, inherit, 0 0 10px , #fff,700);
   text-transform: uppercase;
  }
  li {
    padding-top: 1rem;
  }
  a {
    font-size: 16px;
    color: #fff;
  }
}
// Footer //
p {
  font-size: 1rem;
}

// list sections
.list-section {
  padding: 80px 0 55px;
  &.site-bg{
    background-color: var(--site-background-color);
  }
  .omnichanel {
    @include grid_area(1fr, flex-start, 10px, 10px, 40px);
    .list-area {
      order: 1;
      .title {
        @include title_h2_tag(1rem, 0 0 40px, 0 0 30px, #696969,300);
        border-bottom: 1px solid #ecf0f3;
        h2 {
          @include title_h2_tag(24px, -10px 0 20px, 0, #000,700)
        }
      }
      .ul-area {
        @include flex_area(column, flex-start, inherit, 0 0 20px, inherit);
        li {
          padding: 10px 10px;
          i {
            color: var(--icon-color);
          }
        }
      }
    }
    .list-img {
      img {
        order: -1;
        width: 100%;
        padding: 20px;
      }
    }
  }
}
//software cards area
.card-section-software {
  @include flex_area(column, center, center, inherit, 80px 30px 55px);
  text-align: center;
  .software-card {
    @include button(inline-block, 0, inherit, transform .3s ease-in-out, relative, hidden,inherit,inherit,inherit,inherit,inherit,inherit,inherit);
    margin: 15px 0;
    box-shadow: 0 0 8px rgba(136, 136, 136, 0.2);
    .software-inner-card{
      padding: 70px 40px;
    }
    &::after {
      @include button(0, inherit, var(--card-bottom-color), transform .3s ease-in-out, absolute, inherit,inherit,inherit,0,0,100% 50%, scaleX(0),"");  
      width: 100%;
      height: 5px;
    }
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
      .software-img{
        &::after{
          display: none;
        }
        &::before{
          display: none;
        }
        animation: pulse-animation 1s infinite;
      }
    }
    .software-img{
      @include cards-software(80px,80px, 0, auto, inherit,linear-gradient(to top, #f9769d, #bb6df7),50%,relative);
    margin-bottom: 30px;
    box-shadow: 0 0 10px 2px #fcd5e1;
    line-height: 80px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      @include button(inline-block, 0, #bb6df7, inherit, absolute, inherit, 50%, inherit, inherit,50%,inherit, translate(-50%, -50%),"");
      width:92px;
      height: 92px;
      opacity: 0.2;
      border-radius: 100%;
    }
    &::after{
      @include button(inline-block, 0, #bb6df7, inherit, absolute, inherit, 50%, inherit, inherit,50%,inherit, translate(-50%, -50%),"");
      width:105px;
      height: 105px;
      opacity: 0.09;
      border-radius: 100%;
    }
    }
  }
  .software-img2{
    @extend .software-img;
    background: linear-gradient(to top, #fd77b4, #ffbae7) !important;
  }
  .software-img3{
    @extend .software-img;
    background: linear-gradient(to top, #d17fff, #9982ff) !important;
  }
  h4 {
    @include title_h2_tag(1.5rem, 0 0 5px, 0, #000, 700);
  }
}

@media screen and (min-width:576px) {
  .ul-area{
    flex-direction: row !important;
  }
}
@media screen and (min-width:992px) {
  .list-section{
    padding: 110px 0 95px;
  }
  .omnichanel{
    grid-template-columns: 1fr 1fr !important;
    .title{
      width: 80%;
      h2{
        font-size: 36px !important;
      }
    }
  }
    .list-area{
      order: -1 !important;
    }
    .list-img {
      img{
      order: 1 !important;
    }
    }
    .section-reversed{
      .list-area{
        order:1 !important;
      }
      .list-img {
        img{
        order:-1 !important;
      }
      }
    }
  }
// button animation area 
.btn-inner {
  color: #000;
  @include button(inline-block, 16px 25px, var(--button-primary-color), transform .3s ease-in-out, relative, hidden,inherit,inherit,inherit,inherit,inherit,inherit,inherit);
  border-radius: 4px;
  &::after {
    @include button(inherit, inherit, var(--button-secondary-color), transform .3s ease-in-out, absolute, inherit,0,0,0,0,100% 50%,scaleX(0),"");
  }
  span {
    color: white;
    z-index: 1;
    position: relative;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: 0% 50%;
    }
  }
}
// marks area

.marks-area{
  @include flex_area(row, space-evenly, center, 30px, 0);
  gap: 80px;
  a{
    transition: all .5s ease-in-out;
  }
  a:nth-child(n+3){
  display: none;
  }
}
@media screen and (min-width:576px) {
  .card-section-software {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    .software-card {
      width: 45%;
    }
  }
  .ul-area{
    flex-direction: row !important;
  }
  .marks-area{
    padding: 70px 0 55px;
    a:nth-child(-n+3){
      display: block;
      }
      a:hover{
        filter: grayscale(.9);
      }
  }
}
@media screen and (min-width:992px) {
  .card-section-software {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    .software-card {
      width: 33%;
    }
  }
  .list-section{
    padding: 110px 0 95px;
  }
  .omnichanel{
    grid-template-columns: 1fr 1fr !important;
    .title{
      width: 80%;
      h2{
        font-size: 36px !important;
      }
    }
  }
    .list-area{
      order: -1 !important;
    }
    .list-img {
      img{
      order: 1 !important;
    }
    }
    .section-reversed{
      .list-area{
        order:1 !important;
      }
      .list-img {
        img{
        order:-1 !important;
      }
      }
    }
    .marks-area{
      a:nth-child(n){
        display: block;
        }
    }
  }
.perfect-card {
  @include grid_area(repeat(auto-fit, minmax(250px, 1fr)), inherit, inherit, inherit, 1.5rem);
  .pcard {
    @include pcard;
    @include  title_h2_tag(18px, inherit, 15px, #000,700);
    width: 100%;
    text-transform: uppercase;
    img {
     padding: 15px;
    }
  }
}
// ana section sınıfı
.smart-pos {
  background-color: #fffef6;
  padding: 100px 0;
}
.smart-title {
  h2 {
    @include title_h2_tag(36px, -10px 0 20px, 0, #000,700);
    text-align: center;
  }
  p {
    @include title_h2_tag(1rem, 0 0 40px, 0 0 30px, #696969,300);
    text-align: center;
  }
}
//3 adet kartın kapsayıcısı
.smart-card {
  @include grid_area(repeat(auto-fit, minmax(300px, 1fr)), inherit, inherit, 20px 0, 2rem); 
}
//Paragraflar
//3 adet kartın iç kısımları
.smart-card-content {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.319);
  &:hover {
    .profile-animation1,.profile-animation2,.profile-animation3  {
      animation-play-state: paused;
    }
  }
  .smart-card-header {
    display: flex;
    gap: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.198);
    justify-content: space-between;
    .profile {
      position: relative;
      img {
        border-radius: 50%;
      }
    }
    .profile-title {
      h5 {
        @include title_h2_tag(20px, 0, 0, #000,700);
        text-transform: capitalize;
      }
      p {
        @include title_h2_tag(16px, 0,0,#696969,300);
      }
    }
  }
  .smart-card-title {
    @include title_h2_tag(16px, 0, 2rem 0 0 0,#696969,300);

    position: relative;
    &::after {
      position: absolute;
      content: url("https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/01.png");
      bottom: 10px;
      right: 25px;
      width: 10px;
      height: 5px;
      transform: scale(0.7);
      color: black;
    }
  }
}
.profile-animation1 {
  @include profile-animation-bg(
    "https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-3.png"
  );
}
.profile-animation2 {
  @include profile-animation-bg(
    "https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-2.png"
  );
}
.profile-animation3{
    @include profile-animation-bg(
    "https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-1.png"
  );
}
//Sarı yıldızlar
.rating {
  i {
    color: #e9ba17;
    margin: 20px 0;
  }
}

