body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  background-color: white;
}

input[type="text"]:focus {
  box-shadow: none;
  outline: none;
  border-color: #000000;
}

input[type='text']::placeholder {
  font-size: .9rem;
  font-style: italic;
}

.image {
  height: 200px;
  overflow: hidden;
}

.cardImage {
  height: 200px;
  object-fit: cover;
}

span, p {
  font-size: .9rem;
}

.cardIcon a{
  color: #000000;
  transition: all .3s ease-in-out;
}

.cardIcon a:hover{
  color: #838383;
}

.toastZIndex {
  z-index: 11;
}