body {
  background: linear-gradient(
    to bottom,
    pink,
    rgb(182, 91, 106),
    rgb(211, 55, 81)
  );
}
header {
  border-bottom: 5px solid white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.144);
}
header h1 {
  float: left;
  margin-top: 20px;
  font-family: "Rubik Puddles", cursive;
  letter-spacing: 10px;
}
header img {
  float: right;
  margin-left: 100px;
}
header input {
  margin-left:32%;
  margin-top: 30px;
  padding: 6px;
  border: none;
  font-size: 17px;
  background-color: pink;
  border: 4px ridge rgb(241, 239, 239);
  
}
.heroimage {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.container {
  width: 1200px;
  margin: 10px auto;

}
main .container img {
  width: 250px;
  height: 250px;
  border: 2mm ridge rgb(241, 211, 216);
}
.clear {
  clear: both;
}
.video{
  width: 75px;
  height: 100px;
}
iframe{
  width: 400px;
  height:230px;
  top: 50%;
  right: 30px;
  position: absolute;
}
