header {
  border-bottom: 5px solid pink;
}
header h1 {
  float: left;
  margin-top: 20px;
}
header img {
  float: right;
}
header input {
  margin-left: 32%;
  margin-top: 30px;
}
.heroimage {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
main .container img {
  width: 250px;
}
.clear {
  clear: both;
}
