::root {
  /* Genel */
  --gradient-start: #46a5bd;
  --gradient-end: #116a8d;
  --green: #1d9b7b;
  --red: #da3746;
  /* HEADER */
  --header-bg-dark: var(--dark-bg1);
  --header-bg-light: var(--blue1);
  --header-text-white: var(--white-text);

  --white-text: #ffffff;
  --t-text: rgba(255, 255, 255, 0.4);
  --text: var(--blue3);
  --blue1: #0076a3;
  --dark-blue2: #2a4a5d;
  --light-blue2: #cce4ed;
  --blue3: #183b56;
  --dark-bg1: #343f4b;
  --dark-bg2: #303841;
  --bg3: #343a40;
  --dark-bg4: #283039;
  --light-bg1: var(--white-text);
  --light-bg2: var(--white-text);
  --light-bg4: var(--white-text);
  --dark-header-bg: var(--dark-bg1);
  --light-header-bg: var(--blue1);
  --dark-cta-bg: var(--dark-bg1);
  --light-cta-bg: var(--blue3);
}
