:root {
  /* Genel */
  --gradient-start: #46a5bd;
  --gradient-end: #116a8d;
  --green: #1d9b7b;
  --red: #da3746;
  /* Tema */
  --white-text: #ffffff;
  --blue-text: var(--blue3);
  --text: rgba(255, 255, 255, 0.4);
  --blue1: #0076a3;
  --dark-blue2: #2a4a5d;
  --light-blue2: #cce4ed;
  --blue3: #183b56;
  --dark-bg1: #343f4b;
  --light-bg1: var(--white-text);
  --dark-bg2: #303841;
  --light-bg2: var(--white-text);
  --bg3: #343a40;
  --dark-bg4: #283039;
  --light-bg4: var(--white-text);
}
