/* Test için açtım, sizde testlerinizi yapabilirsiniz. En son toplarlıcaz burayı */
@media screen and (min-width: 1200px) {
  /* Genel */
  .container {
    max-width: 1140px;
    /* Container test rengi */
    /* background: red; */
  }
  /* Mücahit */
  .apptech-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .what-we-do-container {
    height: 800px;
  }

  .button1 {
    display: block;
  }
  .nav-item {
    display: block;
  }
  .dropdown {
    display: none;
  }

  .column1 {
    width: 25%;
  }
  .column2 {
    width: 33%;
  }

  .rowcontainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .servicecol {
    width: 33%;
  }
  /* Oğulcan */
  .client-testimonial-container {
    flex-direction: row;
  }
  .client-testimonial-info {
    width: 45%;
  }
  .carousel {
    width: 55%;
  }
  .client-testimonial {
    padding: 6em 0 6em 0;
  }
  .client-testimonial-container {
    flex-direction: row;
  }
  .client-testimonial-info {
    width: 30%;
  }
  .carousel {
    width: 70%;
    padding-top: 27%;
    box-shadow: none;
  }
  .carousel__snapper {
    flex-direction: row;
  }
  .carousel-img-container {
    height: 280px;
    border-radius: 1em 0 0 1em;
  }
  .wyp-cards-container {
    flex-direction: row;
    align-items: center;
  }
  .wyp-card {
    width: 30%;
  }
  /* Seyit */
}
