/* Test için açtım, sizde testlerinizi yapabilirsiniz. En son toplarlıcaz burayı */
@media screen and (min-width: 1200px) {
  /* Genel */
  .container {
    width: 1140px;
    margin: 0 auto;
    /* Container test rengi */
    /* background: red; */
  }
  /* Mücahit */
  .button1 {
    display: block;
  }
  .nav-item {
    display: block;
  }
  .dropdown {
    display: none;
  }
  /* Oğulcan */
  .client-testimonial-container {
    flex-direction: row;
  }
  .client-testimonial-info {
    width: 30%;
  }
  .carousel {
    width: 70%;
  }
  /* Seyit */
}
