.apptech-button2 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 10rem;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.apptech-buttons li {
  list-style-type: none;
  margin: 10px;
}

.apptech-content {
 text-align: left;
}

.apptech-column {
  margin: 2rem 0;
}


.apptech-content h5 {
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  margin-top: 10px;
}

.apptech-image {
  background-color: rgba(0,118,163,.1);
    color: #0076a3;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
}



/* responsive */
@media screen and (min-width: 1200px) {
  .apptech-column{
    position: relative;
  }
  
  .apptech-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .apptech-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
  }
}

