.whats-your-price {
  background-color: var(--dark-bg2);
  /* background-color: aqua; */
  padding-top: 3em;
  padding-bottom: 3em;
}
.whats-your-price-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em;
}
.whats-your-price-header h6 {
  color: var(--blue1);
  font-weight: 700;
  line-height: 1.4;
  font-size: 1em;
}
.whats-your-price-header h2 {
  color: var(--white-text);
  font-size: 40px;
}
.whats-your-price-header p {
  color: var(--text);
}
