/* Seyit Başlangıç  */

/*our-team başlangıç*/
.our-team {
  background-color: var(--dark-bg1);
  /* background-color: aqua; */
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-team-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 24px;
}
.our-team-header h6 {
  color: var(--blue1);
  font-weight: 700;
  line-height: 1.4;
  font-size: 1rem;
}
.our-team-header h2 {
  color: var(--white-text);
  font-size: 40px;
}
.our-team-header p {
  color: var(--text);
}

.our-team-imgs {
  display: flex;
  flex-direction: column;
}
.our-team-member {
  display: flex;
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: flex-end;
}
.our-team-img {
  order: 1;
}
.our-team-img img {
  border-radius: 10px;
}
.our-team-icons {
  margin-top: 0.5rem;
  display: flex;
}
.our-team-icon {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.our-team-icons i {
  color: #838485;
  font-size: 20px;
  line-height: 1.5;
}
.our-team-member-name {
  /* color: white; */
  transform: rotate(270deg);
  display: flex;
  /* justify-content: left; */
  /* order: 0; */
  /* z-index: 2; */
  align-items: center;
  /* position: relative; */
  /* top: 40%; */
  /* left: -30px; */
  width: 50px;
}
.our-team-member-name h6 {
  color: white;
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.our-team-member-name h6 span {
  color: #838485;
}

/*our-team bitiş*/
/*build-your-ideal başlangıç*/

.build-your-ideal {
  background-image: url("https://themesdesign.in/styza/layout/images/cta-bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* padding-top: 80px; */
  /* padding-bottom: 80px; */
  position: relative;
}
.build-your-ideal::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: #fff; */
  background: linear-gradient(80deg, #377d8f 0%, #0a4157 100%);
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  /* z-index: 0; */
}
.build-your-ideal::after {
  background: #303841;
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;

  /* background: #fff; */
  background: linear-gradient(80deg, #377d8f 0%, #0a4157 100%);
  -ms-transform: matrix(1, -0.05, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.05, 0, 1, 0, 0);
  transform: matrix(1, -0.05, 0, 1, 0, 0);
}
.bg-overlay-gradiant {
  background: linear-gradient(80deg, #377d8f 0%, #0a4157 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 1;
}
.build-your-ideal-container {
  z-index: 1;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
  margin-top: 0;
  position: relative;
}
.build-your-ideal-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.build-your-ideal-header > h1 {
  color: var(--white-text);
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.build-your-ideal-header > p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  margin-top: 1rem;
  line-height: 25px;
  margin-bottom: 1rem;
}
.build-your-ideal-btns {
  display: flex;
  margin-top: 1.5rem;
}
.build-your-ideal-btns a {
  margin-right: 16px;
}
.build-your-ideal-phone {
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-top: 0;
}
.build-your-ideal-phone {
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
  height: auto;
}
/*build-your-ideal bitiş*/
/*contact-us başlangıç*/
.contact-us {
  background-color: var(--dark-bg2);
  /* color: white; */
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.contact-us-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.contact-us-header {
  /* margin-top: 10px; */
}
.contact-us-map iframe {
  width: 100%;
}
/*contact-us bitiş*/

/*footer başlangıç*/
.footer {
  /* background-color: var(--dark-bg1); */
  background-color: #343f4b;
}
.footer-icons p {
  color: var(--text);
}
.footer-icons-social i {
  color: var(--white-text);
}
.footer-product h5,
.footer-policies h5,
.footer-subscribe h5 {
  color: var(--white-text);
}
.footer-product a,
.footer-policies a {
  color: var(--text);
  text-decoration: none;
}
.footer-input {
  width: 100%;
}
.footer-input input {
  height: 30px;
  display: inline-block;
  width: 66%;
}
.footer-input a {
  background-color: var(--blue1);
  display: inline-block;
  height: 30px;
  text-decoration: none;
  margin-left: -4px;
  padding: 3px;
}
/*footer başlangıç*/

/* Seyit Bitiş  */
