/* Seyit Başlangıç  */
/*our-team başlangıç*/
.our-team {
    background-color: var(--dark-bg2);
    /* background-color: aqua; */
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .our-team-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }
  .our-team-header h6 {
    color: var(--blue1);
    font-weight: 700;
    line-height: 1.4;
    font-size: 1rem;
  }
  .our-team-header h2 {
    color: var(--white-text);
    font-size: 40px;
  }
  .our-team-header p {
    color: var(--text);
  }
  
  .our-team-imgs {
    display: flex;
    flex-direction: column;
  }
  .our-team-member {
    display: flex;
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    width: 100%;
    justify-content: flex-end;
  }
  .our-team-img {
    order: 1;
  }
  .our-team-img img {
    border-radius: 10px;
  }
  .our-team-icons {
    margin-top: 0.5rem;
    display: flex;
  }
  .our-team-icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .our-team-icons i {
    color: #838485;
    font-size: 20px;
    line-height: 1.5;
  }
  .our-team-member-name {
    /* color: white; */
    transform: rotate(270deg);
    display: flex;
    /* justify-content: left; */
    /* order: 0; */
    /* z-index: 2; */
    align-items: center;
    /* position: relative; */
    /* top: 40%; */
    /* left: -30px; */
    width: 50px;
  }
  .our-team-member-name h6 {
    color: white;
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .our-team-member-name h6 span {
    color: #838485;
  }
  
  /*our-team bitiş*/
  /*build-your-ideal başlangıç*/
  .build-your-ideal {
    background: #343f4b;
  }
  /*build-your-ideal bitiş*/
  /*contact-us başlangıç*/
  
  .contact-us {
    background-color: var(--dark-bg2);
  }
  
  /*contact-us bitiş*/
  
  /*footer başlangıç*/
  .footer {
    /* background-color: var(--dark-bg1); */
    background-color: #343f4b;
  }
  .footer-icons p {
    color: var(--text);
  }
  .footer-icons-social i {
    color: var(--white-text);
  }
  .footer-product h5,
  .footer-policies h5,
  .footer-subscribe h5 {
    color: var(--white-text);
  }
  .footer-product a,
  .footer-policies a {
    color: var(--text);
    text-decoration: none;
  }
  .footer-input {
    width: 100%;
  }
  .footer-input input {
    height: 30px;
    display: inline-block;
    width: 66%;
  }
  .footer-input a {
    background-color: var(--blue1);
    display: inline-block;
    height: 30px;
    text-decoration: none;
    margin-left: -4px;
    padding: 3px;
  }
  /*footer başlangıç*/
  
  /* Seyit Bitiş  */
  