/* Genel Başlangıç*/

@import url('./color.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* 
-pc-
.container {
  width: 1140px;
  margin: 0 auto;
} */
.container {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
p,
a,
button,
li {
  font-family: 'Roboto', sans-serif;
}

/* Genel bitiş*/

/* Mücahit Başlangıç  */




.navbar {
  background-color: #303841 !important;
  transition: all 0.5s ease;
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  z-index: 1030;
  align-items:center;
  justify-content: center;
  justify-content: space-between;
  flex-basis: auto;
  padding: 15px;
}

.navbarimg {
  width: 100px;
  justify-self: flex-start;
}


.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.button1 {
 width: 100px;
 padding: 12px 30px;
 border-radius: 5px;
 border: none;
 font-size: 13px;
 font-weight: 700;

}

.button2 {
  width: 100px;
  padding: 12px 30px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(to right, #46a5bd, #116a8d);
}

.nav-link {
  position: relative;
  transition: ease-in-out 300ms;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-item {
  list-style: none;
  word-spacing: 45px;
}

.dropdown {
  display: none;
}

.dropbtn {
  width: 100%;
}

.dropdown .dropbtn {
  
  font-size: 13px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  position: relative;
  left: 40%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303841;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
}

.dropdown-content a {
  float: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
}


.dropdown:hover .dropdown-content {
  display: block;
}



/* Responsive */

@media screen and (max-width: 992px) {
  .button1 {
    display: none;
  }
  .nav-item {
    display: none;
  }
  .dropdown {
    display: block;
  }
}




/* Mücahit Bitiş  */
/* Oğulcan Başlangıç  */

/* Oğulcan Bitiş  */
/* Seyit Başlangıç  */

/* Seyit Bitiş  */
