* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Outfit", sans-serif;
}

.container_top {
	width: 100%;
	padding: 9px 15px;
	background-color: #233f92;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.container {
	width: 100%;
	margin: auto;
	padding: 9px 15px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.top_ad_vert {
	color: #eef0f6;
	font-size: 13px;
	font-weight: bold;
	background-color: #233f92;
}
.strong_yellow {
	color: #ffb91f;
}

.main_topic {
	width: 100%;
	height: auto;
	padding: 70px 20px 30px 20px;
	background-image: url("./assets/images/slide1_1.jpg");
	background-size: auto;
	background-position: center;
	align-items: center;
	text-align: center;
}

.topic_text {
	color: #ffffff;
	margin-bottom: 20px;
	padding: 1em;
}

.topic_p {
	margin-top: 15px;
	font-size: 15px;
}

.topic_btn {
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
}

.search_vehicle {
	padding: 1em;
	color: black;
	background-color: #ffffff;
	border-radius: 5px;
}

.search_title {
	padding: 10px;
}

.select_vehicle_form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.vehicle_form {
	border: 0.5px solid rgb(203, 203, 203);
	border-radius: 5px;
	padding: 10px;
	width: 140px;
	margin: 6px;
}

.vehicle_form_btn {
	width: 100%;
	padding: 5px;
	margin: 10px 0;
}

.categories {
	width: 100%;
	height: auto;
	padding: 1em;
	background-color: rgb(255, 185, 31);
	align-items: center;
	text-align: center;
}

.cetegories_header {
	padding: 1em;
	width: 50%;
	gap: 20px;
}

.categories_body {
	margin-top: 2.5em;
	gap: 2em;
	display: flex;
	align-items: center;
	text-align: center;
}

.category_card {
	display: block;
	width: 30%;
}

.category_img {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.best_sellers {
	display: flex;
}

.best_seller_header {
	display: flex;
	padding: 1em;
	width: 100%;
	gap: 20px;
	align-items: center;
	text-align: center;
}

.best_seller_list {
	display: flex;
	flex-wrap: wrap;
}

.best_seller_card {
	padding: 0.5em;
	width: 50%;
	border: 0.5px solid rgb(203, 203, 203);
}

.best_seller_car_bot {
	padding: 1em;
	width: 100%;
	text-align: left;
}

.best_seller_card_img {
	width: 100%;
	height: 100%;
	max-width: 350px;
}

.heart {
	position: relative;
}

.best_seller_stars {
	color: #ffb91f;
}

.best_seller_price {
	flex-wrap: nowrap;
}

.new_price {
	color: #233f92;
}

.old_price {
	color: rgb(203, 203, 203);
	text-decoration: line-through;
}

@media only screen and (min-width: 768px) {
	.container_top {
		margin: auto;
		text-align: center;
		align-items: center;
	}
	.container {
		width: 100%;
		padding: 6em;
	}
	.best_seller_card {
		padding: 0.5em;
		width: 25%;
		border: 0.5px solid rgb(203, 203, 203);
	}
}
