* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Outfit", sans-serif;
}

.container_top {
	width: 100%;
	padding: 9px 15px;
	background-color: #233f92;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.top_ad_vert {
	color: #eef0f6;
	font-size: 13px;
	font-weight: bold;
	background-color: #233f92;
}
.strong_yellow {
	color: #ffb91f;
}

.main_topic {
	width: 100%;
	height: auto;
	padding: 70px 32.5px 0 32.5px;
	background-image: url("./assets/images/slide1_1.jpg");
	background-size: auto;
	background-position: center;
	align-items: center;
	text-align: center;
}

.topic_text {
	color: #ffffff;
	margin-bottom: 20px;
}

.topic_p {
	margin-top: 15px;
	font-size: 15px;
}

.topic_btn {
	margin-top: 15px;
	padding: 10px;
}
