* {
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

:root {
  --primary-color: #e1d6aa;
  --secondary-color: #5a90a9;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

select {
  background: #faf4eb !important;
}

header {
  padding: 1rem;
  background-color: #fffbeb;
}

.search {
  background-color: transparent;
  border: 2px solid #aa8855;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search:hover {
  outline: none;
  background-color: #ead3b1;
  color: var(--secondary-color) !important;
}

h5 {
  color: var(--secondary-color) !important;
}

.blog {
  background-color: #120415;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  width: 300px;
  height: auto;
}

.blog img {
  height: 400px;
  z-index: 1;
  width: 100%;
}
button {
  z-index: 2;
}
/* .blog-info {
  color: #759db0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.blog-info h3 {
  margin-top: 0;
}

.blog-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.blog-info span.green {
  color: lightgreen;
}

.blog-info span.orange {
  color: orange;
}

.blog-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.blog:hover .overview {
  transform: translateY(0);
} */

.alert {
  z-index: 99999;
  bottom: 0;
  right: 0;
  top: auto;
}
.modal-dialog {
  margin: 5vh 20vw;
}
.modal-content {
  width: 60vw;
}
.preview {
  position: absolute;
  top: 300px;
  left: 50%;
}
.category {
  border: 1px solid;
  border-radius: 50px;
  text-align: center;
  background: wheat;
  color: #4e4b66 !important;
}

.cart-image{
  max-width: 200px;
}
.quantityBtn{
  cursor: pointer;
}


