* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #343f4b;

}

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #283039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;


}

.navbar {
    width: 1030px;
    margin: auto;
    background-color: none;
    align-items: center;
    display: flex;
    justify-content: space-between;


}

.logo img {
    height: 28px;
    display: flex;
    align-items: center;
}

.nav-items {

    display: flex;
    float: center;
    margin: 0;
    padding: 0;

}

#activelink {
    color: #fff;
}

.nav-items li a {
    font-size: 13px;
    font-weight: bold;
    color: #ffffff80;
    padding: 25px 20px;
}

.button {
    color: #183b56;
    padding: 12px 30px;
    font-weight: 600;
    background-color: #fff;
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    border-radius: 0.25rem;
}