.navigation {
    padding: 20px 0 !important;
    position: sticky !important;
    background: white;
    top: 0;
    left: 0;
    z-index: 999;

    .search-input {
        border-radius: 20px;
        padding: 10px 25px;
        width: 100%;
    }

    .signin {
        text-decoration: none;
        background-color: $primary;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        font-weight: 500;
    }

    .navigationItems {


        .navItem {
            margin: 0 20px;
            text-decoration: none;
            font-size: 18px;
            color: $primary;
            font-weight: 600;
        }


    }
}