$primary: #013458;

.sign-in-container {
    background: #fff;

    .shadow {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: $primary;
    }

    .form-group {
        label {
            color: $primary;
        }

        input {
            color: $primary;
            background-color: #f8f8f8;
            border-color: #e5e5e5;
        }
    }

    .btn-primary {
        background-color: $primary;
        border-color: $primary;
    }

    .btn-light {
        background-color: #f8f8f8;
        border-color: #e5e5e5;
        color: $primary;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e5e5e5;
        }
    }
}




.sign-up-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-up-content {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 3rem;
        width: 400px;

        h2 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        form {
            .form-group {
                label {
                    color: $primary;
                }

                input.form-control {
                    border-color: $primary;
                }
            }

            button[type="submit"] {
                background-color: $primary;
                border-color: $primary;
                width: 100%;
                margin-top: 1rem;
            }
        }

        .text-center {
            margin-top: 0.75rem;

            a {
                color: $primary;
                display: block;
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}