* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topSection {
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.topSectionCards {
  padding-top: 150px;
}

.blogCards {
  background-image: url('https://i.pinimg.com/originals/bc/ff/c4/bcffc41668f73d79f173a136653334a7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 460px;
}