*{
  margin: 0px;
  padding: 0px;
}
section{
  width: 100%;
}
@media screen and (max-width: 768px){
  section{
    width: 80%;
  }
}
@media screen and (max-width: 425px){
  section{
    width: 60%;
  }
}
  

.nav{
  height: 70px;
  width: 100%;
  display:flex;
  font-size: 12px;
  margin-bottom: 10px;
}

.menu ul{
  list-style-type: none;
  display:flex;
  justify-content: center;
  gap: 41px;
    font-size: 16px;
 
}

.menu ul li:hover{
  color: #f3612f;
}

img{
  width: 95px;
  height: 25px;
  margin: 30px 114px;
}

.iconBox{
    background-color: #f3612f;
    border: 1px solid #f3612f;
    border-radius: 50%;
    font-size: 15px;
    padding: 5px 7px;
    width: 17px;
    font-size: 19px;
    margin-top: -7px;
    margin-left: -44px;

}

.iconBox:hover{
  color: #87351c;
}

.menu{
  margin-top: 23px;
  width: 100%;
}

.main{
  height: 600px;
  width: 100%;
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  background-position-y: bottom;
  box-shadow: inset 0 0 0 200rem rgba(22, 28, 45, 0.75)
}

.metin{
  padding-top: 115px;
  padding-left: 120px;
  color: white;
}
.metin h1{
  text-align: left;
  font-size: 46px;
  margin-bottom: 10px;
}
.metin p{
    margin-bottom: 15px;
    margin-top: 18px;
    text-align: left;
    color: rgb(160, 180, 188);
    font-size: 18px;
}

.buton{
  width: 125px;
  height: 50px;
  background-color: #f3612f;
  border-radius: 7px;
  color:white;
  font-size: 16px;
  margin-top: 24px;
}
.buton:hover{
  background-color: #bf3507;
  
}

.video img{
  width: 444px;
  height: 393px;
  border-radius: 10px;
}

.kısım2{
  width: 100%;
  height: 600px;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  margin-bottom: 100px
}
.playButton{
  border-radius: 50%;
    font-size: 57px;
    position: absolute;
    bottom: 56%;
    left: 300px;
    text-align: center;
    color: orangered;
    background-color: white;
    width: 60px;
    padding-left: -10px;
}
.playButton:hover{
  color: white;
  background-color: orangered;

}

.yazı{
  margin-top: 100px;
}
 @media screen and (max-width: 768px) {
  .yazı{
    
    margin-left: -105px;
  }
  .yazı p{
    width: 131px;
  }
  .video img {
    width: 218px;
    height: 355px;
    border-radius: 10px;
}

} 


.yazı h4{
  color: #f3612f;
}

.yazı h3{
  font-size: 25px;
}

.yazı p{
  width: 100%;
  text-align: left;
}


.kısım3{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 10px;
}
.kısım3 h4{
  color: #FF5714;
}
.k3yazı2{
  color: #8492a6;
}
.k3yazı1{
  font-size: 20px;
}
.k3yazı2 p{
  text-align: left;
}
.kısım4{
  margin-top: 95px;
}

.row1{
  display: flex;
  flex-wrap: wrap;
  gap:10px;  
  margin: 0px 125px;
}

.card{
  width: 325px;
  height: 310px;
  border-radius: 15px;
}

.golge{
  box-shadow: rgb(38, 57, 77) 3px 6px 29px -10px;
}

.kutu{
  width: 100px;
  height: 100px;
  margin: 20px;
  background: rgba(255,87,20,0.1);
  border-radius: 15px;
}

.kutu ,p,a,h3{
  margin: -2px;
}

.card a{
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.card a:hover{
  color: #f3612f;
}
.card p{
  text-align: left;
  padding-left: 10px;
}
.card h3{
  padding-left: 10px;
}


.kısım6{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  text-align: center;
  background-color: #f8f9fc;

}

.portfolio-metin h4{
  color: #f3612f;
  margin-top: 67px;
  margin-bottom: 60px;

}



.portfolio-resim{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
}

.portfolio-resim img{
  width: 18%;
  height: auto;
  margin: 15px;
  border-radius: 10px;
}



.kısım7{
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  background-position-y:center;
  width: 100%;
  height: 400px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 0 200rem rgba(22, 28, 45, 0.75)
  
}
.kısım7 h1{
  color: white;
  margin: 0px;
}
.kısım7 p{
  color: white;
}

.kısım8{
  
  margin-top: 50px;
  text-align: center;
}
.plans{
  margin-bottom: 51px;
}

.plans h4{
  color: #f3612f;

}

.plans h2{
  font-size: 30px;
  margin-bottom: 25px;
  }
.plans p{
color: #8492a6;
}
.plans-card{
display: flex;
justify-content: center;
gap: 10px;
}
.p-card{
  border-radius: 10px;
    width: 367px;
    height: 325px;
    padding-top: 26px;
    margin-left: 21px;
    margin-bottom: 50px;
    border: 1px solid grey;

  
}
.p-card:hover{
  transform: scale(1.1);
  z-index: 2;
  box-shadow: rgba(36, 39, 44, 0.15) 3px 15px 22px
}
.p-card ul{
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  color: grey;
}
.p-card li,a{
  margin-bottom: 12px;
}
.buton8{
  width: 285px;
  height: 37px;
  background-color: #ffccd5;
  border-radius: 7px;
  color: #ff5714;
  font-size: 16px;
  margin-top: 55px;
}

.buton8:hover{
  color: white;
  background-color: #ff5714;
}
.kısım9{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  text-align: center;
  background-color: #f8f9fc;

}


.resim9 img {
  width: 220px;
  height: 231px;
  margin: 9px;
  border-radius: 10px;
  background-color: #f8f9fc;
}

.k9m{
  margin-top: 82px;
}
.rakamlar{
  margin-left: 294px;
  display: flex;
  flex-wrap: wrap;
  gap: 162px;
  margin-top: 26px;
}
.rakamlar p{
  margin-top: 0px;
  color: #8492a6;
  margin-left: 2px;
}
.logolar img{
  width: 87px;
  height: 54px;
  margin: 10px 60px;
}
.blogs{
  background-color: white;
  margin-top: 100px;
}
.blogs h4,p,h1{
  text-align: center;

}
.blogs h4{
  color: #ed450d;
}
.blogs p {
  color: #8492a6;
  margin-bottom: 15px;
}
.blog-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.blogCard{
    border: 1px solid rgb(221, 217, 217);
    width: 400px;
    height: 410px;
    border-radius: 10px;
}
.blogCard img{
  width: 400px;
  height: 250px;
  margin: 0px;
  border-radius: 10px;
}
.blogCard h3{
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 14px;
  
}
.blogCard p{
  margin-left: 37px;
  text-align: left;

}
.blogCard h5{
  margin-top: 14px;
  color:black;
  margin-left: 39px;
  font-size: 16px;
}
.blogCard h5:hover{
  color: #ed450d;
}
.blogCard h3:hover{
  color: #ed450d;
}
.kısım10{
 background-color: #f8f9fc;
 height: 700px;
 padding-top: 50px;
}

.form{
  width: 700px;
  height: 350px;
  background-color: #ffffff;
}

.contact{
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;

}

.contact p{
  text-align:left;
}

.contact h3{
  margin-bottom: 10px;
}


.contact-info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:2rem;
  
}


.icon{

  margin-top: 10px;
  margin-left: 28px;
}

.iletisim{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.t1{
  width: 300px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 10px;
}
.t2{
  width: 636px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 10px;
}
.t3{
  width: 636px;
  height: 100px;
  margin: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.buton9{
  width: 150px;
  height: 40px;
  background-color: #ed450d;
  border-radius: 7px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 10px;
  border-color:#ed450d;
}
.buton9:hover{
  background-color: #bf3507;
}

input:focus {
  border: 3px solid #ed450d;
}

input{
  outline: none;
}
footer {
  background-color: #212842;
  height: 100px;
  width: 100%;
}
.footer-bar {
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #A0B4BC;
  font-weight: 500;
  
}

.footer-sosyal {
  width: 140px;
  display: flex;
  justify-content: space-between;
  float: right;
}

.footer-sosyal a {
  color: #A0B4BC;
  display: block;
  margin-top: 5px;
  margin-left: 10px;
}
.footer-sosyal div{
  border: 1px solid #24272c;
  border-radius: 5px;
  height: 28px;
  width: 28px;
}

.footer-sosyal a:hover {
  color: #FF5714;
  transition: 0.2s;
}
