* {
    list-style: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
  }
  
  a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: black;
  }

  // Navbar
  .navbar-nav > li > a {
    color: black;
  }
  .collapse{
    .navbar-nav{
        .nav-item{
            
        background-color: yellow;
    
        }
      }

  }
 
  
  .nav-item:hover {
    a {
      color:red;
    }
  }
  
