* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #667085;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
/* başlıklar */
.head-title{
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #101828;
  text-align: start;
    font-family: Chivo,sans-serif;
}
.head-content{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #475467;
  text-align: start;
  font-family: Noto Sans,sans-serif;
}

.head-small{
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  text-align: start;
  font-family: Noto Sans,sans-serif;
}

.head-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #475467;
  text-align: start;
  font-family: Noto Sans,sans-serif;
}
/* başlıklar */


.whatwedo {
  margin: 5rem 0;
}

.whatwedo .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.whatwedo .main-img {
  width: 90%;
  padding-right: 30px;
}

.whatwedo-left {
  position: relative;
}

.whatwedo-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}





.whatwedo-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-img img {
  border-radius: 16px;
}

.whatwedo .mini-img {
  position: absolute;
  width: 270px;
  height: 204px;
  right: 30px;
  bottom: 50px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, .1);
}

.whatwedo-element {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.whatwedo-element i {
  color: black;
}

.whatwedo-element-icon {
  background-color: #e4e7ec;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
}


.big-picture{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  width: 100%;
  gap: 30px; 
  justify-content: center;
 
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  width: 100%;
  gap: 30px; 
  justify-content: center;
  margin: 5rem 0;
}

.built-container{
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  
}
.built{
  display: grid;

  justify-content: center;
  align-items: center;
}

.text{
  width: 70%;
  margin: auto;
}
.text h2{
  color: #101828;
  font-weight: 700;
  line-height: 64px;
  font-family: Chivo,sans-serif;
  font-size: 56px;
  text-align: center;
  margin-top: 10px;
}
.text p{
  color: #475467;
  margin-top: 20px;
  font-family: Noto Sans,sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.card{
   border-radius: 16px;
   padding: 50px;
   height: 455px;
   text-align: center;
}

.image{
  background-color: #ebecf4;
  border-radius: 16px;
  padding: 23px 19px;
  margin-top: 130px;
  text-align: center; 
  height: 301px;
}


.card-left{
  background-color: #FFF3EA;
}
.card:hover{
  transform: translateY(-8px);
  transition-duration: 1s;
}
.card-right{
  background-color: #BEE1E6;
}
.cards-bottom{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  width: 100%;
  gap: 30px;
  justify-content: center;
}
.card-bottom{
  display: grid;
  grid-template-columns: 30% 70%;
  border-bottom: rgb(201, 193, 193) solid 1px;
}
.icon-left{
  width: 64px;
  height: 64px;
}
h3{
  margin-top: 30px;
  color: #101828;
  font-weight: 700;
  line-height: 64px;
  font-family: Chivo,sans-serif;
  font-size: 56px;
}
.green-text{
  background-color: #bee1e6;
  color: #006d77;
  text-align: center;
  font-size: 14px;
  border-radius: 50px;
  padding: 14px 28px;
  display: inline-block;
  font-family: Chivo,sans-serif;
  width: 30%;
}
.dashed {
  border-bottom: 1px dashed #006d77;
  margin: 30px 0;
  padding-bottom: 30px;
}
.little-leaf{
  background:url("./images/littleleaf.svg") no-repeat;
  padding: 0 0 0 25px;
  margin-bottom: 30px;
}
.bigPicture-card h4{
  font-size: 18px;
  margin-bottom: 0;
}
.bigPicture-card p{
  margin-top: 15px;
  padding: 0;
  text-align: left;
  margin-bottom: 0;
}
.inner-image{
 position: relative;
}
.big-picture-leaf{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.images{
 width: 100%;
/* max-width: 1140px;  */
}
.inner-image img{
  border-radius: 16px;
}
.bottom-image{
position: absolute;
bottom: -80px;
right: -80px;
width: 300px;
}

.top { 
  position: fixed;
  bottom: 20px;      
  margin-right:10px; 
  width: 36px;
  height: 36px; 
  text-decoration: none;
  padding-top: 5px;
  font-family: sans-serif;
  color: #fff;
  background: #006d77;
  border-radius: 50%;
  white-space: nowrap;
  text-align: center;
  right: 0;
  margin-right: 30px;
}
@media screen and (max-width:740px) {
  .images{
      width: 80%;
  }
 
 
}