.searchWrap{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem 0.5rem;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.searchInput{
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-color: #FE481C;
    outline: #FE481C;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 20rem;

    

}

.searchButton{
    background-color: #FE481C;
    color: white;
    padding: 0.5rem 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    border-color: transparent;
    min-width: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 700;

    &:hover{
      background-color: #fff;
      color: #FE481C;
      transition: all 0.3s ease-in-out;
      border: #FE481C 2px solid;
    }
}

