* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.4s;
}

body {
    font-family: "Roboto", sans-serif;
}

.btn-orange {
    border: 1px solid #ff5714;
    border-radius: 0.5rem;
    color: white;
    background: #ff5714;
    padding: 0.5rem;
    width: 10rem;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-orange:hover {
    cursor: pointer;
}

.heading-small {
    color: #ff5714;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.heading-large {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    font-weight: 600;
}

.paragraph {
    color: #8492a6;
    font-family: "Roboto", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    background: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: inherit;
    align-items: center;
    height: 80px;
    width: 1140px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand .logo {
    max-width: 150px;
    height: auto;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 12px;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 500;
    color: #8492a6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-item a:hover {
    color: #ff7f50;
}

.nav-social {
    display: flex;
    margin-left: auto;
    align-items: center;
    list-style-type: none;
}

.social-logo {
    margin-left: 20px;
}

.social-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8492a6;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-logo a:hover {
    background-color: #ff7f50;
    color: #fff;
}

.social-logo a i {
    font-size: 20px;
}

.hero {
    background-image: linear-gradient(rgba(22, 28, 45, 0.75),
            rgba(22, 28, 45, 0.75)),
        url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-heading {
    color: white;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 30%;
    left: 20%;
    gap: 20px;
}

.hero .heading-large {
    font-size: 42px;
    letter-spacing: 0.2px;
}

.paragraph {
    max-width: 600px;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.about {
    display: flex;
    justify-content: center;
    padding: 7rem;
    background: #f8f9fc;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.about .container {
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-wrap: wrap;
}

.about-txt {
    width: 50%;
}

.about-img {
    width: 40%;
    position: relative;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-icon {
    background-color: white;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #ff5714;
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    place-content: center;
    transform: translate(-50%, -50%);
}

.about-icon i {
    font-size: 20px;
}

.about-icon:hover {
    cursor: pointer;
}

.about-txt .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    gap: 7rem;
}

#service1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.service1-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.service-card {
    padding-left: 1rem;
    width: 30%;
    aspect-ratio: 1.3;
    border-radius: 10px;
}

.service-card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service-card-info a {
    text-decoration: none;
}

.service-card-title:hover {
    color: #ff5714;
}

.service-card-img {
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 10px;
    background: rgba(255, 87, 20, 0.1);
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-title {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    color: #24272c;
}

.service-card-txt {
    color: #8492a6;
}

.service-card-read-more a {
    text-decoration: none;
    color: black;
}

.service-card-read-more a:hover {
    color: #ff5714;
    text-decoration: underline;
}

.service-card-img i {
    color: #ff5714;
}

.service-card:nth-child(even) {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
}

.service-card:nth-child(odd):hover {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
}

#service2 {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.service2-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service2 .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.process-title {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 600;
}

.process-img {
    width: 100%;
    max-width: 300px;
}

.process {
    display: flex;
    gap: 10px;
}

.stretch {
    width: 20px;
    background: red;
    align-self: start;
    content: "abc";
}

.process-paragraph {
    color: #8492a6;
}

.service2-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10rem;
    text-align: right;
    box-sizing: content-box;
    padding-right: 1rem;
    border-right: 2px dashed #dee2e6;
}

.service2-right {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background: #f8f9fc;
    padding: 100px 0;
}

.service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    gap: 7rem;
}

.project .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.project-txt .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-card {
    position: relative;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(22, 28, 45);
    box-sizing: content-box;

}

.project-card:hover .project-card-text {
    opacity: 1;
}

.project-card img {
    width: 100%;
    scale: 1.05;
}


.project-card:hover img {
    scale: 1.15;
    transform: rotate(2deg);
    opacity: 0.5;

}

.project-card-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    opacity: 0;
}

.project-card-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}

.project-card:hover .project-card-icon {
    opacity: 1;
}

.project-card-icon .btn-orange {
    color: white;
    width: 2rem;
    padding: 0.4rem;
    border-radius: 50%;
}

.project-card-text h6 {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 600;
}

.project-card-text a {
    text-decoration: none;
    color: white;
}

.project-card-text a:hover {
    color: #ff5714;
}

.project-card-text p {
    font-size: 15px;
}

.project-txt .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#cta {
    background-image: linear-gradient(rgba(22, 28, 45, 0.75),
            rgba(22, 28, 45, 0.75)),
        url("assets/cta.png");
    height: 22rem;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: white;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.price .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.price .price-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.price-cards {
    margin-top: 5rem;
}

.price-plan {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.price-cost {
    display: flex;
    margin-bottom: 0.5rem;
}

.dollar {
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.cost {
    font-size: 42px;
    margin-bottom: 0;
}

.monthly {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0.25rem;
    align-self: flex-end;
}

.price-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.price-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
    width: 30%;
    padding: 2rem;
}

.price-benefits {
    color: #8492a6;
    margin: 0;
}

.price-benefits>span {
    margin: 0;
    padding: 0;
}

.price-benefits li {
    margin-bottom: 1rem;
    font-size: 15px;
}

.btn-orange-light {
    color: #ff5714;
    background: rgba(255, 87, 20, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 87, 20, 0.1);
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 1rem;
}

.btn-orange-light:hover {
    background: #ff5714;
    color: white;
}

.price-card:hover {
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem);
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: #f8f9fc;
}

.team .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.team-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.team-member:hover .member-icons {
    right: 10px;
}

.team-member:hover .member-text {
    bottom: 15px;
}

.team-member:hover>img {
    scale: 1.1;
}

.team-member {
    position: relative;
    width: 22%;
    overflow: hidden;
    border-radius: 10px;
}

.team-member img {
    width: 100%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.member-text {
    background-color: white;
    border-radius: 5px;
    margin: 0 1rem;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -100px;
    text-align: center;
    padding: 1rem;
}

.member-icons {
    list-style-type: none;
    position: absolute;
    top: 16px;
    right: -35px;
}

.member-icon {
    margin-bottom: 0.4rem;
}

.member-icon .btn-orange {
    border-radius: 50%;
    width: 2rem;
    text-align: center;
    padding: 0.4rem;
}

.member-text a {
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    color: #24272c;
}

.member-text a:hover {
    color: #ff5714;
    transition: all 0s;
}

.member-text .paragraph {
    font-size: 15px;
}

.team-stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.stat {
    text-align: center;
    width: 20%;
}

.team-companies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 2rem;
}

.team-company {
    width: 12%;
}

.team-company img {
    width: 5rem;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.blog .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.blog-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-card {
    width: 29%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.blog-cards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.blog-card-img img {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1.7;
}

.blog-card-text {
    padding: 1rem;
}

.blog-card-text .heading-large {
    font-size: 18px;
    font-weight: 600;
}

.blog-card-text .paragraph {
    font-size: 15px;
}

.blog-card-text a {
    color: black;
    text-decoration: none;
}

.blog-card-text a:hover {
    color: #ff5714;
    transition: all 0s;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #f8f9fc;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.contact-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form {
    padding: 2rem;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    width: 70%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form input {
    width: 50%;
    border: 1px solid #dee2e6;
    font-size: 14px;
    border-radius: 6px;
    padding: 0.5rem;
}

.contact-form input:focus {
    outline: 2px solid #ff5714;
}

#subject {
    width: 100%;
}

#msg {
    padding: 0.5rem;
    font-size: 14px;
    resize: vertical;
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

#msg:focus {
    outline: 2px solid #ff5714;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 24%;
}

.contact-row {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.contact-info-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info-txt .paragraph {
    font-size: 15px;
}

.contact-info-txt .heading-large {
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202942;

}

.footer .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer-social {
    list-style-type: none;
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.footer-p {
    font-size: 15px;
}


.footer-social-logo {
    border: 1px solid #283353;
    border-radius: 5px;
    width: 2rem;
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    text-decoration: none;
    color: #8492a6;
}

.footer-social-logo:hover {
    background-color: #ff5714;
    color: white;
}

.burger {
    display: none;
}

.contact-form-first {
    display: flex;
    gap: 1rem;
}

.burger-icon {
    position: relative;
}

.burger-menu-box {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    left: 0;
    background: white;
    display: none;
}

.burger-menu-nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    gap: 1rem;
}



#burger-nav-container {
    position: relative;
}

#burger-menu-switch {
    display: none;
}

#burger-menu-bar:hover {
    cursor: pointer;
}

#burger-menu-switch:checked~.burger-menu-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: all 0.4s;
    top: 80px;
}




/* MEDIA QUERIES */

@media screen and (max-width: 1025px) {
    .standard {
        display: none;
    }

    .burger {
        display: flex;
        background-color: white;
        justify-content: space-between;
        width: 90%;
    }

    .project-card {
        width: 45%;
    }

    .about .container {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 100%;
    }

    .about-txt {
        width: 100%;
    }

    .service-card {
        width: 45%;
    }

    .price-card {
        width: 45%;
    }

    .team-members {
        justify-content: center;
    }

    .team-member {
        width: 35%;
    }

    .stat {
        width: 45%;
    }

    .team-company {
        width: 45%;
    }

    .blog-card {
        width: 45%;
    }

    .contact-form {
        width: 45%;
    }

    .contact-info {
        width: 30%;
    }

    .nav-social {
        margin-left: 0;
    }
}

@media screen and (max-width: 750px) {
    .service1-txt {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .about-txt {
        text-align: left;
    }

    .project-card {
        width: 90%;
    }

    .service-card {
        width: 90%;
        aspect-ratio: 3;
        gap: 4rem;
    }

    .service-cards {
        justify-content: center;
    }

    .price-cards {
        justify-content: center;
    }

    .price-card {
        width: 90%;
    }

    .team-members {
        align-items: center;
        justify-content: center;
    }

    .team-member {
        width: 90%;
    }

    .team-stats {
        gap: 2rem;
    }

    .blog-cards {
        flex-direction: column;
    }

    .blog-card {
        width: 90%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-form {
        width: 90%;
        align-self: center;
    }

    .contact-info {
        margin-left: 6%;
        align-self: flex-start;
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .footer .container {
        flex-direction: column;
        gap: 1rem;

    }

    .footer-social {
        flex-wrap: nowrap;
        gap: 1rem;
    }
}