* {
    color: rgb(32, 32, 32);
    font-family: "Outfit", sans-serif;
}

.buttons {
    background: rgb(22, 180, 207);
    padding: 1rem;
}


.btn {
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    padding: 11px 20px;
    border-radius: 42px;
    margin-top: 25px;
    min-width: 115px;
    transition: 0.3s ease;
    text-transform: uppercase;
}


.gold-to-dark {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
    color: rgb(32, 32, 32);
}

.gold-to-dark:hover {
    border-color: rgb(32, 32, 32);
    color: rgb(255, 185, 31);
    background: rgb(32, 32, 32);
}

.dark-to-gold {
    border-color: rgb(32, 32, 32);
    color: rgb(255, 185, 31);
    background: rgb(32, 32, 32);
}

.dark-to-gold:hover {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
    color: rgb(32, 32, 32);
}

.white-to-gold {
    background: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.white-to-gold:hover {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
}

.link-box {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 14px 5px;
    transition: 0.3s ease;
}

.link-no-deco {

    text-decoration: none;
}

.flex-row {
    display: flex;
}

.flex-reverse-row {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-reverse-column {
    display: flex;
    flex-direction: column-reverse;
}


.container {
    max-width: 1260px;
}