

/* .bgImage{
  background-image:url('https://picsum.photos/200');
  width: 300px;
  height: 200px;
  border-radius: 15%;
  background-position: bottom;
 
  background-color: brown;
  background-size: cover;
/* 

} 

.title{
  color: aqua;
  background-color: blue;
  text-align: center;
  
}

p{
  font-size: 25px;
  color: blueviolet;
  text-align: center;
}

@media only screen and  (max-width: 780px) {
  paragraf{
    font-size: 15px;
  }
 
  /* psuedo classer */
  /* .link{
    font-size: 18px;
    text-decoration: none;
  }
  .link:hover{
    color:orange
  }
  .link:visited{
    color: rgb(135, 44, 44);
  }
  .link:active{
    color:aquamarine
  }

  .list-item{
    list-style-type: none;
    font-size: 18px;
    
  } */ 

  /* .list-item:nth-child(2n){
    color: orange;
  } */
/* 
  .list-item:nth-child(-n+6){
    color: rgb(42, 30, 120);
  }
}
 */



 .text1::after{
  content: "bu bir son  yazı eki";

 }

 .text1::before{
 content: "bu bir ön yazı";

 }
/* ilk harf */
 .text1::first-letter{
  font-size: 40px;
 }
/* ilk satır */
 .text1::first-line{
  color: yellow;
 }


 