#root {
  margin: 0 auto;
}
.error-message {
  color: var(--state-color-pink-red, #FF564F);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.main-error{
  display: flex;
  align-items: center;
}

