@font-face {
  font-family: "svngilroy-bold";
  src: url("fonts/SVNGilroy\ Bold.otf") format("otf");
}

@font-face {
  font-family: "svngilroy-bold";
  src: url("fonts/SVNGilroy\ Light.otf") format("otf");
}

* {
  font-family: "svngilroy-bold", sans-serif
}


.navbar {
  background-color: transparent;
}

.mobile:hover,.navbar:hover {
  background-color: #f8f9fa;
}

.navbar.scrolled {
  background-color: #f8f9fa;
}