@font-face {
    font-family: "svngilroy-bold";
    src: url("fonts/SVNGilroy\ Bold.otf") format("otf");
}

@font-face {
    font-family: "svngilroy-bold";
    src: url("fonts/SVNGilroy\ Light.otf") format("otf");
}

* {
    font-family: "svngilroy-bold", sans-serif
}

