@media only screen and (min-width: 1200px) {
  .container {
    width: 1150px;
    padding: 0;
    margin: 0 auto;
  }
  /* nav */
  /* .nav-mobile {
    display: none;
  }
  .nav-pc {
    display: block;
  }
  .div-icons {
    gap: 2rem;
  }
  .icon {
    width: 18%;
  } */
  /* Headear */
  /* .sag {
    display: flex;
  } */
}
