.container {
  width: 100%;
  padding: 0 1rem;
}
.nav-mobile {
  display: block;
}
.nav-pc {
  display: none;
}
.div-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.icon {
  width: 30%;
}
.header-items-container {
  display: flex;
  gap: 1rem;
}
.sag {
  display: none;
}
header > .container {
  padding: 2rem;
}
