@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap%27');


// Variables // 

$align-ic: align-items(center);
$text-center: text-align(center);
$light-gray-color: #343a40;
$light-gray-color-2: #495057;
$dark-gray-color: #25262a;
$light-gray-color-3:#4d4d4d;
$blue-color: #2f89fc;
$dark-blue-color: #2a7dea;
$white-color: #ffffff;
$cream-color: #dee2e6;
$primary-bg-color: #f8f9fa;
$footer-bg-color: #333333;
$start-yellow: #f89d13;
$heard-red: #f23a2e;
$x1140: 1140px;
$x720: 720px;
$flex:flex;
$wrap:wrap;
$center:center;




// Main Css // 

body {
  font-family: "Nanum Gothic";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.mr5 {
  margin-right: 3rem;
}

.span-border {
  border-left: 1px solid $white-color;
}

.ml5 {
  span {
    padding-left: 1rem;
  }
}

.col {
  display: $flex;
  flex-direction: column;
}

.col-xl {
  -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: flex;
    flex-direction: column;
}

.col-m {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
}

.col-s {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: $center;
  
}

.button {
  color: $white-color;
  background-color: $blue-color;
  border-color: $blue-color;
  border-radius: 5px;
  height: 2.4rem;
  width: 75%;
}

.register-button {
  padding: 12px 20px;
  color: $white-color;
  border-radius: 0.25rem;
  background-color: $blue-color;
}

.dropdown {
  display: block;
  width: 100%;
  .dropbtn {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    position: relative;
  }
}

.dropdown-content {
    width: 300px;
    position: absolute;
    right: 0;
    z-index: 2000;
    top: -20px;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .5s all ease-in-out;
    a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        color: $blue-color;
      }
    } 
}

.dropdown:hover .dropdown-content {
  display: block;
  transform: translateX(0%);
}

.form-control {
  display: block;
    width: 95%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $light-gray-color-2;
    background-color: $white-color;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-left: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row2 {
  display: flex;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
  margin-right: -15px;
  margin-left: -15px;
}

header {
  position: relative;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 20px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  border-radius: 4px;
  .col-1 {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
  }
  .col-2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .site-navigation {
    text-align: right;
    align-items: center;
    display: flex;
    ul {
      display: flex;
      gap: 20px;
      text-align: end;
      a {
        color: #fff;
    text-decoration: none !important;
    padding: 20px 10px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
      }
    }
  }
}

.home-section {
  background-image: url(https://cdn.discordapp.com/attachments/1085908166174318725/1092072806306566184/image_5.png);
    background-position: 50% -25px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
  .site-block {
    display: flex;
    top: 20rem;
    position: relative;
    justify-content: center;
    align-items: center;
    .col-welcome {
      margin: 20px;
      display: flex;
      text-align: center;
      flex-direction: column;
    }
    h1 {
      font-size: 3rem;
      font-weight: 400;
    }
    p {
    font-size: 1.2rem;
    line-height: 1.5;
    }
  }
}

.testimonial-section {
  margin-top: 150px;
  .col-t-m {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    position: relative;
    .border-bottom{
      display: flex;
      justify-content: center;
      padding: 5px;
      h1 {
        font-weight: 700 !important;
        font-size: 2rem;
        color: $blue-color;
      }
    }
  }
  .p-image {
    border-radius: 50%;
    max-width: 100px;
    margin: 2rem;
  }
  .col-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    blockquote {
      font-size: 1.5rem;
    font-style: italic;
    }
    p{
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      color: $light-gray-color-3;
    }
  }
  .dots {
    text-align: center;
    .dot {
      display: inline-block;
      margin: 4px;
      }
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $cream-color;
        margin: 5px;
        &:nth-child(3) {
          background: $blue-color;
      } 
    }
  } 
}
.border-bottom::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #2f89fc;
}


.wrap-icon {
  position: relative;
  span{
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px;
  }
}

.site-search {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px;
  margin-top: 2.5rem;
  .button {
    &:hover {
      cursor: pointer;
      background-color: $dark-blue-color;
      transition: all 0.4s ease;
    }
  }
}

.search-col {
  display: flex;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  h2 {
    font-size: 1rem;
    color: $white-color;
    margin-right: 10px
  }
  a {
    display: inline-block;
    color: #fff;
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .8rem;
    text-decoration: none;
    &:hover {
      color: $blue-color;
      background-color: $white-color;
      transition: all 0.4s ease;
    }
  }
  }






















































