body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 145, 145);
    height: 100vh;
}
.box{
    background-color: yellow;
    width: 150px;
    height: 150px;
    animation-name: aa;
    animation-duration: 2s;
    /*animasyon süresi*/
    animation-iteration-count: infinite;
    /* animasyonun devamlılığı, infinite yerine sayı da verilebilir*/
    animation-delay: 3s;
    animation-direction: alternate-reverse;
    /*animasyonun tam tersinden başlaması*/
    animation-timing-function: ease-in-out;
    animation: aa 2s inherit 1s ease-in-out forwards;
    /* hepsini tek satırda yazabiliriz. ikinci kez yazdığımız sayı delay'ı seçer*/
}
@keyframes aa {
    0%{
        background-color: yellow;
        transform: translate(0,0);
    }
    50%{
        background-color: blue;
        transform: translate(100px,-100px) rotate(180deg);
    }
    100%{
        background-color: red;
        transform: translate(0,0);
    }
}