.inputArea{
    border: 1px solid black;
    padding: 12px;
}

.input-user{
    margin-left: 10px;
}

.userArea{
    border: 1px solid black;
    padding: 12px;
}

.repoBoxSpan{
    border: 1px solid red;
}
.ulList {
    display: flex !important;
    flex-direction: column-reverse;

}