.inputArea {
    background: rgba(0, 0, 0, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(0, 0, 0, 0.55);
    padding: 12px;
}

.input-user {
    margin-left: 10px;
}
.inputParent{
    display: flex;
    flex-direction: column;
}

.searchUsername {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(92, 92, 92);
    outline: 1px rgba(255, 255, 255, 0.16);
}

.searchUsernameBtn {
    margin-top: 16px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    background-color: var(--tertiary-color);
    cursor: pointer;
    user-select: none;
}

.latestSearchBtn {
    background-color: var(--tertiary-color);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    margin: 4px;
}


.userArea {
    background: rgba(0, 0, 0, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.55);

}

.userArea img {
    margin-right: 30px;
    margin-bottom: 30px;
}

.repoBoxSpan {
    border: 1px solid red;
}

.ulList {
    display: flex !important;
    flex-direction: column-reverse;
}

.userInfo {
    padding: 10px;
    margin: 10px;
}


.repoArea {
    background: rgba(0, 0, 0, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(0, 0, 0, 0.55);
    padding: 20px;
    height:300px ;
}
.repoAreaParent{
    margin-bottom: 100px;
}
.repoInfoArea{
    margin-top: 20px;
}
.headerText{
    font-weight: 700;
}