body {
    margin: 0;
    padding: 0;
    color: aliceblue;
  }
  
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
  
  .header {
    height: 150px;
    margin-bottom: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,81,122,0.6166841736694677) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
  }
  
  .content {
    width: 690px;
    height: 590px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,81,122,0.6166841736694677) 35%, rgba(0,212,255,1) 100%);
    float: right;
    border: 1px solid rgb(46, 42, 165);
    border-radius: 10px;
  }
  
  .sidebar {
    width: 275px;
    height: 590px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,81,122,0.6166841736694677) 35%, rgba(0,212,255,1) 100%);
    float: left;
    border-radius: 10px;
  }
  
  .footer {
    height: 70px;
    margin-top: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,81,122,0.6166841736694677) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
  }
  
  .clear {
    clear: both;
  }
