
body{
    background-color: #f7edcc;
}

.container-fluid {
    width: 1340px;
}

a.navbar-brand {
    font-family: "DynaPuff", cursive;
    font-size: 46px;
    color: #a16efd;
    font-weight: 800px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary.justify-content-center {
    background-color: #f7e29e;
}

div#navbarSupportedContent {
    margin-left: 80px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    gap: 40px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    font-size: 22px;
    font-family: 'Rambla', sans-serif;
    gap: 45px;
}

a.nav-link {
    color: #6f42c1
}

input#searchInput {
    background-color: #ffffff5c;
}

select#categoryFilter {
    background-color: #ffffff5c;
}

span#cartItemCount {
    color: #6f42c1 ;
    font-size: 18px;
}

form.d-flex {
    width: 500px;
}

button.btn.btn-outline-success {
    border-color: $success;
    color: $success;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #a688dd;
    border-color: #8771af;
}

div#navbarNavDropdown {
    justify-content: center;
}

ul.navbar-nav {
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
    gap: 40px;
    color:wheat ;      
}

.nav-item:hover{
    transition: transform 1s ease-in-out;
    transform-origin: 100% 50%;
    background: linear-gradient( #fdebb9, #e5c6fc);
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #e7def9;
}

.carousel-caption.d-none.d-md-block {
    background-color: #ffe4c46e;
    margin-bottom: 50px;
}

.carousel-inner{
    h5{
        font-size: 40px;
        background-color: #ffe4c445;
    }
}

h2 {
    font-size: 40px;
    font-family: 'Convergence', sans-serif;
    font-weight: 800px;
}

.card-body {
    background-color: rgb(231 222 249 / 59%);
    text-align: center;
    font-family: cursive;
}

h5.card-title {
    font-size: 30px;
    color: #6f42c1;
}

p.card-text {
    font-size: 18px;
    color: #6f42c1b8;
}

footer.text-center.text-lg-start.text-muted {
    background-color: #e7def9;
}

