* {
  font-family: "Noto Sans", sans-serif;
}

footer a {
  color: rgb(230, 220, 220);
}
.footerTop {
  border-bottom: 1px solid rgb(230, 220, 220);
}
/* a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
body {
  background-color: gray;
}

nav {
}
.lang {
  color: white;
} */
