.detail-height {
    padding: 0 0 50px 0;
    /* height: 75vh; */
}

.coin-header {
    min-height: 20vh;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: .5s ease-in-out;
}

.coin-header:hover {
    /* transform: scale(1.05); */

}

.coin-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-logos>img {
    margin: 0 20px 0 5px;
    border-radius: 50%;
}

.coin-logos>h1 {
    font-weight: bold;
    font-family: 'Neucha', cursive;
}

.coin-logos>span {
    border: 1px solid;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 10px;
    background-color: gold;
    margin: 0 10px;
}

.coin-main-price>h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
}

.coin-links {
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding: 9px 0;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.coin-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-links>h2 {
    font-weight: bolder;
}

.bi-globe,
.bi-twitter {
    color: cornflowerblue;
    margin: 0 5px;
}

.bi-globe:hover,
.bi-twitter:hover {
    color: firebrick;
}

.market-cap,
.volume,
.available,
.total,
.one-hour,
.one-day,
.one-week,
.control,
.chart {
    min-height: 18vh;
    padding: 20px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.market-cap>h4,
.volume>h4,
.available>h4,
.total>h4,
.one-hour>h3,
.one-day>h3,
.one-week>h3 {
    font-weight: 700;
}

.total>h4>span,
.available>h4>span{
    font-size: 10px  ;
}

.control-select {
    max-width: 100%;
    background-color: transparent;
    border: 1px solid;
}

.chart {
    width: 100%;
    height: 400px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.chartContainer{
    width: 100%;
    padding: 20px 0;
}