* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header {
    background-color: #ffffff4d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .header-container {
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    align-items: center;
  }
  
  .header-logo{
    justify-content: center;
  }
  .header-logo img {
    max-width: 20%; 
  }
  
  .header-links ul {
    display: grid;
    grid-template-columns: repeat(4,60px);
    justify-content: flex-start;
  }
  
  .header-links a {
    color: #555;
    font-weight: bold;
  }
  
  .header-icons ul {
    display: grid;
    grid-template-columns: repeat(4,40px);
    justify-content: center;
  }
  
  .header-icons li:not(:last-child) {
    margin-right: 10px;
  }
  
  .header-icons a {
    color: #555;
    font-size: 25px;
  }
  