

a{
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
}
a:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.para1{
    font-size: 1.5em;
    line-height: 1.5em;
    
}
.para1::first-line{
    color: blue;
    font-size: 1.5em;
}
.para1::after{
    content: "...Paragraf sonu..."
}
table{
    margin: 0 auto;
    width: 75%;
    
    
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px; 
     
}

thead tr{
    background-color: blue;
    color: antiquewhite;
    font-size: 18px;
}
tbody tr{
    text-align: center;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:hover{
    background-color: rgb(177, 196, 190);
}
.box{
    
    border: 2px solid rgb(87, 85, 85);
    background-color: #f2f2f2;
    width: 300px;
    height: 300px;
    overflow: auto;
    margin: 20px auto 0 auto;
    padding: 15px;
    border-radius: 5px;
}
.box1{
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 20px auto;
    position: relative;
}
.box2{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(green,yellow);
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
}
.image1{
    width: 400px;
    float: right;
    margin: 10px;
    
}
.image2{
    width: 400px;
    float: left;
    margin-right: 10px;
    
}
.p1{
    text-align:justify;
}


