@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1rem;
}

footer {
  background: #333333;
  width: 100%;
  height: 720px;
  text-align: center;
  font-size: 0.8rem;
  color: #4d4d4d;
}
footer .ustfooter {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f89fc;
}
footer .ustfooter .yazi {
  width: 40%;
  height: 150px;
  text-align: left;
  line-height: 1.2;
  padding: 2rem;
}
footer .ustfooter .yazi h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
footer .ustfooter .yazi p {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.7);
}
footer .ustfooter form {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: none;
  opacity: 1;
  border-bottom: 1px solid #fff;
  padding-top: 20px;
}
footer .ustfooter form input.text::-moz-placeholder {
  color: #fff;
  font-style: italic;
}
footer .ustfooter form input.text::placeholder {
  color: #fff;
  font-style: italic;
}
footer .ustfooter form input.text {
  width: 70%;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 43px;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}
footer .ustfooter form input.button {
  width: 30%;
  border-radius: 0;
  line-height: 1.5;
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 1rem;
}
footer .ustfooter form input.button:hover {
  background: black;
  color: #fff;
}
footer .ortafooter {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid #495057;
}
footer .ortafooter h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
footer .ortafooter .box1 {
  width: 40%;
  height: 300px;
  margin-right: 2rem;
  margin-top: 7rem;
  margin-left: 20px;
}
footer .ortafooter .box1 p {
  margin-top: 0;
  color: #737373;
  text-align: left;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
}
footer .ortafooter .box2 {
  width: 20%;
  height: 300px;
  margin-top: 7rem;
}
footer .ortafooter .box2 p {
  text-align: left;
  /* color: rgba(255,255,255,1); */
  padding-bottom: 20px;
  color: rgb(170, 170, 170);
  line-height: 0.5rem;
}
footer .ortafooter .box2 p a {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  color: rgb(170, 170, 170);
  text-decoration: none;
}
footer .ortafooter .box2 p a:hover {
  color: #fff;
}
footer .ortafooter .box3 {
  width: 20%;
  height: 300px;
  margin-right: 2rem;
  margin-top: 7rem;
}
footer .ortafooter .box3 .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
}
footer .ortafooter .box3 .icon i {
  color: #999;
  font-size: 1rem;
}
footer .ortafooter .box3 .icon i:hover {
  color: #fff;
}
footer .ortafooter .box4 {
  width: 30%;
  height: 300px;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}
footer .ortafooter .box4 input.text {
  width: 70%;
  line-height: 1.5;
  color: #495057;
  height: 43px;
  background: none;
  padding: 0.375rem 0.75rem;
  outline: none;
  border-color: #6c757d;
  border-right: none;
}
footer .ortafooter .box4 input.text::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
  font-size: 1rem;
}
footer .ortafooter .box4 input.text::placeholder {
  color: #6c757d;
  opacity: 1;
  font-size: 1rem;
}
footer .ortafooter .box4 input.button {
  width: 25%;
  border-radius: 0;
  line-height: 1.5;
  font-family: inherit;
  background-color: #2f89fc;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 9px;
}
footer .ortafooter .box4 input.button:hover {
  background-color: #0974fb;
}
footer .ortafooter .box4 input.text {
  border: 1px solid #6c757d;
  color: #fff;
}
footer .altfooter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .altfooter p {
  color: #737373;
  font-size: 1rem;
  font-weight: 400;
}
footer .altfooter p a {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  color: rgb(170, 170, 170);
  text-decoration: none;
}
footer .altfooter p a:hover {
  color: #fff;
}/*# sourceMappingURL=main.css.map */