<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sıkça Sorulan Sorular</title>
		<link rel="icon" type="image/x-icon" href="../assets/img/pear-logo.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand m-0 d-lg-none" href="../index.html">
					<img class="w-100" src="../assets/img/pear-logo.png" alt="" />
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-around nav-list" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" aria-current="page" href="../index.html">
								<img src="../assets/img/pear-logo.png" alt="" />
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="../index.html">Mağaza</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone.html">üPhone</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone-ult.html">üPhone Pro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./band.html">Band</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Mek</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">üPad</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">PearPods</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Aksesuarlar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./about-us.html">Hakkımızda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./faq.html">S.S.S.</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./sitemap.xml">Site Haritası</a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-search"></i></a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-bag"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- faq -->
		<section class="faq py-5">
			<div class="container">
				<div class="row">
					<div class="row">
						<div class="col-4">
							<nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
								<nav class="nav nav-pills flex-column">
									<a class="nav-link" href="#item-1">Garanti</a>
									<nav class="nav nav-pills flex-column">
										<a class="nav-link ms-3 my-1" href="#item-1-1">Cep Telefonları</a>
										<a class="nav-link ms-3 my-1" href="#item-1-2">Bilgisayarlar</a>
									</nav>
									<a class="nav-link" href="#item-2">Ödeme</a>
									<a class="nav-link" href="#item-3">Teslimat</a>
									<nav class="nav nav-pills flex-column">
										<a class="nav-link ms-3 my-1" href="#item-3-1">Kargo süreci</a>
										<a class="nav-link ms-3 my-1" href="#item-3-2">İade-değişim</a>
									</nav>
									<a class="nav-link" href="#item-4">KDV</a>
								</nav>
							</nav>
						</div>

						<div class="col-8">
							<div
								data-bs-spy="scroll"
								data-bs-target="#navbar-example3"
								data-bs-smooth-scroll="true"
								class="scrollspy-example-2"
								tabindex="0"
							>
								<div id="item-1">
									<h4>Garanti</h4>
									<p>
										Ürünleriniz garantili mi?
										<br />
									</p>
								</div>
								<div id="item-1-1">
									<h6>Cep Telefonları</h6>
									<p>
										Ürünlerimiz yaşadığınız bölgeye göre mevcut yasalar ile garanti kapsamındadır.
										<br />
										(Ortalama 2 yıl)*
									</p>
								</div>
								<div id="item-1-2">
									<h6>Bilgisayarlar</h6>
									<p>
										Ürünlerimiz yaşadığınız bölgeye göre mevcut yasalar ile garanti kapsamındadır.
										<br />
										(Ortalama 3 yıl)*
									</p>
								</div>
								*(Belirtilen süreler uluslararası olarak hesaplanmıştır, bölgelere göre değişiklik gösterebilir.)
								<div id="item-2">
									<h4>Ürünlerinizi nasıl ödeme yapabilirim?</h4>
									<p>
										Müşterilerimize geniş bir ödeme seçeneği yelpazesi sunuyoruz. Kredi kartı, banka havalesi ve PayPal
										gibi popüler ödeme yöntemleri arasından tercih yapabilirsiniz. Ödeme yaparken, kişisel ve finansal
										bilgilerinizin güvenliği için endişelenmenize gerek yok. Ödemeleriniz, en güvenli ödeme sistemleri
										kullanılarak işlenir.
									</p>
								</div>
								<div id="item-3">
									<h4>Ürünleriniz ne kadar sürede teslim edilir?</h4>
									<p>
										Ürünlerimiz, müşterilerimizin beklentilerini karşılamak için en kısa sürede hazırlanır ve kargoya
										verilir. Genellikle ürünlerimiz sipariş tarihinden itibaren 1-3 iş günü içerisinde teslim edilir.
										Bununla birlikte, kargo firmasının teslimat süresi, teslimat adresinize ve teslimat yapılan bölgeye
										göre değişebilir.
									</p>
								</div>
								<div id="item-3-1">
									<h5>Siparişimi nasıl takip edebilirim?</h5>
									<p>
										Siparişinizi oluşturduktan sonra size gönderilen sipariş takip numarası ile kargo firmasının
										sitesinden veya müşteri hizmetlerimiz aracılığıyla siparişinizi takip edebilirsiniz. Bu sayede,
										ürünlerinizin nerede olduğunu ve teslimat sürecinin ne zaman tamamlanacağını öğrenebilirsiniz.
									</p>
								</div>
								<div id="item-3-2">
									<h5>İade veya değişim nasıl yapabilirim?</h5>
									<p>
										Bizim için müşteri memnuniyeti her zaman önceliklidir. Eğer aldığınız üründen memnun değilseniz veya
										üründe bir sorun varsa, 14 gün içerisinde iade veya değişim yapabilirsiniz. İade veya değişim için
										müşteri hizmetlerimizle iletişime geçmeniz yeterlidir. Müşteri hizmetleri ekibimiz, size iade veya
										değişim süreci hakkında gerekli tüm bilgileri verecektir.
									</p>
								</div>
								<div id="item-4">
									<h4>Satın aldığım ürünlerin fiyatlarına KDV dahil mi?</h4>
									<p>
										Tüm fiyatlarımız, KDV dahil olarak belirlenmektedir. Bu sayede, alışveriş yaparken herhangi bir
										sürpriz fiyatla karşılaşmazsınız.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- form -->
		<section class="form py-5">
			<div class="container">
				<div class="row">
					<div class="col-8 text-center text-white mx-auto my-3">
						<h2>Aradığınızı bulamadınız mı?</h2>
						<p class="my-3">
							Aradağınız sorunun cevabını bulamadıysanız aşağıdaki formdan bize sorunuzu gönderebilirsiniz. Destek
							ekibimiz size en kısa sürede ulaşıp sorunuzu cevaplayacaktır.
						</p>
					</div>
					<div class="col-9 col-lg-11 mx-auto">
						<form class="col-md-6 bg-white mx-auto rounded-4 mb-5 p-5">
							<h4 class="mb-5 text-center">İletişim Formu</h4>
							<div class="row">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Adınız</label>
									<input type="text" class="form-control" id="exampleInputEmail1" />
								</div>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">E-mail</label>
									<input type="email" class="form-control" id="exampleInputEmail1" />
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Konu</label>
									<input type="password" class="form-control" id="exampleInputPassword1" />
								</div>
								<div class="mb-3">
									<label for="floatingTextarea" class="mb-3">Sorunuz</label>
									<textarea
										class="form-control"
										placeholder="Sorunuzu buraya yazabilirsiniz"
										id="floatingTextarea"
										style="height: 150px"
									></textarea>
								</div>
								<button type="submit" class="btn btn-success rounded-pill px-5 py-2 mx-auto mt-5">Gönder</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<!-- footer -->
		<footer class="bg-black text-white">
			<div class="container py-5">
				<div class="row">
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Pear</p>
							<li><a href="./about-us.html">Hakkımızda</a></li>
							<li><a href="./faq.html">Sıkça Sorulan Sorular</a></li>
							<li><a href="./sitemap.xml">Site Haritası</a></li>
							<li><a href="./404.html">İletişim</a></li>
							<li><a href="./404.html">Destek alın</a></li>
							<li><a href="./404.html">Yasal Bilgiler</a></li>
						</ul>
					</div>
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Faydalı Linkler</p>
							<li><a href="../index.html">Mağaza</a></li>
							<li><a href="./phone.html">üPhone 14</a></li>
							<li><a href="./phone-ult.html">üPhone 14 Ultimate</a></li>
							<li><a href="./band.html">Band</a></li>
							<li><a href="./404.html" disabled>üPad</a></li>
							<li><a href="./404.html">PearPods</a></li>
							<li><a href="./404.html">Mek</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-4 mt-4 mt-lg-0">
						<div class="row">
							<div class="col-12 text-center">
								<p class="fw-bold">Bizi takip edin</p>
								<ul class="list-group list-group-horizontal gap-3 justify-content-center">
									<li>
										<a href="https://github.com/aytugyesilyurt" target="_blank"><i class="bi bi-github"></i></a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/aytugyesilyurt/" target="_blank">
											<i class="bi bi-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/agyesilyurt/" target="_blank"><i class="bi bi-instagram"></i></a>
									</li>
								</ul>
							</div>
							<div class="col-9 mt-3 mx-auto">
								<div class="input-group mt-3">
									<input type="text" class="form-control" placeholder="Mailinizi girin" aria-label="Username" />
									<button class="btn btn-secondary">Abone Ol</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 text-center mt-5">
						<p>
							Bu sayfa ödev için oluşturulmuştur. Kullanılan örneklerin gerçek kişi, kurum, kuruluş, şirket veya ürünle
							ilgisi yoktur. Tamamen hayal ürünüdür.
						</p>
						<p>Aytuğ YEŞİLYURT</p>
					</div>
				</div>
			</div>
		</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
	</body>
</html>
