<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>üPhone 14 Ultimate</title>
		<link rel="icon" type="image/x-icon" href="../assets/img/pear-logo.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-around sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand m-0 d-lg-none" href="../index.html">
					<img class="w-100" src="../assets/img/pear-logo.png" alt="" />
				</a>
				<a class="navbar-nav d-lg-none" href="../index.html">
					<a class="nav-link" href="./404.html"><i class="bi bi-search"></i></a>
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-around nav-list" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" aria-current="page" href="../index.html">
								<img src="../assets/img/pear-logo.png" alt="" />
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="../index.html">Mağaza</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone.html">üPhone</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./phone-ult.html">üPhone Pro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./band.html">Band</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Mek</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">üPad</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">PearPods</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./404.html">Aksesuarlar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./about-us.html">Hakkımızda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./faq.html">S.S.S.</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="./sitemap.xml">Site Haritası</a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-search"></i></a>
						</li>
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link" href="./404.html"><i class="bi bi-bag"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- details -->
		<section class="details py-5">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-12 my-5 text-center"><h1>üPhone 14 Ultimate</h1></div>
					<div class="col-lg-5 mb-5">
						<div id="carouselPhone" class="carousel slide bg-dark rounded-4">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="../assets/img/phones/phone-ult-black.png" class="d-block w-100" alt="..." />
								</div>
								<div class="carousel-item">
									<img src="../assets/img/phones/phone-ult-blue.png" class="d-block w-100" alt="..." />
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselPhone" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselPhone" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
					<div class="col-lg-4">
						<h3 class="text-center mb-3">Özellikler</h3>
						<ul>
							<li>
								<i class="bi bi-check2-all text-primary"></i>
								P14-PRO Silikon Çip
							</li>
							<li>
								<i class="bi bi-check2-all text-primary"></i>
								Statik Ada
							</li>
							<li>
								<i class="bi bi-check2-all text-primary"></i>
								3. Kamera
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								6.6 inç OLED ekran
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								HDR ekran
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								12 MP Geniş Kamera
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Gece Modu
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Wifi
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Siri
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								8K Video Kaydı
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								True Tone Ekran
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Stereo Kayıt
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								FaceID
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								SOS
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								GPS
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Hücresel Veri
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Görüntülü Arama
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Arka Kamera
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Dolby Ses
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Video Oynatma
							</li>
							<li>
								<i class="bi bi-check2 text-primary"></i>
								Takvim
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- buy -->
		<section class="buy">
			<div class="container">
				<div class="row">
					<div class="col-10 mx-auto my-5">
						<div class="accordion" id="accordionBuy">
							<div class="accordion-item">
								<h2 class="accordion-header">
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapseOne"
										aria-expanded="true"
										aria-controls="collapseOne"
									>
										Satın Al
									</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionBuy">
									<div class="accordion-body">
										<h2 class="my-3">Depolama Alanı</h2>
										<ul class="list-group list-group-horizontal storage">
											<li class="list-group-item">
												<input type="radio" name="storageRadio" id="storage1" />
												<label for="storage1">512 GB</label>
											</li>
											<li class="list-group-item">
												<input type="radio" name="storageRadio" id="storage2" />
												<label for="storage2">1 TB</label>
											</li>
										</ul>
										<h2 class="my-3">Renk</h2>
										<ul class="list-group list-group-horizontal color">
											<li class="list-group-item">
												<input type="radio" name="colorRadio" id="color1" />
												<label for="color1">Uzay Siyahı</label>
											</li>
											<li class="list-group-item">
												<input type="radio" name="colorRadio" id="color2" />
												<label for="color2">Gök Mavisi</label>
											</li>
										</ul>
										<button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
											Satın Al
										</button>
										<div
											class="modal fade"
											id="exampleModal"
											tabindex="-1"
											aria-labelledby="exampleModalLabel"
											aria-hidden="true"
										>
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="exampleModalLabel">Satın alma gerçekleştirilemiyor...</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body text-start">
														Üzgünüz. Satın alma işlemi bulunduğunuz bölgede şu an gerçekleştirilememektedir.
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- footer -->
		<footer class="bg-black text-white">
			<div class="container py-5">
				<div class="row">
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Pear</p>
							<li><a href="./about-us.html">Hakkımızda</a></li>
							<li><a href="./faq.html">Sıkça Sorulan Sorular</a></li>
							<li><a href="./sitemap.xml">Site Haritası</a></li>
							<li><a href="./404.html">İletişim</a></li>
							<li><a href="./404.html">Destek alın</a></li>
							<li><a href="./404.html">Yasal Bilgiler</a></li>
						</ul>
					</div>
					<div class="col-6 col-lg-4">
						<ul>
							<p class="fw-bold">Faydalı Linkler</p>
							<li><a href="../index.html">Mağaza</a></li>
							<li><a href="./phone.html">üPhone 14</a></li>
							<li><a href="./phone-ult.html">üPhone 14 Ultimate</a></li>
							<li><a href="./band.html">Band</a></li>
							<li><a href="./404.html" disabled>üPad</a></li>
							<li><a href="./404.html">PearPods</a></li>
							<li><a href="./404.html">Mek</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-4 mt-4 mt-lg-0">
						<div class="row">
							<div class="col-12 text-center">
								<p class="fw-bold">Bizi takip edin</p>
								<ul class="list-group list-group-horizontal gap-3 justify-content-center">
									<li>
										<a href="https://github.com/aytugyesilyurt" target="_blank"><i class="bi bi-github"></i></a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/aytugyesilyurt/" target="_blank">
											<i class="bi bi-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/agyesilyurt/" target="_blank"><i class="bi bi-instagram"></i></a>
									</li>
								</ul>
							</div>
							<div class="col-9 mt-3 mx-auto">
								<div class="input-group mt-3">
									<input type="text" class="form-control" placeholder="Mailinizi girin" aria-label="Username" />
									<button class="btn btn-secondary">Abone Ol</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 text-center mt-5">
						<p>
							Bu sayfa ödev için oluşturulmuştur. Kullanılan örneklerin gerçek kişi, kurum, kuruluş, şirket veya ürünle
							ilgisi yoktur. Tamamen hayal ürünüdür.
						</p>
						<p>Aytuğ YEŞİLYURT</p>
					</div>
				</div>
			</div>
		</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"
		></script>
	</body>
</html>
