@media screen and (max-width: 720px) {
  .topnav-item{
    display: none !important;
  }
  .container {
    .banner {
      .banner-content {
        width: 80% !important;
      }
    }
    .postCard {
      width: 100% !important;
    }
  }
}
