.passed{
    background-color: #cc4e5c;
}

.completed{
    background-color: #32cd32;
}
.Buttons{
    color: white;
}
.todo{
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    margin-bottom: 9px;
}

.buttons-area{
    display: flex;
}

.todo-info{
    width: 61%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    text-shadow: #000 1px 1px 5px;

}
