* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin-top: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  border: 3px solid black;
}

.navDiv {
  border: 3px solid black;
  display: inline;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navA {
  text-decoration: none;
}

table,
td,
tr {
  /* border: 3px solid white; */
  width: 580px;
}
.socialMedia {
  background-color: white;
}
