body{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 980px;
    margin: 0 auto;
}
.header{
    height: 150px;
    margin-bottom: 10px;
    background-color: gray;
    border: 5px solid black;
}
.content{
    width: 690px;
    height: 600px;
    background: linear-gradient(to bottom,red,black );
    float: left;
}
.sidebar{
    width: 180px;
    height: 600px;
    background: linear-gradient(to bottom,red,black );
    float: right;
}
.footer{
    height: 100px;
    margin-top: 10px;
    background-color: gray;
    border: 5px solid black;
}
.clear{
    clear: both;
}