#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.col-4 {
  width: 33%;
  height: 25rem;
}

.col-8 {
  width: 66%;
  height: 25rem;
}

.lastSearchDiv {
  margin-top: 2rem;
}
