.search {
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

td:first-child,
th:first-child {
    border-radius: 20px 0 0 20px;
}

td:last-child,
th:last-child {
    border-radius: 0 20px 20px 0;
}

tr {
    vertical-align: middle;

}

.bi-info-circle-fill {
    transition: .3s ease;
}

.bi-info-circle-fill:hover,
.info:hover {
    color: red;
}

.coin-img {
    border-radius: 50%;
    margin: 0 10px 0 0;

}

.coin-symbol {
    width: 50px;
    font-size: 12px;
    background-color: rgb(113, 113, 113);
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    text-align: center;
}
.coinList {
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(2, 2, 2, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;

}
/* 



.coin-img {
    border-radius: 50%;
    margin: 0 10px 0 0;

}

.coin-symbol {
    width: 50px;
    font-size: 12px;
    background-color: rgb(113, 113, 113);
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    text-align: center;
}

.coin-name {
    width: 150px;
    text-align: left;
    margin: 0 30px;
}

.coin-price {
    width: 30px;
    margin-right: 25px;
}

.coin-changes {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.coin-1h,
.coin-1d,
.coin-1w {
    margin: 0 20px;
    width: 25px;
    margin-right: 50px;
}

.coin-marketCap {
    margin: 0 50px;
    width: 50px;
}

.coin-volume,
.coin-availableSupply {
    width: 50px;
    margin: 0 50px;
}

@media screen and (max-width:992px) {
    .defaultListTitle{
        flex-direction: row;
    }
    
} */