@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
  
}

@media (min-width: 1200px) {
  .container1 {
    max-width: 1140px !important;
  }
  
}

@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  .get-started {
    display: none !important;
  }

  .home-section h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .home-section p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
  }
  .col3 {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}
  
.col2-ideas {
  width: 100%;
  padding-left: 29px;
  margin-top: 10rem;
  flex: 0 0 auto;
}

.col-ideas {
  position:relative;
  width: 100%;
  display:flex;
  justify-content: center;
}
.col2-ideas h3 {
  font-size: 35px;
  line-height: 44px;
}
.col2-ideas-p1 {
  font-size: 20px;
  line-height: 28px;
}

.col2-ideas h4 {
  font-size: 20px;
    line-height: 26px;
}

.block-chart {
  position: absolute;
    bottom: -80px;
    right: 5px;
    width: 200px;

}
}

@media screen and (min-width: 920px) {
  .gray-box {
    padding: 80px;
  }

  .customers-heading h2 {
    line-height: 64px;
    font-size: 56px;
  }

  .customers-heading p {
    font-size: 24px;
    line-height: 32px;
  }

  .cards {
    justify-content: space-between;
  }
  .card2 {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .price-cards {
    justify-content: space-evenly;
  }
  .price-card {
    width: 23%;
    margin-bottom: 20px;
  }

  .newsletter-box {
    max-width: 95%;
    max-height: 480px;
    padding: 54px 30px;
    justify-content: space-evenly;
    align-items: center;
  }

  .newsletter-img {
    max-width: 332px;
    position: absolute;
    bottom: -250px;
    right: 0px;
    display: inline-block;
    z-index: 1;
  }

  .chart-image {
    max-width: 255px;
    height: 194px;
    bottom: -120px;
  }

  .newsletter-heading {
    width: 40%;
  }

  .newsletter-heading span {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .newsletter-heading h4 {
    font-size: 42px;
    line-height: 44px;
  }

  .newsletter-image {
    width: 50%;
  }

  .footer-top {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-top a {
    margin-left: 30px;
  }

  .footer-content {
    width: 20%;
  }

  .footer-bottom {
    justify-content: space-between;
  }
}


@media screen and (max-width: 1200px) {
  .nav-menu {
    display: none !important;
  }
  .col2 {
    display: none;
  }
  .col {
    flex: 0 0 auto;
    width: 100.333333%;
    padding: 20px;
  }
  .get-start {
    margin-top: 40px;
    display: flex;
  }
}
