@media (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
  
}

@media (min-width: 1200px) {
  .container1 {
    max-width: 1140px !important;
  }
  
}

@media (min-width: 992px) {
  .container {
    min-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  .get-started {
    display: none !important;
  }

  .home-section h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .home-section p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
  }
  .col3 {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
}
  
.col2-ideas {
  width: 100%;
  padding-left: 29px;
  margin-top: 10rem;
  flex: 0 0 auto;
}

.col-ideas {
  position:relative;
  width: 100%;
  display:flex;
  justify-content: center;
}
.col2-ideas h3 {
  font-size: 35px;
  line-height: 44px;
}
.col2-ideas-p1 {
  font-size: 20px;
  line-height: 28px;
}

.col2-ideas h4 {
  font-size: 20px;
    line-height: 26px;
}

.block-chart {
  position: absolute;
    bottom: -80px;
    right: 5px;
    width: 200px;

}
}

@media screen and (max-width: 1200px) {
  .nav-menu {
    display: none !important;
  }
  .col2 {
    display: none;
  }
  .col {
    flex: 0 0 auto;
    width: 100.333333%;
    padding: 20px;
  }
  .get-start {
    margin-top: 40px;
    display: flex;
  }
}
