.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.navbar {
  background-color: white;
  padding: 15px;
}

.logo {
  width: 100px;
}

.home-section {
  background-color: #BEE1E6;
}

li > img {
  width: 100px;
}