.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
}

.header {
  padding: 10px 0;
  float: left;
  width: 100%;
  position: relative;
}

.navbar {
  background-color: white;
  padding: 35px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar a {
  cursor: pointer;
}

.logo {
  width: 134px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  width: 50%;
  color: black;
}

.nav-menu a:hover {
  transition: all 0.2s ease;
  color: #006d77;
}

.get-started {
  display: flex;
  border-radius: 30px;
  height: 3.5rem;
  background: #f2f4f7;
  outline: none;
  text-align: center;
  width: 150px;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}

.get-started:hover {
  background-color: #101828;
  transition: all 0.3s ease;
}

.get-started button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.get-started button:hover {
  color: white;
}

.home-section {
  background-color: #bee1e6;
}

li > img {
  width: 100px;
}

.line {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  top: -0.7rem;
  cursor: pointer;
}

.hamburger {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;  
}

.hamburger-menu {
  position: absolute;
  right: 25px;
  display: grid;
  cursor: pointer;
}

#menu {
  visibility: hidden;
  height: 20px;
  bottom: -10px;
  position: relative;
}

.nav-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home-section {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 20px;
}

.home-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.img-fluid {
  max-width: 100%;
}
.tag1 {
  background-color: #006d77;
  color: #fff;
  border-radius: 50px;
  padding: 14px 28px;
  font-size: 14px;
  line-height: 14px;
  font-family: Chivo, sans-serif;
  display: inline-block;
}

.banner {
  width: 100%;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 200px;
  width: 200px;
  background: url(https://agon-nextjs-13.vercel.app/_next/static/media/pattern-6.8b501f61.svg)
    no-repeat;
  background-size: cover;
}

.home-section h1 {
  margin-top: 30px;
  font-size: 64px;
  letter-spacing: 0;
  color: #101828;
}
.home-section p {
  color: #667085;
  font-size: 24px;
}

.get-start {
  margin-top: 40px;
}

.get-start button:first-child {
  color: white;
  background-color: #101828;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  padding: 22px 45px;
  border: 1px solid transparent;
  cursor: pointer;
}

.get-start button:first-child:hover {
  background-color: white;
  color: #101828;
  transition: all 0.4s ease;
}

.get-start button:last-child {
  margin-left: 40px;
  outline: none;
  border: transparent;
  background-color: transparent;
  font-size: 18px;
  background-image: url(https://agon-nextjs-13.vercel.app/_next/static/media/icon-triangle.ac473974.svg);
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 30px;
  cursor: pointer;
}

.col {
  flex: 0 0 auto;
  width: 56.3333333333%;
  position: relative;
  z-index: 10;
}

.col2 {
  width: 43.333%;
  flex: 0 0 auto;
}

.col3 {
  display: flex;
  flex: 0 0 auto;
  width: 70%;
  margin-top: 50px;
  justify-content: space-between;
}

.block-images {
  padding: 20px 0 0;
  position: relative;
  width: 100%;
  float: right;
}

.block1-image {
  position: absolute;
  bottom: 20px;
  left: -70px;
  z-index: 3;
  width: 220px;
  height: 260px;
}
.block1-image img {
  border-radius: 10px;
  animation: rowslide 4s linear infinite alternate;
}

.block2-image {
  z-index: 3;
  position: absolute;
  top: 15%;
  right: -60px;
  height: 169px;
  width: 155px;
}

.block2-image img {
  border-radius: 10px;
  animation: upslide 2s linear infinite alternate;
}

.col3 p {
  font-size: 14px;
  line-height: 19px;
}

.numbers {
  color: #101828;
  font-size: 28px;
}

#img1 {
  animation: upslide 2s linear infinite alternate;
}


.companies-section {
  margin-top: 80px;
  text-align: center;
}

.companies-section h2 {
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 60px!important;
    color: #101828!important;
    font-size: 35px;
    line-height: 38px;
}

.col-list {
  flex: 0 0 auto;
    width: 100%;
}

.list-partners {
  width: 100%;
    border-bottom: 1px solid #d0d5dd;
    padding-bottom: 50px;
    display: inline-block;
    text-align: center;
}

.list-partners li {
  display: inline-block;
    text-align: center;
    width: 18%;
    margin-bottom: 30px;
}

.list-partners img {
  display: inline-block;
    width: 100%;
    padding: 15px;
    line-height: 40px;
}

.list-partners img:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 14px 14px 36px hsla(0,0%,60%,.22);
  transform: translateY(-3px);
}

.ideas-section {
  display: inline-block;
    width: 100%;
    margin-top: 120px!important;
}

.col-ideas {
  position: relative;
    width: 50%;
}

.col2-ideas {
  width: 50%;
  padding-left: 55px;
  flex: 0 0 auto;
}
.col2-ideas h3 {
  font-weight: 700;
    line-height: 64px;
    color: #101828;
    font-size: 56px;
    margin-top: 40px;
}

.col2-ideas h4 {
  font-family: Chivo,sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    font-size: 28px;
    line-height: 32px;
    width: 75%;
    padding: 20px;
    color:#101828;
}

.col2-ideas-p2 {
  color: #475467;
  font-family: Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px!important;
}

.col2-ideas-p1 {
  font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #475467;
    margin-top: 30px!important;
}



.inner-img {
  width: 90%;
  position: relative;
}

.inner-img img {
  border-radius: 16px;
}

.block-chart {
  position: absolute;
    bottom: -100px;
    right: -60px;
    width: 270px;
}
.block-chart img {
  box-shadow: 0 47px 65px rgba(21,28,38,.1);
  border-radius: 16px;
}

.tag1-ideas {
  background-color: #bee1e6;
    border-radius: 50px;
    padding: 14px 28px;
    color: #006d77;
    font-size: 14px;
    line-height: 14px;
}

.icon-container {
  margin-top: 40px;
  margin-bottom: 50px;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100% ;
}

.discover-section {
  padding-top: 100px;
}

.gray-box {
  background-color: #f2f4f7;
  padding: 40px;
  margin: 0 10px;
  border-radius: 58px;
}

.customers-heading {
  text-align: center;
}

.customers-heading > * {
  margin-top: 20px;
}

.heading-large {
  font-family: "Chivo", sans-serif;
  font-size: 35px;
  line-height: 44px;
  color: #101828;
  font-weight: 700;
}

.paragraph {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #475467;
  font-weight: 400;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.card2 {
  background-color: #fff;
  box-shadow: inset 0 40px 80px #fcfcfc;
  border-radius: 16px;
  padding: 24px 20px;
  margin-bottom: 20px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card2:hover {
  transform: translateY(-5px);
}

.card2 h5 {
  font-size: 18px;
  line-height: 24px;
}

.card-image h4 {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
}

.card2 p {
  height: 84px;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}

.card-image p {
  display: inline;
  font-size: 14px;
  line-height: 19px;
  color: #101828;
}

.card-image {
  padding: 15px 0 0 100px;
  margin-top: 32px;
  min-height: 80px;
  position: relative;
}

.img-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
}

.img-user img {
  border-radius: 4px;
}

.plans-heading {
  margin-top: 50px;
  padding: 0 12px;
  text-align: center;
}

.plans-heading h3 {
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 10px;
}

.plans-content {
  margin-top: 20px;
}

.plan-switch {
  margin-top: 10px;
  text-align: center;
}

.plan-switch span {
  color: #101828;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
}

.switch-button {
  margin: 0 20px;
  position: relative;
  width: 65px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-button span {
  background-color: #101828;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.switch-button span:before {
  background-color: #f2f4f7;
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 3px;
  transition: 0.4s;
}

.switch-button input:checked + .slider {
  background-color: #006d77;
}

.switch-button input:checked + .slider:before {
  transform: translateX(35px);
}

.price-cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.price-card {
  border: 1px solid #d0d5dd;
  width: 100%;
  padding: 40px 32px;
  background-color: #fff;
  border-radius: 16px;
  margin: 0 10px 30px 10px;

  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.price-card:hover {
  transform: translateY(-5px);
}

.plan-price {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

.plan-price .heading-large {
  font-size: 25px;
  line-height: 30px;
}

.plan-price .paragraph {
  font-size: 17px;
  line-height: 23px;
  color: #98a2b3;
}

.plan-text {
  border-bottom: 1px solid #d0d5dd;
  padding: 0 0 40px;
  margin-bottom: 21px;
}

.plan-text h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}

.plan-text p {
  color: #98a2b3;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.plan-specs {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  min-height: 200px;
}

.plan-specs li {
  width: 100%;
  padding: 1px 0 1px 30px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #101828;
  background: url("https://agon-nextjs-13.vercel.app/_next/static/media/check-circle.8df4e653.svg")
    no-repeat 0;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.price-card a {
  display: inline-block;
  border: 1px solid transparent;
  padding: 12px 22px;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #101828;
  font-size: 18px;
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/arrow-small-right-w.2fff1760.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  line-height: 22px;
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
}

.active {
  background-color: #006d77 !important;
}

.active h4,
.active span,
.active p,
.active li {
  color: #fff !important;
}

.active li {
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/check-circle-pink.4bdb8306.svg");
}

.active a {
  border: 1px solid #fff;
  background-color: transparent;
}

.price-card:hover {
  background-color: #006d77;
}

.price-card:hover h4,
.price-card:hover span,
.price-card:hover p,
.price-card:hover li {
  color: #fff;
}

.price-card:hover li {
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/check-circle-pink.4bdb8306.svg");
}

.price-card:hover a {
  border: 1px solid #fff;
  background-color: transparent;
}

.newsletter-section .container {
  margin-top: 100px;
}

.newsletter-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 50px 15px;
  border-radius: 18px;
  background-color: #bee1e6;
  position: relative;
}

.newsletter-heading .paragraph {
  color: #667085;
}

.newsletter-heading span {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.newsletter-heading h4 {
  margin: 10px 0;
  font-size: 27px;
  line-height: 32px;
}

.newsletter-heading p {
  line-height: 28px;
  font-size: 16px;
}

.newsletter-heading a {
  color: #006d77;
}

.input-box {
  background: #fff;
  max-width: 500px;
  padding: 11px 12px;
  border-radius: 55px;
  margin-top: 30px;
}

.input-box form {
  display: flex;
  align-items: center;
}

.input-box input {
  width: 90%;
  padding: 15px;
  border: 0;
  min-height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #98a2b3;
}

.input-box button {
  background-color: transparent;
  border: 1px solid transparent;
  background-image: url("https://agon-nextjs-13.vercel.app/_next/static/media/btn-send.793d82ba.svg");
  background-repeat: no-repeat;
  background-position: -30px -21px;
  display: inline-block;
  height: 57px;
  width: 72px;
  border-radius: 0;
  padding: 0;
}

.newsletter-image {
  margin-top: 30px;
  position: relative;
}

.chart-image {
  position: absolute;
  bottom: -10px;
  left: 0;
  max-width: 225px;
  height: 164px;
  z-index: 2;
  animation: hero-thumb-animation 2s linear infinite alternate;
}

.chart-image img {
  max-width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  display: inline-block;
  z-index: 1;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
  border-radius: 16px;
}




@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.newsletter-img {
  display: inline-block;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
  border-radius: 16px;
}

.footer {
  margin-top: 120px;
}

.footer .container {
  padding: 0 15px;
}

.footer-top {
  padding: 0 0 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e7ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-top > * {
  text-align: center;
}

.footer-top img {
  display: inline-block;
}

.footer-top span {
  margin: 0 0 20px;
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
}

.footer-top a {
  display: inline-block;
  font-family: "Chivo", sans-serif;
  border-radius: 4px;
  background-color: #101828;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 18px 20px;
  border: 2px solid transparent;
}

.footer-contents {
  display: flex;
  flex-wrap: wrap;
}

.footer-content {
  margin-bottom: 30px;
  width: 100%;
}

.footer-content .heading-large {
  font-size: 18px;
  line-height: 24px;
}

.footer-content .paragraph {
  line-height: 28px;
  font-size: 16px;
}

.footer-content p {
  margin: 10px 0;
}

.footer-content ul {
  margin-top: 20px;
}

.footer-content ul > li {
  margin-bottom: 8px;
}

.footer-content a {
  color: #667085;
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e4e7ec;
  padding: 30px 0;
  color: #667085;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.footer-bottom span {
  font-weight: 700;
  color: #98a2b3;
  font-size: 16px;
  line-height: 24px;
}

.footer-bottom a.paragraph {
  display: inline;
  margin-left: 50px;
  color: #98a2b3;
  line-height: 28px;
  font-size: 16px;
}

.footer-socials {
  text-align: center;
  margin-top: 15px;
}

.icon {
  border-radius: 50%;
}

.footer-socials a {
  display: inline-block;
  margin-left: 10px;
}

.footer-socials i {
  font-size: 33px;
  color: #006d77;
  border-radius: 50%;
}


.logo {
  width: 100px;
}
.home-section {
  background-color: #BEE1E6;
}
li > img {
  width: 100px;
}
.discover-section,.built-section, .from-section{
  padding: 0 10%;
}
.title-ofc{
  text-align: center;
  padding: 5%;
}
.h2-ofc{
  font-size:46px;
  margin: 20px 0px;
  font-weight: 600;
  color: #101828;
}
.title-ofc p,.title-ofc span{
  font-size: 1.5rem;
  margin: 20px 0px;
  color: #475467;
}
.card-ofc{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 8%;
  padding-bottom: 0px;
  margin: 0 0 50px 0;
  border-radius: 20px;
  gap: 30px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  cursor: pointer;
}
.card-ofc:hover{
  transform: translateY(-5px);
}
.h4-ofc{
  font-size: 28px;
  font-weight: 600;
  color: #101828;
}
.p-ofc{
  font-size: 14px;
  padding-top: 3%;
  font-weight: 300;
  line-height: 1.6;
  color: #475467;
}
/* card color */
.salmon-ofc{
  background-color: #FFF3EA;
}
.blue-ofc{
  background-color: #BEE1E6;
}
.cards-area-ofc{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
/* built list area */
.built-list-ofc{
  display: grid;
  grid-template-rows: 1fr;
}
.built-items-ofc{
  padding: 0 12px;
  display: flex;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10%;
}
.built-items-ofc span{
min-width: 50px;
width: 30%;
}
.items-title-ofc{
  padding: 0 0 10% 3%;
}
/* from-section area */
.from-section .title-ofc{
  text-align: start;
  border-bottom: 2px dashed #006d77;
}
.from-span{
  padding: 10px 24px;
  background-color: #BEE1E6;
  color: #006d77;
  border-radius: 50px;
  font-size: 14px !important;
}
.from-area-ofc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;
  gap:30px;
}
.from-area-ofc h4{
font-size: 18px;
margin-left: 5px;
color: #101828;
}
.from-area-header{
  display: flex;
}
/* changed */
.img-side-ofc{
  margin-bottom: 100px;
}
.inner-image{
  position: relative;
}
.inner-image img{
  border-radius: 15px;
}
.block-image{
  position: absolute;
  width: 60%;
  bottom: -20px;
  right: -20px;
}
.discover-section .container, .from-section .container{
  display: grid;
}
@media screen and (min-width:992px) {
.from-section .container{
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 50px;
    margin:80px auto;
  }
  .built-section{
    margin: 140px 0 0 0;
  }
  .built-list-ofc{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  .built-items-ofc span{
    min-width: 50px;
    width: 50%;
    }
  .cards-area-ofc{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 30px;
    }
  .title-ofc{
      padding: 5% 20%;
    }
  .from-section .title-ofc{
      padding: 5%;
    }
    .card-ofc{
      position: relative;
      height: 400px;
      gap: 0px;
    }
    .card-img-ofc{
      max-width: 85%; 
      position:absolute;
       bottom: -55%;
       padding: 20px;
       background-color: #e2e2e2;
       border-radius: 20px;
    }
    .block-image{
      bottom: -170px;
      right: -90px;
    }
}





/* Animations */

@keyframes upslide {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rowslide {
  0% {
    transform: translateY(-20px) translateX(50px);
  }
  100% {
    transform: translateY(-20px) translateX(0);
  }
}
