* {
  font-family: "Roboto", sans-serif;
}
a{
  text-decoration: none;
}
.top-menu{
  a{
    font-size: 12px;
  }
}
.price-plan-inner {
  box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
  .price-plan {
    padding: 0;
    .price-hover-stick {
      border-top: 1px solid transparent;
      padding: 75px 0px 0px 45px;

      .price-text {
        border-right: 1px solid #eee;
      }
    }
  }
}
ul {
  margin-block-end: 0;
}
.price-plan:hover {
  .price-hover-stick {
    border-top: 1px solid #6247ea;

    h2 {
      color: #6247ea;
    }
  }
  a {
    display: block !important;
    margin-bottom: -57px;
  }
}
.pricing-plans {
  padding: 100px 0;
}
.btn-nav {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}
.nav-menu {
  text-transform: uppercase;
  color: #222222;
  display: inline-block;
  &:hover {
    color: #6247ea;
  }
}
.banner-inner {
  overflow: hidden;
  width: 100%;
  padding: 225px 0px;
  margin-bottom: 7em;
}
.solutionBtn:hover {
  background-color: #6247ea !important;
  color: white;
  border: none !important;
}
.mainImage {
  background-image: url("	https://preview.colorlib.com/theme/hosthub/img/map-bg.png");
  height: 100%;
  width: 100%;
}
.solutionCard {
  border: 1px solid #eee;
  box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
  &:hover {
    transition: all 500ms linear 0s;
  }
}
.blogCard {
  border: 1px solid #eee;
  &:hover {
    box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
    transition: all 500ms linear 0s;
    h4 {
      color: #6247ea;
    }
  }
}
.card {
  border: 1px solid #eee !important;
  .card-text {
    font-size: 14px;
  }
  &:hover {
    box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
    transition: all 300ms linear 0s;
  }
}
.newCard {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #9381eb;
  transition: all 300ms linear 0s;
  &:hover {
    background: #fff;

    h4 {
      color: #222 !important;
    }
    p {
      color: #777 !important;
    }
  }
}

.logo {
  img:hover {
    opacity: 1 !important;
  }
}
.footer-a {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin-left: 6px;
  background: #1e2235;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
}
