* {
  font-family: "Roboto", sans-serif;
}

.price-hover-stick {
  box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
}
.price-hover-stick:hover {
  border-top: 2px solid #6247ea;
  .price-inner:hover {
    .get-btn a {
      display: block !important;
    }
    h2 {
      color: #6247ea;
    }
  }
}
// .header {
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 99;
// }
.top-menu {
  a {
    text-decoration: none;

    line-height: 40px;
    display: inline-block;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
}
.btn-nav {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}

.nav-menu {
  font: 500 12px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding: 0px;
  display: inline-block;
  &:hover {
    color: #6247ea;
  }
}
.banner-inner {
  overflow: hidden;
  width: 100%;
  padding: 225px 0px;
  margin-bottom: 7em;
}
