*{
    margin: 0;
    font-family: "Roboto",sans-serif;
}

/* ⁡⁣⁣⁢----- NAVBAR -----⁡ */
nav {
    background-color: #353F4A;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navbar {
    height: 100%;
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-logo img{
    width: 100px;
}

.nav-items{
    width: 60%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.nav-items a{
    color: #888E97;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    transition: 0.3s ease-in-out;

}
.nav-items a:hover {
    color: white;
    transition: 0.3s ease-in-out;
}

.nav-items span {
    color: white;
}

.login-btn {
    background-color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: #353F4A;
    cursor: pointer;
}

/* ⁡⁣⁣⁢----- SECTION1 -----⁡ */

.section1{
    background-color: #353F4A;
    padding-top: 100px;
    
    display: flex;
    flex-direction: row;
}
.s1-outside-social {
    
    height: 200px;
    left: 20px;
    top: 40%;
    position: absolute;
}

.s1-outside-social a {
    color: white;
    font-size: 30px;
}

.s1-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.s1-content {
    width: 1100px;
    margin: auto;
    line-height: 1.5em;
}

.s1-content i {
    font-size: 30px;
}
.s1-content p{
    margin-top: 20px;
    color: #888E97;
}

.s1-content h1 {
    font-size: 45px;
    margin-top: 20px;
}

.s1-info{
    margin: auto;
    width: 60%;
    text-align: center;
    color: white;
}

.s1-phones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.phone {
    align-items: center;
    display: flex;
    justify-content: center;
}
.sub-phone img {
    width: 75%;
    background-repeat: no-repeat;
    
}
.mid-phone img {
    width: 100%;
    background-repeat: no-repeat;

}
/* .background-line .line-rounded {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid rgba(255,255,255,.03);
    border-radius: 50px;
    left: 20%;
    top: 50%;
    transform: translateX(-50%);
} */


/* ⁡⁣⁣⁢----- SECTION2 -----⁡ */

.section2{
    background-color: #303940;
    padding-bottom: 100px;
    padding-top: 150px;
}

.s2-content{
    width: 1100px;
    
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.s2-info {
    color: white;
    width: 50%;
    
    text-align: center;
    margin: auto;
}
.s2-info h4{
    color: #0E77A3;
}
.s2-info h1 {
    font-size: 40px;
}
.s2-info p {
    line-height: 1.5em;
    margin-top: 20px;
    color: #888E97;
}

.s2-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.s2-card{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.s2-card:hover {
    background-color: #353F4A;
    transition: 0.3s ease-in-out;

}
.s2-card-icon i{
    background: url("../img/bomb.png");
    
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    display: flex !important;
text-align:  center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
   
}

.s2-card-info{
    color: #888E97;

}

.s2-card-info a {
    color: white;
    text-decoration: none;
    
}
.s2-card-info p {
    margin-top: 20px;
    line-height: 1.5em;
}

/* ⁡⁣⁣⁢----- FOOTER -----⁡ */

.bg-arrow{
    background-color: #343F4B;
    width: 100%;
}
.bg-arrow img{
    width: 100%;
    height: 100%;
}

.footer-section {
    background-color: #343F4B;
    padding: 100px 0;
}

.footer-section-content {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #888E97;
}



.fs-col{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 180px;
}
.fs-col img{
    width: 120px;
    
}


.fs-social-icons{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 20px;
   
}

.fs-social-icons a {
    color: white;
}

.col1{
    width: 33%;
    
}
.col1 p{
    line-height: 1.5em;
}

.col2 h2{
    color: white;
}

.col2 li{
    list-style: none;
    list-style-position:inside;
    display: flex;

}

.col2 a{
    text-decoration: none;
    margin-top: 20px;
    color: #888E97;
}

.col4{
    width: 33%;
}

.col4 h2{
    color: white;
}

.col4 input{
    width: 60%;
    padding: 20px;
    margin: 0;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
}

.col4 button{
    margin: 0;
    padding: 20px 20px;
    background-color: #0176A2;
    border: none;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* ⁡⁣⁣⁢----- MINI FOOTER -----⁡ */

footer {
    height: 80px;
    background-color: #303940;
    color: #888E97;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}
/* ⁡⁢⁢⁡⁢⁣⁣---- MEDIA QUERIES ----⁡⁢⁣⁡⁡⁡ */


@media only screen and (min-width: 996px){
    .mobile-nav{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    .navbar{
        width: 90%;
    }
    .footer-section-content{
        width: 100%;
    }

    .s2-content {
        width: 80%;
    }

    .s2-info {
        width: 80%;
    }
    .s2-cards {
        flex-direction: column;
        align-items: center;
    }
    .s2-card {
        width: 60%;
    }
    
    .s1-content{
        width: 80%;
    }

    .s1-phones
    {
        flex-direction: column;
    }

    .sub-phone img {
        width: 100%;
    }
    .mid-phone img {
        width: 100%;
    }
    .s1-outside-social {
        display: none;
    }

    .s1-info{
        width: 80%;
    }
}

@media only screen and (max-width: 996px){
    .navbar {
        display: none;
    }
    .mobile-nav{
        margin: auto;
        height: 80px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-nav-logo img{
        width: 100px;
    }

    .burger-menu a{
        color: white;
        font-size: 20px;
    }

    .footer-section-content{
        flex-direction: column;
        width: 100%;
       justify-content: space-around;
        height: 100vh;
        padding: 0;
    }

    .fs-col{
        width: 80%;
        height: 200px;
    }
    .col4 input{
        width: 80%;
    }
}

@media only screen and (max-width: 768px){
    .col4 input{
        width: 65%;
    }
}