li {
  cursor: pointer;
  background-color: #F2F2F2;
}

li:nth-child(2n) {
  background-color: rgb(210, 210, 210);
}

span {
  cursor: pointer;
  transition: all .3s ease-in-out;
}

span:hover {
  transform: scale(1.2);
  color: red;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}