/* .borderRadius {
    border-radius: 50%;
} */

.bgImage {
    background-image: url(https://i.pinimg.com/236x/cc/e0/78/cce078329ede2e53f7dde2d205e93c79.jpg);
    width: 500px;
    height: 500px;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    color: wheat;
}