.paragraph {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .paragraph{
        font-size: 14px;
    }
}

.link{
    font-size: 18px;
    text-decoration: none;
    color: rgb(242,116,13);
}

.link:visited{
    color: rgb(70,242,13);
}

.link:hover {
    color: rgb(242,82,13);
}

.link:active{
    color: rgb(13,242,242);
}

.list-item {
    list-style-type: none;
    font-size: 18px;
    color: rgb(242,116,13);
}

/* .list-item:nth-child(n){
    color: rgb(215,215,215);
} */

.text1::first-letter {}