*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#canvas{
  width: 100%;
  height: 100vh;
  border: 1px solid black;

 
}
nav{
  position: fixed;
  
  width: 100%;
}
.container{
  width: 80%;
  margin: auto;
}
.nav-container{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navtop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bottom{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);


}

.nav-logo{
  display: inherit;
}
.nav-logo img{
  width: 5vh;
  height: 5vh;
}
.nav-links ul{
  display: flex;
  gap: 1rem;

}
.nav-links ul li{
  background-color: aqua;
  padding: .2rem 1rem;
  border-radius: 5px;
}

.clr{
height: 35px;
width: 35px;
background-color: blue;
border-radius: 50%;
border: 3px solid white;
transition: transform .5s;
}
.clr:hover{
  transform: scale(1.2);
}
.clr:nth-child(1){
  background-color: black;
}
.clr:nth-child(2){
  background-color: blue;
}
.clr:nth-child(3){
  background-color: red;
}
.clr:nth-child(4){
  background-color: orange;
}
.clr:nth-child(5){
  background-color: green;
}
.clr:nth-child(6){
  background-color: purple;
}
.clr:nth-child(7){
  background-color: yellowgreen;
}
.clr:nth-child(8){
  background-color: #fff;
}
button{

outline :none;
padding: .4em 1rem;
border-radius: 3px;
background-color: #03bb56;
color:#fff ;
border: 1px solid white;
font-size: 15px;
font-weight: bold;
}

button:hover{
  background-color: #fff;
  color: #03bb56;
  border: 1px solid #03bb56;
  cursor: pointer;
  transition: .5s;
}
input [type="color"]{
  width: 60px;
  height: 40px;

}
#lineWeighto{
  color: white;
  font-weight: bold;
font-size: 15pt;
}
#lineWeight{
background: linear-gradient(to right, #010405, #08408f);
height: .5rem;
outline: none;
-webkit-appearance: none;
cursor:ew-resize;
border: 1px solid white;
border-radius: 5px;
accent-color: white;
}

.emoji{
  font-size: 1.5rem;
  color: white;
  padding-bottom: 1rem;
}
