* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* p{
  font-size: 18px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container-header{
  background-image: url("./images/bg-hero-desktop.svg");
  background-size: cover;
  margin: 0 auto;
  padding: 5vh 5vw;
  background-color: hsl(193, 100%, 96%);
}
.main-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5% ;
}
.logo{
  width: 9rem;
}
.white-btn{
  border-radius: 30px;
  padding: 0.7rem 3.5rem;
  border: none;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-content{
  display: flex;
  justify-content: space-between;
  
}
.header-content{
  width: 40%;
  align-self: center;
}
.lead-content{
  font-size: 36px;
  line-height: 45px;
}
.lead-content, .content-desc{
  margin-bottom: 8%;
}
.pink-btn{
  border-radius: 30px;
  padding: 0.7rem 3.5rem;
  border: none;
  background-color: hsl(322, 100%, 66%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
}
.mockup{
  width: 55%;
}
