:root {
	--primary-bg-color: #ffff;
	--secondary-bg-color: #fefefe;
	--third-bg-color: #202942;
	--primary-button-color: #fe5714;
	--secondary-button-color: #feede6;
	--button-hover: #df4000;
	--primary-reverse-text: var(--secondary-bg-color);
	--secondary-reverse-text-dark: #7a818f;
	--primary-text: #24272c;
	--secondary-text: #8391a5;
}

.col {
	border: 1px solid black;
	padding: 0 12px;
	width: 1140px;
	text-align: start;
}

.section_title {
	padding-bottom: 8px;
	margin-bottom: 24px;
}

.text_primary {
	width: 1140px;
	font-size: 15px;
	height: 22px;
	margin: 0 0 8px 0;
}

.title {
	margin-bottom: 16px;
	font-size: 28px;
	margin: 0 0 16px 0;
}

.row {
	display: flex;
}

.text_center {
	text-align: center;
}

.blog_description {
	margin: 0 258px;
	font-size: 15px;
}
.blog_coloumn {
	box-sizing: border-box;
	width: 380px;
	display: block;
	border: 0.5px solid rgb(142, 139, 139);
	padding: 8px 12px 0 12px;
}
.blog_news_card {
}

.blog_news_card_body {
}

.blog_news_card_title {
	padding: 24px;
}

.blog_image {
	width: 356px;
	height: 222.5px;
	background-position: center;
	background-size: cover;
}

@media screen and (min-width: 767px) {
	.container {
		padding: 0 50px;
	}
}

@media screen and (min-width: 999px) {
	.container {
		width: 1000px;
		margin: 0 auto;
	}
}
