$primary: #ec9d5f;
$secondary: #6247ea;
$warning: #04091e;
$info: #f9f9ff;
$dark: #222222;

$small-font-size: 12px;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 1.3rem,
  6: 2.3rem,
);

$card-border-radius: 10px;
$card-border-width: 0.5px;
$card-border-color: #eeeeee;
