body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #777777;
}

.py {
  padding-top: 225px;
  padding-bottom: 225px;
}

.sec1-p {
  max-width: 570px;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .bannerimg {
    display: none;
  }
  .nav1 {
    display: none;
  }
}
