$textColor: #b0978d;
$headerColor: black;
$primary: #ec9d5f;
$secondary: #6247ea;

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #777777;
}

.py {
  padding-top: 150px;
  padding-bottom: 150px;
}

.sec1-p {
  max-width: 570px;
  margin: auto;
}

.prices {
  padding: 100px 0;
  background-color: #fafcff;
  .price-cards {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);

    .price-card {
      margin-bottom: -45px;
      &:hover {
        border-top: 2px solid $secondary;
        button {
          opacity: 1;
          transition: 0.3s ease-in-out;
        }
      }
      padding-left: 0;
      padding-right: 0;
      .price {
        padding: 50px 0px 30px 40px;
        border-right: 0.1px solid #e2dfdf;
        h2,
        h4 {
          color: $headerColor;
          span {
            color: $textColor;
            font-size: 16px;
          }
        }

        li {
          padding: 10px 0;

          a {
            text-decoration: none;
            color: $textColor;
          }
        }
      }

      button {
        opacity: 0;
        text-decoration: none;
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.custom-solution {
  padding: 100px 0;
  .solution {
    margin: auto;
    text-align: center;
    display: grid;
    gap: 20px;

    p {
      color: #f4caab;
    }
    button {
      background-color: white;
      width: 300px;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}

.our-client {
  padding: 100px 0px;
  .our-client-content {
    .occ-left {
      margin-right: 10px;
      display: grid;
      gap: -40px;
      align-items: center;
      h1 {
        color: $headerColor;
      }
    }
    .occ-cards {
      .occ-card {
        border: 0.1px solid #e2dfdf;
        margin-top: 10px;
        margin-left: 20px;
        border-radius: 10px;
        padding: 50px 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          border: 0;
          -webkit-box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
          box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

.top-services {
  padding: 100px 0;
  background: $secondary;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background: url(../img/map-bg.png) no-repeat scroll center center;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .ts-top {
    margin: auto;
    text-align: center;
    p {
      color: #9c8af3;
    }
  }

  .ts-cards {
    .ts-card {
      padding: 40px 50px;
      border: 1px solid #9c8af3;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);

      p {
        color: #9c8af3;
        margin-top: 20px;
      }
    }
  }
}

.latest-post {
  padding: 100px 0;

  .lp-top {
    margin: auto;
    text-align: center;
    h2 {
      color: $headerColor;
    }
  }

  .lp-cards {
    gap: 20px;
    .lp-card {
      display: grid;
      gap: 20px;
      border: 0.1px solid #e5e5e6;
      border-radius: 10px;
      padding: 50px 30px;
      transition: 0.3s ease-in-out;

      &:hover {
        border: 0;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
        box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
        transition: 0.3s ease-in-out;
      }
      span {
        width: 110px;
        padding: 5px 10px;
      }
      h4 {
        color: $headerColor;
      }
      .lp-links {
        display: flex;

        gap: 20px;
        a {
          text-decoration: none;
          color: #ababaa;
        }
      }
    }
  }
}

.brand-logos {
  background-color: #fafcff;
  .bl-img {
    gap: 20px;
    img {
      opacity: 0.5;
    }
  }
}

footer {
  .f-top {
    .f-left {
      a {
        text-decoration: none;
      }
    }

    .f-middle {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .f-input {
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 40px;
        input {
          border-radius: 30px;
        }
        button {
          border-radius: 30px;
        }
      }
    }
    .f-photos {
      gap: 20px;
    }
  }

  .f-bottom {
    a {
      color: #777777;
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 992px) {
  .bannerimg {
    overflow: hidden;
  }
}
@media screen and (max-width: 720px) {
  .bannerimg {
    display: none;
  }

  .nav1 {
    display: none;
  }
}
