#section{
    display: flex;
    margin: 25px;
    
}

aside{
    border-left: 1px solid rgba(0, 0, 0, 0.318);
    padding: 10px;
    background-color: rgb(243, 196, 205);
    width: 100%;
   float: right;
   border-radius: 10px;
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.318);
}
aside h3{
    text-align: center;
    color: crimson;
    text-decoration: underline;
    font-weight: bolder;
}
aside ol li{
    line-height: 30px;
}
aside ol li a{
    text-decoration: none;
}
header{
    text-align: center;
    font-weight: bolder;
    color: crimson;
    font-size: 50px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.318);
    background-color: rgb(243, 196, 205);
}
nav{
margin: 20px;
}
nav select{
background-color: rgb(243, 196, 205);
width: 100px;
height: 30px;
font-size: 15px;
text-align: center;
border-radius: 10px;
}

footer{
     border-top: 2px solid rgba(0, 0, 0, 0.318);
      padding: 7px 7px 7px 10px ;
     background-color: rgb(243, 196, 205);
     margin: 0 0 0 0;
     display:flex;
}
footer div img{
    cursor: pointer;
}

footer div p{
    display:inline; 
    margin-left: 400px;
}


