$primary: #E8A965;
$secondary: #EFF3FF;
$warning: #5E38A4;
$dark: #545454;
$success: #FDCB6E;
$info: #f8f8f8;

$navbar-light-active-color: $primary;
$navbar-light-color: #000000;
$navbar-light-hover-color: $primary;
$nav-link-font-size: .95rem;
$nav-link-font-weight: 500;
$nav-dropdown-hover-color: $primary;
$form-select-focus-width: 0;
$input-focus-border-color: #000000;
$input-focus-box-shadow: none;

$font-size-base: 1rem;
$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: $font-size-base * 0.85,
  8: $font-size-base * 2.88,
  9: $font-size-base * 1.15,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 2.3,
  10: $spacer * 6,
);

$position-values: (
  0: 0,
  1: 1rem,
  50: 50%,
  100: 100%
);