$font-family-sans-serif: "Dosis", sans-serif;
$dark: #222831;
$primary: gainsboro;
$danger: #ff0303;
$accordion-button-active-color:$danger;

$carousel-control-width: 5%;
$width: (
  property: width,
  class: w,
  values: (
    0: 0%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
  ),
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 20px,
  50: 75px,
);

$font-sizes: (
  1: 12px,
  2: 14px,
  3: 18px,
  4: 20px,
  5: 36px,
  6: 40px,
  7: 55px,
  8:25px,
  9:28px
);
