table{
    margin: 0 auto;
    width: 75%;
    
    
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px; 
     
}

thead tr{
    background-color: blue;
    color: antiquewhite;
    font-size: 18px;
}
tbody tr{
    text-align: center;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:hover{
    background-color: rgb(177, 196, 190);
}
   