
table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
th,td{
    border-bottom: 1px solid rgb(118, 116, 116);
    margin: 0 auto;
    padding: 10px;
    
}
thead tr{
    background-color: #77b789;
}
tbody tr:nth-child(even){
    background-color: #a7a7a7;
}
tbody tr:hover{
    background-color: #9286a4;
}
tr:last-child td{
    border:none;
}

