* {
  margin: 0;
  z-index: 2;
  box-sizing: border-box;
  text-align: center;
  color: rgb(0, 0, 0);
}
header {
  display: flex;
  background-color: rgb(9, 132, 213);
  height: 130px;
}
h1 {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  height: 112px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.icons a {
  margin-top: 10px;
  width: 3%;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
nav {
  height: 60px;
  background-color: rgba(255, 0, 0, 0.408);
  width: 100%;
}
nav a {
  font-size: 24px;
  padding: 10px;
  position: relative;
  top: 25%;
  text-decoration: none;
}
nav a:hover {
  background-color: rgba(248, 68, 68, 0.408);
}
main {
  background-color: rgba(16, 0, 245, 0);
  background-size: 110%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-image: url("https://i20.haber7.net/resize/1300x788//haber/haber7/photos/2022/14/mugla_nerede_muglada_nerelere_gidilir_bahar_kapida_muglada_nerelere_gitti_1649102845_1243.jpg");
  width: 70%;
  height: 675px;
  font-size: 20px;
}
main img {
  z-index: 1;
}
main form {
  display: flex;
  flex-direction: column;
}
main * {
  margin: 4.5px;
}
main label {
  color: white;
}
main input::placeholder {
  color: black;
}
.radio label {
  color: black;
}
.info {
  display: flex;
  flex-direction: column;
}
.info input {
  width: 250px;
  position: relative;
  left: 40%;
}
aside {
  background-repeat: no-repeat;
  background-size: 120%;
  width: 30%;
  height: 675px;
  background: linear-gradient(to bottom, #fdbb2da2, #22c0c397);
  font-size: 20px;
}
aside span {
  align-items: center;
}
aside div {
  margin: 8px;
  margin-left: 20px;
}
aside select {
  width: 173px;
  height: 19px;
}
.btn {
  text-align: center;
}
section {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 136, 16);
}
.row {
  display: flex;
}