body {
  background-image: url("https://media.istockphoto.com/id/1294763851/tr/vekt%C3%B6r/bo%C5%9F-bo%C5%9F-a%C3%A7%C4%B1k-krem-veya-bej-renkli-grunge-dokulu-vekt%C3%B6r-arka-planlar.jpg?s=612x612&w=0&k=20&c=oKLSsAmVs1gM4KpRkGGL8QOKv1R1Dq3EOfwlkxsr9MM=");
  } 

header{
    background-color: #b6c8d1;
    text-align: center;
    color: rgb(4, 45, 51);
  }
  
nav{
    background-color: rgb(250, 237, 237);
    height: 100px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }

h2{
    text-align: center;
  }

aside{
    background-color: rgb(232, 243, 190);
    width: 600px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  }

article{
    background-color: rgb(210, 190, 236);
    width: 730px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  } 

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b4d3e7;
    color: rgb(5, 0, 0);
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }






  
  