header{
    background-color: #b6c8d1;
    text-align: center;
    color: rgb(4, 45, 51);
  }
  
nav{
    background-color: rgb(250, 237, 237);
    height: 100px;
    text-align: center;
    margin-bottom: 40px;
  }

aside{
    background-color: rgb(232, 243, 190);
    width: 600px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  }

article{
    background-color: rgb(210, 190, 236);
    width: 730px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  } 

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b4d3e7;
    color: rgb(5, 0, 0);
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: 10px;

}





  
  