header{
    background-color: #b6c8d1;
    text-align: center;
    color: rgb(4, 45, 51);
  }
  
nav{
    background-color: rgb(243, 203, 203);
    height: 100px;
    text-align: center;
    margin-bottom: 40px;
  }

aside{
    background-color: rgb(191, 231, 209);
    width: 600px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  }

article{
    background-color: rgb(210, 190, 236);
    width: 730px;
    float: left;
    margin-top: 5px;
    align-items: center;
    text-align: center;
  } 

footer{
    background-color: #42545d;
    color: white;
    height: 100px;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 60px;
}
  
  