/*Start Built Section*/
.built-section{
  margin-top: 200px;
  padding: 0 159px;
}
.built-main{
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.built-p {
  padding: 0 12px;
}
.item-icon{
  position: relative;
  padding: 0 0 40px 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid #e4e7ec;
}
.item-icon .icon-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
}
.icon-left img{
  width:64px;
}
.built-header{
font-size:28px;
font-weight: 700;
letter-spacing: 0;
line-height: 32px;
}
.built-text{
  margin-top: 15px;
  color:#475467;
  font-family: Noto Sans,sans-serif;
  line-height: 28px;
  font-weight: 400!important;
  font-size: 16px;
}
/*Our Happy*/
.our-happy-section{
  margin-top:120px;
}
.bg-gray{
  background-color: #f2f4f7;
  border-radius: 58px;
}
.box-gray-80{
  padding:80px;
  align-content: center;
}
.four-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top:70px;
}
.card-grid {
  padding: 53px 48px;
  display: inline-block;
  border-radius: 16px;
  position: relative;
  background: #fff;
  box-shadow: inset 0 40px 80px #fcfcfc;
}

.card-grid h5 {
  font-size: 22px;
  color: #101828;
}

.card-grid p {
  margin-top: 20px;;
}
.box-img-user {
  position: relative;
    padding: 15px 0 0 100px;
    margin-top: 32px;
    min-height: 80px;
}

.img-user {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.img-user img {
width: 100%;
border-radius: 4px;
}
.p-14{
  font-size:14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 19px;
}
.user-text{
  font-size:16px;
  margin-bottom: 5px;
  font-family: Noto Sans,sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
/*Footer Css*/
#footer{
  margin-top:50px;
}
.footer-b-left{
  justify-content: space-between;
}
.footer-bottom{
  border-top: 1px solid #e4e7ec;
  justify-content: space-between;
}
.f-link, .footer-bottom{
  flex-wrap: wrap;
  padding: 30px 0;
  color: #667085;
  font-size: 14px;
  margin-right: 50px;
}

.footer-social i{
color:#101828;
margin-left: 20px;
}

/*Footer row*/
.footer-row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}



@media screen and (max-width: 390px) {
  .discover-section , .our-happy-section {
    width: 370px;
  }
  .text-heading {
      font-size: 35px !important;
  }
  .discover-img-area{
    flex-wrap: wrap !important;
  }
  .discover-main{
    padding: 0;
  }
  .discover-left, .discover-right{
    width: 346px;
    height: 414px;
    padding: 20px 55px;
    margin-top:40px;
  }
  .bg-left-img{
    margin-top: 60px;
  }
  .discover-left img, .discover-right img{
    width:13rem;
  }

  /*Built Section*/
  .built-section{
    margin-top: 60px;
    padding: 0;
  }
  .built-section > .container{
    width: 100%;
  }
  .built-main{
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .item-icon{
    margin-top: 40px
  }
  /*Our Happy Section*/
  .four-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
}
.card-grid{
  padding: 38px 25px;
}
.box-gray-80{
  width: 100%;
  padding: 40px;
}
.box-img-user{
  width:100%;
  padding: 0px;
}
.card-grid > .built-text{
  height: 84px;
    overflow: hidden;
    width: 100%;
}
.box-img-user{
  position: relative;
    padding: 0 0 0 100px;
    margin-top: 32px;
    min-height: 80px
}
}