$primary: rgb(36, 33, 36);
$secondary: rgb(95, 158, 160);
$info: #fcc200;

$accordion-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: white;
$accordion-color: white;
