// $primary: #23297a;
// $secondary: #fdf5e6;
// $info: #ffcc33;

// $primary: black;
// $secondary: #fdf5e6;
// $info: #ffcc33;

// $primary: rgb(51, 51, 51);
// $secondary: rgb(131, 137, 150);
// $info: rgb(27, 27, 27);

// $primary: rgb(176, 196, 222);
// $secondary: rgb(27, 27, 27);
// $info: #fdf5e6;

// $primary: rgb(132, 27, 45);
// $secondary: rgb(240, 240, 240);
// $info: #fcc200;

$primary: rgb(36, 33, 36);
$secondary: rgb(95, 158, 160);
$info: #fcc200;

// $primary: rgb(36, 33, 36);
// $secondary: rgb(54,117,136);
// $info: #fcc200;

$accordion-bg: transparent;
// $accordion-active-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: ghostwhite;
$accordion-color: ghostwhite;
// $accordion-active-color: ghostwhite;
