@import "./bs_overrides";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to left bottom,
    #242124,
    #3b3b46,
    #4a596a,
    #517b8a,
    #5f9ea0
  );
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

// #region Homepage

//#region New Home

.popular-products {
  .card {
    background: transparent;
    overflow: hidden;
    transition: 0.3s all;
    border-color: rgba(95, 158, 160, 0.5);
    &:hover {
      border-color: rgba(95, 158, 160, 0);
      box-shadow: 0px 0px 5px 5px rgba(95, 158, 160, 0.5);
      img {
        transform: scale(1.2);
      }
    }
    img {
      transition: 0.5s all;

      max-width: 300px;
      height: 240px;
      margin: 0 auto;
    }
  }
}

.product-categories {
  .col-lg-4 {
    overflow: hidden;
    transition: 0.3s all;

    h2 {
      text-transform: uppercase;
      font-size: 74px;
      padding: 10px;
    }

    .cat {
      overflow: hidden;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:first-child {
      .cat {
        background-image: linear-gradient(
            to bottom,
            rgba(253, 245, 230, 0.52),
            rgba(35, 41, 122, 0.73)
          ),
          url(../assets/wow_bg.jpg);
        height: 600px;
        // background: url(../assets/wow_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &:nth-child(2) {
      .cat {
        background-image: linear-gradient(
            to bottom,
            rgba(253, 245, 230, 0.52),
            rgba(35, 41, 122, 0.73)
          ),
          url(../assets/skyrim_bg.jpg);
        height: 600px;
        // background: url(../assets/skyrim_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    &:last-child {
      .cat {
        background-image: linear-gradient(
            to bottom,
            rgba(253, 245, 230, 0.52),
            rgba(35, 41, 122, 0.73)
          ),
          url(../assets/anime_bg.jpg);
        height: 600px;
        // background: url(../assets/anime_bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
//#endregion New Home

.carousel-inner {
  img {
    margin: 0 auto;
    height: 90vh;
  }

  .carousel-caption {
    h5 {
      font-size: 32px;
    }
  }
}

.products-main {
  .products-by-catgs {
    .card {
      background: transparent;
      overflow: hidden;
      transition: 0.3s all;
      border-color: rgba(95, 158, 160, 0.5);
      &:hover {
        border-color: rgba(95, 158, 160, 0);
        box-shadow: 0px 0px 5px 5px rgba(95, 158, 160, 0.5);
        img {
          transform: scale(1.2);
        }
      }
      img {
        transition: 0.5s all;
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
  .products-popular {
    .products {
      .product {
        .card {
          background: transparent;
          overflow: hidden;
          transition: 0.3s all;
          border-color: rgba(95, 158, 160, 0.5);
          &:hover {
            border-color: rgba(95, 158, 160, 0);
            box-shadow: 0px 0px 5px 5px rgba(95, 158, 160, 0.5);
            img {
              transform: scale(1.2);
            }
          }
          img {
            transition: 0.5s all;

            max-width: 300px;
            height: 240px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// #endregion

// #region F.A.Q
.search {
  input {
    border-radius: 1rem;
    border: 2px solid #7777777a;
    padding: 5px 5px;
    outline: none;
  }
}

.faq-top3-cards {
  .card {
    background: transparent;
    border-color: ghostwhite;
  }
}

.faq-accordion {
  .accordion-item {
    .accordion-header {
      button {
        &:active {
          background: transparent;
        }
      }
    }
  }
}

// #endregion

// #region About Us
.about-title {
  background-image: linear-gradient(
      to bottom,
      rgba(253, 245, 230, 0.52),
      rgba(35, 41, 122, 0.73)
    ),
    url(../assets/maxresdefault.jpg);
  background-size: cover;
  padding: 10rem;
}

.about-content {
  article {
    max-width: 90%;
    p {
      text-indent: 1rem;
    }
  }
}

.quote {
  border-right: 2px solid $info;
  color: $info;
  font-style: italic;
}

.flex-row-reverse {
  .quote {
    border-right: none;
    border-left: 2px solid $info;
    color: $info;
    font-style: italic;
  }
}

// #endregion

// #region Product Details
.product-area {
  padding: 120px 0;
  .product-img {
    img {
      max-height: 500px;
      height: 600px;
      transition: 0.3s all;
    }
    &:hover {
      img {
        // filter: drop-shadow(30px 10px 4px rgba(95, 158, 160, 0.5));
        filter: drop-shadow(0px 0px 10px rgba(95, 158, 160, 0.5));
        transform: scale(1.15);
      }
    }
  }

  .order-details {
    .amount-controls {
      div {
        width: 45px;
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid $primary;
        text-align: center;
        padding: 10px;
        background: $primary;
        color: white;
        &:nth-child(2) {
          background: $secondary;
          margin: 0 -2px;
          color: black;
        }
        &:nth-child(1) {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          &:hover {
            background: rgba(36, 33, 36, 0.5);
          }
        }
        &:nth-child(3) {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          &:hover {
            background: rgba(36, 33, 36, 0.5);
          }
        }
      }
    }
  }
}

.review-comment {
  max-width: 450px;
}

// #endregion

// #region Shared Components

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  .navbar {
    .navbar-brand {
      color: $secondary;
    }
    .nav-link {
      color: $secondary;
      &:hover {
        color: $info;
      }

      &.active {
        color: $info;
      }
    }
  }
}

footer {
  color: $secondary;
  ul {
    padding: 0;
    margin: 0;
  }
  .btn {
    color: $info;
    :hover {
      color: $primary;
    }
  }

  .footer-content {
    a {
      color: $secondary;
      &:hover {
        color: $info;
      }
    }
  }

  .input-wrap {
    position: relative;
    border-bottom: 2px solid $secondary;
    input {
      color: $secondary;
      border: none;
      outline: none;
      border-radius: 1rem;
      transition: 0.3s all;

      &:focus + .focus-input1 {
        width: 100%;
      }
      &::placeholder {
        color: rgba(255, 255, 240, 0.623);
      }
    }
    .focus-input1 {
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $info;
      left: 0;
      bottom: -2px;
      transition: 0.4s all;
    }
  }

  .col-lg-4 {
    border-left: 1px solid #777;
    padding: 1rem 5rem;
    &:first-child {
      border-left: none;
    }
  }
}

// #endregion

@media screen and (max-width: 992px) {
  footer {
    .col-lg-4 {
      border: none;
    }
  }
}
