@import "./bs_overrides";

// .product-list {
//   .sword-cards {
//     .sword-card {
//       position: relative;
//       margin-top: 500px;
//       .sword {
//         position: absolute;
//         z-index: -1;
//         animation: sword 1s linear 1s 1 forwards;
//       }

//       .rock {
//         position: absolute;
//         opacity: 0;
//         //   animation: rock 1s linear 1s 1 forwards;
//       }

//       img {
//         max-width: 400px;
//         max-height: 400px;
//       }
//     }
//   }
// }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

// #region Homepage

.carousel-inner {
  img {
    margin: 0 auto;
    height: 90vh;
  }

  .carousel-item {
    background: $info;
  }
}

.products-main {
  .products-by-catgs {
    .card {
      background: transparent;
      img {
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
  .products-popular {
    .products {
      .product {
        .card {
          background: transparent;
          img {
            max-width: 300px;
            height: 240px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// #endregion

// #region F.A.Q
.search {
  input {
    border-radius: 1rem;
    border: 2px solid #7777777a;
    padding: 5px 5px;
    outline: none;
  }
}

// #region About Us
.about-title {
  background-image: linear-gradient(
      to bottom,
      rgba(253, 245, 230, 0.52),
      rgba(35, 41, 122, 0.73)
    ),
    url(../assets/maxresdefault.jpg);
  background-size: cover;
  padding: 10rem;
}

.about-content {
  article {
    max-width: 90%;
    p {
      text-indent: 1rem;
    }
  }
}

.quote {
  border-right: 2px solid $info;
  color: $info;
  font-style: italic;
}

.flex-row-reverse {
  .quote {
    border-left: 2px solid $info;
    color: $info;
    font-style: italic;
  }
}

// #endregion

// #region Product Details
.product-area {
  padding: 120px 0;
  img {
    max-height: 600px;
  }
  .order-details {
    .amount-controls {
      div {
        width: 45px;
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid $primary;
        text-align: center;
        padding: 10px;
        background: $primary;
        color: white;
        &:nth-child(2) {
          background: $info;
          margin: 0 -2px;
          color: black;
        }
        &:nth-child(1) {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        &:nth-child(3) {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}

// #region Shared Components

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  .navbar {
    .navbar-brand {
      color: $secondary;
    }
    .nav-link {
      color: $secondary;
      &:hover {
        color: $info;
      }

      &.active {
        color: $info;
      }
    }
  }
}

footer {
  color: $secondary;

  .btn {
    color: $info;
    :hover {
      color: $primary;
    }
  }

  .footer-content {
    a {
      color: $secondary;
      &:hover {
        color: $info;
      }
    }
  }

  .input-wrap {
    position: relative;
    border-bottom: 2px solid $secondary;
    input {
      color: $secondary;
      border: none;
      outline: none;
      border-radius: 1rem;
      transition: 0.3s all;

      &:focus + .focus-input1 {
        width: 100%;
      }
      &::placeholder {
        color: rgba(255, 255, 240, 0.623);
      }
    }
    .focus-input1 {
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $info;
      left: 0;
      bottom: -2px;
      transition: 0.4s all;
    }
  }

  .col-lg-4 {
    border-left: 1px solid #777;
    padding: 1rem 5rem;
    &:first-child {
      border-left: none;
    }
  }
}

// #endregion

// Keyframes
@keyframes sword {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes rock {
  0% {
    transform: translateY(25%);
    opacity: 1;
  }
  100% {
    transform: translateY(75%);
    opacity: 0;
  }
}
