@import "./bs_overrides";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// #region Mixin

@mixin img-controls($max-width, $height) {
  max-width: $max-width;
  height: $height;
}

@mixin heading-controls($font-size, $transform) {
  font-size: $font-size;
  text-transform: $transform;
}

@mixin linear-gradient-controls($dir, $color1, $color2, $img) {
  background-image: linear-gradient(to $dir, $color1, $color2), $img;
}
// #endregion

// #region Extend

.catgs-bg-img-details {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// #endregion

// #region Global
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to left bottom,
    #242124,
    #3b3b46,
    #4a596a,
    #517b8a,
    #5f9ea0
  );
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

// #endregion

// #region Homepage

.popular-products {
  h2 {
    @include heading-controls(42px, capitalize);
  }
  .card {
    background: transparent;
    overflow: hidden;
    transition: 0.3s all;
    border-color: rgba(95, 158, 160, 0.5);
    &:hover {
      border-color: rgba(95, 158, 160, 0);
      box-shadow: 0px 0px 5px 5px rgba(95, 158, 160, 0.5);
      img {
        filter: drop-shadow(30px 10px 4px rgba(95, 158, 160, 0.5));
      }
    }
    img {
      transition: 0.5s all;
      @include img-controls(300px, 240px);
      margin: 0 auto;
      animation: pulse-popular 2s infinite;
    }
  }
}

.product-categories {
  h2 {
    @include heading-controls(42px, capitalize);
  }
  .col-lg-4 {
    overflow: hidden;
    transition: 0.3s all;

    h2 {
      @include heading-controls(74px, uppercase);
      padding: 10px;
    }

    .cat {
      overflow: hidden;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:first-child {
      .cat {
        @include linear-gradient-controls(
          bottom,
          rgba(253, 245, 230, 0.52),
          rgba(35, 41, 122, 0.73),
          url(../assets/wow_bg.jpg)
        );
        @extend .catgs-bg-img-details;
      }
    }
    &:nth-child(2) {
      .cat {
        @include linear-gradient-controls(
          bottom,
          rgba(253, 245, 230, 0.52),
          rgba(35, 41, 122, 0.73),
          url(../assets/skyrim_bg.jpg)
        );
        @extend .catgs-bg-img-details;
      }
    }
    &:last-child {
      .cat {
        @include linear-gradient-controls(
          bottom,
          rgba(253, 245, 230, 0.52),
          rgba(35, 41, 122, 0.73),
          url(../assets/anime_bg.jpg)
        );
        @extend .catgs-bg-img-details;
      }
    }
  }
}

.contact-us {
  h2 {
    @include heading-controls(42px, capitalize);
    padding: 10px;
  }
}

.carousel-inner {
  img {
    @include img-controls(100%, 90vh);
    margin: 0 auto;
  }

  .carousel-caption {
    h5 {
      @include heading-controls(32px, capitalize);
    }
  }
}

// #endregion

// #region F.A.Q
.search {
  input {
    border-radius: 1rem;
    border: 2px solid #7777777a;
    padding: 5px 5px;
    outline: none;
  }
}

.faq-top3-cards {
  .card {
    background: transparent;
    border-color: ghostwhite;
  }
}

.faq-accordion {
  .accordion-item {
    .accordion-header {
      button {
        &:active {
          background: transparent;
        }
      }
    }
  }
}

// #endregion

// #region About Us
.about-title {
  @include linear-gradient-controls(
    bottom,
    rgba(253, 245, 230, 0.52),
    rgba(35, 41, 122, 0.73),
    url(../assets/maxresdefault.jpg)
  );
  background-size: cover;
  padding: 10rem;
}

.about-content {
  article {
    max-width: 90%;
    p {
      text-indent: 1rem;
    }
  }
}

.quote {
  border-right: 2px solid $info;
  color: $info;
  font-style: italic;
}

.flex-row-reverse {
  .quote {
    @extend .quote;
    border-right: none;
    border-left: 2px solid $info;
  }
}

// #endregion

// #region Product Details
.product-area {
  .product-img {
    img {
      @include img-controls(100%, 600px);
      transition: 0.3s all;
    }
    &:hover {
      img {
        filter: drop-shadow(0px 0px 10px rgba(95, 158, 160, 0.5));
        transform: scale(1.15);
      }
    }
  }

  .order-details {
    .amount-controls {
      div {
        width: 45px;
        height: 100%;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid $primary;
        text-align: center;
        padding: 10px;
        background: $primary;
        color: white;
        &:nth-child(2) {
          background: $secondary;
          margin: 0 -2px;
          color: black;
        }
        &:nth-child(1) {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          &:hover {
            background: rgba(36, 33, 36, 0.5);
          }
        }
        &:nth-child(3) {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          &:hover {
            background: rgba(36, 33, 36, 0.5);
          }
        }
      }
    }
  }
}

.review-comment {
  max-width: 450px;
}

// #endregion

// #region Shared Components

header {
  position: sticky;
  top: 0;
  z-index: 3;
  .navbar {
    .navbar-brand {
      color: $secondary;
    }
    .nav-link {
      color: $secondary;
      &:hover {
        color: $info;
      }

      &.active {
        color: $info;
      }
    }
  }
}

footer {
  color: $secondary;
  ul {
    padding: 0;
    margin: 0;
  }
  .btn {
    color: $info;
    :hover {
      color: $primary;
    }
  }

  .footer-content {
    a {
      color: $secondary;
      transition: 0.3s all;
      &:hover {
        color: $info;
      }
    }

    button {
      transition: 0.3s all;
    }
  }

  .input-wrap {
    position: relative;
    border-bottom: 2px solid $secondary;
    input {
      color: $secondary;
      border: none;
      outline: none;
      border-radius: 1rem;
      transition: 0.3s all;

      &:focus + .focus-input1 {
        width: 100%;
      }
      &::placeholder {
        color: rgba(255, 255, 240, 0.623);
      }
    }
    .focus-input1 {
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $info;
      left: 0;
      bottom: -2px;
      transition: 0.3s all;
    }
  }

  .col-lg-4 {
    border-left: 1px solid #777;
    padding: 1rem 5rem;
    &:first-child {
      border-left: none;
    }
  }
}

// #endregion

@keyframes pulse-popular {
  0% {
    transform: scale(0.98) translateY(-5px);
    filter: drop-shadow(0 0 10px rgba(95, 158, 160, 0.5));
  }

  50% {
    transform: scale(1) translateY(0);
    filter: drop-shadow(0 0 0 rgba(95, 158, 160, 0));
  }

  100% {
    transform: scale(0.98) translateY(-5px);
    filter: drop-shadow(0 0 10px rgba(95, 158, 160, 0.5));
  }
}

@media screen and (max-width: 992px) {
  footer {
    .col-lg-4 {
      border: none;
    }
  }

  .about-content {
    article {
      max-width: 100%;
    }
  }

  .carousel-inner {
    img {
      @include img-controls(100%, 50vh);
    }
  }
}
