.btn-nav {
  padding: 8px 20px;
  border-radius: 57px;
  background-color: #003459;
  color: #fdfdfd;
  font-size: 16px;
  font-family: SVN-Gilroy;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.register-form {
  max-width: 500px;
  height: auto;
  margin: auto;
  padding-top: 120px;
}

.form-title {
  color: #002a48;
}

.register-form .form-label {
  color: #242b33;
  font-size: 14px;
  font-family: SVN-Gilroy;
  font-weight: 500;
  line-height: 20px;
}

.inputDiv {
  margin-bottom: 10px;
}

.form-input,
select {
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--neutral-color-40, #99a2a5);
  margin: 5px 0px;
}

.form-input::placeholder {
  color: #99a2a5;
  font-size: 14px;
  font-family: SVN-Gilroy;
  font-weight: 500;
  line-height: 20px;
}
.form-input:focus {
  border-color: #002a48;
}

.formLink {
  padding: 14px 28px 10px 28px;
  margin: 16px 0px;
  border-radius: 57px;
  background: #002a48;
  color: #fdfdfd;
  font-size: 16px;
  font-family: SVN-Gilroy;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
}

.input-error {
  border-color: #ff564f;
}

.error {
  color: #ff564f;
  font-size: 12px;
  font-family: SVN-Gilroy;
  line-height: 18px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  width: auto;
}

@media screen and (max-width: 768px) {
  .register-form {
    padding-top: 20px;
  }
  .form-input,
  select {
    width: 95%;
    margin-left: 10px;
  }
  .form-label,
  .input-error,
  .error {
    margin-left: 10px;
  }
  .shopping-input {
    width: 50%;
  }

  .nav-input {
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease;
  }

  .open .nav-input {
    width: 200px;
    transition: width 0.2s ease;
  }

  .open .nav-input:focus {
    width: 200px;
  }

  .open .icon-wrapper {
    transform: translateX(-100%);
  }

  .nav-input.open {
    width: 200px;
    transform: translateX(-100%);
  }

  .icon-wrapper.open {
    transform: translateX(-100%);
  }
}

.bg-grey {
  background: linear-gradient(
    134deg,
    #fceed5 6.17%,
    #fceed5 75.14%,
    #ffe7ba 100%
  );
}
