@media only screen and (min-width: 1200px) {
  .container {
    width: 1150px;
    padding: 0;
    margin: 0 auto;
  }
  /* nav */
  /* .nav-mobile {
    display: none;
  }
  .nav-pc {
    display: block;
  }
  .div-icons {
    gap: 2rem;
  }
  .icon {
    width: 18%;
  } */
  /* Headear */
  /* .sag {
    display: flex;
  } */
}

@media only screen and (min-width: 768px) {
  .nav-get-started{
    display: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-menu{
      display: flex;
      gap: 25px;
      font-size: 18px;
  }
  .nav-menu-icon{
    display: none;
  }
  
  .nav-menu a:hover {
    cursor: pointer;
    color: #006d77;
    transition: all 0.3s ease;
    transform: translateY(2.5px);
  }

  .nav-menu a:hover > div{
    display: unset;
  }
}
