body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%; 
  margin: 0 auto;
  background-color: #000; 
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}

.container{
border: 2px solid #000;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: #414141;
}

button {
  width: 80px; 
  border-radius: 50%;
  height: 80px; 
  margin: 5px;
  font-size: 24px;
  transition: background-color 0.3s ease;
  border: 2px solid #000;
}

button:active {
  background-color: #656565; 
}


input {
  width: 100%;
  margin: 20px 0; 
  border: 2px solid #000;
  height: 40px; 
  border-radius: 5px;
  font-size: 24px; 
}

.number-button {
  background-color: #9a9999;
  color: #ffffff;
}

.operator-button {
  background-color: #ff9500;
  color: #ffffff;
}
