.control-arrow.control-next::before,
.control-arrow.control-prev::before {
  color: brown;
  background-color: rgb(0, 0, 0);
}

.navbarCon {
  background-color: #f7dba779;
}
.navbar-toggler {
  z-index: 1;
}
.navbar-nav {
  z-index: 1;
}
.navbar-brand {
  position: relative;
}
.navbar-brand-logo {
  position: relative;
  z-index: 1;
}
.navbar-brand > div {
  width: 300px;
  height: 310px;
  transform: rotate(19.424deg);
  flex-shrink: 0;
  background-color: #f7dba7;
  border-radius: 16%;
  position: absolute;
  top: -250px;
  left: -100px;
  z-index: 0;
}
.headerCon {
  position: relative;
  z-index: 1;
}
.searchForm {
  position: relative;
  z-index: 1;
}
.homeContent {
  margin-top: 40px;
}
.editModalLabel {
  width: 100px;
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
  margin-bottom: 10px;
}
