nav {
  height:90px;
}
header{
  border-bottom: 7px dashed rgba(255, 255, 0, 0.77);
  background: transparent;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
}
.nav-link:hover {
  color:yellow !important;
}
a,a:active,a:focus {
    color: #333;
    text-decoration: none;
}
.btn {
transition: all 0.8s;
}
.join-btn:hover{
background: black !important;
color: yellow !important;
border-color: #ffffff;
}
footer {
border-top: 7px dashed yellow;
font-size: 17px;
}
footer h3 {
font-size: 24px;
letter-spacing: 1px;
}
footer h4 {
font-size: 20px;
letter-spacing: 1px;
display: inline-block;
margin-bottom: 2px;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
color: yellow !important;
}
.footer-title {
border-bottom: 2px solid yellow;
padding-bottom: 25px;
margin-bottom: 35px;
}
ul.footer-social i {
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 30px;
font-size: 16px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
font-weight: 800;
}
ul.footer-social i:hover {
background: #1b1b1b !important;
color: yellow !important;
}
.open-hour{
  padding-bottom: 20px !important;
}
.text-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: yellow;
    transition: width 0.3s;
  }
  .text-hover:hover::after {
    width: 25%;
  }
  .text-hover-nav:hover::after {
    width: 75%;
  }

  .add-movie-btn:hover{
    background: black !important;
    color: yellow !important;
    border-color: #ffffff;
  }