body {
    padding: 0;
    margin: 0;
}

.portfolioMain {
    background-color: #0039e4;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    background-color: rgb(101, 13, 13);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px;
}
.subcontainer{
    
    background-color: rgb(51, 236, 0);
}
.portfolioHead {
    /* width: 1140px; */
    background-color: rgb(252, 0, 0);
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
}

.portfolioHeader {
    background-color: aqua;
    text-align: center;
    max-width: 600px;

}

/* .portfolioImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
} */

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8 {
    
    background-color: blueviolet;
   
}

.portfolioImages>div>div>img {
    width: 200px;
    
}
/* @media screen and (max-width:768px) {
    .container{
        
        background-color: yellow;
    }
    
} */