@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #b96bf554;
  }
  100% {
    box-shadow: 0 0 0 30px #b96bf554;
  }
}

@keyframes pulse-animation2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 172, 40, 0.5);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(36, 194, 255, 0);
  }
}


@keyframes button-animation {
  0% {
    background: linear-gradient(to right, #ff5195, #ffb84b);

  }
  50% {
    background: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  }

  100% {
    background: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  }
}

@keyframes updown {
  0% {
    transform: translateY(0px);
}
50% {
    transform: translateY(-30px);
}
100% {
    transform: translateY(0px);
}
}

@keyframes sideffect {
  0% {
    transform: translateY(0px);
}
25% {
    transform: translateX(-60px);
}
50% {
    transform: translateY(-60px);
}
75% {
    transform: translateX(-60px);
}
100% {
    transform: translateY(0px);
}
}

@keyframes sideffect2 {
  0% {
    transform: translateY(-20px) translateX(0px);
}
50% {
    transform: translateY(0px) translateX(-20px);
}
100% {
    transform: translateY(-20px) translateX(0px);
}
}
@keyframes anime {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

