:root {
  --button-primary-color: linear-gradient(to right, #ff5195, #ffb84b);
  --button-secondary-color: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  --icon-color: #fd4372;
  --site-background-color:#FFFEF9;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown {
  display: none;
  width: 100%;
}
.dropdown .dropbtn {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  position: relative;
}

.dropdown-content {
  width: 300px;
  position: absolute;
  left: 0;
  z-index: 2000;
  top: 100%;
  padding-top: 20px;
  background: #fff;
  height: 100vh;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s all ease-in-out;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 600;
}
.dropdown-content a:hover {
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
  transform: translateX(0%);
}

header {
  position: relative;
}

.site-navbar {
  z-index: 1999;
  position: absolute;
  top: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}
.site-navbar .row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.site-navbar .col-1 {
  justify-content: center;
  display: flex;
  align-items: center;
}
.site-navbar h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
}
.site-navbar .col-2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.site-navbar .site-navigation {
  text-align: right;
  align-items: center;
  display: flex;
}
.site-navbar .site-navigation ul {
  display: flex;
  align-items: center;
}
.site-navbar .site-navigation ul a {
  color: black;
  text-decoration: none !important;
  padding: 1rem 1.5rem;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.home-section {
  background-color: #F9F2FF;
  padding: 265px 0 134px;
  position: relative;
}
.home-section .left-image {
  position: absolute;
  left: 0;
  top: 0;
}
.home-section .right-image {
  position: absolute;
  right: 0;
  top: 0;
}
.home-section .banner-area {
  z-index: 2;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section .row-grid {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.home-section .row-grid .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home-section .row-grid .col h2 {
  font-size: 60px;
  line-height: 72px;
}
.home-section .row-grid .col p {
  margin: 15px 0 30px;
  color: #696969;
  max-width: 80%;
}
.home-section .row-grid .col .section-wrapper {
  display: flex;
  position: relative;
}
.home-section .row-grid .col .right-images {
  position: relative;
}
.home-section .row-grid .col .right-images .image-1 {
  right: 10rem;
  top: 23%;
  animation: sideffect 15s linear infinite;
  position: absolute;
}
.home-section .row-grid .col .right-images .image-2 {
  animation: sideffect2 5s linear infinite;
  position: absolute;
  top: 0;
  right: -40%;
}
.home-section .row-grid .col .right-images .image-3 {
  bottom: 0;
  top: 5rem;
  right: 29rem;
  animation: updown 5s linear infinite;
  position: absolute;
}

.footer-bg-wrapper {
  background-image: url(http://demos.codexcoder.com/labartisan/html/smartsass/assets/css/bg-image/app-footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
}
.footer-bg-wrapper .border-bottom {
  padding: 0 0 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bg-wrapper .row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-bg-wrapper .row .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer-bg-wrapper .row .header-style {
  max-width: 100%;
  margin-bottom: 0;
  margin-left: 0;
  text-align: left;
}
.footer-bg-wrapper .row .header-style h2 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}
.footer-bg-wrapper .row .header-style p {
  color: #fff;
  margin-bottom: 0;
}
.footer-bg-wrapper .row .btn-group {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}
.footer-bg-wrapper .row .btn-group a {
  width: 230px;
  height: 70px;
  padding: 10px 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  background: #fff;
  display: flex;
}
.footer-bg-wrapper .row .btn-group a img {
  margin-right: 10px;
}
.footer-bg-wrapper .row .btn-group a span {
  text-transform: uppercase;
  font-weight: 700;
  color: #c961fa;
}
.footer-bg-wrapper .row .btn-group a p {
  margin-bottom: 0;
  color: #696969;
}

.footer-padding {
  padding-top: 110px;
  padding-bottom: 95px;
}
.footer-padding h6 {
  font-size: 18px;
  color: #fff;
  padding-bottom: 10px;
}
.footer-padding li {
  padding-top: 1rem;
}
.footer-padding a {
  font-size: 16px;
  color: #fff;
}

p {
  font-size: 1rem;
}

.list-section {
  padding: 80px 0 55px;
}
.list-section.site-bg {
  background-color: var(--site-background-color);
}
.list-section .omnichanel {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  gap: 40px;
}
.list-section .omnichanel .list-area {
  order: 1;
}
.list-section .omnichanel .list-area .title {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 40px;
  padding: 0 0 30px;
  color: #696969;
  border-bottom: 1px solid #ecf0f3;
}
.list-section .omnichanel .list-area .title h2 {
  font-size: 24px;
  font-weight: 700;
  margin: -10px 0 20px;
  padding: 0;
  color: #000;
}
.list-section .omnichanel .list-area .ul-area {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: flex-start;
  margin: 0 0 20px;
  padding: inherit;
}
.list-section .omnichanel .list-area .ul-area li {
  padding: 10px 10px;
}
.list-section .omnichanel .list-area .ul-area li i {
  color: var(--icon-color);
}
.list-section .omnichanel .list-img img {
  order: -1;
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .ul-area {
    flex-direction: row !important;
  }
}
@media screen and (min-width: 992px) {
  .list-section {
    padding: 110px 0 95px;
  }
  .omnichanel {
    grid-template-columns: 1fr 1fr !important;
  }
  .omnichanel .title {
    width: 80%;
  }
  .omnichanel .title h2 {
    font-size: 36px !important;
  }
  .list-area {
    order: -1 !important;
  }
  .list-img img {
    order: 1 !important;
  }
  .section-reversed .list-area {
    order: 1 !important;
  }
  .section-reversed .list-img img {
    order: -1 !important;
  }
}
.btn-inner {
  display: inline-block;
  padding: 16px 25px;
  background: var(--button-primary-color);
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: 0;
  color: white;
  border-radius: 4px;
}
.btn-inner::after {
  display: inherit;
  padding: inherit;
  background: var(--button-secondary-color);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  overflow: inherit;
  border: 0;
  color: white;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
.btn-inner span {
  z-index: 1;
  position: relative;
}
.btn-inner:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.perfect-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.perfect-card .pcard {
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.182);
  box-shadow: 0 4px 4px rgba(58, 58, 58, 0.1);
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
  color: black;
  text-transform: uppercase;
}
.perfect-card .pcard:hover {
  box-shadow: 0 -4px 4px rgba(58, 58, 58, 0.1);
  transform: translateY(-2px);
}
.perfect-card .pcard img {
  padding-top: 15px;
}

.smart-pos {
  background-color: #fffef6;
}

.smart-card {
  display: grid;
  padding: 20px;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.smart-card-content {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.319);
}
.smart-card-content:hover .profile-animation {
  animation-play-state: paused;
}
.smart-card-content .smart-card-header {
  display: flex;
  gap: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.198);
  justify-content: space-between;
}
.smart-card-content .smart-card-header .profile {
  position: relative;
}
.smart-card-content .smart-card-header .profile img {
  border-radius: 50%;
}
.smart-card-content .smart-card-header .profile-title h5 {
  font-size: 20px;
  color: black;
  margin: 0;
  text-transform: capitalize;
  font-family: "roboto", sans-serif;
}
.smart-card-content .smart-card-header .profile-title p {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #696969;
  text-align: left;
  line-height: 24px;
}
.smart-card-content .smart-card-title {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #696969;
  text-align: left;
  line-height: 24px;
  position: relative;
  padding-top: 2rem;
}
.smart-card-content .smart-card-title::after {
  position: absolute;
  content: url("https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/01.png");
  bottom: 10px;
  right: 25px;
  width: 10px;
  height: 5px;
  transform: scale(0.7);
  color: black;
}

@keyframes anime {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profile-animation1 {
  content: url("https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-3.png");
  position: absolute;
  animation: anime 5s linear infinite;
  top: -10px;
  left: -10px;
}

.profile-animation2 {
  content: url("https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-2.png");
  position: absolute;
  animation: anime 5s linear infinite;
  top: -10px;
  left: -10px;
}

.profile-animation3 {
  content: url("https://demos.codexcoder.com/labartisan/html/smartsass/assets/images/testimonial/quote/round-1.png");
  position: absolute;
  animation: anime 5s linear infinite;
  top: -10px;
  left: -10px;
}

.rating i {
  color: #e9ba17;
  font-size: 13px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(32, 140, 241, 0.788);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(36, 194, 255, 0);
  }
}
@keyframes button-animation {
  0% {
    background: linear-gradient(to right, #ff5195, #ffb84b);
  }
  50% {
    background: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  }
  100% {
    background: linear-gradient(to left, #ffab8b, #ff957d, #ff7d75, #ff6371, #fd4372);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes sideffect {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateY(-60px);
  }
  75% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes sideffect2 {
  0% {
    transform: translateY(-20px) translateX(0px);
  }
  50% {
    transform: translateY(0px) translateX(-20px);
  }
  100% {
    transform: translateY(-20px) translateX(0px);
  }
}

/*# sourceMappingURL=main.css.map */
