@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin:0 auto;
}
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
}
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
}
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
}
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
}
}
