.borderRadius{
    border-radius: 50%;
}
.bgImage{
    background-image: url(https://i.pinimg.com/564x/75/bb/a5/75bba50b40fba6d441de787d642591cf.jpg);
    width: 500px;
    height: 500px;
    /* background-position: center; */
    background-position-y: center;
    background-position-x: center;
    background size: cover;
    color: antiquewhite;
}