body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.collapse a {
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.collapse li:hover a {
  color: #838383;
}

.socials a {
    width: 35px;
    height: 35px;
    background-color: #969696;
}

.socials a:hover {
    background-color: #838383;
}

input[type="text"]:focus {
  box-shadow: none;
  outline: none;
  border-color: #000000;
}

input[type='text']::placeholder {
  font-size: .9rem;
  font-style: italic;
}

.image {
  height: 200px;
  overflow: hidden;
}

.cardImage {
  height: 200px;
  object-fit: cover;
}

span, p {
  font-size: .9rem;
}

.cardIcon a{
  color: #000000;
}

.toastZIndex {
  z-index: 11;
}

.list-group-item,
.modal-content {
  background-color: #F2F2F2;
}

input[type="text"],
input[type="date"],
input[type="url"],
nav {
  background-color: #fafafa;
}

footer a,
footer p,
footer h5 {
  color: #FFFFFF;
}

footer a:hover,
.cardIcon a:hover{
  color: #838383;
}