#trailer {
  background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D&w=1000&q=80");
}

#navImage {
  width: 60px;
  height: 60px;
}

.shortNews-title {
  border-bottom: 1px solid rgb(147, 146, 146);
}

.shortNews-box {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(147, 146, 146);
}

span.shortNews-date,
span.shortNews-writer {
  color: grey;
}

.card-image {
  max-width: 400px;
  max-height: 250px;
  width: 100%;
  height: auto;
}
.card-image:hover {
  cursor: pointer;
}

textarea {
  resize: both;
}

@media screen and(max-width:400px) {
  .card-image {
    width: 100%;
  }
}
