.body{
    background-image: url(https://www.indyturk.com/sites/default/files/styles/1368x911/public/article/main_image/2022/12/28/1079301-1167094265.jpg?itok=_egqHipC);
    background-size: cover;
    border-radius: 50%;
}