img {
    width: 50px;
}

.navbar-brand {
    font-family: 'Neucha', cursive;
    text-align: center;
    /* padding: 50px 0; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .2s ease;
}

.navbar-brand:hover {
    color: white;
    transform: scale(1.05);
}

.logo {
    /* padding: 10px 65px; */
    color: white;
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 0;
    left: 0;
}

.logo-banner {
    /* padding: 0 10px; */
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 30px;
}