* {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
  }
  
  h2 {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
  }
  
.container{
 display: flex;
 flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

  .shop-icons {
    width: 25px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  
  .shop-icons .fa-search {
    opacity: 0;
    color: rgb(25, 67, 173);
  }
  
  .bestseller:hover .fa-search {
    opacity: 1;
    color: rgb(0, 17, 255);
    transition: 0.9s;
    transform: rotateY(180deg);
  }
  
  .bestseller .fa-heart-o {
    opacity: 0;
    color: rgb(4, 255, 0);
  }
  
  .bestseller:hover .fa-heart-o {
    opacity: 1;
    color: rgb(0, 255, 55);
    transition: 0.9s;
    transform: rotateY(180deg);
  }
  
  .bestseller .fa-refresh {
    opacity: 0;
    color: red;
  }
  
  .bestseller:hover .fa-refresh {
    opacity: 1;
    color: red;
    transition: 0.9s;
    transform: rotateY(180deg);
  }
  
  .bestseller-add-card {
    width: 25px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .bestseller .bestseller-add-card {
    opacity: 0;
    color: red;
    width: auto;
    max-width: 120px;
    max-height: 20px;
  }
  
  .bestseller:hover .bestseller-add-card {
    opacity: 1;
    color: red;
    transition-delay: 0.2s;
  }
  
  .bestseller {
    display: flex;
    flex-wrap: wrap;
    height: 371px;
    width: 300px;
    border: 1px solid rgb(17, 209, 78);
  }
  .card-head {
    display: flex;
    justify-content: space-around;
  }
  
  .bestseller-main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 1250px;
  }
  
  .bestseller-section .bestseller:hover {
    height: 567px;
  }
  
  .bestseller-main-text {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  
  .bestseller-section {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bestseller:hover {
    z-index: 10;
    transition-delay: 0.3s;
  }
  
  .bestseller img {
    max-width: 60%;
    position: relative;
  }
  
  .bestseller-discount {
    height: 10px;
    min-width: 55px;
    min-height: 25px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 3.5%;
    color: rgba(255, 255, 255, 1);
    background: rgba(212, 56, 17, 1);
    align-items: center;
    justify-content: space-evenly;
  }
  
  .elementor-widget-main {
    margin-left: -8px;
    margin-right: -16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
  }
  
  .elementor-widget-left {
    overflow: hidden;
    position: relative;
  }
  
  .elementor-widget-right {
    overflow: hidden;
    position: relative;
  }
  
  .elementor-widget-left img {
    transition: all 1s;
    max-width: 99%;
    object-fit: cover;
    min-height: 40%;
  }
  .elementor-widget-left img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .elementor-widget-right img {
    transition: all 1s;
    max-width: 99%;
    object-fit: cover;
    min-height: 40%;
  }
  .elementor-widget-right img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .elementor-widget-left-text {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 15px;
    margin-left: 10%;
  }
  
  .elementor-widget-right-text {
    position: absolute;
    top: 8px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 15px;
    margin-left: 10%;
  }
  
  .shop-now-btn {
    display: flex;
    align-items: center;
    width: 130px;
    height: 45px;
    border-radius: 42px;
    background-color: #ffb91f;
  }
  
  .shop-now-btn:hover {
    background-color: white;
    color: #ffb91f;
    cursor: pointer;
  }
  
  @media screen and (max-width: 500px) {
    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .new-products ul {
      border-left: 0px solid black !important;
      border-right: 0px solid black !important;
    }
  }
  
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  .fa-star {
    color: rgba(195, 195, 195, 1);
  }
  
  .checked {
    color: orange;
  }
  
  .product-price {
    color: rgba(35, 63, 146, 1);
    font-size: 18px;
    font-weight: 600;
  }
  
  .add-cart-btn {
    border-radius: 42px;
    background-color: rgba(255, 185, 31, 1);
    font-weight: 600;
    max-width: 120px;
    font-size: 12px;
    height: 30px;
    width: auto;
    cursor: pointer;
    border: 0px;
  }
  .add-cart-btn:hover {
    background-color: black;
    color: rgba(255, 185, 31, 1);
  }
  
  .new-products ul {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    gap: 80px;
    flex-wrap: wrap;
    padding: 3%;
  }
  
  .new-products ul li {
    padding-bottom: 14%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(83, 81, 81, 0.196);
  }
  
  .new-products ul li img {
    max-width: 30%;
    height: auto;
    -webkit-transition: 0.2s all;
  }
  
  .new-products ul li img:hover {
    max-width: 30%;
    height: auto;
    -webkit-filter: brightness(60%);
  }
  
  .new-products-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .strike-through {
    color: #868686;
    font-size: 14px;
    font-weight: 200;
  }
  
  .populer-parts ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
  }
  .populer-parts li {
    max-width: 64px;
    border-radius: 5px;
    display: flex;
    float: left;
    margin: 10px;
    padding: 0 80px 15px;
    border: 1px solid #abb8c3;
    justify-content: center;
  }
  .populer-parts li:hover {
    background-color: #ffb91f;
  }
  
  .populer-parts li a {
    font-size: 15px;
    display: flex;
    margin-top: 14px;
    margin-left: -80%;
    min-width: 180px;
    justify-content: center;
  }
  
  .populer-parts h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  
  /*
  .genuine-parts{
    margin-left: -8px;
    margin-right: -10px;
  
  } */
  
  .genuine-parts img {
    z-index: -10;
    position: absolute;
    max-width: 99%;
    object-fit: cover;
    min-height: 40%;
  }
  
  .genuine-parts-text {
    color: #ffb91f;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 15px;
    margin-left: 10%;
  }
  .genuine-parts-text h2 {
    font-size: 5.5vw;
  }
  
  .genuine-parts-text p {
    display: flex;
    font-size: 18px;
    color: aliceblue;
    flex-wrap: wrap;
  }
  
  .genuine-parts-text span {
    color: #ffb91f;
  }
  

  .up-btn{
    position: fixed;
    bottom:30px;
    right:30px;
    background-color: #ffb91f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

  
  }