#section{
    display: flex;
    margin: 25px;
}

aside{
    border-left: 1px solid rgba(0, 0, 0, 0.318);
    margin-left: 750px;
    padding-left: 10px;
}
header{
    text-align: center;
    font-weight: bolder;
    color: crimson;
    font-size: 50px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.318);
    
}
nav{
margin: 20px;

}
nav select{
background-color: rgb(219, 250, 93);
width: 100px;
height: 30px;
font-size: 15px;
text-align: center;
border-radius: 10px;
}

body{
    background-color: rgb(221, 172, 182);
}

footer{
    border-top: 2px solid rgba(0, 0, 0, 0.318);
    padding: 7px 7px 7px 10px ;
}

footer span{
    display:flex; 
    justify-content: space-around;
}

