/* .borderRadius {
    border-radius: 50%;
} */

.bgImage {
    background-image: url("https://picsum.photos/200/300");
    width: 200px;
    height: 200px;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    color: black;

}