

body {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 100vw;
  height: 100vh;
}

.container {
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  color: rgb(252, 252, 252);
}

.restartBtn {
  background-color: rgb(176, 108, 240);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px 0px;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 1px;
}

.kutu {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  border: 2px solid rgb(112, 112, 112);
  cursor: pointer;
  background-color: white;
}

#players {
  display: flex;
  flex-direction: column;
}

#players > input {
  outline: none;
  margin-bottom: 10px;
}

#status {
  display: none;
}

#startgame {
  border-radius: 0%;
  box-shadow: none;
  outline: none;
  border: 1px solid white;
background: white;
cursor: pointer;
height: 30px;
}

#startgame:hover {
  background-color: #ecaecb;
  transition: all .3s;
}
