$bgColor: red
$x150: 150px
$x100: 100px


.container 
	display: flex
	&:hover 
		background-color: green
	
	.box1 
		background-color: $bgColor
		width: $x150
		height: $x100
	

	.box2 
		background-color: $bgColor
		width: $x150 * 2
		height: $x100
	

	.box4 
		background-color: $bgColor
		width: $x150 * 4
		height: $x100
		&.deneme 
			background-color: blue
		
