* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Almendra', serif;
}

img {
    width: 100%;
}

.header {
    background: chartreuse;
}

.heading {
    font-family: 'Almendra SC', serif;
}


.navbar {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
}

.intro {
    background: gold;
}

.logo {
    width: 150px;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.quests {
    background: lightblue;
    text-align: center;
}

.quest-log {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.quest {
    padding: 10px;
    display: grid;
    gap: 0.5rem;
    place-items: center;
}

.quest-img {
    width: 250px;
}

/* #region Quest Tags */

.quest-tags span {
    border-radius: 15px;
    padding: 3px 10px;
    color: white;
}

.quest-difficulty.easy {
    background: #00C851;
}

.quest-difficulty.medium {
    background: #4B515D;
}

.quest-difficulty.hard {
    background: #FF4444;
}

.quest-price {
    background: #FFBB33;
}

.quest-party-size {
    background: #33B5E5;
}

.quest-type.hunt {
    background: #2BBBAD;
}

.quest-type.explore {
    background: #795548;
}

.quest-type.info {
    background: #673AB7;
}

/* #endregion */

.quest:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}



.btn {
    background-color: #FF4444;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}

.btn:hover {
    letter-spacing: 1px;
}

.footer {
    background: purple;
    padding: 1rem;

}

.footer-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.footer-box {
    border: 1px solid black;
}

.copyright {
    background: gray;
    padding: 1rem;
    margin-top: 1rem;
}