* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: 'Almendra', serif;
    text-shadow: 5px 5px 2px #000000;
    font-size: 18px;

}

img {
    width: 100%;
}

body {
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(65, 23, 23, 1) 35%, rgba(112, 2, 2, 0.9360119047619048) 100%); */
    background-image: linear-gradient(to right top, #7e0a0a, #690813, #530b16, #3c0d15, #260c11, #2f0e15, #380f19, #420f1d, #710826, #a20027, #d2001f, #ff0000);
}

.heading {
    font-family: 'Almendra SC', serif;
}

.socials a i {
    color: #F1BE15;
}

.socials a:hover i {
    transform: scale(1.2);
    transition: 0.25s all;

}

.navbar {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
}

.logo {
    width: 150px;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.quests {
    text-align: center;
}


.quests h2.heading {
    font-size: 72px;
}

.quest-log {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.quest {
    padding: 2rem;
    display: grid;
    gap: 0.5rem;
    place-items: center;
    background: rgba(192, 192, 192, 0.2);
    border-radius: 10px;
    box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.1);
}

.quest-img {
    width: 250px;
}

.quest-tags span {
    border-radius: 15px;
    padding: 3px 10px;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(65, 23, 23, 1) 35%, rgba(112, 2, 2, 0.9360119047619048) 100%);
}

.quest:hover {
    box-shadow: 0px 1px 15px #F1BE15;
    transform: scale(1.08);
    transition: 0.25s all;
}

section {
    padding: 50px 0;
}

.intro video {
    width: 100%;
}

.menu li:hover a {
    color: #F1BE15;
    letter-spacing: 1px;
    transition: 0.4s all;
}



.btn {
    background-color: #942424;
    border: 1px solid #7e2020;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

.btn:hover {
    letter-spacing: 1px;
}

.footer-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.footer-box {
    padding: 0 10px;
}

.footer-box .heading {
    font-size: 24px;
    margin-bottom: 1rem;
}

.footer-box .logo {
    width: 100%;
}

.link-wrapper li {
    border-bottom: 2px dotted gray;
    margin-bottom: 1rem;
}

.link-wrapper li:hover a {
    color: #F1BE15;
    letter-spacing: 1px;
}

.join-us input {
    width: 100%;
    margin: 1rem 0;
    color: black;
    font-size: 18px;
    text-shadow: none;
    outline: none;
}


.join-us a {
    display: block;
}

.copyright {
    background: gray;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 24px;
}

/* Extra Section */

.class-image {
    border-radius: 10px;
}


/* #region Class Images */

#bbn:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/342/420/618/636272680339895080.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#brd:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/369/420/618/636272705936709430.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#clr:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/371/420/618/636272706155064423.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#drd:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/346/420/618/636272691461725405.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#ftr:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/359/420/618/636272697874197438.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#mnk:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/489/420/618/636274646181411106.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#pal:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/365/420/618/636272701937419552.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#rgr:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/367/420/618/636272702826438096.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#rog:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/384/420/618/636272820319276620.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#scr:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/485/420/618/636274643818663058.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#wlk:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/375/420/618/636272708661726603.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#wzd:checked~.class-image {
    background-image: url("https://www.dndbeyond.com/avatars/thumbnails/6/357/420/618/636272696881281556.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #endregion */


.radio-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.radio-container label {
    font-weight: bold;
    font-family: '';
}

.radio-container .class-image {
    grid-row: 5;
    grid-column: 1 / -1;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: black;
    box-shadow: 0 0 30px #F1BE15 inset;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container input[type="radio"]+label {
    display: block;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.radio-container input[type="radio"]:checked+label {
    /* background-color: #aaa; */
    background: rgb(0, 0, 0);
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(65, 23, 23, 1) 35%, rgba(112, 2, 2, 0.9360119047619048) 100%); */
    background-image: linear-gradient(to bottom, #f1be15, #cd7c2e, #924933, #4b2526, #000000);
    color: #fff;
}

.content .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.sidebar {
    display: grid;
    place-items: center;
    gap: 15px;
}

.sidebar .level-select select {
    color: black;
    text-shadow: none;
}

.sidebar .level-select select option {
    color: black;
    text-shadow: none;
}

article {
    padding: 1rem;
}


@media screen and (max-width:768px) {

    .footer-box .logo {
        margin: 0 auto;
        width: 70%;
    }

    .header .socials {
        display: none;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
    }

    .content .container {
        grid-template-columns: 1fr;
    }
}