* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: auto;
  grid-template-rows: 120px auto auto;
}
.margin-x-half {
  margin: 0 0.5em;
}
.margin-x-1 {
  margin: 0 1em;
}
.margin-x-big {
  margin: 0 1.5em;
}
.margin-x-2 {
  margin: 0 2em;
}
.margin-x-4 {
  margin: 0 4em;
}
.margin-y-half {
  margin: 0.5em 0;
}
.margin-y-75 {
  margin: 0.75em 0;
}
.margin-y-1 {
  margin: 1em 0;
}
.margin-y-2 {
  margin: 2em 0;
}
.margin-y-4 {
  margin: 4em 0;
}
#header {
  grid-area: header;
  position: fixed;
  z-index: 999;
  width: 100%;

  background-color: white;
}
.content {
  grid-area: content;
}
#footer {
  grid-area: footer;
}
#nav {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}
.nav-BarMenu {
  position: absolute;
  top: 50px;
  right: 45px;
}
#nav a {
  color: black;
}
.navButton {
  padding: 1.3em 2em;
  cursor: pointer;
  border-radius: 4em;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f4f7;
  transition: 0.2s all;
}
.navButton:hover {
  background-color: #101828;
  color: white;
}

.flex {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.mainSection {
  position: relative;
  background-color: #bee1e6;
  padding: 3em 0 0 0;
}
.mainSection-1 {
  z-index: 1;
}
.mainSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: url("https://agon-nextjs-13.vercel.app/_next/static/media/pattern-6.8b501f61.svg")
    no-repeat;
  background-size: cover;
}
.mainSectionSplit {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2.5em;
  padding: 3em 0;
}
.episode1 span {
  background-color: #006d77;
  color: white;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 14px;
}
.episode1 h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
  color: #101828;
}
.episode1 p {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #667085;
}
.sectionTag-1 {
  padding: 1em 0.5em 1em 1.5em;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-radius: 5px;
  background-color: #101828;
}
.sectionTag-2 {
  margin-left: 2em;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #101828;
}
.sectionTag-2 i {
  color: #006d77;
  margin-right: 0.5em;
}
.mainSectionImage {
  position: relative;
}

.mainSectionBackImage {
  max-width: 100%;
  background-size: cover;
  animation: hero-thumb-animation 2s linear infinite alternate;
}
.mainPaymentImage {
  border-radius: 10px;
  max-width: 100%;
  animation: paymentAnimation 4s linear infinite alternate;
}
.imageBlock1 {
  z-index: 3;
  position: absolute;
  top: 11%;
  right: -80px;
  height: 169px;
  width: 155px;
}
.imageBlock2 {
  position: absolute;
  z-index: 3;
  bottom: 40px;
  left: -50px;
  z-index: 3;
  width: 220px;
  height: 260px;
}
.mainBalanceImage {
  border-radius: 10px;
  max-width: 100%;
  animation: balanceAnimation 4s linear infinite alternate;
}

.navMenu li {
  position: relative;
}
.navMenu ul {
  background-color: white;
  width: 200px;
  position: absolute;
  top: 30px;
  left: -5px;
  border-radius: 5px;
  box-shadow: inset;
  padding: 0.5em 4em 0.5em 0.5em;
  border: 1px solid rgba(159, 153, 153, 0.092);
  opacity: 0;
  transition: 250ms all;
  visibility: hidden;
}
.navMenu > li:hover ul {
  opacity: 1;
  visibility: visible;
}
.navMenu li a {
  font-size: 18px;
  line-height: 24px;
}
.navMenu ul li {
  padding: 0.5em 0;
}

.navMenu ul li a {
  display: block;
}
.main1Info h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.main1Info p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #667085;
}
.sectionBrands {
  background-color: white;
  padding-top: 5em;
}
.sectionBrands h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #101828;
}
.brandsSection {
  display: inline-block;
  text-align: center;
}
.brandsSection li {
  display: inline-block;
  width: 19%;
  padding: 1em;
}
.brandsSection li:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.brandsSection li img {
  width: 100%;
}
.brandsSection li a {
  display: inline-block;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  padding: 1em;
}
.brandsSection li a:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.subscribeContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #bee1e6;
  border-radius: 10px;
  padding: 2em 3em;
}
.subscribeSection {
  margin: 6em 0 10em 0;
}

.subscribeTry {
  position: relative;
}
.subscribeContent {
  width: 42%;
}
.subscribeContent h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #667085;
}
.subscribeContent h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;

  color: #101828;
}
.subscribeContent p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #667085;
}
.subscribeContent a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #116b62;
}
.fomrDiv {
  background: #fff;
  max-width: 500px;
  padding: 11px 12px;
  border-radius: 55px;
}
.subscribeInput {
  display: flex;
  align-items: center;
}
.subscribeInput input {
  width: 90%;
  padding: 15px;
  border: 0;
  min-height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #98a2b3;
}
.subscribeInput button {
  background-image: url("	https://agon-nextjs-13.vercel.app/_next/static/media/btn-send.793d82ba.svg");
  background-repeat: no-repeat;
  background-position: -30px -20px;

  padding: 0.375rem 0.75rem;

  border: none;
  display: inline-block;
  height: 57px;
  width: 72px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0;
}
.subscribeImage {
  position: relative;
  width: 65%;
}
.subscribeMainImage {
  max-width: 332px;
  position: absolute;
  top: 30px;
  border-radius: 10px;
  right: 10px;
}
.staticImage {
  position: absolute;
  bottom: 25px;
  left: 20px;
  max-width: 255px;
  height: 194px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.staticImage img {
  border-radius: 10px;
  animation: static-animation 2s linear infinite alternate;
}
/* irem eklenenler */
.fresh-ideas {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
.built {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
/*last seciton*/
.choose {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
/**/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.fresh-ideas-img {
  width: 50%;
  flex: 0 0 auto;
}
.fresh-ideas-chart1 {
  position: relative;
}
.fresh-ideas-chart2 {
  position: absolute;
  right: -60px;
  width: 270px;
  bottom: -100px;
}
.fresh-ideas-text {
  padding-left: 80px;
  width: 50%;
  flex: 0 0 auto;
}
.fresh-ideas-header {
  background-color: #bee1e6;
  color: #006d77;
  border-radius: 50px;
  padding: 14px 28px;
}
.fresh-ideas-h3 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 30px;
  font-family: Chivo, sans-serif;
}
.fresh-ideas-p {
  color: #475467;
  margin-top: 30px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}
.text-icon {
  margin-top: 30px;
}
.text-icon1 {
  display: flex;
  margin-bottom: 15px;
}
.text-icon1 img {
  margin-right: 30px;
}
.text-icon1 h4 {
  font-family: Chivo, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 25px;
  line-height: 30px;
  display: flex;
}
img {
  max-width: 100%;
}
.fresh-ideas-chart2 img {
  border-radius: 16px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
}
.fresh-ideas-chart1 img {
  max-width: 100%;
  border-radius: 16px;
}
.text-icon1 p {
  margin-top: 15px;
  color: #475467;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
.text-content {
  margin-left: 12px;
}
.built {
  display: flex;
}
.built-text {
  width: 50%;
  flex: 0 0 auto;
}
.stick {
  border: 1px dashed #006d77;
  margin-top: 3em;
}
.inline {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.inline-block {
  margin-top: 50px;
  width: 50%;
}
.inline-block h4 {
  padding: 0 0 0 28px;
  background: url(https://agon-nextjs-13.vercel.app/_next/static/media/icon-leaf.f2afd49a.svg)
    no-repeat 0 2px;
  font-family: Chivo, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.inline-block p {
  margin-top: 15px;
  color: #475467;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.built-img {
  width: 50%;
  flex: 0 0 auto;
  padding-left: 3em;
}
.built-img1 {
  position: relative;
}
.built-img2 {
  position: absolute;
  right: -60px;
  width: 270px;
  bottom: -100px;
}
.built-img1 img {
  max-width: 100%;
  border-radius: 16px;
}

.built-img2 img {
  border-radius: 16px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
}
@media screen and (max-width: 390px) {
  .fresh-ideas-img {
    width: 90%;
  }
  .fresh-ideas-text {
    width: 90%;
    margin-top: 150px;
    padding-left: 0;
  }
  .fresh-ideas-h3 {
    font-size: 40px;
    font-weight: 400;
  }
  .wrapper {
    justify-content: center;
  }
  .fresh-ideas-chart2 {
    right: 0;
  }
  .text-icon1 img {
    margin-right: 65px;
    max-width: 150%;
  }
  /* built-section-responsive*/
  .built-text {
    width: 90%;
  }
  .built-img {
    width: 90%;
    margin-top: 150px;
    padding-left: 0;
  }
}

@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes paymentAnimation {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes balanceAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35px);
  }
}
@keyframes static-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@media screen and (max-width: 1400px) {
  .navButton {
    display: none;
  }
  .imageBlock2 {
    bottom: 200px;
    left: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .navButton {
    display: block;
  }
  .navMenu {
    display: none;
  }
  .imageBlock2 {
    bottom: 320px;
    left: -30px;
  }
}
@media screen and (max-width: 1000px) {
  .navButton {
    display: none;
  }
  .mainSectionImage {
    display: none;
  }
  .mainSectionSplit {
    grid-template-columns: 1fr;
  }
  .episode1 h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .brandsSection li {
    width: 30%;
  }
  .sectionBrands h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
