* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: auto;
  grid-template-rows: 120px auto auto;
}
.margin-x-1 {
  margin: 0 1em;
}
#header {
  grid-area: header;
  width: 100%;
  background-color: red;
}
.content {
  grid-area: content;
}
#footer {
  grid-area: footer;
}
#nav {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}
#nav a {
  color: black;
}
#nav button {
  padding: 1.5em;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 75%;
  margin: 0 auto;
}
.nav-button {
}
