* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: auto;
  grid-template-rows: 120px auto auto;
}
.margin-x-half {
  margin: 0 0.5em;
}
.margin-x-1 {
  margin: 0 1em;
}
.margin-x-big {
  margin: 0 1.5em;
}
.margin-x-2 {
  margin: 0 2em;
}
.margin-x-4 {
  margin: 0 4em;
}
.margin-y-half {
  margin: 0.5em 0;
}
.margin-y-75 {
  margin: 0.75em 0;
}
.margin-y-1 {
  margin: 1em 0;
}
.margin-y-2 {
  margin: 2em 0;
}
.margin-y-4 {
  margin: 4em 0;
}
#header {
  grid-area: header;
  position: fixed;
  z-index: 999;
  width: 100%;

  background-color: white;
}
.content {
  grid-area: content;
}
#footer {
  grid-area: footer;
}
#nav {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}
.nav-BarMenu {
  position: absolute;
  top: 50px;
  right: 45px;
}
#nav a {
  color: black;
}
.navButton {
  padding: 1.3em 2em;
  cursor: pointer;
  border-radius: 4em;
  border: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f4f7;
  transition: 0.2s all;
}
.navButton:hover {
  background-color: #101828;
  color: white;
}

.flex {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.mainSection {
  position: relative;
  background-color: #bee1e6;
  padding: 3em 0 0 0;
}
.mainSection-1 {
  z-index: 1;
}
.mainSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: url("https://agon-nextjs-13.vercel.app/_next/static/media/pattern-6.8b501f61.svg")
    no-repeat;
  background-size: cover;
}
.mainSectionSplit {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2.5em;
  padding: 3em 0;
}
.episode1 span {
  background-color: #006d77;
  color: white;
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 14px;
}
.episode1 h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
  color: #101828;
}
.episode1 p {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #667085;
}
.sectionTag-1 {
  padding: 1em 0.5em 1em 1.5em;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-radius: 5px;
  background-color: #101828;
}
.sectionTag-2 {
  margin-left: 2em;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #101828;
}
.sectionTag-2 i {
  color: #006d77;
  margin-right: 0.5em;
}
.mainSectionImage {
  position: relative;
}

.mainSectionBackImage {
  max-width: 100%;
  background-size: cover;
  animation: hero-thumb-animation 2s linear infinite alternate;
}
.mainPaymentImage {
  border-radius: 10px;
  max-width: 100%;
  animation: paymentAnimation 4s linear infinite alternate;
}
.imageBlock1 {
  z-index: 3;
  position: absolute;
  top: 11%;
  right: -80px;
  height: 169px;
  width: 155px;
}
.imageBlock2 {
  position: absolute;
  z-index: 3;
  bottom: 40px;
  left: -50px;
  z-index: 3;
  width: 220px;
  height: 260px;
}
.mainBalanceImage {
  border-radius: 10px;
  max-width: 100%;
  animation: balanceAnimation 4s linear infinite alternate;
}

.navMenu li {
  position: relative;
}
.navMenu ul {
  background-color: white;
  width: 200px;
  position: absolute;
  top: 30px;
  left: -5px;
  border-radius: 5px;
  box-shadow: inset;
  padding: 0.5em 4em 0.5em 0.5em;
  border: 1px solid rgba(159, 153, 153, 0.092);
  opacity: 0;
  transition: 250ms all;
  visibility: hidden;
}
.navMenu > li:hover ul {
  opacity: 1;
  visibility: visible;
}
.navMenu li a {
  font-size: 18px;
  line-height: 24px;
}
.navMenu ul li {
  padding: 0.5em 0;
}

.navMenu ul li a {
  display: block;
}
.main1Info h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.main1Info p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #667085;
}
.sectionBrands {
  background-color: white;
  padding-top: 5em;
}
.sectionBrands h2 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #101828;
}
.brandsSection {
  display: inline-block;
  text-align: center;
}
.brandsSection li {
  display: inline-block;
  width: 19%;
  padding: 1em;
}
.brandsSection li:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.brandsSection li img {
  width: 100%;
}
.brandsSection li a {
  display: inline-block;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  padding: 1em;
}
.brandsSection li a:hover {
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.subscribeContainer {
  width: 80%;
  margin: 0 auto;
  background-color: #bee1e6;
  border-radius: 10px;
  padding: 3em 2em 3em 5em;
}
.subscribeSection {
  margin: 6em 0 10em 0;
  height: auto;
}
.formDiv {
  position: relative;
}
.formDiv input {
  border: none;
  width: 100%;
  height: 80px;
  border-radius: 50px;
  padding: 1em 2em;
}
.formDiv button {
  position: absolute;
  top: 17px;
  right: -20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subscribeTry {
  position: relative;
  display: flex;
}
/* .subscribeContent {
  width: 49%;
} */
.subscribeContent h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.5px;
  color: #667085;
}
.subscribeContent h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;

  color: #101828;
}
.subscribeContent p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #667085;
}
.subscribeContent a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #116b62;
}
.fomrDiv {
  background: #fff;
  max-width: 500px;
  padding: 11px 12px;
  border-radius: 55px;
}
.subscribeInput {
  display: flex;
  align-items: center;
}
.subscribeInput input {
  width: 90%;
  padding: 15px;
  border: 0;
  min-height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #98a2b3;
}
.subscribeInput button {
  background-image: url("	https://agon-nextjs-13.vercel.app/_next/static/media/btn-send.793d82ba.svg");
  background-repeat: no-repeat;
  background-position: -30px -20px;

  padding: 0.375rem 0.75rem;

  border: none;
  display: inline-block;
  height: 57px;
  width: 72px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0;
}
.subscribeImage {
  position: relative;
  width: 65%;
}

.subscribeMainImage {
  max-width: 332px;
  position: absolute;
  top: 20px;

  border-radius: 10px;
  right: 10px;
}

.staticImage {
  position: relative;
  bottom: -120px;
  left: 10px;
  max-width: 255px;
  height: 194px;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.staticImage img {
  position: absolute;
  border-radius: 10px;
  animation: static-animation 2s linear infinite alternate;
}
/* irem eklenenler */
.fresh-ideas {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
.built {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
/*last seciton*/
.choose {
  padding: 3em 0;
  max-width: 100%;
  background-color: #ffffff;
}
/**/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.fresh-ideas-img {
  width: 50%;
  flex: 0 0 auto;
}
.fresh-ideas-chart1 {
  position: relative;
}
.fresh-ideas-chart2 {
  position: absolute;
  right: -60px;
  width: 270px;
  bottom: -100px;
}
.fresh-ideas-text {
  padding-left: 80px;
  width: 50%;
  flex: 0 0 auto;
}
.fresh-ideas-header {
  background-color: #bee1e6;
  color: #006d77;
  border-radius: 50px;
  padding: 14px 28px;
}
.fresh-ideas-h3 {
  font-size: 56px;
  font-weight: 700;
  margin-top: 30px;
  font-family: Chivo, sans-serif;
}
.fresh-ideas-p {
  color: #475467;
  margin-top: 30px;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}
.text-icon {
  margin-top: 30px;
}
.text-icon1 {
  display: flex;
  margin-bottom: 15px;
}
.text-icon1 img {
  margin-right: 30px;
}
.text-icon1 h4 {
  font-family: Chivo, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 25px;
  line-height: 30px;
  display: flex;
}
img {
  max-width: 100%;
}
.fresh-ideas-chart2 img {
  border-radius: 16px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
}
.fresh-ideas-chart1 img {
  max-width: 100%;
  border-radius: 16px;
}
.text-icon1 p {
  margin-top: 15px;
  color: #475467;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
.text-content {
  margin-left: 12px;
}
.built {
  display: flex;
}
.built-text {
  width: 50%;
  flex: 0 0 auto;
}
.stick {
  border: 1px dashed #006d77;
  margin-top: 3em;
}
.inline {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.inline-block {
  margin-top: 50px;
  width: 50%;
}
.inline-block h4 {
  padding: 0 0 0 28px;
  background: url(https://agon-nextjs-13.vercel.app/_next/static/media/icon-leaf.f2afd49a.svg)
    no-repeat 0 2px;
  font-family: Chivo, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.inline-block p {
  margin-top: 15px;
  color: #475467;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.built-img {
  width: 50%;
  flex: 0 0 auto;
  padding-left: 3em;
}
.built-img1 {
  position: relative;
}
.built-img2 {
  position: absolute;
  right: -20px;
  width: 270px;
  bottom: -100px;
}
.built-img1 img {
  max-width: 100%;
  border-radius: 16px;
}

.built-img2 img {
  border-radius: 16px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, 0.1);
}
/* Start Discover Powerfull */
.discover-section {
  width: 100%;
}
.discover-main {
  text-align: center;
  padding: 0 159px;
  margin-top: 40px !important ;
}
.text-heading {
  font-size: 56px;
  color: #101828;
}
.text-p {
  margin-top: 20px;
  color: #475467;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
}
.discover-img-area {
  margin-top: 90px;
  justify-content: center;
}
.disc-heading {
  font-size: 28px;
  color: #101828;
  margin: 0 0 15px;
}
.disc-text {
  color: #475467;
  font-size: 14px;
  line-height: 19px;
  font-family: "Noto Sans", sans-serif;
}
.disc-padding {
  padding: 0 12px;
  text-align: center;
}

.discover-left {
  background-color: #fff3ea;
  padding: 55px 70px 0;
  height: 455px;
  width: 40rem;
}
.discover-left:hover,
.discover-right:hover,
.card-grid:hover {
  transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transform: translateY(-3px);
}
.discover-left img {
  max-width: 29rem;
}
.bg-pd-mg {
  padding: 23px 19px;
  margin: 30px 0 0;
}
.bg-left-img {
  background-color: #ebecf4;
}
.discover-right {
  background-color: #bee1e6;
  padding: 55px 50px 0;
  height: 455px;
  width: 36rem;
}
.discover-right img {
  max-width: 28rem;
}
.bg-right-img {
  background-color: #cbd1e5;
}
.disc-br {
  border-radius: 16px;
}
.built-section {
  margin-top: 200px;
}
.built-main {
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.built-p {
  padding: 0 12px;
}
.item-icon {
  position: relative;
  padding: 0 0 40px 80px;
  margin-bottom: 40px;
  border-bottom: 2px solid #e4e7ec;
}
.item-icon .icon-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
}
.icon-left img {
  width: 64px;
}
.built-header {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 32px;
}
.built-text2 {
  margin-top: 15px;
  color: #475467;
  font-family: Noto Sans, sans-serif;
  line-height: 28px;
  font-weight: 400 !important;
  font-size: 16px;
}
.our-happy-section {
  margin-top: 120px;
}
.bg-gray {
  background-color: #f2f4f7;
  border-radius: 58px;
}
.box-gray-80 {
  padding: 80px;
  align-content: center;
}
.four-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 70px;
}
.card-grid {
  padding: 53px 48px;
  display: inline-block;
  border-radius: 16px;
  position: relative;
  background: #fff;
  box-shadow: inset 0 40px 80px #fcfcfc;
}

.card-grid h5 {
  font-size: 22px;
  color: #101828;
}

.card-grid p {
  margin-top: 20px;
}
.box-img-user {
  position: relative;
  padding: 15px 0 0 100px;
  margin-top: 32px;
  min-height: 80px;
}

.img-user {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}
.img-user img {
  width: 100%;
  border-radius: 4px;
}
.p-14 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 19px;
}
.user-text {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
/*Footer Css*/
#footer {
  margin-top: 50px;
}
.footer-b-left {
  justify-content: space-between;
}
.footer-bottom {
  border-top: 1px solid #e4e7ec;
  justify-content: space-between;
}
.f-link,
.footer-bottom {
  flex-wrap: wrap;
  padding: 30px 0;
  color: #667085;
  font-size: 14px;
  margin-right: 50px;
}
.footer-social i {
  color: white;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4f8d94;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social i:hover {
  background-color: #4f8d948d;
}

/*Footer row*/
.footer-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.contact {
  margin-bottom: 30px;
}
.text-heading-5 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0;
}
.contact-list {
  margin-top: 20px;
  list-style: none;
}
.contact-list li {
  margin-bottom: 10px;
}
.contact-list li,
.contact-list li a {
  color: #667085;
  font-size: 16px;
  margin: 0 0 8px;
}
.footer-top {
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e7ec;
}
.footer-top span {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.create-btn {
  border-radius: 4px;
  background-color: #101828;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 18px 20px;
  border: 2px solid transparent;
}
.create-btn:hover:hover {
  background-color: #fff;
  color: #101828;
  border-color: #101828;
}
.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #006d77;
  color: white;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* choosethebestsection */
.choosebox {
  text-align: center;
  margin: auto;
  max-width: 70%;
  width: 50%;
  margin: auto;
}
.choose-box-text {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  margin-top: 30px;
}
.row {
  flex-direction: row;
  align-items: center;
}
.choose-box {
  display: flex;

  gap: 10px;
  justify-content: center;
  margin: 20px auto 50px;
}
.choose-box-p {
  color: #475467;
  font-weight: 400;
  margin-top: 15px;
  font-size: 0.875rem;
  line-height: 26px;
}
.choose-plan {
  position: relative;
  background-color: #101828;
  border-radius: 34px;
  transition: 0.4s;
  cursor: pointer;
  width: 65px;
  height: 30px;
}
.select-plan-box {
  display: inline;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 99;
  transition: all 0.4s ease-in-out;
}
.card-box {
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.card {
  width: 20%;
  padding: 40px 32px;
  margin: 0 0 30px;
  border-radius: 16px;
  border: 1px solid #d0d5dd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.5s ease;
}
.card-top {
  border-bottom: 1px solid #d0d5dd;
  padding: 0 0 40px;
  margin-bottom: 21px;
}
.text-heading-day {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.2rem;
  margin: 10px 0;
  color: #101828;
}
.text-heading1 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
  margin: 10px 0;
  color: #101828;
}
.card-bottom {
  position: relative;
}
.button-orange {
  display: none;
  transition: all 0.5s ease;
}
.card-bottom ul {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
  min-height: 200px;
  transition: all 0.5s ease;
}

.card-bottom ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #101828;
  padding: 1px 0 1px 0;
  transition: all 0.5s ease;
}
.text-heading0 {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.2rem;
  margin: 10px 0;
  color: #101828;
}
.choose-button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 18px 20px;
  font-weight: 700;
  border: 2px solid transparent;
}
.choose-button {
  border: 1px solid #fff;
  text-align: center;
  background-color: #101828;
  color: #fff;
  width: 100%;
  border-radius: 16px;
}
.year {
  display: none;
  transition: all 0.5s ease;
}
.card:hover {
  background-color: #006d77;
  transform: translateY(-5px);
  transition: all 0.5s ease;
}

.card:hover .card-top > *,
.card:hover .card-bottom li {
  color: #fff;
  transition: all 0.5s ease;
}

.card:hover .choose-button {
  background-color: transparent;
  transition: all 0.5s ease;
}

.card:hover .button-orange {
  display: inline-block;
  transition: all 0.5s ease;
}

.card:hover .button-blue {
  display: none;
  transition: all 0.5s ease;
}
#choose {
  display: none;
}
#choose:checked ~ .card-box .card .card-top .year {
  display: inline;
  transition: all 0.5s ease;
}
#choose:checked ~ .card-box .card .card-top .day {
  display: none;
  transition: all 0.5s ease;
}

.choose-plan {
  position: relative;
  background-color: #101828;
  border-radius: 34px;
  transition: 0.4s;
  cursor: pointer;
  width: 65px;
  height: 30px;
}
.choose-plan-box {
  display: inline;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 99;
  transition: all 0.4s ease-in-out;
}

#choose:checked ~ .plan-title .choose-plan {
  background-color: #006d77;
  transition: all 0.4s ease-in-out;
}

#choose:checked ~ .plan-title .choose-plan .choose-plan-box {
  transform: translate(45px, -50%);
  transition: all 0.4s ease-in-out;
}
.plan-title {
  width: 100%;
  margin: auto;
}
.choose-box .choose-box-p {
  margin: 0;
}
@media screen and (max-width: 760px) {
  .choose-box-text{
    font-size: 35px;
    line-height:44px ;
  }
  .card-box {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 100%;
  }
  .choosebox{
    max-width: 100%;
    margin-top: -100px;
  }
}
@media screen and (max-width: 390px) {
  .fresh-ideas-img {
    width: 90%;
  }
  .fresh-ideas-text {
    width: 90%;
    margin-top: 150px;
    padding-left: 0;
  }
  .fresh-ideas-h3 {
    font-size: 40px;
    font-weight: 400;
  }
  .wrapper {
    justify-content: center;
  }
  .fresh-ideas-chart2 {
    right: 0;
  }
  .text-icon1 img {
    margin-right: 65px;
    max-width: 150%;
  }
  /* built-section-responsive*/
  .built-text {
    width: 90%;
  }
  .built-img {
    width: 90%;
    margin-top: 70px;
    padding-left: 0;
  }
}

@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes paymentAnimation {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes balanceAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-35px);
  }
}
@keyframes static-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@media screen and (max-width: 1400px) {
  .navButton {
    display: none;
  }
  .imageBlock2 {
    bottom: 200px;
    left: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .navButton {
    display: block;
  }
  .navMenu {
    display: none;
  }
  .imageBlock2 {
    bottom: 320px;
    left: -30px;
  }
}
@media screen and (max-width: 1000px) {
  .navButton {
    display: none;
  }
  .mainSectionImage {
    display: none;
  }
  .mainSectionSplit {
    grid-template-columns: 1fr;
  }
  .episode1 h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .brandsSection li {
    width: 30%;
  }
  .sectionBrands h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .subscribeContent {
    width: 100%;
  }
  .subscribeTry {
    position: relative;
    display: block;
    padding: 0;
  }

  .subscribeImage {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .subscribeImage div {
    position: relative;
    max-width: 100%;
    height: 100%;
    text-align: center;
  }
  .subscribeMainImage {
    max-width: 100%;
    position: static;

    border-radius: 10px;
  }

  .staticImage img {
    position: absolute;

    left: -21px;
    top: 100px;
    max-width: 255px;
    height: 194px;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }
  .subscribeContainer {
    width: 100%;
    padding: 1em 1em;
  }
  /* sueda-footer */
  .discover-main {
    padding: 0 6rem;
  }
  .discover-img-area {
    display: flex;
    flex-wrap: wrap;
  }
  .discover-right {
    margin-top: 150px;
  }
  .text-heading {
    font-size: 46px;
  }
  .text-heading-resp {
    padding: 0 2rem;
  }
  .built-main {
    flex-wrap: wrap;
  }
  .four-box {
    grid-template-columns: 1fr;
  }
  .footer-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-b-left {
    flex: 0 0 auto;
    width: 50%;
  }
  #footer {
    width: 80%;
  }
  .footer-social {
    float: right;
  }
}
@media screen and (max-width: 390px) {
  .discover-section,
  .our-happy-section {
    width: 370px;
  }
  .text-heading {
    font-size: 35px !important;
  }
  .discover-img-area {
    flex-wrap: wrap !important;
  }
  .discover-main {
    padding: 0;
  }
  .discover-left,
  .discover-right {
    width: 346px;
    height: 414px;
    padding: 20px 55px;
    margin-top: 40px;
  }
  .bg-left-img {
    margin-top: 60px;
  }
  .discover-left img,
  .discover-right img {
    width: 13rem;
  }
  footer .footer-top {
    display: block !important;
    text-align: center;
  }
  .top-right {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .footer-top span {
    margin: 0;
    margin-bottom: 10px;
  }

  /*Built Section*/
  .built-section {
    margin-top: 60px;
    padding: 0;
  }
  .built-section > .container {
    width: 100%;
  }
  .built-main {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .item-icon {
    margin-top: 40px;
  }
  /*Our Happy Section*/
  .four-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card-grid {
    padding: 38px 25px;
  }
  .box-gray-80 {
    width: 100%;
    padding: 40px;
  }
  .box-img-user {
    width: 100%;
    padding: 0px;
  }
  .card-grid > .built-text {
    height: 84px;
    overflow: hidden;
    width: 100%;
  }
  .box-img-user {
    position: relative;
    padding: 0 0 0 100px;
    margin-top: 32px;
    min-height: 80px;
  }
}
