p1 {
    font-size: 30px;
    background-color: chartreuse;
  }
  
  .paragraf {
    color: rgb(249, 85, 14);
    font-size: 20px;
    text-align: left;
    background-color: rgb(187, 120, 250);
  }
  
  #p2 {
    font-size: 40px;
    background-color: black;
  }