body {
  border-right: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: Nanum Gothic, sans-serif;
}

.section_testimonial {
  background-color: #ffffff;
  color: #4d4d4d;
}

.section_blog {
  background-color: #f8f9fa;
  color: #4d4d4d;
}

.section_news {
  background-color: #2f89fc;
  color: #ffffff;
}

footer {
  background-color: #343333;
  color: rgb(115, 115, 115);
}
footer .footer_copyright {
  padding: 5em 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1140px) 1fr;
  padding: 5em 0;
}
.container > * {
  grid-column: 2;
  padding: 0 10px;
}
.container .testimonial {
  display: grid;
  grid-template-rows: 1fr, 1fr, 3fr;
  justify-content: center;
  text-align: center;
}
.container .testimonial .section_mid img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.container .testimonial .section_bot {
  max-width: 800px;
  margin: auto;
}
.container .blog {
  display: grid;
  grid-template-columns: 1fr, 3fr, 1fr;
  align-items: center;
  text-align: center;
}
.container .blog .section_mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: space-between;
}
.container .blog .section_mid .blog_card {
  display: grid;
  text-align: start;
  grid-template-columns: 4fr, repeat(2, 1fr), 2fr;
  padding: 0.93em;
  gap: 1em;
}
.container .blog .section_mid .blog_card .blog_img {
  width: 100%;
  border-radius: 5px;
}
.container .blog .section_bot {
  display: grid;
  justify-content: center;
  margin-top: 40px;
}
.container .blog .section_bot .btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.container .news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: space-between;
  margin: -16px 0;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.container .footer {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  align-items: space-between;
  gap: 1em;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 5em;
}
.container .footer h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 1em;
  color: #ffffff;
}
.container .footer ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin-bottom: 10px;
}
.container .footer ul li a {
  color: rgb(153, 153, 153);
}
.container .footer ul li a:hover {
  color: #ffffff;
}
.container .footer ul.footer_social {
  display: flex;
  gap: 2em;
}
.container .footer ul.footer_social li {
  list-style: none;
  display: inline-block;
}
.container .footer .footer_input {
  display: flex;
  border: 1px solid #4d4d4d;
  width: 100%;
}
.container .footer .footer_input input {
  background-color: transparent;
  border: none;
  width: 70%;
  padding: 1em;
}
.container .footer .footer_input input:focus {
  outline: none;
  color: #ffffff;
}
.container .footer .footer_input .btn {
  width: 30%;
  padding: 12px 6px;
}

.section_top {
  text-align: center;
  font-size: 24px;
  margin: 1.5em;
}
.section_top hr {
  color: #2f89fc;
  width: 80px;
  margin: 0.5em auto;
  line-height: 100px;
  border: 1.5px solid #2f89fc;
}

.section_header {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: #2f89fc;
}

.section_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.blog_name {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin: 16px 0;
}

.blog_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 40.8px;
  font-style: italic;
}

.blog_card_header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0.75em;
}

.blog_card_info {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.8px;
  color: rgb(179, 179, 179);
}
.blog_card_info a {
  color: #2f89fc;
}

.blog_card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.btn {
  cursor: pointer;
  width: 152px;
  background-color: #2f89fc;
  color: white;
  text-align: center;
  padding: 8px 24px;
}

.news_header {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  margin-bottom: 0.5em;
}

.news_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

.news_input {
  background-color: #2f89fc;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  color: white;
}
.news_input input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #4d4d4d;
}
.news_input input::placeholder {
  color: white;
  font-style: italic;
}
.news_input input:focus {
  outline: none;
}
.news_input .btn {
  background-color: #f8f9fa;
  color: black;
}

@media only screen and (max-width: 992px) {
  .container .blog .section_mid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .container .blog .section_mid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-template-columns: none;
  }
  .container .news {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-template-columns: none;
  }
  .container .footer {
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr, 1fr;
    justify-content: center;
    grid-template-columns: none;
  }
}

/*# sourceMappingURL=main.css.map */
