.customButton {
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
