.banner-area {
  background-image: url("../../../assets/bannerImg/productBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  border-radius: 0px 0px 30px 30px;

  .banner-man {
    width: 35rem;
    display: flex;

  }

  .banner-header {

    font-size: 52px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0em;
  }

  .banner-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;

  }

  .banner-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;

  }


}

@media (max-width: 767px) {
  .banner-area {
    background-position: center;
  }

  .banner-man {
    width: 20rem !important;
    display: flex;
    justify-content: center;

  }
}