.todoTools{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    height: 40px;
    flex-direction: row-reverse;
    margin-bottom: 40px;

}

hr{
    border-color: gold;
    height: 2px;
    margin-bottom: 40px;

}


