.paragraf::first-letter{
    font-size: 36px;
    color: blue;
}
.paragraf::first-line{
    background-color: aqua;
    color: tomato;
}
.paragraf::after{
    content:"buen sondaki seçilemeyen yazıdır."
}
