* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}

body {
  background-color: hsla(147, 72%, 53%, 1);
  background-image: radial-gradient(
      at 62% 14%,
      hsla(178, 82%, 66%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 26% 93%, hsla(176, 95%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 68%, hsla(167, 80%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(183, 84%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(189, 74%, 63%, 1) 0px, transparent 50%);
}
.navbar{
  background-color: #2efaec;
}
.dropdown-menu{
  background-color: #2efaec;
  width: 250px;
}
.checkbox{
  font-size: 20px;
}
.carousel{
  top:0;
  margin-bottom: -200px;
}
.carousel-item img{
  filter: saturate(1.1) contrast(1.5) brightness(0.5);
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators{
  bottom: 250px;
}
.carousel-caption {
  top: -340px !important;
  left: 10px !important;
  width: 50% !important;
}
.btn-light:hover{
  background-color: #2efaec;
}
.card-img {
  object-fit: cover;
  height: 370px;
}
.card {
  background: inherit;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  position: relative;
  z-index: 1;
}
.card::before{
  content: "";
  position: absolute;
  filter: blur(10px);
  background: inherit;
  z-index: -1;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5)
}
.card:hover {
  box-shadow: 12px 3px 6px 0px rgba(6, 176, 165, 1) !important;
  scale: 1.05;
}
.modal-content{
  box-shadow: 12px 3px 6px 0px rgba(6, 176, 165, 1) !important;
  border: 1px solid #2efaec;
}
footer i:hover{
  color: #2efaec;
}
footer img:hover{
  filter: saturate(1.1) contrast(1.5) brightness(0.5);
}

@media screen and (max-width: 769px) {
  .booksList{
    margin-top: 100px;
  }
  .btn-info{
    width: 150px;
    margin-left: 100px;
  }
}