body {
  overflow-y: hidden;
  background-image: linear-gradient(to left bottom, #d43f94, #d66eb6, #d894d2, #dcb7e7, #e6d7f5, #e1e4fd, #e3f0ff, #eef9ff, #d1f9ff, #affaff, #88fbff, #5ffbf1);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: black;
}

input[type="button"] {
  background-color: #313131;
  border: none;
  color: white;
  width: 100%;
  height: 75px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

input[type="button"]:active {
  background-color: orange;
}

.islem-btn[type="button"]:active {
  background-color: white !important;
}


input[type="text"] {
  width: 240px;
  margin: 4px 2px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: right;
  padding: 10px;
}

.wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  height: 100%;
}

.islem-btn {
  background-color: orange !important;
}