#root {
  background: url("https://img.freepik.com/free-photo/vintage-textured-watercolor-paper-background_53876-103939.jpg?w=996&t=st=1686270443~exp=1686271043~hmac=f36f54b811517f7d61756d1992d925a742da5665f75e4b1c646d7c42692b4579");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(90%);
}
