header {
        height: 100px;
        width: 100%;
        text-align: center;
        align-items: center;
        background-image: url("../../Images/paper-.jpg");
        color: black;
        font-size: 50px;
        padding-top: 20px;
}
footer {
        height: 100px;
        width: 100%;
}
nav {
        height: 40px;
        width: 100%;
        margin-top:20px;
    }
article {
        width: 70%;
        height: 500px;
        /* display: flex; */
        flex-direction:row;
        align-items: center;
        justify-content: space-evenly;
}
aside {
        width: 30%;
        height: 500px;
        
}
.section_product {
        width: 200px;
        background-color:beige;

}

.section_img {
    height: 250px;
    max-width: auto;
    margin-bottom: 5px;
}
.row {
        display: flex;
}
.nav_span{
    border: 1px;
    padding: 10px;
    margin-left: 10px;
    border-color: black;
    border-style: solid;
}
.section_top_title {
        border: 2px solid;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
}
.section_row{
        display: inline-flex;
        margin-top: 30px;
}
.section_pro_name{
        font-size: 25px;
}
.section_pro_writer{
        font-size: 20px;
        font-style: italic;
}
.section_pro_price{
        color: red;
}
.section_pro{
        margin: 8px;
}
.search{
        float: right;
        font-size: 25px;

}
* {
        box-sizing: border-box;
        text-align: center;
        color: black
        ;
}
