@media screen and (max-width: 720px) {
  .nav-item,
  .dropdown-item {
    text-align: center;
  }
  .nav-buttons {
    justify-content: center;
  }
  #slider {
    margin-bottom: 0 !important;
    .carousel-item {
      img {
        height: 300px !important;
      }
    }
  }
  .category {
    width: 60px !important;
    height: 60px !important;
    h5 {
      font-size: 0.8rem !important;
      text-align: center;
    }
  }
  #search {
    width: 75% !important;
  }
  #sortBy {
    margin-top: 5px;
  }
}
