@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto Slab', sans-serif;
}
nav{
  display: flex;
  justify-content: center;
align-items: center;
position: fixed;
width: 100%;
height: 7%;
letter-spacing: 0.8px;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  

}
.container ul{
  display: flex;
}
.nav-links{
  display: flex;
  font-size: 12px;
  font-weight: 600;
 
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }

  .nav-links1{
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .nav-links li a{margin:0 6px;
  display: flex;
align-items: center;

color:rgb(214, 212, 212);
}
.nav-links1 li a:hover{
  color: #ffffff;
}
.nav-links1 li{
  margin: 0 6px;
}

.nav-links2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.nav-links2 li a{
  background-color: rgb(214, 212, 212);
  border-radius: 30px;
  padding: 5px;
  color: black;
}
.nav-links2 li a:hover{
  background-color: #ffffff;
  
}

.nav-section{height: 800px;
  background-image: url(/img/top.jpg);
  background-size: cover;
  

}

.slider{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;


}
.slider-container{
  width: 70%;
  
}
.slider-container h4{
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 24px;
}

.slider-container p{
  max-width: 600px;
  font-size: 17px;
  opacity: 0.5;
}

.slider-container button{
  background-color: #ff5714;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;
}
.slider-container button:hover{
  background-color: #f03405;
}

.companyStory{
  padding: 100px 0;
  width: 100%;
  display: flex;
  background-color: #F8F9FC;
align-items: center;
justify-content: center;
height: 800px;}

.companyStory-container{
  margin: auto;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  
}

.video {
  background: url("./img/about.jpg");
  width: 450px;
  height: 515px;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.play-icon {

  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
  left: 0;
  text-align: center;

}

.play-button {
  height: 78px;
  width: 78px;
  font-size: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
}

.play-button:hover {
  color: #FF5714;
}


.whoWeAre{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  
  
}
.whoWeAre-container{
  display: flex;
    gap: 10px;
  
  justify-content: center;
  flex-direction: column;
 
}

.whoWeAre-container h6{
  font-size: 15px;
  margin-bottom: 8px;
  color: #ff5714;
}

.whoWeAre-container h4{
  font-size: 28px;
  margin-bottom: 24px;
  
}

.whoWeAre-container p{
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 24px;
}

.whoWeAre-container button{
  background-color: #ff5714;
  color: white;
  border: 1px solid #ff5714;
  padding: 8px 20px;
  border-radius: 6px;
  margin: 16px 0 0;
  cursor: pointer;
  width: 130px;
  height: 40px;
  font-size: 15px;
}

.whoWeAre-container button:hover{
  background-color: #f03405;
  border: 1px solid #f03405;
  transition:ease-in;
}
.main{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-direction: column;
  }
  .main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
  }
  .main-title div{
    width: 50%;
    display: flex;
    
    flex-direction: column;
  }

  .main-titleContent h6{
    color: #ff5714;
    font-size: 15px;
    margin:0 0 8px 100px;
   
   
  }
  .main-titleContent h4{
    font-size: 28px;
    margin:0 0 24px 100px;
    

  }

  .main-dataContent{
    font-size: 15px;
    opacity: 0.5;
    margin:0 0 24px 100px;
  }
  

  .main-cell{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;

  }

  .card{
    width: 25%;
    padding: 30px;
    background-color: #fffefe;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 314px;
  }

  .card:hover:nth-child(odd){
    transition: 0.6s;
    box-shadow: 22px 24px 18px -10px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  }
  .card:nth-child(even){
    box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.048),0px 10px 15px -3px rgba(0, 0, 0, 0);
  }
  .card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
.card-content a{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
}
.card-content a:hover{
color: #f03405;
}

.card-content p{
  font-size: 15px;
  opacity: 0.5;
  margin: 0 0 8px;
 
}

.card-content button{
  font-size: 16px;
  font-weight: 400;
  width: 105px;
    height: 20px;
    display: flex;
    background-color: transparent;
    border: none;
    gap : 5px;
    color: #000;
    
}

/* .content-button:hover{color: #FF5714}; */

.button-underline{
  display: inline-block;
  position: relative;
  color: #000;
}

.button-underline:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
  #FF5714;
  
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;}

  .button-underline:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }

  .button-underline:hover{
    color: #FF5714;
  }

  



  .main-icon{
    width: 85px;
    height: 85px;
    background-color: #ffeee7;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  .main-icon img{
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ff5714;
    border-radius: 10px;
  }

  



  .workProcess{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
  }
  .workProcess-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

  }
  .workProcess-title h6{
    color: #ff5714;
    font-size: 15px;
  }

  .workProcess-title h4{
    font-size: 28px;
  }

 

  .workProcess-title p{
    width: 600px;
    text-align: center;
    font-size: 15px;
    color: rgba(88, 88, 88, 0.733);
  }

  .strategy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 70px;
   
  }

  .strategy div{
    width: 50%;
  }

  .strategy-img:nth-child(odd){
    text-align: right;

  }

.strategy-img:nth-child(even){
  text-align: left;
}

.strategy p:nth-child(even){
  
  text-align: right;
  
  
}

.development-h6{
  text-align: right;
}







/* media */

@media only screen and (min-width: 1200px) {
  .mobile-nav {
      display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-links {
      justify-content: center;
  }

  .mobile-nav {
      display: none;
  }

  .slider-p {
      width: 100%;
      font-size: 20px;
      color: #788490;
      letter-spacing: 1px;
  }

  .slider-container h2 {
      font-size: 35px;
  }

  .slider-button {
      color: white;
      background-color: #FF5714;
      border: none;
      border-radius: 10px;
      padding: 10px 20px 10px 20px;
      font-size: 14px;
      margin-top: 18px;
  }
 
}



@media only screen and (max-width: 992px) {
  .container {
      background-color: white;
      width: 100%;
  }

  .nav-links {
      display: none;
  }

  .logo {
      display: none;
  }

  .mobile-nav {
      margin: auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .slider-p {
      width: 100%;
      font-size: 18px;
      color: #788490;
      letter-spacing: 1px;
  }

  .slider-container h2 {
      font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-section {
      background: url("./img/1.jpg");
      height: 60vh;

      background-size: cover;

  }

  .slider {
      display: block;
      background-color: rgba(22, 28, 45, 0.75);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60%;
  }

  .slider-p {
      width: 100%;
      font-size: 12px;
      color: #788490;
      letter-spacing: 1px;
  }

  .slider-container h2 {
      font-size: 25px;
  }

  .slider-button {
      color: white;
      background-color: #FF5714;
      border: none;
      border-radius: 10px;
      padding: 8px 16px 8px 16px;
      font-size: 12px;
      margin-top: 18px;
  }

  .slider-container {

      top: 22%;
      left: 20%;
  }

}
