<!DOCTYPE html>
<html lang="tr">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OG - Hakkımızda</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link
   rel="icon"
   type="image/x-icon"
   href="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png" />
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
 </head>
 <body id="anchor-top">
  <nav class="navbar navbar-expand-lg bg-light py-16 sticky-top">
   <div class="container">
    <a class="navbar-brand d-lg-none" href="../index.html">
     <img
      src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
      alt="" />
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarMobile"
     aria-controls="navbarMobile"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-16" id="navbarMobile">
     <ul class="navbar-nav ms-auto gap-16">
      <div class="d-flex gap-16 align-items-center">
       <form class="d-flex flex-fill" role="search">
        <input
         class="form-control"
         type="search"
         placeholder="Ara"
         aria-label="Search" />
       </form>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-lock fs-5"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-cart fs-5"></i>
        </a>
       </li>
      </div>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Bilgisayar Parçaları</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Hazır Kasalar</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./category.html">Laptop #</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Oyunculara Özel</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Kampanyalar</a>
      </li>
     </ul>
    </div>
    <div class="row flex-column flex-fill fs-2" id="navbarPc">
     <div class="d-flex">
      <a class="navbar-brand" href="../index.html">
       <img
        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
        alt="" />
      </a>
      <form class="d-flex flex-fill ms-160 me-64" role="search">
       <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
      </form>
      <ul class="d-flex justify-content-between align-items-center gap-32">
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-lock"></i> Giriş Yap</a
        >
       </li>
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-cart"></i> Sepet</a
        >
       </li>
      </ul>
     </div>
     <ul class="navbar-nav justify-content-between mt-16">
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Bilgisayar Parçaları</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Hazır Kasalar</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./category.html"
        >Laptop #</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Oyunculara Özel</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Kampanyalar</a
       >
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <main class="mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-6 g-16">
      <div class="row">
       <h2 class="col-12 text-center mt-16 fs-6">Hakkımızda</h2>
       <p class="col-12 fs-2 mt-16 hakkimizda-parag">
        Bizim teknoloji marketimiz, müşterilerimize en son teknolojik ürünleri
        sunmakta ve onlara yüksek kaliteli ürünler ve hizmetler sunmayı
        hedeflemektedir. Müşterilerimize geniş bir ürün yelpazesi sunarak, her
        türlü ihtiyacı karşılamayı amaçlıyoruz. Ayrıca, ürünlerimizin teknik
        özellikleri hakkında müşterilerimizi bilgilendirmeyi ve ürünlerin doğru
        kullanımı ile ilgili önerilerde bulunmayı da amaçlıyoruz.
       </p>
       <p class="col-12 fs-2 hakkimizda-parag">
        Teknolojik ürünlerin gelişmesiyle birlikte, müşterilerimizin ihtiyaçları
        da hızla değişmektedir. Bu nedenle, müşterilerimize en son teknolojik
        trendleri ve yenilikleri takip ederek, ürünlerimizi sürekli olarak
        güncelliyoruz. Ayrıca, müşteri geri bildirimlerine de önem veriyoruz ve
        onların taleplerini de göz önünde bulundurarak ürünlerimizi ve
        hizmetlerimizi geliştiriyoruz.
       </p>
       <p class="col-12 fs-2 hakkimizda-parag">
        Müşterilerimizin memnuniyeti bizim için çok önemlidir. Bu nedenle,
        müşterilerimize sunduğumuz ürün ve hizmetlerin kalitesini sürekli olarak
        kontrol ediyoruz. Ayrıca, müşteri hizmetleri departmanımız da her zaman
        müşterilerimizin ihtiyaçlarına yanıt vermek için hazır bulunmaktadır.
       </p>
       <p class="col-12 fs-2 hakkimizda-parag">
        Bizim teknoloji marketimiz, sadece müşterilerimize değil, aynı zamanda
        topluma da fayda sağlamayı amaçlamaktadır. Bu nedenle, sosyal sorumluluk
        projelerine destek vermekte ve yerel topluluklara da katkı
        sağlamaktayız.
       </p>
       <p class="col-12 fs-2 hakkimizda-parag">
        Sonuç olarak, bizim teknoloji marketimiz, yenilikçi ve kaliteli ürünler
        sunarken, müşteri memnuniyetini ve toplumsal faydayı da ön planda tutan
        bir işletme olarak öne çıkmaktadır.
       </p>
      </div>
     </div>
     <div class="col-12 col-lg-6 g-16">
      <div class="row">
       <h2 class="col-12 text-center mt-16 fs-6">Yönetim</h2>
       <div class="col-6 g-16 yon-card">
        <div class="card">
         <img
          src="https://kurumsal.hepsiburada.com/uploads/nilhan-onal.png?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="Nilhan Onal" />
         <div class="card-body">
          <h5 class="card-title">Nilhan Onal Gökçetekin</h5>
          <h6 class="card-title">CEO</h6>
         </div>
        </div>
       </div>
       <div class="col-6 g-16 yon-card">
        <div class="card">
         <img
          src="https://kurumsal.hepsiburada.com/uploads/alexey-shevenkov.png?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="Alexey Shevenkov" />
         <div class="card-body">
          <h5 class="card-title">Alexey Shevenkov</h5>
          <h6 class="card-title">CTO</h6>
         </div>
        </div>
       </div>
       <div class="col-6 g-16 yon-card">
        <div class="card">
         <img
          src="https://kurumsal.hepsiburada.com/uploads/korhan-oz_.png?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="Korhan Öz" />
         <div class="card-body">
          <h5 class="card-title">Korhan Öz</h5>
          <h6 class="card-title">CFO</h6>
         </div>
        </div>
       </div>
       <div class="col-6 g-16 yon-card">
        <div class="card">
         <img
          src="https://kurumsal.hepsiburada.com/uploads/erkin-aydin.png?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="Erkin Aydın" />
         <div class="card-body">
          <h5 class="card-title">Erkin Aydın</h5>
          <h6 class="card-title">CEO</h6>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
  <section class="mt-32">
   <div class="container-fluid">
    <div class="row">
     <div
      class="col-12 col-lg-6 bg-primary p-32 py-lg-64 p-xl-128 ps-xl-160 text-light">
      <h3 class="fs-6">OG Vizyonumuz</h3>
      <p class="fs-2">
       Ticaretin dijitalleşmesine liderlik etme vizyonumuzla, bir e-ticaret
       platformundan insanların hayatlarını kolaylaştırmaya odaklanan ve sunduğu
       bütünleşik hizmetlerle tüm paydaşlarına katkı sağlayan dev bir ekosisteme
       dönüşmeyi hedefliyoruz.
      </p>
     </div>
     <div
      class="col-12 col-lg-6 bg-danger p-32 py-lg-64 p-xl-128 pe-xl-160 text-light">
      <h3 class="fs-6">OG Misyonumuz</h3>
      <p class="fs-2">
       Ticaretin dijitalleşmesine liderlik etme vizyonumuzla, bir e-ticaret
       platformundan insanların hayatlarını kolaylaştırmaya odaklanan ve sunduğu
       bütünleşik hizmetlerle tüm paydaşlarına katkı sağlayan dev bir ekosisteme
       dönüşmeyi hedefliyoruz.
      </p>
     </div>
    </div>
   </div>
  </section>
  <div
   id="helper"
   class="position-fixed d-flex align-items-center justify-content-center rounded-circle bg-warning">
   <a href="./contact.html"><i class="bi bi-info-circle-fill"></i></a>
  </div>
  <footer class="bg-light py-64 mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Bizden Bilgiler</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Kariyer</a></li>
       <li><a href="./404.html">Blog</a></li>
       <li><a href="./about.html">Hakkımızda #</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Ödeme Sistemleri</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./faq.html">S.S.S #</a></li>
       <li><a href="./404.html">O.G. Kart Edinin</a></li>
       <li><a href="./404.html">Dolar Kuru Hesaplama</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Sana Yardım Edelim</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Covid 19</a></li>
       <li><a href="./contact.html">İletişim #</a></li>
       <li><a href="./404.html">Hesabım</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>
