<!DOCTYPE html>
<html lang="tr">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OG - Laptoplar</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link
   rel="icon"
   type="image/x-icon"
   href="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png" />
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
 </head>
 <body id="anchor-top">
  <nav class="navbar navbar-expand-lg bg-light py-16 sticky-top">
   <div class="container">
    <a class="navbar-brand d-lg-none" href="../index.html">
     <img
      src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
      alt="" />
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarMobile"
     aria-controls="navbarMobile"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-16" id="navbarMobile">
     <ul class="navbar-nav ms-auto gap-16">
      <div class="d-flex gap-16 align-items-center">
       <form class="d-flex flex-fill" role="search">
        <input
         class="form-control"
         type="search"
         placeholder="Ara"
         aria-label="Search" />
       </form>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-lock fs-5"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-cart fs-5"></i>
        </a>
       </li>
      </div>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Bilgisayar Parçaları</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Hazır Kasalar</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./category.html">Laptop #</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Oyunculara Özel</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Kampanyalar</a>
      </li>
     </ul>
    </div>
    <div class="row flex-column flex-fill fs-2" id="navbarPc">
     <div class="d-flex">
      <a class="navbar-brand" href="../index.html">
       <img
        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
        alt="" />
      </a>
      <form class="d-flex flex-fill ms-160 me-64" role="search">
       <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
      </form>
      <ul class="d-flex justify-content-between align-items-center gap-32">
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-lock"></i> Giriş Yap</a
        >
       </li>
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-cart"></i> Sepet</a
        >
       </li>
      </ul>
     </div>
     <ul class="navbar-nav justify-content-between mt-16">
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Bilgisayar Parçaları</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Hazır Kasalar</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./category.html"
        >Laptop #</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Oyunculara Özel</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Kampanyalar</a
       >
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <main>
   <div class="container">
    <div class="row mt-16">
     <section aria-label="breadcrumb" class="col-6 col-lg-10 gx-16">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="#">Kategoriler</a></li>
       <li class="breadcrumb-item active" aria-current="page">Laptop</li>
      </ol>
     </section>
     <div class="col-6 col-lg-2 gx-16">
      <select class="form-select shadow-none">
       <option selected>Önerilen Sıralama</option>
       <option value="c-to-e">Ucuzdan Pahalıya</option>
       <option value="e-to-c">Pahalıdan Ucuza</option>
       <option value="stars">Değerlendirmeye Göre</option>
      </select>
     </div>
     <form class="col-2 gx-16 d-none d-lg-block" id="filter">
      <div id="brand-filter">
       <h3>Markalar</h3>
       <div class="form-check mt-16">
        <input class="form-check-input" type="radio" name="brand" id="hp" />
        <label class="form-check-label" for="hp"> HP </label>
       </div>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="brand" id="lenovo" />
        <label class="form-check-label" for="lenovo"> Lenovo </label>
       </div>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="brand" id="msi" />
        <label class="form-check-label" for="msi"> MSI </label>
       </div>
      </div>
      <div class="mt-16" id="gpu-filter">
       <h3>Ekran Kartları</h3>
       <input
        class="form-control mt-16"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
       <div class="form-check mt-16">
        <input
         class="form-check-input"
         type="checkbox"
         name="gpu-select"
         id="rtx-4000" />
        <label class="form-check-label" for="rtx-4000"> RTX 4000 </label>
       </div>
       <div class="form-check">
        <input
         class="form-check-input"
         type="checkbox"
         name="gpu-select"
         id="rtx-3000" />
        <label class="form-check-label" for="rtx-3000"> RTX 3000 </label>
       </div>
       <div class="form-check">
        <input
         class="form-check-input"
         type="checkbox"
         name="gpu-select"
         id="onboard" />
        <label class="form-check-label" for="onboard"> Onboard </label>
       </div>
      </div>
      <div class="mt-16" id="stars-filter">
       <h3>Değerlendirme</h3>
       <div class="form-check mt-16">
        <input class="form-check-input" type="radio" name="stars" id="four" />
        <label class="form-check-label" for="four">
         <div>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-secondary"></i>
         </div>
        </label>
       </div>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="stars" id="three" />
        <label class="form-check-label" for="three">
         <div>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
         </div>
        </label>
       </div>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="stars" id="two" />
        <label class="form-check-label" for="two">
         <div>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
         </div>
        </label>
       </div>
       <div class="form-check">
        <input class="form-check-input" type="radio" name="stars" id="one" />
        <label class="form-check-label" for="one">
         <div>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
          <i class="bi bi-star-fill text-secondary"></i>
         </div>
        </label>
       </div>
      </div>
     </form>
     <button
      class="btn btn-primary fs-2 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#filter-canvas"
      aria-controls="filter-canvas"
      id="filter-button">
      Filter
     </button>
     <div
      class="offcanvas offcanvas-start top-10 d-lg-none"
      data-bs-backdrop="static"
      tabindex="-1"
      id="filter-canvas"
      aria-labelledby="filter-canvasLabel">
      <div class="offcanvas-header">
       <h5 class="offcanvas-title fs-4" id="filter-canvasLabel">Filter</h5>
       <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
       <form id="filter">
        <div id="brand-filter">
         <h3>Markalar</h3>
         <div class="form-check mt-16">
          <input class="form-check-input" type="radio" name="brand" id="hp" />
          <label class="form-check-label" for="hp"> HP </label>
         </div>
         <div class="form-check">
          <input
           class="form-check-input"
           type="radio"
           name="brand"
           id="lenovo" />
          <label class="form-check-label" for="lenovo"> Lenovo </label>
         </div>
         <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="msi" />
          <label class="form-check-label" for="msi"> MSI </label>
         </div>
        </div>
        <div class="mt-16" id="gpu-filter">
         <h3>Ekran Kartları</h3>
         <input
          class="form-control mt-16"
          type="search"
          placeholder="Ara"
          aria-label="Search" />
         <div class="form-check mt-16">
          <input
           class="form-check-input"
           type="checkbox"
           name="gpu-select"
           id="rtx-4000" />
          <label class="form-check-label" for="rtx-4000"> RTX 4000 </label>
         </div>
         <div class="form-check">
          <input
           class="form-check-input"
           type="checkbox"
           name="gpu-select"
           id="rtx-3000" />
          <label class="form-check-label" for="rtx-3000"> RTX 3000 </label>
         </div>
         <div class="form-check">
          <input
           class="form-check-input"
           type="checkbox"
           name="gpu-select"
           id="onboard" />
          <label class="form-check-label" for="onboard"> Onboard </label>
         </div>
        </div>
        <div class="mt-16" id="stars-filter">
         <h3>Değerlendirme</h3>
         <div class="form-check mt-16">
          <input class="form-check-input" type="radio" name="stars" id="four" />
          <label class="form-check-label" for="four">
           <div>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-secondary"></i>
           </div>
          </label>
         </div>
         <div class="form-check">
          <input
           class="form-check-input"
           type="radio"
           name="stars"
           id="three" />
          <label class="form-check-label" for="three">
           <div>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
           </div>
          </label>
         </div>
         <div class="form-check">
          <input class="form-check-input" type="radio" name="stars" id="two" />
          <label class="form-check-label" for="two">
           <div>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
           </div>
          </label>
         </div>
         <div class="form-check">
          <input class="form-check-input" type="radio" name="stars" id="one" />
          <label class="form-check-label" for="one">
           <div>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
            <i class="bi bi-star-fill text-secondary"></i>
           </div>
          </label>
         </div>
        </div>
       </form>
      </div>
     </div>
     <div class="col-12 col-lg-10 gx-16" id="category-results">
      <div class="row">
       <div class="col-6 col-lg-3 g-16">
        <a href="./product-1.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2022-11-16t101216362-8583b7.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/hp-u-4fe4b0.png?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           HP Victus 16-D1048NT i5 12500H 8GB DDR5 512GB SSD RTX3050 GDDR6 4GB
           16.1" 144Hz FHD Freedos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">19.999,00 TL #</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./product-2.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2022-12-05t162507378-a8cc11.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/lenovo-d64fb0.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           Lenovo IdeaPad Gaming 3 15ARH7 Ryzen 5 6600H 16GB DDR5 RTX 3050 Ti
           4GB GDDR6 512GB SSD 15.6" FHD 120Hz FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">19.289,00 TL #</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./product-3.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-02-28t163605031-ab65a7.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI CROSSHAIR 17 C12VF-244TR i7-12650H 16GB DDR5 RTX4060 GDDR6 8GB
           1TB SSD 17.3 FHD 300Hz W11 Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">46.999,00 TL #</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-04-03t153419611-19c4cf.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI PRESTIGE 16 STUDIO A13VF-053TR i7-13700H 32GB LPDDR5 RTX4060
           GDDR6 8GB 1TB SSD 16.0 QHD+ 165Hz W11 Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">55.999,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-04-12t124404874-7b3d18.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI MODERN 15 B7M-078XTR R5-7530U 8GB DDR4 UMA 512GB SSD 15.6" FHD
           FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.545,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-03-16t154841545-cb0184.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/hp-u-4fe4b0.png?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           HP 250 G9 6Q8M7ES i5-1235U 8GB 256GB SSD MX550 2GB GDDR6 15.6" Full
           HD FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.100,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-04-12t124404874-7b3d18.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI MODERN 15 B7M-078XTR R5-7530U 8GB DDR4 UMA 512GB SSD 15.6" FHD
           FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.545,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-03-16t154841545-cb0184.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/hp-u-4fe4b0.png?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           HP 250 G9 6Q8M7ES i5-1235U 8GB 256GB SSD MX550 2GB GDDR6 15.6" Full
           HD FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.100,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-04-12t124404874-7b3d18.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI MODERN 15 B7M-078XTR R5-7530U 8GB DDR4 UMA 512GB SSD 15.6" FHD
           FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.545,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-03-16t154841545-cb0184.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/hp-u-4fe4b0.png?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           HP 250 G9 6Q8M7ES i5-1235U 8GB 256GB SSD MX550 2GB GDDR6 15.6" Full
           HD FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.100,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-04-12t124404874-7b3d18.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           MSI MODERN 15 B7M-078XTR R5-7530U 8GB DDR4 UMA 512GB SSD 15.6" FHD
           FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.545,00 TL</p>
         </div>
        </a>
       </div>
       <div class="col-6 col-lg-3 g-16">
        <a href="./404.html" class="card">
         <img
          src="https://img-itopya.mncdn.com/cdn/250/yeni-proje-2023-03-16t154841545-cb0184.jpg?quality=50"
          class="card-img-top"
          loading="lazy"
          alt="..." />
         <div class="card-body">
          <img
           src="https://img-itopya.mncdn.com/cdn/1000/hp-u-4fe4b0.png?quality=50"
           loading="lazy"
           alt="" />
          <h5 class="card-title mt-16 fs-1 fs-lg-2">
           HP 250 G9 6Q8M7ES i5-1235U 8GB 256GB SSD MX550 2GB GDDR6 15.6" Full
           HD FreeDos Notebook
          </h5>
          <p class="card-title fs-lg-5 fw-bolder">15.100,00 TL</p>
         </div>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
  <div
   id="helper"
   class="position-fixed d-flex align-items-center justify-content-center rounded-circle bg-warning">
   <a href="./contact.html"><i class="bi bi-info-circle-fill"></i></a>
  </div>
  <footer class="bg-light py-64 mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Bizden Bilgiler</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Kariyer</a></li>
       <li><a href="./404.html">Blog</a></li>
       <li><a href="./about.html">Hakkımızda #</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Ödeme Sistemleri</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./faq.html">S.S.S #</a></li>
       <li><a href="./404.html">O.G. Kart Edinin</a></li>
       <li><a href="./404.html">Dolar Kuru Hesaplama</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Sana Yardım Edelim</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Covid 19</a></li>
       <li><a href="./contact.html">İletişim #</a></li>
       <li><a href="./404.html">Hesabım</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>
