<!DOCTYPE html>
<html lang="tr">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OG - Hakkımızda</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link
   rel="icon"
   type="image/x-icon"
   href="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png" />
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
 </head>
 <body id="anchor-top">
  <nav class="navbar navbar-expand-lg bg-light py-16 sticky-top">
   <div class="container">
    <a class="navbar-brand d-lg-none" href="../index.html">
     <img
      src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
      alt="" />
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarMobile"
     aria-controls="navbarMobile"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-16" id="navbarMobile">
     <ul class="navbar-nav ms-auto gap-16">
      <div class="d-flex gap-16 align-items-center">
       <form class="d-flex flex-fill" role="search">
        <input
         class="form-control"
         type="search"
         placeholder="Ara"
         aria-label="Search" />
       </form>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-lock fs-5"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-cart fs-5"></i>
        </a>
       </li>
      </div>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Bilgisayar Parçaları</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Hazır Kasalar</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./category.html">Laptop #</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Oyunculara Özel</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Kampanyalar</a>
      </li>
     </ul>
    </div>
    <div class="row flex-column flex-fill fs-2" id="navbarPc">
     <div class="d-flex">
      <a class="navbar-brand" href="../index.html">
       <img
        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png?quality=50"
        loading="lazy"
        alt="" />
      </a>
      <form class="d-flex flex-fill ms-160 me-64" role="search">
       <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
      </form>
      <ul class="d-flex justify-content-between align-items-center gap-32">
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-lock"></i> Giriş Yap</a
        >
       </li>
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-cart"></i> Sepet</a
        >
       </li>
      </ul>
     </div>
     <ul class="navbar-nav justify-content-between mt-16">
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Bilgisayar Parçaları</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Hazır Kasalar</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./category.html"
        >Laptop #</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Oyunculara Özel</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Kampanyalar</a
       >
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <form
   class="row col-11 col-lg-4 mx-auto border border-primary bg-light p-16 my-32 rounded-2 g-16 needs-validation"
   novalidate>
   <h6 class="fs-3 text-center">
    İletişim Formunu Biz Size <br />
    Yollayalım
   </h6>
   <div class="col-12 col-lg-6">
    <div class="input-group has-validation">
     <span class="input-group-text bg-warning">Ad</span>
     <input type="text" class="form-control" id="name" required />
    </div>
   </div>
   <div class="col-12 col-lg-6">
    <div class="input-group has-validation">
     <span class="input-group-text bg-warning">Soyad</span>
     <input type="text" class="form-control" id="lastname" required />
    </div>
   </div>
   <div class="col-12">
    <div class="input-group has-validation">
     <span class="input-group-text bg-warning">E Posta</span>
     <input
      type="email"
      class="form-control"
      id="email"
      placeholder="iletisim@og.com"
      required />
    </div>
   </div>
   <div class="col-12">
    <div class="form-check">
     <input
      class="form-check-input"
      type="checkbox"
      id="invalidCheck"
      required />
     <label class="form-check-label" for="invalidCheck">
      <a href="./404.html">Şartları Kabul Ediyorum</a>
     </label>
    </div>
    <div class="form-check">
     <input class="form-check-input" type="checkbox" id="bulten" />
     <label for="bulten"> Bültene Abone Olmak İstiyorum </label>
    </div>
   </div>
   <div class="col-12">
    <button class="btn btn-primary" type="submit">Gönder</button>
   </div>
  </form>

  <footer class="bg-light py-64 mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Bizden Bilgiler</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Kariyer</a></li>
       <li><a href="./404.html">Blog</a></li>
       <li><a href="./about.html">Hakkımızda #</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Ödeme Sistemleri</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./faq.html">S.S.S #</a></li>
       <li><a href="./404.html">O.G. Kart Edinin</a></li>
       <li><a href="./404.html">Dolar Kuru Hesaplama</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Sana Yardım Edelim</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Covid 19</a></li>
       <li><a href="./contact.html">İletişim #</a></li>
       <li><a href="./404.html">Hesabım</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script>
   (() => {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
     form.addEventListener(
      'submit',
      (event) => {
       if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
       }

       form.classList.add('was-validated');
      },
      false,
     );
    });
   })();
  </script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>
