<!DOCTYPE html>
<html lang="tr">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OG - S.S.S</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link
   rel="icon"
   type="image/x-icon"
   href="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png" />
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
 </head>
 <body id="anchor-top">
  <nav class="navbar navbar-expand-lg bg-light py-16 sticky-top">
   <div class="container">
    <a class="navbar-brand d-lg-none" href="../index.html">
     <img
      src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
      alt="" />
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarMobile"
     aria-controls="navbarMobile"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-16" id="navbarMobile">
     <ul class="navbar-nav ms-auto gap-16">
      <div class="d-flex gap-16 align-items-center">
       <form class="d-flex flex-fill" role="search">
        <input
         class="form-control"
         type="search"
         placeholder="Ara"
         aria-label="Search" />
       </form>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-lock fs-5"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-cart fs-5"></i>
        </a>
       </li>
      </div>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Bilgisayar Parçaları</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Hazır Kasalar</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./category.html">Laptop #</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Oyunculara Özel</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Kampanyalar</a>
      </li>
     </ul>
    </div>
    <div class="row flex-column flex-fill fs-2" id="navbarPc">
     <div class="d-flex">
      <a class="navbar-brand" href="../index.html">
       <img
        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
        alt="" />
      </a>
      <form class="d-flex flex-fill ms-160 me-64" role="search">
       <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
      </form>
      <ul class="d-flex justify-content-between align-items-center gap-32">
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-lock"></i> Giriş Yap</a
        >
       </li>
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-cart"></i> Sepet</a
        >
       </li>
      </ul>
     </div>
     <ul class="navbar-nav justify-content-between mt-16">
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Bilgisayar Parçaları</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Hazır Kasalar</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./category.html"
        >Laptop #</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Oyunculara Özel</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Kampanyalar</a
       >
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <main class="mt-64">
   <div class="container">
    <div class="row">
     <h2 class="text-center">Sıkça Sorulan Sorular</h2>
     <div
      class="accordion accordion-flush col-lg-10 mx-auto fs-2"
      id="sss-accordion">
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-1"
         aria-expanded="false"
         aria-controls="sss-1">
         Kayıtlı ticari ünvanımı değiştirebilir miyim ?
        </button>
       </h2>
       <div
        id="sss-1"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Ticari Ünvan değişikliği için OG'e evraklarınızı göndermeniz
         gerekmektedir.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-2"
         aria-expanded="false"
         aria-controls="sss-2">
         Hızlı Mağaza Nedir?
        </button>
       </h2>
       <div
        id="sss-2"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         OG'e üye olan tüm mağazalar, teslimat hızlarına göre
         sınıflandırılmaktadır. Hızlı mağaza etiketi 1 ay içersinde en fazla 2
         iş günü içersinde gönderim yapan mağazalara tanımlanmaktadır.
         <br />
         Tamamlanan siparişleriniz üzerinden hesaplanmaktadır.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-3"
         aria-expanded="false"
         aria-controls="sss-3">
         Evraklarım onaylandı. Kategori Onayını Nasıl Yapabilirim?
        </button>
       </h2>
       <div
        id="sss-3"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Ürünleriniz '' Kategori Onayı '' sonrası satışa sunulmaktadır. Kategori
         onay sürecinin tamamlanması beklemeniz gerekmektedir.
         <br />
         Kategori Onay süreciniz tamamlanmış ise diğer ürün yönetimi soru
         başlıklarını kontrol edebilirsiniz.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-4"
         aria-expanded="false"
         aria-controls="sss-4">
         Mağazamı Nasıl Kapatabilirim/Durdurabilirim?
        </button>
       </h2>
       <div
        id="sss-4"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Mağazanızı, son işleminizin üzerinden 6 ay geçtikten sonra
         kapatabilirsiniz. Herhangi bir sipariş işleminiz yoksa,
         <br />
         Hesabım> Üyeliğimi iptal et sekmesinden mağazanızı kapatabilirsiniz.
         <br />
         Mağazanızın durdurulması için, taleplerim alanından mağazanızın geçici
         durdurulma nedenini ve süresini yazarak durdurma talep edebilirsiniz.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-5"
         aria-expanded="false"
         aria-controls="sss-5">
         Markamı nasıl ekleyebilirim?
        </button>
       </h2>
       <div
        id="sss-5"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Marka patentinizi, üzerinde markanızın olduğu ürün görselini ve
         markanın ekleneceği kategori ve kategori alt kırılımını talep açarak
         iletmeniz durumunda ekleme yapılması sağlanacaktır.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-6"
         aria-expanded="false"
         aria-controls="sss-6">
         Kargo ücreti kimin tarafından karşılanır ?
        </button>
       </h2>
       <div
        id="sss-6"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Sistemimizde 2 tip kargo ücret uygulaması mevcuttur. Şartlı ödeme ve
         mağaza öder (ücretsiz kargo) olarak,ürünlerinizi mağaza öder olarak
         satışa sunduğunuz gönderi ücretinin tamamı mağaza tarafından
         karşılanmaktadır.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-7"
         aria-expanded="false"
         aria-controls="sss-7">
         Ürünüm kargoda hasarlandı. Tazmin sürecini nasıl başlatabilirim?
        </button>
       </h2>
       <div
        id="sss-7"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Çıkışını yapmış olduğunuz üründe taşıma esnasında hasar/kırık/kayıp vb.
         olması durumunda, alıcınızın ürünü teslim alırken kargo görevlisi ile
         birlikte kontrol etmesi ve ilgili durumu “hasar tespit” tutanağı ile
         kanıtlaması gerekir. İlgili tutanak doğrultusunda çıkış yapmış
         olduğunuz kargo şubesi ile tazmin işlemini başlatabilirsiniz.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
      <div class="accordion-item">
       <h2 class="accordion-header">
        <button
         class="accordion-button collapsed"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#sss-8"
         aria-expanded="false"
         aria-controls="sss-8">
         Servis İletişim Bilgisi
        </button>
       </h2>
       <div
        id="sss-8"
        class="accordion-collapse collapse"
        data-bs-parent="#sss-accordion">
        <div class="accordion-body">
         Servis desteği verilen ürünler için müşterilerin ihtiyaç duyacağı
         servis bilgisini talep açarak iletebilirsiniz.
         <hr />
         Bu açıklama size yardımcı oldu mu?
         <div class="mt-16">
          <span class="btn btn-success text-light">Evet</span>
          <span class="btn btn-danger text-light">Hayır</span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
  <div
   id="helper"
   class="position-fixed d-flex align-items-center justify-content-center rounded-circle bg-warning">
   <a href="./contact.html"><i class="bi bi-info-circle-fill"></i></a>
  </div>
  <footer class="bg-light py-64 mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Bizden Bilgiler</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Kariyer</a></li>
       <li><a href="./404.html">Blog</a></li>
       <li><a href="./about.html">Hakkımızda #</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Ödeme Sistemleri</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./faq.html">S.S.S #</a></li>
       <li><a href="./404.html">O.G. Kart Edinin</a></li>
       <li><a href="./404.html">Dolar Kuru Hesaplama</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Sana Yardım Edelim</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Covid 19</a></li>
       <li><a href="./contact.html">İletişim #</a></li>
       <li><a href="./404.html">Hesabım</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>
