<!DOCTYPE html>
<html lang="tr">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OG - MSI CROSSHAIR 17</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link
   rel="icon"
   type="image/x-icon"
   href="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png" />
  <link
   rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
 </head>
 <body id="anchor-top">
  <nav class="navbar navbar-expand-lg bg-light py-16 sticky-top">
   <div class="container">
    <a class="navbar-brand d-lg-none" href="../index.html">
     <img
      src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png"
      alt="logo" />
    </a>
    <button
     class="navbar-toggler"
     type="button"
     data-bs-toggle="collapse"
     data-bs-target="#navbarMobile"
     aria-controls="navbarMobile"
     aria-expanded="false"
     aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-16" id="navbarMobile">
     <ul class="navbar-nav ms-auto gap-16">
      <div class="d-flex gap-16 align-items-center">
       <form class="d-flex flex-fill" role="search">
        <input
         class="form-control"
         type="search"
         placeholder="Ara"
         aria-label="Search" />
       </form>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-lock fs-5"></i>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="./404.html"
         ><i class="bi bi-cart fs-5"></i>
        </a>
       </li>
      </div>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Bilgisayar Parçaları</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Hazır Kasalar</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./category.html">Laptop #</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Oyunculara Özel</a>
      </li>
      <li class="nav-item">
       <a class="nav-link fs-3" href="./404.html">Kampanyalar</a>
      </li>
     </ul>
    </div>
    <div class="row flex-column flex-fill fs-2" id="navbarPc">
     <div class="d-flex">
      <a class="navbar-brand" href="../index.html">
       <img
        src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2f/OG_Logo.png/260px-OG_Logo.png?quality=50"
        alt="logo" />
      </a>
      <form class="d-flex flex-fill ms-160 me-64" role="search">
       <input
        class="form-control"
        type="search"
        placeholder="Ara"
        aria-label="Search" />
      </form>
      <ul class="d-flex justify-content-between align-items-center gap-32">
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-lock"></i> Giriş Yap</a
        >
       </li>
       <li class="nav-item">
        <a class="nav-link" href="./404.html"
         ><i class="bi bi-cart"></i> Sepet</a
        >
       </li>
      </ul>
     </div>
     <ul class="navbar-nav justify-content-between mt-16">
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Bilgisayar Parçaları</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Hazır Kasalar</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./category.html"
        >Laptop #</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Oyunculara Özel</a
       >
      </li>
      <li class="nav-item">
       <a class="nav-link pc-link rounded-3 text-center" href="./404.html"
        >Kampanyalar</a
       >
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <main>
   <div class="container">
    <div class="row px-lg-0 px-16">
     <section aria-label="breadcrumb" class="col-12">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">
        <a href="./404.html">Kategoriler</a>
       </li>
       <li class="breadcrumb-item"><a href="./category.html">Laptop #</a></li>
       <li class="breadcrumb-item"><a href="./404.html">MSI</a></li>
       <li class="breadcrumb-item active" aria-current="page">CROSSHAIR 17</li>
      </ol>
     </section>
     <section class="col-12 col-lg-3">
      <div id="productCarousel" class="carousel slide" data-bs-ride="true">
       <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
         <img
          src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163605031-ab65a7.jpg?quality=50"
          class="d-block w-100"
          loading="lazy"
          alt="laptop resim 3" />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
         <img
          src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163631576-b940b6.jpg?quality=50"
          class="d-block w-100"
          loading="lazy"
          alt="laptop resim 2" />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
         <img
          src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163643029-448380.jpg?quality=50"
          class="d-block w-100"
          loading="lazy"
          alt="laptop resim 1" />
        </div>
       </div>
       <div class="d-flex justify-content-between">
        <img
         src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163605031-ab65a7.jpg?quality=50"
         type="button"
         loading="lazy"
         data-bs-target="#productCarousel"
         data-bs-slide-to="0"
         class="active w-25"
         aria-current="true"
         aria-label="Slide 1" />
        <img
         src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163631576-b940b6.jpg?quality=50"
         type="button"
         loading="lazy"
         data-bs-target="#productCarousel"
         data-bs-slide-to="1"
         class="w-25"
         aria-label="Slide 2" />
        <img
         src="https://img-itopya.mncdn.com/cdn/350/yeni-proje-2023-02-28t163643029-448380.jpg?quality=50"
         type="button"
         loading="lazy"
         data-bs-target="#productCarousel"
         data-bs-slide-to="2"
         class="w-25"
         aria-label="Slide 3" />
       </div>
      </div>
     </section>
     <section class="col-12 col-lg-8 offset-lg-1">
      <h3 class="col-12">
       MSI CROSSHAIR 17 C12VF-244TR i7-12650H 16GB DDR5 RTX4060 GDDR6 8GB 1TB
       SSD 17.3 FHD 300Hz W11 Notebook
      </h3>
      <img
       src="https://img-itopya.mncdn.com/cdn/1000/msi-dayali-09b4fb.jpg?quality=50"
       alt="reklam 1"
       class="mt-16" />
      <div class="row">
       <div
        class="col-12 d-flex align-items-center justify-content-between mt-16">
        <h3>46.999,00 TL</h3>
        <div>
         <i class="bi bi-star-fill text-warning"></i>
         <i class="bi bi-star-fill text-warning"></i>
         <i class="bi bi-star-fill text-warning"></i>
         <i class="bi bi-star-fill text-warning"></i>
         <i class="bi bi-star-fill text-warning"></i>
        </div>
       </div>
       <p class="fs-2">7.834,00 TL x 6 Taksitle</p>
       <div class="row gap-16">
        <h6 class="col-auto align-self-end">
         Satıcı: <a href="./404.html">MSI Yetkili Mağazası</a>
        </h6>
        <button class="btn btn-warning col-auto col-lg-2">Satıcıya Sor</button>
       </div>
       <div
        class="row gap-16 align-items-center justify-content-between justify-content-lg-start mt-16">
        <div class="d-flex align-items-center col-auto">
         <button class="btn btn-danger fs-2 fw-bold text-dark">-</button>
         <p class="fs-3 fw-bolder mt-16 px-16">1</p>
         <button class="btn btn-warning fs-2 fw-bold text-dark">+</button>
        </div>
        <button class="btn btn-success col-auto col-lg-3">Sepete Ekle</button>
       </div>
       <div class="col-12 d-flex gap-32 gap-lg-64 align-items-center mt-16">
        <div class="product-action">
         <i class="bi bi-heart-fill"></i> <span>Beğen</span>
        </div>
        <div class="product-action">
         <i class="bi bi-bookmark-fill"></i>
         <span>Listeye Ekle</span>
        </div>
        <div class="product-action">
         <i class="bi bi-arrow-left-right"></i>
         <span>Karşılaştır</span>
        </div>
       </div>
      </div>
     </section>
    </div>
    <hr class="mt-32" />
    <ul
     class="nav nav-tabs col-12 gap-16 fs-1 mt-32 justify-content-between justify-content-lg-start"
     id="productTab"
     role="tablist">
     <li class="nav-item" role="presentation">
      <button
       class="nav-link active"
       id="product-desciption"
       data-bs-toggle="tab"
       data-bs-target="#product-desciption-pane"
       type="button"
       role="tab"
       aria-controls="product-desciption-pane"
       aria-selected="true">
       Ürün Açıklaması
      </button>
     </li>
     <li class="nav-item" role="presentation">
      <button
       class="nav-link"
       id="comments-tab"
       data-bs-toggle="tab"
       data-bs-target="#comments-tab-pane"
       type="button"
       role="tab"
       aria-controls="comments-tab-pane"
       aria-selected="false">
       Değerlendirmeler(1)
      </button>
     </li>
     <li class="nav-item" role="presentation">
      <button
       class="nav-link"
       id="sales-ask-tab"
       data-bs-toggle="tab"
       data-bs-target="#sales-ask-tab-pane"
       type="button"
       role="tab"
       aria-controls="sales-ask-tab-pane"
       aria-selected="false">
       Soru & Cevap
      </button>
     </li>
    </ul>
    <div class="tab-content px-16 px-lg-0" id="tabs">
     <div
      class="tab-pane fade show active"
      id="product-desciption-pane"
      role="tabpanel"
      aria-labelledby="product-desciption"
      tabindex="0">
      <h4 class="mt-16">Performans Odaklı</h4>
      <p>
       Maceraya hazır mısın? Yepyeni Crosshair 17 C12V’nin üstün performansı ve
       havalı görünümü ile esrarlı gezegeni keşfetmeye hazır ol!
      </p>
      <img
       src="https://img-itopya.mncdn.com/cdn/1000/image-90c6b3.png?quality=50"
       class="w-100"
       loading="lazy"
       alt="reklam 1" />
      <h4 class="mt-16">MUX İle Gücün Yönünü Değiştirin</h4>
      <p>
       Harici Grafik Modu" ve "MSHybrid Grafik Modu" (NVIDIA Optimus) arasında
       tercih yapın. Bu değiştirilebilir grafik teknolojisi tek tıklama ile
       güçlü oyun performansı ve yüksek verimliliğe ulaşın.
      </p>
      <img
       src="https://img-itopya.mncdn.com/cdn/1000/image-a7f681.png?quality=50"
       class="w-100"
       loading="lazy"
       alt="reklam 2" />
      <table class="table table-striped mt-16">
       <thead>
        <tr>
         <th scope="col">Ürün Bilgileri</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <th scope="row">Wireless LAN</th>
         <td>AX201</td>
        </tr>
        <tr>
         <th scope="row">Notebook Türü</th>
         <td>GeForce RTX Gaming Notebooklar</td>
        </tr>
        <tr>
         <th scope="row">CPU Model</th>
         <td>Core i7 12650H</td>
        </tr>
        <tr>
         <th scope="row">GPU Model</th>
         <td>GeForce RTX 4060</td>
        </tr>
        <tr>
         <th scope="row">Ram</th>
         <td>1x8 DDR5 4800 Mhz</td>
        </tr>
        <tr>
         <th scope="row">SSD</th>
         <td>1 TB</td>
        </tr>
        <tr>
         <th scope="row">Ekran Boyutu</th>
         <td>17.3"</td>
        </tr>
        <tr>
         <th scope="row">Çözünürlük</th>
         <td>1920 x 1080</td>
        </tr>
       </tbody>
      </table>
     </div>
     <div
      class="tab-pane fade"
      id="sales-ask-tab-pane"
      role="tabpanel"
      aria-labelledby="sales-ask-tab"
      tabindex="0">
      <h4 class="mt-16">Bu ürün hakkında soru bulunmuyor</h4>
      <div class="btn btn-warning">Satıcıya Sor</div>
     </div>
     <div
      class="tab-pane fade"
      id="comments-tab-pane"
      role="tabpanel"
      aria-labelledby="comments-tab"
      tabindex="0">
      <h4 class="mt-16">E*** K***</h4>
      <p>
       "Süper ürün, Yeni nesil oyunlarda tam performans gösteriyor. Özellikle
       FPS oyunlarında 300 Hz bir ekranın neler yapacağını tahmin bile
       edemezsiniz. Sistem çok uyumlu çalışıyor. Fan sesi nispeten var ama
       ofiste çalışmak için değil oyun oynamak için bu bilgisayarı aldığınızı
       unutmayın. Ancak bu ses ofiste de çalışmanıza engel değil. 2. gün
       toplantıya bile katıldım bu pc ile. Ek olarak Nahimic ile geliyor. Bence
       süper performans!!"
      </p>
     </div>
    </div>
   </div>
  </main>
  <div
   id="helper"
   class="position-fixed d-flex align-items-center justify-content-center rounded-circle bg-warning">
   <a href="./contact.html"><i class="bi bi-info-circle-fill"></i></a>
  </div>
  <footer class="bg-light py-64 mt-32">
   <div class="container">
    <div class="row">
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Bizden Bilgiler</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Kariyer</a></li>
       <li><a href="./404.html">Blog</a></li>
       <li><a href="./about.html">Hakkımızda #</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Ödeme Sistemleri</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./faq.html">S.S.S #</a></li>
       <li><a href="./404.html">O.G. Kart Edinin</a></li>
       <li><a href="./404.html">Dolar Kuru Hesaplama</a></li>
      </ul>
     </div>
     <div class="col-12 col-lg-4 border-start border-primary ps-32">
      <h4 class="fs-4 mt-16">Sana Yardım Edelim</h4>
      <ul class="fs-3 mt-16 d-flex flex-column gap-16">
       <li><a href="./404.html">Covid 19</a></li>
       <li><a href="./contact.html">İletişim #</a></li>
       <li><a href="./404.html">Hesabım</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>
