.customButton {
  background-color: red;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
