:root {
    --color1: #171717;
    --color2: #444444;
    --color3: #da0037;
    --color4: #ededed;
    --color5: #fff;
  }
  body {
    background-color: var(--color2);
  }
  
  #inputCard label {
    color: var(--color3);
  }
  
  .card {
    position: relative;
    min-width: 320px;
    height: 400px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid var(--color3);
    border-radius: 0px 32px 29px 0px;
    overflow: hidden;
    background: var(--color1);
    margin-top: 50px;
  }
  .card:nth-child(even) {
    border-radius: 0px 25px 25px 0px;
  }
  .card:nth-child(odd) {
    border-radius: 25px 0px 0px 25px;
  }
  
  .imgBx {
    height: 220px;
    transition: 0.5s;
    margin-top: 10px;
  }
  
  .card:hover .imgBx {
    top: 30%;
    transform: translateY(0%) scale(0.8);
  }
  
  .imgBx > img {
    width: 100%;
    min-width: 200px;
    height: 280px;
  }
  
  .contentBx {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    transition: 1s;
    z-index: 2;
  }
  
  .card:hover .contentBx {
    height: 210px;
    bottom: -10%;
  }
  
  .title-tooltip {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color3);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    margin: 0;
  }
  
  .publication-year,
  .author,
  .genre {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .card:hover .contentBx .author {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
  }
  
  .card:hover .contentBx .genre {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  .card:hover .contentBx .publication-year {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.8s;
  }
  
  .publication-year,
  .author {
    color: var(--color5);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
  }
  .genre {
    color: var(--color4);
    padding-bottom: 15px;
  }
  .card-btns {
    margin-bottom: 5px;
    transition-delay: 1.1s;
    opacity: 0;
    transition: 0.5s;
  }
  .card:hover .card-btns {
    opacity: 1;
    visibility: visible;
    transition-delay: 1.1s;
  }
  .card-btns > .btn:nth-child(odd) {
    background-color: var(--color4);
    color: var(--color1);
    border: 1px solid var(--color3);
  }
  .card-btns > .btn:nth-child(even) {
    background-color: var(--color3);
    color: var(--color1);
    border: 1px solid #000103;
  }
  