body {
  background: linear-gradient(
    to bottom,
    pink,
    rgb(182, 91, 106),
    rgb(211, 55, 81)
  );
}
header {
  border-bottom: 5px solid white;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.144);
  padding: 1.5em 0;
}
header h1 {
  float: left;
  margin-top: 3px;
  font-family: "Rubik Puddles", cursive;
  font-size: 28px;
  letter-spacing: 0.1em;
}
header img {
  float: right;
  margin-left: 100px;
  margin-top: -1.1em;
}
header input {
  margin-left: 12%;
  margin-top: 0;
  padding: 6px;
  font-size: 17px;
  background-color: pink;
  border: 4px ridge rgb(241, 239, 239);
  border-radius: 0.5em;
}
.heroimage {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.container {
  width: 1024px;
  margin: 10px auto;
}
main .container {
  padding: 0 0.5em;
}
main .container img {
  width: 220px;
  height: 220px;
  border: 0.5em ridge rgb(240, 240, 240);
  border-radius: 20px;
  margin: 0.4em;
  filter: brightness(60%);
}
main .container img:hover {
  filter: none;
  border: 0.5em ridge rgb(241, 211, 216);
  zoom: 1.1;
  margin: 0;
}
.video {
  width: 75px;
  height: 100px;
}
iframe {
  width: 400px;
  height: 200px;
  top: 50%;
  right: 30px;
  position: absolute;
}
footer {
  border-top: 5px solid pink;
  padding: 2em 0;
}
footer a {
  text-decoration: none;
  color: pink;
}
footer a:hover {
  color: black;
}
footer a:last-child {
  float: right;
}
footer a:nth-child(2) {
  margin-left: 45%;
}
