* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.header {
  height: 100px;
  margin-bottom: 10px;
  background-color: rgb(136, 201, 255);
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
}

.content {
  width: 600px;
  height: 600px;
  background: linear-gradient(to right, rgb(136, 201, 255), rgb(56, 6, 238));
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: left;
}

.sidebar {
  width: 250px;
  height: 600px;
  background: linear-gradient(to right, rgb(136, 201, 255), rgb(56, 6, 238));
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: right;
}

.footer { 
  height: 100px;
  margin-top: 10px;
  background-color: rgb(136, 201, 255);
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
}
.clear {
  clear: both;
}
