.box{
    height: 50px;
    width: 250px;
    margin: 10px;
}

.red{
    background-color: red;
    margin-left: 50px;
    padding-top: 20px;

}
.blue{
    background-color: blue;
    width: 250px;
    height: 50px;
    margin-bottom: 10px;

}
.green{
    background-color: green;
    height: 50px;
    width: 250px;
}
