$bgcolor: red;
$x150: 150px;
$x100: 100px;

@mixin boxFunction($color, $w, $h) {
  background-color: $color;
  width: $w;
  height: $h;
}

.container {
  display: flex;
  &:hover {
    background-color: green;
  }
  .box2 {
    @include boxFunction($bgcolor, $x150, $x100);
  }
  .box1 {
    @include boxFunction($bgcolor, $x150, $x100);
  }
  .box4 {
    @include boxFunction($bgcolor, $x150 * 4, $x100);
    &.deneme {
      background-color: blue;
    }
  }
}
