:root {
  --primary-bg-color: #ffff;
  --secondary-bg-color: #fefefe;
  --third-bg-color: #202942;
  --primary-button-color: #fe5714;
  --secondary-button-color: #feede6;
  --button-hover: #df4000;
  --primary-reverse-text: var(--secondary-bg-color);
  --secondary-reverse-text-dark: #7a818f;
  --primary-text: #24272c;
  --secondary-text: #8391a5;
}
