@import url(./color.css);

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .who-we-are-container {
    gap: 4em;
  }
  .figure {
    width: 45%;
  }
  .info {
    width: 45%;
  }
}
