@import url(./color.css);
@media screen and (min-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .header {
    height: 100vh;
    height: 100dvh;
    padding-top: 20em;
  }
  /* What We Do */
  .card {
    width: 31%;
  }
  .c-3 {
    order: 3;
  }
  .c-4 {
    order: 4;
  }
  /* Work Process */
  .process-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Portfolio */
  .portfolio .image {
    width: 22%;
    border-radius: 10px;
    overflow: hidden;
  }
  /* Pricing */
  :is(.pricing-1, .pricing-2, .pricing-3) {
    width: 31%;
  }
  /* Ömer */
  /* Mobile Menü */
  .nav-mobile {
    display: none;
  }
  .o-image {
    max-height: 500px;
    width: 22%;
  }
  .nav-pc {
    display: block;
  }
  /* Aytuğ */
  .blogs-card {
    width: 31%;
  }
}
