@import url('./color.css');

/* Shared */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 30px;
}
.padding-l-30 {
  padding-left: 30px;
}
:is(.what-we-do, .work-process) {
  margin: 3em auto;
  background: var(--primary-bg-color);
}

/* What We Do */
.what-we-do .information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  gap: 2em;
}

.information-container-header {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.c-1 {
  order: 1;
}
.c-2 {
  order: 2;
}
.c-3 {
  order: 3;
}
.c-4 {
  order: 4;
}
.c-5 {
  order: 5;
}
.c-6 {
  order: 6;
}

/* Work Process */
.work-process {
  padding-top: 2em;
}
.work-process .information-container {
  padding-top: 2em;
  padding-bottom: 5em;
  text-align: center;
}

.process-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

/* Portfolio */

.portfolio {
  padding: 2em 0;
  background-color: #f8f9fc;
}
.portfolio .information-container {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 2em;
  text-align: center;
}
.portfolio .image-container {
  display: flex;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px 0;
}

/* Next Project */
.next-project {
  position: relative;
  padding: 12.5em 0;
  background: url(https://shreethemes.in/upstart/layouts/images/bg/cta.png)
    center center;
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 28, 45, 0.655);
}
.filter .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-project button {
  color: var(--secondary-text);
  width: 136px;
  margin: 2em auto;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-button-color);
  color: var(--primary-bg-color);
}
.next-project button:hover {
  background-color: var(--button-hover);
}
/* Plans */
.plans {
  padding: 5em 0;
  background-color: var(--primary-bg-color);
}
