* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}
.container1 {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: center;
}

.col {
  padding: 0 12px;
  width: 1000px;
  text-align: start;
}

.section_title {
  padding-bottom: 8px;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.section_blog {
  padding: 100px 0;
  background-color: #ffff;
}

.section_contact_us {
  padding: 100px 0;
  background-color: #f8f9fc;
  padding: 100px 0;
}

.text_primary {
  font-size: 15px;
  height: 22px;
  margin: 0 0 8px 0;
  color: #fe5714;
}

.title {
  margin-bottom: 16px;
  font-size: 28px;
  margin: 0 0 16px 0;
}

.row {
  width: 1000px;
  display: flex;
  margin: 0;
  text-align: start;
  margin: 0 -12px;
}

.text_center {
  text-align: center;
}

.blog_description {
  margin: 0 258px;
  font-size: 15px;
  color: #8391a5;
}

.blog_coloumn {
  box-sizing: border-box;
  width: 333.33px;
  display: block;
  padding: 8px 12px 0 12px;
  position: relative;
  margin-top: 24px;
  text-align: start;
  height: auto;
}

.blog_news_card {
  width: 310px;
  text-align: start;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.blog_news_card_body {
  padding: 24px;
  border: 1px solid rgb(206, 212, 218);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.blog_news_card_title {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #24272c;
}

.blog_news_card_description {
  margin-top: 8px;
  font-weight: 400;
  color: #9492ae;
}

.blog_read_more {
  margin-top: 16px;
}

.blog_read_more_link {
  text-decoration: none;
  color: #24272c;
}

.blog_read_more_link:hover {
  color: #fc5512;
}

.blog_image {
  width: 310px;
  height: 222.5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.contact_form {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.mail_column {
  width: 85%;
  margin-top: 24px;
  padding: 8px 12px 0 12px;
  display: block;
  background-color: white;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 6px;
}

.mail_box {
  padding: 24px;
  display: flex;
}

.mail_name_email {
  width: 50%;
  display: block;
  padding: 0 12px;
}

.mail_name {
  margin-bottom: 24px;
}

.input_name {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 6px;
  font-size: 14px;
}

.mail_subject {
  width: 100%;
  display: block;
  padding: 0 12px;
  margin-bottom: 24px;
}

.input_subject {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 6px;
  font-size: 14px;
}

.mail_message {
  display: block;
  padding: 0 12px;
  margin-bottom: 24px;
}

.input_message {
  width: 100%;
  resize: vertical;
  padding: 6px 12px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 6px;
  font-size: 14px;
}

.input_message:focus,
.input_subject:focus,
.input_name:focus {
  outline: 0.1px solid #ff5714;
}

.btn_send_message {
  margin-left: 12px;
  padding: 8px 20px;
  margin-bottom: 24px;
  font-size: 16px;
  color: white;
  background-color: #fc5512;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.contact_column {
  width: 40%;
  margin-top: 24px;
  margin-left: 24px;
  padding: 8px 12px 0 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact_component {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.contact_informations {
  max-width: 235px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: start;
}

.text_muted {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #8391a5;
}

.location_p {
  font-weight: 300;
  font-size: 15px;
  flex-wrap: wrap;
}

.icon {
  height: 50px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  background-color: #202942;
  padding: 30px 0;
  display: flex;
}

.footer_container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  align-items: center;
}

.fooer_logo {
  padding: 0 12px;
  width: 285px;
}

.footer_description {
  padding: 0 12px;
  width: 500px;
  color: white;
}

.footer_social_media {
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.social_media_link {
  color: #adb5bd;
  text-align: center;
}

.social_media_link:hover {
  color: #ff5714;
}
