@import url('./color.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* What We Do */
.what-we-do .information-container p {
  width: 100%;
  line-height: 1.5em;
  color: var(--secondary-text);
}
.what-we-do .information-container h2 {
  font-size: 28px;
  margin-bottom: 16px;
}
.what-we-do .information-container h3 {
  color: var(--primary-button-color);
  margin-bottom: 8px;
}
.card {
  border-radius: 20px;
  background: var(--primary-bg-color);
  width: 100%;
  padding: 24px;
  transition: 500ms;
}
.card h3 {
  margin: 24px 0;
}
.card p {
  line-height: 1.5em;
  margin-bottom: 34px;
  color: var(--secondary-text);
}
.card a {
  color: black;
  display: flex;
  width: 95px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.4em;
  text-decoration: none;
  position: relative;
  transition: 1s;
}
.card a span {
  font-size: 15px;
  font-weight: bold;
}
.card a:hover {
  color: var(--primary-button-color);
}
.card a::after {
  transition: 1s;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 100px;
  border-bottom: 1.5px solid var(--primary-button-color);
}
:has(.card a:hover) .card a:hover::after {
  right: 0;
}

:is(.c-2, .c-4, .c-6) {
  box-shadow: 0px 25px 25px rgba(36, 39, 44, 0.05);
}
:is(.c-1, .c-2, .c-3, .c-4, .c-5, .c-6):hover {
  box-shadow: 0px 25px 25px rgba(36, 39, 44, 0.05);
}
.what-we-do .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background-color: #ffeee7;
  border-radius: 10px;
}

/* Work Process */

.work-process h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.work-process p {
  margin-top: 1.5em;
  line-height: 1.5em;
  color: var(--secondary-text);
}
.process-container img {
  width: 250px;
}
.work-process .information-container h3 {
  color: var(--primary-button-color);
  font-weight: 600 !important;
  padding-bottom: 1em;
  font-size: 15px !important;
}
.work-process .information-container h2 {
  padding: 0 2em;
  font-size: 24px !important;
}
:is(.process-1, .process-3, .process-5)::before {
  position: absolute;
  content: '.';
  font-weight: bolder;
  z-index: 100;
  background: var(--primary-bg-color);
  top: -16px;
  left: -16px;
  padding: 3.2px 9.6px;
  border: 2px dashed #dee2e6;
  border-radius: 50%;
}
:is(.process-1, .process-3, .process-5)::after {
  position: absolute;
  content: '.';
  color: var(--primary-button-color);
  font-size: 65px;
  font-weight: bolder;
  z-index: 100;
  top: -57.5px;
  left: -10.5px;
}
:is(.process-1, .process-2, .process-3, .process-4, .process-5, .process-6) {
  position: relative;
  border-left: 2px dashed #dee2e6;
  border-left-width: 0.15em;
}
:is(.process-2, .process-4) {
  padding-bottom: 7em;
}
.process-1 {
  order: 1;
}
.process-2 {
  order: 2;
}
.process-3 {
  order: 3;
}
.process-4 {
  order: 4;
}
.process-5 {
  order: 5;
}
.process-6 {
  order: 6;
}

/* Portfolio */
.portfolio h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.portfolio p {
  margin-top: 1.5em;
  line-height: 1.5em;
  color: var(--secondary-text);
}
.portfolio .information-container h3 {
  color: var(--primary-button-color);
  font-weight: 600 !important;
  padding-bottom: 1em;
  font-size: 15px !important;
}
.portfolio .information-container h2 {
  padding: 0 2em;
  font-size: 24px !important;
}

.portfolio .image {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.portfolio img {
  display: block;
  width: 100%;
  transition: all;
  transition-duration: 500ms;
  position: relative;
}
.portfolio img:hover {
  transform: rotate(5deg) scale(1.1);
  filter: brightness(60%);
}
/* Next Project */
.next-project h2 {
  margin-top: 3em;
  font-size: 24px !important;
  color: var(--primary-bg-color);
  text-align: center;
}
.next-project p {
  color: var(--secondary-text);
  text-align: center;
  margin-top: 1em;
  line-height: 1.5em;
}
/* Plans */
.plans .information-container h3 {
  color: var(--primary-button-color);
  font-weight: 600 !important;
  padding-bottom: 1em;
  font-size: 15px !important;
  text-align: center;
}
.plans .information-container h2 {
  padding: 0 2em;
  text-align: center;
  font-size: 24px !important;
}
.plans .information-container p {
  text-align: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 5em;
  line-height: 1.5em;
  color: var(--secondary-text);
}
.pricing-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2em;
}
:is(.pricing-1, .pricing-2, .pricing-3) {
  border: 1px solid #f3f3f4;
  border-radius: 5px;
  padding: 3em 1.5em;
  transition: 500ms;
}
:is(.pricing-1, .pricing-2, .pricing-3):hover {
  transform: translate(0px, -10px);
  box-shadow: 0px 10px 10px rgba(36, 39, 44, 0.123);
}
.pricing-container p:nth-child(3) {
  margin-top: 2em;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
}
.pricing-container p:not(:nth-child(2), :nth-child(3)) {
  position: relative;
  margin-top: 1em;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
}
.material-symbols-rounded {
  margin-right: 0.2em;
}
.dollar {
  position: absolute;
}
.pricing-container h3 {
  font-size: 18px;
  margin-bottom: 1em;
}
.number {
  margin-left: 10px;
  font-size: 42px;
  font-weight: bolder;
}
.mo,
.dollar {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 1em;
}
.pricing-button {
  margin-top: 2em;
  padding: 1em 2em;
  width: 100%;
  border: 1px solid var(--primary-button-color);
  background-color: #ffeee7;
  border-radius: 5px;
  color: var(--primary-button-color);
  cursor: pointer;
}
.pricing-button:hover {
  color: var(--primary-bg-color);
  background-color: var(--primary-button-color);
}
