@import url(./color.css);
@media screen and (min-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
  /* What We Do */
  .what-we-do .information-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 100px 0;
    gap: 2em;
  }
  .what-we-do .information-container p {
    width: 50%;
  }
  .information-container-header {
    width: 50%;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 47%;
  }
  .c-3 {
    order: 4;
  }
  .c-4 {
    order: 3;
  }

  /* Work Process */

  /* Portfolio */
  .portfolio .image-container {
    margin: 0 auto;
  }
  .portfolio .image {
    width: 47%;
    border-radius: 10px;
    overflow: hidden;
  }
  /* Next Project */
  .next-project h2 {
    margin-top: 4em;
  }
  .next-project p {
    margin-top: 1em;
  }
  .next-project .container {
    max-width: 600px;
  }
  /* Pricing */
  .pricing-container {
    flex-direction: row;
  }
  :is(.pricing-1, .pricing-2, .pricing-3) {
    width: 47%;
  }
  /* Ömer */
  .header {
    height: 80vh;
    height: 80dvh;
    padding-top: 15em;
  }
  .header-hero {
    max-width: 600px;
  }
  .header-hero h1 {
    font-size: 42px;
  }
  .who-we-are {
    padding: 5em 0;
  }
  .who-we-are-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }
  .figure {
    width: 47.5%;
  }
  .who-we-are .info {
    width: 47.5%;
    justify-content: center;
    gap: 1em;
  }
  .who-we-are .info h3 {
    margin-top: 0;
  }
  .our-team .info {
    margin: 0 auto;
  }
  .our-team-images-container {
    margin-top: 2em;
    margin-bottom: 5em;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
  }
  .o-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-team-project-container {
    width: 100%;
  }
  .our-team-numbers {
    flex-direction: row;
    gap: 1em;
    padding-bottom: 2em;
    justify-content: space-around;
  }
  .our-team-numbers div {
    width: 15%;
  }
  .our-team-logos {
    justify-content: space-between;
  }
  .our-team-logos div {
    display: flex;
    flex-direction: row;
    width: 10%;
  }
  /* Aytuğ */
  .blogs-cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .blogs-card {
    width: 47.5%;
  }
  .form-container {
    flex-direction: row;
  }
  .form-information {
    width: 40%;
    padding: 3em 0;
  }

  form {
    width: 52%;
  }
  .mail-name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .mail-name-container input {
    width: 50%;
  }
}
