* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.center {
  text-align: center;
}
.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}
.padding-1 {
  padding: 1em;
}
.margin-y-05 {
  margin: 0.5em 0;
}
.margin-y-1 {
  margin: 1em 0;
}
.margin-y-2 {
  margin: 2em 0;
}
.margin-y-3 {
  margin: 3em 0;
}
.padding-y-1 {
  padding: 1em 0;
}
.padding-y-2 {
  padding: 2em 0;
}
.white {
  color: #ffffff;
}
.roboto-slab-400 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.color {
  color: rgb(255, 87, 20);
}

.button {
  background-color: rgb(255, 87, 20);
  padding: 0.6em 1em;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  white-space: nowrap;
  width: 23%;
}
.button:hover {
  background-color: rgb(224, 64, 0);
  cursor: pointer;
}
li {
  list-style-type: none;
}

.wrap {
  margin: 0 auto;
  width: 80%;
}
.mainPic {
  background: rgba(19, 23, 40, 0.644)
    url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  background-blend-mode: darken;
  background-size: cover;
  height: 768px;
}
.navBar {
  padding: 0 10%;
  width: 100%;
  position: fixed;
  transition-duration: 500ms;
}
.navItems {
  padding: 1.25em 0;
}
.navItemList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainImage {
  cursor: pointer;
  src: url("https://shreethemes.in/upstart/layouts/images/logo-light.png");
}

.navItemSectionList {
  display: flex;
  align-items: center;
}
.sectionItems {
  margin-left: 1em;
}
.iconList {
  display: flex;
}
.iconList li {
  margin-left: 3px;
}
.iconList li a i:hover {
  background-color: rgb(212, 218, 237);
}

.iconBackground i {
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 218, 237);
  color: black;
}
.sectionItems {
  font-size: 11px;
  line-height: 18px;
}
.sectionItems:hover {
  color: white;
  cursor: pointer;
}
.mainSection {
  height: 600px;
  display: flex;
  align-items: center;
}
.sectionTitle {
  font-size: 42px;
  line-height: 63px;
}
.sectionParagraph {
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 2em;
}
.navList {
  margin-left: 1.25em;
}
.navColored {
  background-color: white;
}
.border-h1 {
  border-bottom: 3px solid rgb(255, 191, 102);
}
.sectionStory {
  background-color: #f8f9fc;
  display: flex;
  padding: 5em 0;
  align-items: center;
  height: 100%;
}
.sectionFrame {
  height: 30em;
  width: 40%;
  background-image: url("https://shreethemes.in/upstart/layouts/images/about.jpg");
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.sectionStory2 {
  padding: 0 3em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionServices {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 3em 0;
  margin-bottom: 3em;
}

.storyImage i {
  height: 60px;
  width: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(255, 87, 20);
}
.contactSide {
  background-color: #f8f9fc;
  padding: 5em 0;
}
.contact-1 {
  text-align: center;
  padding: 0 20%;
  margin-bottom: 4em;
}
.contact-2 {
  display: flex;
  border-radius: 5px;
}
.contactForm {
  width: 70%;
  padding: 1.5em;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 1px gray;
}
.contactInput {
  width: 48%;
  height: 3em;
  border-radius: 5px;
  padding: 1em;
  border: 1px ridge #d3d3d3;
  margin-bottom: 1.5em;
  outline: none;
}
.contactInput:focus {
  border: 1px ridge rgb(255, 87, 20);
}
.formArea {
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.5em;
  outline: none;
  border: 1px ridge #d3d3d3;
}
.formArea:focus {
  border: 1px ridge rgb(255, 87, 20);
}
.formInformation {
  display: flex;
  align-items: center;
  margin-left: 3em;
}
.footer {
  background-color: rgb(32, 41, 66);
}
.footerDesign {
  justify-content: space-between;
  width: 100%;
}
.footerIcons {
  margin: 0 3px;
  border: 1px ridge rgb(45, 51, 100);
  background-color: rgb(32, 41, 66);
  color: #adb5bd;
  padding: 7px 0;
  border-radius: 4px;
}
.footerIcons i {
  width: 2em;
  text-align: center;
}
.footerIcons:hover {
  background-color: rgb(255, 87, 20);
  color: white;
  transition: 0.5s;
}
.blogSide {
  padding: 5em 0;
}
.blogItem {
  width: 31%;
  height: 100%;
  border: 1px ridge #d3d3d3;
  border-radius: 5px;
}
.blogImage {
  height: 50%;
}
.teamSide {
  background-color: #f8f9fc;
}
.teamImage {
  justify-content: space-between;
}
.employeesImg {
  width: 100%;
  height: 16em;
  border-radius: 5px;
}
.teamSide {
  padding: 5em 0;
}
.brands {
  margin-top: 2em;
}

/* Selim Eminoğlu--Work Process */

.workProcess {
  display: flex;
  justify-content: center;
  margin-bottom: -6em;
}

.workText {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.flexGrayText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.grayText {
  width: 600px;
  font-size: 15px;
  color: #8492a6;
  display: flex;
}

.listShape {
  display: flex;
  width: 960px;
  height: 926px;
}

.images {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 100%;
}

.rowRule {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 320px;
}

.secondRowİmage {
  width: 50%;
  text-align: left;
}

.secondRowText {
  width: 50%;
  text-align: right;
}

.rowİmage {
  width: 50%;
  text-align: right;
}

.rowText {
  width: 50%;
  text-align: left;
}
/* Selim Eminoğlu--Portfolyo */

.portfolyo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4em;
}

.portText {
  margin-top: 200px;
}

.tableİmages {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolyoTable {
  height: 400px;
  width: 946px;
}

.portİmgTable {
  border-radius: 10px;
}

/* Selim Eminoğlu--What We Do Table */
.services-container {
  margin-right: 18px;
  margin-left: 18px;
  padding-right: 12px;
  padding-left: 12px;
}
.services-top-section {
  display: flex;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 24px;
  margin-right: -12px;
  margin-left: -12px;
}
.services-top-left {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.services-top-left h6 {
  color: #ff5714;
  font-weight: 600;
  text-transform: uppercase !important;
  font-size: 15px !important;
}
.services-top-left h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
}
.services-top-right {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.6;
  color: #8492a6 !important;
  max-width: 600px;
  font-size: 15px;
  font-weight: 400;
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.services-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-btn-outer-con {
  margin-top: 24px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex: 1 0 calc(30% - 10px);
  /* max-width: 30%; */
  background-color: #fff;
  margin-right: 10px;
  border-radius: 15px;
}
.service-btn-outer-con:hover {
  box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
}
.service-btn-outer-con:nth-child(even) {
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.112); */
  box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
}
.service-btn-inner-con {
  padding: 1.5em;
  /* margin: 10px; */
}
.service-icon {
  color: #ff5714;
  background-color: #ff57141a;
  text-align: center;
  vertical-align: center;
  width: 85px;
  height: 85px;
  /* position: relative; */
}
.service-icon i {
  position: absolute;
  font-size: 28px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.service-btn-info {
  margin-top: 24px;
  padding-top: 8px;
}
.service-btn-info h4 {
  color: #24272c;
  font-size: 18px;
  transition: color 0.5s;
}
.service-btn-info h4:hover {
  color: #ff5714;
}
.service-btn-info p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #8492a6;
  line-height: 1.6;
}
.read-more {
  width: fit-content;
  margin-top: 24px;
  padding-top: 8px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
}
.read-more:hover {
  /* border-bottom: 1px solid black; */
  background-size: 100% 2px;
}
.read-more i {
  color: black;
  font-size: smaller;
}

.bg-image {
  padding: 100px 0;
  /* position: relative; */
  background-repeat: no-repeat;
  /* z-index: 0; */
  background-position-y: -20em;
  background: rgba(19, 23, 40, 0.644)
    url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  background-blend-mode: darken;
  background-size: auto;
}
.bg-overlay {
  background-color: rgba(22, 28, 45, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 380.93px;
  z-index: 0;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.portfolio-pic-container h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  color: white;
  margin-bottom: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
.portfolio-pic-container p {
  max-width: 600px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6;
  text-align: center;
  font-size: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.portfolio-pic-btn {
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
.portfolio-pic-btn button {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  background-color: #ff5714;
  border: 1px solid #ff5714;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
  vertical-align: middle;
}
.portfolio-pic-btn button:hover {
  background-color: rgb(232, 68, 4);
  transition: all 1s;
  cursor: pointer;
  color: #fff;
}
#price {
  padding-bottom: 100px;
  padding-top: 100px;
  font-size: 15px;
  color: #24272c;
}
.pricing-container {
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 12px;
  padding-right: 12px;
}
.pricing-header {
  margin-left: -12px;
  margin-right: -12px;
  /* display: flex; */
  /* justify-content: center !important; */
  /* align-items: center; */
  text-align: center;
  /* flex-wrap: wrap; */
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.pricing-header-outer-con {
  padding-right: 12px;
  padding-left: 12px;
}
.pricing-header-inner-con {
  padding-bottom: 8px;
  margin-bottom: 24px;
}
.pricing-header-inner-con h6 {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #ff5714;
}
.pricing-header-inner-con h4 {
  letter-spacing: 0.5px;
  font-size: 28px !important;
  margin-bottom: 1rem !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  text-align: center !important;
}
.pricing-header-inner-con p {
  color: #8492a6 !important;
  max-width: 600px;
  margin-right: auto !important;
  margin-left: auto !important;
  line-height: 1.6;
}
.pricing-plans {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.pricing-plan-outer-con {
  /* border: 1px solid black; */
  padding-top: 0.5rem !important;
  margin-top: 1.5rem !important;
  flex: 0 0 auto;
  width: 33.33333333%;
  padding-right: 12px;
  padding-left: 12px;
}

.pricing-plan-inner-con {
  padding: 48px 24px;
  transition: all 0.5s ease;
  /* box-shadow: 0 0 3px rgba(146, 153, 165, 0.15) !important; */
  border: none;
  border-radius: 5px !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  /* outline: 1px solid rgba(0, 0, 0, 0.056); */
  outline: 1px solid #dee2e6;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  transition: all 1s ease;
}
.pricing-plan-inner-con:hover {
  /* background-color: #ff5714; */
  box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  z-index: 2;
  transform: translateY(-10px);
  /* background-color: #ff5714; */
}
.pricing-plan-inner-con h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-bottom: 8px;
}
.pricing-plan-price {
  margin-bottom: 1.5rem !important;
  display: flex !important;
}
.pricing-plan-price > :nth-child(1) {
  font-size: 18px !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
}
.pricing-plan-price > :nth-child(2) {
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
}
.pricing-plan-price > :last-child {
  font-size: 18px !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-bottom: 0.25rem !important;
  align-self: flex-end !important;
}
.pricing-plan-benefits {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}
.pricing-plan-benefit {
  color: #8492a6 !important;
  margin-bottom: 1rem !important;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}
.pricing-plan-benefit span {
  font-size: 12px;
  margin-right: 0.5rem;
}
.pricing-plan-benefit span i {
  vertical-align: middle;
}
.pricing-plan-btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  margin-top: 1.5rem !important;
  background-color: rgba(255, 87, 20, 0.1);
  border: 1px solid rgba(255, 87, 20, 0.1) !important;
  color: #ff5714;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
  border-width: 1px;
}
.pricing-plan-btn:hover {
  background-color: #ff5714;
  color: #fff;
}
/* Responsive ***********************************8*/
.popup {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.secondSectionItems {
  display: none;
}
.secondItems {
}
.secondList {
  margin-bottom: 1em;
}
.iconBackground2 {
  background-color: rgb(255, 87, 20);
}
.iconBackground2 i {
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 87, 20);
  color: white;
}

.secondItemTags {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
@media screen and (max-width: 1050px) {
  .navBar {
    background-color: white;
  }

  .navItemSectionList {
    display: none;
  }
  .popup {
    display: block;
  }
}
