*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/* Navbar Css */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #20253152;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul a:hover {
  color: #ff5714;
}
.navbar-left a img {
  margin-left: 4rem;
  height: 10%;
}
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.navbar-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-icon a {
  color: #fff;
  width: 30px;
  height: 30px;
  background-color: #ff5714;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.navbar-social {
  width: 60%;
}

/*Section Hero Css*/
.hero {
  position: relative;
  padding-top: 10rem;
  width: 100%;
  height: 40rem;
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  z-index: -1; /* background image arkaya alındı */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 200rem rgba(22, 28, 45, 0.75);
}

.hero-providing {
  font-size: 42px !important;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: white;
}
.title-heading {
  margin-left: 14rem;
}
.title-launch {
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #fff;
}
.button-orange {
  background-color: rgb(255, 87, 20);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  padding: 8px 20px;
  letter-spacing: 0.5px;
}
/*section 2 | play video - text */
.part-2 {
  padding: 100px 0;
  background-color: #f8f9fc;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28%;
}
.left-1 img {
  border-radius: 10px;
}
.right-1 {
  margin-left: 4rem;
  width: 665px;
  height: 290px;
}
.text-1 {
  color: #ff5714;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}
.text-2 {
  margin-bottom: 1.5rem;
  color: #24272c;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 42px;
  margin-block-end: 24px;
  font-family: "Roboto", sans-serif;
}
.text-3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  color: #8492a6;
  font-family: "Roboto", sans-serif;
}
.position {
  position: relative;
  align-items: center;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.play-icon a {
  text-decoration: none;
}
.play-btn:hover {
  background-color: rgba(143, 113, 113, 0.187);
}

.play-icon img {
  width: 55%;
  filter: invert(39%) sepia(94%) saturate(2005%) hue-rotate(351deg)
    brightness(100%) contrast(103%);
}
/* Part3 | What we do? & Card CSS*/
.part-3 {
  padding: 100px 0px;
  position: relative;
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.left-2 {
  width: 50%;
}
.right-2 {
  width: 546px;
  height: 48px;
  align-items: center;
}
.row {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.card {
  width: 305px;
  height: 315px;
  background-color: white;
  padding: 20px 26px;
  border-radius: 30px;
  margin-left: 5px;
  margin-top: 24px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.096);
}
.card-icon {
  justify-content: center;
  align-items: center;
}
.card-icon img {
  padding: 28px;
  width: 33%;
  border-radius: 10px;
  background: rgba(255, 87, 20, 0.1);
  filter: invert(39%) sepia(94%) saturate(2005%) hue-rotate(351deg)
    brightness(100%) contrast(103%);
}
.card a:hover {
  color: #ff5714;
}
.card-title {
  text-decoration: none;
  color: #24272c;
  font-size: 18px;
  font-weight: 600;
}
.card-text {
  font-size: 15px;
  color: #8492a6;
}
.card-content {
  margin-top: 20px;
  margin-bottom: 19%;
}
.read-more:hover {
  color: #ff5714;
  filter: invert(39%) sepia(94%) saturate(2005%) hue-rotate(351deg)
    brightness(100%) contrast(103%);
  text-decoration: underline;
}
.read-more a {
  text-decoration: none;
  color: #24272c;
}

/* Part3 | Container3 CSS*/

.container-3 {
  text-align: center;
}
.container-3 p {
  margin: 0px 258px;
}
.container-3 h4 {
  margin-bottom: 16px;
}
.container-3 h6 {
  margin-bottom: 8px;
}
/*Part4 Timeline */
.process {
  padding: 30px;
}
.process-section {
  margin: auto;
  display: flex;
  width: 70%;
}
.process-section img {
  width: 300px;
}
.process-left {
  float: left;
  width: 50%;
  justify-content: center;
  clear: both;
}
.process-right {
  float: right;
  width: 50%;
  justify-content: center;
  clear: both;
}
.process h5 {
  color: #24272c;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.process p {
  color: #8492a6;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
/*Part5| box images */
.part-5 {
  background-color: #f8f9fc;
}
.container-3 h6 {
  padding-top: 5%;
}
.row-2 {
  margin: 60px auto;
  width: 90%;
}
.box-1 {
  width: 300px;
  height: 185px;
  background-position-y: center;
  background-position-x: center;
  background-size: 100%;
  margin-top: 24px;
  border-radius: 5px;
  padding: 8px 12px 0px 12px;
  position: relative;
}
.image-1 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/1.jpg");
}
.image-2 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/2.jpg");
}
.image-3 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/3.jpg");
}
.image-4 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/4.jpg");
}
.image-5 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/5.jpg");
}
.image-6 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/6.jpg");
}
.image-7 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/7.jpg");
}
.image-8 {
  background-image: url("https://shreethemes.in/upstart/layouts/images/portfolio/8.jpg");
}

.container-images h6 {
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 5px;
}
.container-images p {
  color: white;
  font-size: 15px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  left: 5px;
}
.image-1:hover::after {
  content: "Mockup";
  color: white;
  position: absolute;
  bottom: 20px;
  left: 5px;
  z-index: 1;
}

/* Start Part6 Background Image | Ready to start*/
.bgImage-text {
  display: flex;
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  box-shadow: inset 0 0 0 200rem rgba(22, 28, 45, 0.75);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5%;
}
.bgImage-text h4 {
  color: white;
  font-size: 28px;
}
.bgImage-text p {
  color: #ffffff80;
  margin-bottom: 10%;
}

.plans {
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* card plans */
.card-plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 13%;
}
.pricing {
  background-color: white;
  width: 300px;
  height: 310px;
  box-shadow: 0 0 10px rgba(31, 73, 140, 0.15);
  border-radius: 30px;
}
.pricing:hover {
  box-shadow: 0 0 30px rgba(31, 73, 140, 0.15);
  transform: scaleY(1.05);
  transition: transform 0.6s ease;
}
.pricing ul {
  list-style-type: none;
  margin-bottom: 40px;
  color: #93a0b0;
}
.pricing img {
  filter: invert(68%) sepia(2%) saturate(2334%) hue-rotate(173deg)
    brightness(98%) contrast(68%);
}
.pricing h5 {
  color: #24272c;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-left: 38px;
}
.pair {
  font-size: 28px;
  font-weight: 700;
  margin-left: 38px;
}
.button-soft-orange {
  background-color: #ffeee9;
  color: #ff5714;
  border-radius: 6px;
  border-color: #ff5714;
  text-decoration: none;
  padding: 8px 70px;
  letter-spacing: 0.5px;
  margin: 0 35px;
}
.button-soft-orange:hover {
  background-color: #ff5714;
  color: #ffeee9;
}

/*Footer Css*/
footer {
  background-color: #202942;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 18%;
}
.footer-icons a {
  color: #454e63;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.footer-icons a:hover {
  background-color: #ff5714;
  color: white;
}
