.box{
  height: 50px;
  width: 250px;
  margin: 10px;
}

.red{
  background-color: #ff0000;
  margin-left: 50px;
  padding: 20px;
}

.green{
  background-color: green;
  margin-left: 50px;
  padding: 20px;


}
.blue{
  background-color: blue;
}