@media screen and (max-width: 720px) {
  .categories,
  .top-posts,
  .instagram,
  .topnav-item,
  .socialicons {
    display: none !important;
  }

  .mobileWrite,
  .mobileSign,
  .mobileFilter {
    display: block !important;
  }
  .container {
    .banner {
      .banner-content {
        width: 80% !important;
      }
    }
  }
}
