$primary: #ffd601;
$purple: #e1dcff;
$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%,
);

$carousel-control-width: 5%;

.carousel-control-prev-icon {
  position: absolute;
  left: 0;
}

.carousel-control-next-icon {
  position: absolute;
  left: 35px;
}

$h7-font-size: 5px;
$font-sizes: (
  7: $h7-font-size,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 15,
);

$card-blue: #afd8f2;
$card-yellow: #efd578;
$card-red: rgba(250, 42, 59, 0.66);
$list-group-active-bg: #0523e9;
$success: #57dc54;
$green: #2a9528;
$info: #1193cd;
$danger: #a40000;
$warning: #ffac4b;
