#deneme-h2{
  background-color: chartreuse;
  color: brown;
  font-size: large;
  text-align: center;
  justify-content: center;
  
}
.box{
  height: 50px;
  width: 250px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 13px 7px 16px 3px rgba(0,0,0,0.69);
-moz-box-shadow: 13px 7px 16px 3px rgba(0,0,0,0.69);
box-shadow: 13px 7px 16px 3px rgba(0,0,0,0.69);
}

.yellow{
  background-color: yellow;
  padding: 20px;
  margin-left: 10px;
}
.green{
  background-color: green;
  margin-top: 20px;
  padding-left: 10px;
 opacity: 0.8;
}

.blue{
  background-color: blue;
  margin: 50px;

}