/* .borderRadius{
    border-radius: 50%;
} */
h1,p{
    color: aliceblue;
    padding-top: 70px;
    padding-left: 30px;
}
.byImage {
    background-image: url("https://i.scdn.co/image/ab67616d0000b273c7c3bf7aa536e0ca4365ea66");
    width: 600px;
    height: 700px;
    background-position-y:center ;
    background-position-x: center;
    background-size: 100%;
}