body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: small;
}

table {
    background-color: gainsboro;
    color: white;
    margin: 65px auto;

}

table,
th,
td {
    border: 2px solid darkslategray;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

th {
    background-color: orangered;
}

a {
    text-decoration: none;
    color: black;
}

td {
    color: black;
}

td:nth-child(1) {
    background-color: orangered;
    color: white;
}
tr:nth-child(2n){
    background-color: grey;
}