$font-family-sans-serif: "Dosis", sans-serif;
// $dark: gainsboro;
$primary: #e4e4e4;
$danger: #ea2424;
$light: rgba(221, 221, 221, 0.065);
// $warning:rgb(145, 145, 125);

$font-sizes: (
  1: 12px,
  2: 14px,
  3: 18px,
  4: 20px,
  5: 36px,
  6: 40px,
  7: 23px,
  8: 9px,
  9: 28px,
  10:30px,
);
