.card {
    max-width: 50%;
    padding: 20px;
    margin-top: 30px;
    background: rgba(184, 221, 239, 0.08);
    border-radius: 16px;
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      cursor: pointer;
      
  }
  .reposStar{
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .repoCountWrap{
    display: flex;
    gap: 1em;
  

  }
  @media (max-width:768px) {
    .card{
        max-width: 100%;
    }
    
  }