$primary: #c32d2d;
$secondary: #fff;

//navbar

$navbar-light-hover-color: ($primary);
$navbar-light-active-color: ($primary);
$navbar-light-color: (black);

$dropdown-link-hover-color: ($secondary);
$dropdown-link-hover-bg: ($primary);
$offcanvas-horizontal-width: 320px;
$zindex-modal-backdrop: 1;
$modal-backdrop-bg: transparent;
$modal-backdrop-opacity: 0.5;
//navbar


$accordion-button-active-bg:              rgb(202, 26, 26);
$accordion-button-active-color:          $secondary;

$accordion-button-focus-border-color:     $secondary;
$accordion-button-focus-box-shadow:       $secondary;