* {
  margin: 0;
  /* margin-top: 50px; */
  padding: 0;
  box-sizing: border-box;
}
.bg-image {
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  padding: 100px 0;
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 0;
  background-position: center;
}
.bg-overlay {
  background-color: rgba(22, 28, 45, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 380.93px;
  z-index: 0;
}
.portfolio-pic-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 18px;
  margin-left: 18px;
  padding-right: 12px;
  padding-left: 12px;
}
.one {
  margin-right: -12px;
  margin-left: -12px;
}
.two {
  padding-right: 12px;
  padding-left: 12px;
}
.three {
}
.portfolio-pic-container h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  color: white;
  margin-bottom: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
.portfolio-pic-container p {
  max-width: 600px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6;
  text-align: center;
  font-size: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}
.portfolio-pic-btn {
  padding-top: 0.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
.portfolio-pic-btn button {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  background-color: #ff5714;
  border: 1px solid #ff5714;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(255, 87, 20, 0.1);
  vertical-align: middle;
}
.portfolio-pic-btn button:hover {
  background-color: rgb(232, 68, 4);
  transition: all 1s;
  cursor: pointer;
  color: #fff;
}
