* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#price {
  padding-bottom: 100px;
  padding-top: 100px;
  font-size: 15px;
  color: #24272c;
}
.pricing-container {
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 12px;
  padding-right: 12px;
}
.pricing-header {
  margin-left: -12px;
  margin-right: -12px;
  /* display: flex; */
  /* justify-content: center !important; */
  /* align-items: center; */
  text-align: center;
  /* flex-wrap: wrap; */
  /* margin-right: auto; */
  /* margin-left: auto; */
}
.pricing-header-outer-con {
  padding-right: 12px;
  padding-left: 12px;
}
.pricing-header-inner-con {
  padding-bottom: 8px;
  margin-bottom: 24px;
}
.pricing-header-inner-con h6 {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #ff5714;
}
.pricing-header-inner-con h4 {
  letter-spacing: 0.5px;
  font-size: 28px !important;
  margin-bottom: 1rem !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  text-align: center !important;
}
.pricing-header-inner-con p {
  color: #8492a6 !important;
  max-width: 600px;
  margin-right: auto !important;
  margin-left: auto !important;
  line-height: 1.6;
}
.pricing-plans {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.pricing-plan-outer-con {
  /* border: 1px solid black; */
  padding-top: 0.5rem !important;
  margin-top: 1.5rem !important;
  flex: 0 0 auto;
  width: 33.33333333%;
  padding-right: 12px;
  padding-left: 12px;
}

.pricing-plan-inner-con {
  padding: 48px 24px;
  transition: all 0.5s ease;
  /* box-shadow: 0 0 3px rgba(146, 153, 165, 0.15) !important; */
  border: none;
  border-radius: 5px !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  /* outline: 1px solid rgba(0, 0, 0, 0.056); */
  outline: 1px solid #dee2e6;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  transition: all 1s ease;
}
.pricing-plan-inner-con:hover {
  /* background-color: #ff5714; */
  box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px 14px 23px 5px rgba(0, 0, 0, 0.54);
  z-index: 2;
  transform: translateY(-10px);
  /* background-color: #ff5714; */
}
.pricing-plan-inner-con h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-bottom: 8px;
}
.pricing-plan-price {
  margin-bottom: 1.5rem !important;
  display: flex !important;
}
.pricing-plan-price > :nth-child(1) {
  font-size: 18px !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
}
.pricing-plan-price > :nth-child(2) {
  font-size: 42px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
}
.pricing-plan-price > :last-child {
  font-size: 18px !important;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
  margin-bottom: 0.25rem !important;
  align-self: flex-end !important;
}
.pricing-plan-benefits {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}
.pricing-plan-benefit {
  color: #8492a6 !important;
  margin-bottom: 1rem !important;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}
.pricing-plan-benefit span {
  font-size: 12px;
  margin-right: 0.5rem;
}
.pricing-plan-benefit span i {
  vertical-align: middle;
}
.pricing-plan-btn {
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 6px;
  margin-top: 1.5rem !important;
  background-color: rgba(255, 87, 20, 0.1);
  border: 1px solid rgba(255, 87, 20, 0.1) !important;
  color: #ff5714 ;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* font-size: 1rem; */
  font-weight: 400;
  line-height: 1.5;
  border-width: 1px;
}
.pricing-plan-btn:hover {
  background-color: #ff5714;
  color: #fff;
}
