* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.services-container {
  margin-right: 18px;
  margin-left: 18px;
  padding-right: 12px;
  padding-left: 12px;
}
.services-top-section {
  display: flex;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 24px;
  margin-right: -12px;
  margin-left: -12px;
}
.services-top-left {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
}

.services-top-left h6 {
  color: #ff5714;
  font-weight: 600;
  text-transform: uppercase !important;
  font-size: 15px !important;
}
.services-top-left h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 600 !important;
}
.services-top-right {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.6;
  color: #8492a6 !important;
  max-width: 600px;
  font-size: 15px;
  font-weight: 400;
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}
.services-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-btn-outer-con {
  margin-top: 24px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex: 1 0 calc(30% - 10px);
  /* max-width: 30%; */
  background-color: #fff;
  margin-right: 10px;
  border-radius: 15px;
}
.service-btn-outer-con:hover {
  box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
}
.service-btn-outer-con:nth-child(even) {
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.112); */
  box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 28px 7px rgba(0, 0, 0, 0.05);
}
.service-btn-inner-con {
  padding: 24px;
  /* margin: 10px; */
}
.service-icon {
  color: #ff5714;
  background-color: #ff57141a;
  text-align: center;
  vertical-align: center;
  width: 85px;
  height: 85px;
  position: relative;
}
.service-icon i {
  position: absolute;
  font-size: 28px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.service-btn-info {
  margin-top: 24px;
  padding-top: 8px;
}
.service-btn-info h4 {
  color: #24272c;
  font-size: 18px;
  transition: color 0.5s;
}
.service-btn-info h4:hover {
  color: #ff5714;
}
.service-btn-info p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #8492a6;
  line-height: 1.6;
}
.read-more {
  width: fit-content;
  margin-top: 24px;
  padding-top: 8px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
}
.read-more:hover {
  /* border-bottom: 1px solid black; */
  background-size: 100% 2px;
}
.read-more i {
  color: black;
  font-size: smaller;
}
