.allreposDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #f8f8f8;
  gap: 1rem;
}

.singleRepo {
  width: 25%;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #dedede;
  box-shadow: 7px 3px 10px rgba(0, 0, 0, 0.2);
}

.singleRepoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .singleRepo {
    width: 80%;
    height: max-content;
  }
}