@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
    list-style: none !important;
}

@font-face {
    font-family: "MyOTFFont";
    src: url("../fonts/Anurati-Regular.otf");
  }

.banner{
    .container{
        padding: 70px;
    }
    background-image: url(../assets/banner-2.jpg);
    background-size: cover;
    h1{
        font-family: "MyOTFFont", sans-serif;
        text-align: center;
        font-size: 150px;
        color: rgb(255, 0, 0);
        opacity: 1;
    }
}


/* Reseting */


.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.dropdown-toggle{
    z-index:100;
}

.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(176, 176, 176);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 25px;
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: rgb(217, 3, 3);
    transform: translateZ(100px);
    border-radius: 10px;
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

@media screen {
    
}

.product-cards{
    .box{
        hr{
            margin:0px;
        }
    }
}