header {
  border-bottom: 5px solid pink;
}
header h1 {
  float: left;
  margin-top: 20px;
  color: pink;
}
header img {
  float: right;
}
header input {
  margin-left: 33%;
  margin-top: 25px;
  border: 2px solid pink;
  border-radius: 0.5em;
  padding: 0.5em 2em;
}
header input::placeholder {
  color: pink;
}
.heroimage {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
footer {
  border-top: 5px solid pink;
  padding: 2em 0;
}
footer a {
  text-decoration: none;
  color: pink;
}
footer a:hover {
  color: black;
}
footer a:first-child {
  float: left;
}
footer a:nth-child(2) {
  margin-left: 45%;
}
footer a:last-child {
  float: right;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
main .container img {
  border: 1px solid red;
  border-radius: 1em;
  max-width: 400px;
  margin: 0.5em;
}
main .container img {
  margin: 1em;
  float: left;
}
main .container img:hover {
  border: 5px solid red;
  zoom: 1.05;
}
.clear {
  clear: both;
}
