@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
//Variables
@import 'colors.scss';
//Reset CSS
* {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:active,
a:focus,
a:visited {
  color: inherit;
}
@mixin containerPadding($vertical, $horizontal) {
  padding: $vertical $horizontal;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  @include containerPadding(0, 1em);
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 50px 0 #2f88fc27;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  .container {
    display: flex;
    justify-content: space-between;
    @include containerPadding(2em, 1em);
  }
  .desktop {
    display: none;
  }
}
.mobile {
  position: relative;
}
.logo {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
#menu-toggle {
  display: none;
}
.burger-menu-closed {
  transform: scale(1.2);
}
.mobile-nav-links {
  position: absolute;
  transition: all;
  transition-duration: 0.5s;
  @include flexColumn();
  padding: 2em;
  height: 100vh;
  top: 0;
  right: 0;
  left: 27em;
  background: $light;
  .burger-menu-open {
    align-self: end;
    transform: scale(1.2);
  }
  ul {
    margin-top: 1em;
    @include flexColumn();
    gap: 1em;
    li {
      font-size: 20px;
      a {
        color: $dark;
      }
    }
  }
  .sign-container {
    margin-top: 1em;
    @include flexColumn();
    font-size: 20px;
    gap: 1em;
    .register {
      padding: 12px 20px;
      width: 120px;
      border-radius: 5px;
      background: $primary-color;
      color: $light;
    }
  }
}
#menu-toggle:checked ~ .mobile-nav-links {
  display: flex;
  top: 0;
  right: 0;
  left: 1em;
  box-shadow: 20px 20px 100px 20px $dark;
}
#anchor-ads,
#anchor-home,
#anchor-about,
#anchor-contact,
#anchor-blog {
  position: relative;
  left: 0;
  top: -140px;
  opacity: 0;
}
header {
  background: fixed
    url('https://preview.colorlib.com/theme/directoryads/images/hero_2.jpg.webp') -300px -20px /
    300% no-repeat;
  position: relative;
  z-index: 2;
  .filter {
    background: #00000054;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
  }
}
.header-container {
  position: relative;
  z-index: 10;
  padding: 6em 0;
  @include flexColumn();
  justify-content: center;
  gap: 1em;
  .header-title,
  .header-text {
    text-align: center;
    color: $light;
    font-weight: 500;
  }
  .header-title {
    font-size: 32px;
  }
  .header-footer {
    color: $light;
    h5 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0.5em;
    }
    div {
      display: flex;
      gap: 5px;
      a {
        padding: 5px 10px;
        background: #ffffff33;
        border: 1px solid $light;
        border-radius: 3px;
        font-size: 12.8px;
        &:visited {
          color: $light;
        }
      }
      a:hover {
        background: $light;
        color: $primary-color;
        transition: 0.3s ease-in;
      }
    }
  }
}
form {
  background: #ffffffbd;
  @include flexColumn();
  padding: 1.2em;
  gap: 1.5em;
  border-radius: 5px;
  input[type='text'],
  select {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
  input[type='submit'] {
    width: 100%;
    padding: 0.8em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background: #2f89fc;
    color: $light;
  }
  input[type='submit']:hover {
    background: #046df4;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
}
.header-location-input-div {
  position: relative;
  span {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
}
.featured-ads {
  padding: 3em 0;
  background: #f8f9fa;
  .container {
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 24px;
    }
  }
}
.featured-cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  .featured-card {
    border: 1px solid #e5e6e7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #00000020;
    background: $light;
    width: 100%;
    display: none;
    &:first-child {
      display: block;
    }
    img {
      width: 100%;
    }
    .featured-card-content {
      @include flexColumn();
      padding: 1em;
      gap: 0.5em;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          background-color: #e9ecef;
          padding: 0.5em 1.4em;
          border-radius: 30px;
          font-size: 13px;
        }
        .furniture-heart {
          background-color: rgba(0, 0, 0, 0.03);
          border-radius: 50%;
          padding: 0.2em;
          color: $primary-color;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: red;
            cursor: pointer;
          }
        }
      }
      a {
        color: $primary-color;
        margin-top: 0.5em;
      }
      address {
        color: #4d4d4d;
        font-size: 13px;
      }
      .review {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.1em;
        margin-top: 1em;
        .material-symbols-outlined {
          font-size: 20px;
          color: #ff9e0e;
        }
        .material-symbols-outlined:nth-child(5) {
          color: #6b757d;
        }
        span:last-child {
          color: #4d4d4d;
          font-size: 13px;
          margin-bottom: -4px;
        }
      }
    }
  }
}
.popular-container {
  @include flexColumn();
  text-align: center;
}
.popular-header {
  padding: 1em 0;
  margin-bottom: 2em;
  h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0.5em;
    color: $primary-color;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1em;
    color: #7f7f7f;
    text-transform: capitalize;
  }
  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: $primary-color;
    margin: 0 auto;
  }
}
.popular-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  .popular-links {
    @include flexColumn();
    align-items: center;
    width: 100%;
    gap: 1em;
    padding: 2em;
    border-radius: 10px;
    background: #ffffffbd;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.09);
      background: $primary-color;
      box-shadow: 0px 0px 30px 0px #2f88fc92;
      span {
        color: #fff;
      }
      h5,
      p {
        color: #fff;
      }
      p {
        background-color: #046df4;
      }
    }
    span {
      font-size: 50px;
      color: $primary-color;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      background-color: #e9ecef;
      padding: 5px 20px;
      border-radius: 1em;
    }
  }
}
.featured-ads.trending-today {
  background: #f8f9fa;
  h2 {
    color: $primary-color;
    font-size: 32px;
    font-weight: 600;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 80px;
      height: 3px;
      background: $primary-color;
    }
  }
}
.featured-cards-container.trending-today-cards-container {
  margin-top: 3em;
  gap: 2em;
}
.featured-card.trending-today-card {
  display: block;
}
.testimonial {
  padding: 2.5em 0;
  background: $light;
  .container {
    .testimonial-container {
      @include flexColumn();
      text-align: center;
      gap: 2em;
      .testimonial-title {
        h4 {
          color: $primary-color;
          font-size: 32px;
          margin-bottom: 0.2em;
        }
        &::after {
          content: '';
          display: block;
          width: 100px;
          height: 3px;
          background: $primary-color;
          margin: 0 auto;
        }
      }
      .testimonial-card {
        @include flexColumn();
        gap: 1em;
        padding: 1em 0;
        .testimonial-card-header {
          @include flexColumn();
          align-items: center;
          gap: 1em;
          .testimonial-card-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .testimonial-card-title {
            p {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
        .testimonial-card-body {
          margin-top: 1em;
          p {
            font-size: 1.5rem;
            font-weight: 400;
            color: #646363;
            font-style: italic;
            line-height: 1.7;
          }
        }
      }
    }
  }
}
.our-blog {
  background: #f8f9fa;
  .container {
    .ourblog-container {
      padding: 2em 0;
      @include flexColumn();
      gap: 3em;
      .ourblog-Title {
        @include flexColumn();
        text-align: center;
        gap: 0.7em;
        h4 {
          color: $primary-color;
          font-size: 32px;
          margin-bottom: 0.2em;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #b3b3b3;
        }
        &::after {
          content: '';
          display: block;
          width: 90px;
          height: 3px;
          background: $primary-color;
          margin: 0 auto;
        }
      }
      .ourblog-cards {
        @include flexColumn();
        gap: 2em;
        .ourblog-card {
          @include flexColumn();
          width: 100%;
          overflow: hidden;
          gap: 1.5em;
          align-items: center;
          img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
          .ourblog-card-title {
            width: 100%;
            h4 {
              font-size: 20px;
              font-weight: 500;
              line-height: 1.2;
              text-align: start;
              margin-bottom: 0.5em;
            }
            .ourblog-card-links {
              display: flex;
              ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 1.2em;
                color: #b3b3b3;
                li {
                  font-size: 14px;
                  font-weight: 400;
                  list-style: disc;
                  line-height: 1.2;
                }
                a {
                  color: $primary-color;
                }
                a:hover {
                  color: #1858ad;
                  transition: 0.5s ease-in;
                }
              }
            }
          }
          .ourblog-card-body {
            p {
              font-size: 1rem;
              font-weight: 400;
              color: black;
              line-height: 1.7;
            }
          }
        }
      }
      .ourblog-button {
        display: flex;
        justify-content: center;
        button {
          padding: 0.8em 2em;
          background: $primary-color;
          color: $light;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
        button:hover {
          background: #2976d9;
          color: #fff;
        }
      }
    }
  }
}
.newsletter {
  width: 100%;
  background-color: $primary-color;
  padding: 2.5em 0;
  color: $light;
  .container {
    h2 {
      font-size: 18px;
      font-weight: 500;
      margin: 0.5em 0;
      line-height: 1.2;
    }
    p {
      margin: 0.8em 0;
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.7;
    }
    .newsletter-form {
      display: flex;
      justify-content: end;
      .email {
        width: 62%;
        padding: 0.375rem 0.75rem;
        border: none;
        border-bottom: 1px solid $light;
        background: none;
        outline: none;
        color: $light;
      }
      .email::placeholder {
        color: $light;
        line-height: 1.5;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
      }
      .btn-white {
        display: inline-block;
        border: 1px solid transparent;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
      }
      .btn-white:hover {
        color: $light;
        background-color: $dark;
        cursor: pointer;
      }
    }
  }
}
.site-footer {
  background-color: #333333;
  .container {
    @include containerPadding(3em, 1em);
    color: $light;
    font-weight: 500;
    .footer-content {
      @include flexColumn();
      flex-wrap: wrap;
      h2 {
        font-size: 16px;
        margin-bottom: 1.5rem;
        line-height: 1.2;
      }
      p,
      ul li {
        color: #737373;
        margin-bottom: 1rem;
        line-height: 1.7;
      }
      i {
        color: #999999;
        margin-right: 2rem;
      }
      a:hover,
      i:hover {
        color: #fff;
        cursor: pointer;
      }
      .footer-form {
        display: flex;
        .search-products {
          border: 1px solid #6c757d;
          background: none;
          padding: 0.8rem 0.8rem;
          margin-top: 0.5rem;
          width: 71%;
          outline: none;
          color: $light;
        }
        .search-products::placeholder {
          font-size: 16px;
        }
        .search-btn {
          background-color: $primary-color;
          color: $light;
          padding: 0.72rem 0.75rem;
          font-size: 16px;
          border: none;
          height: 2.7rem;
          align-self: flex-end;
        }
        .search-btn:hover {
          background-color: #2f88fccc;
          cursor: pointer;
        }
      }
    }
    .footer-copyright {
      p {
        text-align: center;
        padding-top: 3rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        color: #737373;
        line-height: 1.7;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
