@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}