@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}


.a-slider{
    display: flex;
    width: 100%;
    background-image: url(/img/slide1-2.jpg);
    height: 745px;
    
    justify-content: space-between;
    align-items: center;

}

.a-slider-container{
    width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    
}

.a-slider-left{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    
    
}

.slider-form{
    width: 420px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    gap: 10px;
}

.slider-form form{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.slider-form form select{
    width: 356px;
    height: 51px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(90, 90, 90, 0.678);

}

.slider-form h2{
    margin-bottom: 25px;
}

.slider-form input{
    width: 115px;
    height: 51px;
    border-radius: 30px;
    background-color: #FFB91F;
    border: none;
}

.slider-form input:hover{
    background-color: #000000;
    cursor: pointer;
    color: #FFB91F;
}

.a-slider-right{
    display: flex;
    justify-content: center;
    align-items: start;
   flex-direction: column;
   color: white;
   width: 60%;
   
}

.slider-title{
    width: 730px;
    height: 200px;
}

.slider-title h5{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
   
}

.slider-title h3{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    
}

.slider-title p{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.a-slider-btn button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: none;
    font-size: 18px;
    
}

.left-arrow{
    width: 50px;
    height: 50px;
    background-color: #FFB91F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.a-slider-leftside{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 12%;
    
    
}

.a-slider-rightside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}

.right-arrow{
    width: 50px;
    height: 50px;
    background-color: #FFB91F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.a-categorySlider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background-color: #FFB91F;
    
}

.a-categorySlider-img img{
    width: 173px;
    height: 173px;
    object-fit: cover;
    border-radius: 10px;
    gap: 10px;
}

.a-categorySlider-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
    
}

.a-categorySlider-img:hover{
    color:white 
}

.a-categorySlider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1260px;
    height: 240px;
}

.a-categorySlider-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 72%;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
        
}
.a-categorySlider-left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 30%;
}

.a-categorySlider-imginside{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.a-categorySlider-left h2{
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    
}
.a-categorySlider-left p{
    font-size: 17px;
    font-weight: 100;
    
    margin-bottom: 20px;
}

.a-categorySlider-left button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #ffca56;
    color: black;
    border: none;
    font-size: 18px;
}

