header {
    padding: 1.5rem 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    color: #fff;
}

.nav-item {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.cart-icon {
    position: relative;
  }
  
  .cart-count {
    position: absolute;
    top: -15px;
    right: 0;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
  }
  

@media screen and (max-width: 768px) {
    header {
        margin-left: 0rem;
        margin-right: 0rem;
        padding: 0;
    }
}
    
