* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

}

header img {
    width: 50px;
}

header li:nth-child(2) {
    margin-left: 1rem;
}

.sauron {
    width: 300px;
}

.sauron2 {
    width: 400px;
    height: 250px;
}

/* 
button {
    width: 4rem;
    height: 2rem;
    border-radius: 5px;
} */



ul {
    display: flex;
}


a {
    border:1px solid white;
    padding: 1rem 2.5rem;
    color: inherit;
}

a:hover {
    background-color: black;
    color:white
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    gap: 5rem;
    margin-bottom: -5rem;
    background-color: antiquewhite;
}

main {
    display: flex;
    gap: 5rem;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    text-align: center;
    border: 1px solid black;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside ul li:nth-child(1) {
    margin-top: 2rem;
}

article {
    width: 500px;
    
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    padding: 10px;

}

footer h5 {
    font-size: larger;
}