* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #343f4b;
}

.text1 {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #0076a3;
  margin: 0;
}

.text2 {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  line-height: 56px;
  color: #ffffff;
  margin: 0;
}

.text3 {
  font-family: "roboto", sans-serif;
  /*text farkı, punto küçüldükçe çok farkediyor*/
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  /* color: #ffffff80; */
  line-height: 25px;
  padding: 9px 0;
  margin: 20px 0 16px;
  max-width: 500px;
  margin: auto;
}

.text10 {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 5px 0;
}

/*featureSpecs*/
.text20 {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  line-height: 28px;
}

/*NAVBAR*/
nav {
  background-color: #343f4b;
  display: flex;
  justify-content: center;
}

/* .display{
    display: flex;
    
} */
.container {
  width: 100%;
  /* background-color: yellow; */
  max-width: 1140px;
}

.navbar {
  /*Geçici responsive */
  flex-wrap: wrap;
  width: 100%;
  /* background-color: teal; */
  display: flex;
  justify-content: space-between;
}

.navbar > a {
  display: flex;
  align-items: center;
  /*Logonun konumunu kesinleştirdim */
  padding: 0px 12px;
}

.navbar a img {
  height: 28px;
}

.navbarLink {
  /*Geçici responsive */
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.navbarLink > li {
  /* margin: 0 20px; */
  padding: 10px 25px;
}

.navbarLink > li > a {
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
  color: #ffffff80;
}

.navbarLink > li > a:hover {
  color: white;
}

.navbarButton {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  /*button margin değerleri ile oynandı*/
  margin: 20px 15px 20px 35px;
  padding: 12px 30px;
  text-align: center;
  color: #183b56;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

nav .navbar-toggler {
  margin: 20px 20px 20px 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 20px;
  height: 1.5px;
  margin-bottom: 4px;
  background: #ffffff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .navbarLink {
  transform: translateY(0);
  z-index: 1;
}

input:checked ~ nav .navbar-toggler {
  margin-top: 15px;
}

/*HOME SECTION*/
.homeSection {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 450px) {
  .socialIcons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    bottom: 20%;
    color: #fff;
  }

  .socialIcons > a {
    transition: transform 0.5s ease;
  }

  .socialIcons > a:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }
}
@media screen and (max-width: 450px) {
  .socialIcons {
    display: none;
  }
}

.homeTitle {
  padding: 65px 30px;
  margin: 0 auto;
  max-width: 736px;
  text-align: center;
}

.homeTitle > i {
  color: white;
}

.homeBigTitle {
  margin: 5px 0 10px;
  font-size: 48px;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.homeBigText {
  font-size: 16px;
  max-width: 700px;
}

/*SERVICE SECTION*/
.serviceSection {
  background-color: #303841;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.serviceTitle {
  padding: 50px 10px;
  text-align: center;
}

.serviceCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cardContent {
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  transition: 0.3s ease-out;
  padding: 0 20px 10px 20px;
}

.cardContent:nth-child(2) {
  box-shadow: 0px 1px 1px 3px #2f373f;
}

.cardContent:hover {
  transition: 0.3s ease-out;
  background-color: #343f4b;
  box-shadow: 0px 1px 5px 0px #303841;
}

.cardIcon {
  background-image: url("https://themesdesign.in/styza/layout/images/service/bomb.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

.cardIcon > i {
  /*icon konumlandırması*/
  padding: 60px 40px 40px 40px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #0076a3;
}

.cardText {
  margin-top: 10px;
}

.cardText > a {
  text-decoration: none;
}
.phone-mockup {
  z-index: 1;
  margin-bottom: -20%;
}
.mockup-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: -1.5rem, -0.75rem, -0, 75rem, 0;
}
@media screen and (min-width: 450px) {
  .image-1 {
    flex: 0 0 auto;
    width: 25%;
    padding: 0, 0.75rem;
    max-width: 100%;
  }
  .image-2 {
    flex: 0 0 auto;
    width: 33%;
    padding: 0, 0.75rem;
    max-width: 100%;
  }
}
.phone {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*irem eklenenler*/
.video-container {
  border-radius: 50%;
  box-shadow: 0 0 0 0 #0076a3;
  margin-top: 1.5rem;
}
.watch-video {
  position: absolute;
  top: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.button {
  border-radius: 50rem;
  width: 4.5rem;
  padding: 20px;
  background-color: #0076a3;
}

/*FEATURE SECTIONS*/
.featureSection {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.featureTitle {
  padding: 50px 10px;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .watch-video {
    top: 195%;
  }
}

/****Feature Buttons****/
.featureButton {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.featureBtn {
  border: 1px solid #0076a3;
  color: #fff;
  padding: 13px 30px;
  margin: 0px 20px;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.featureBtn:nth-child(1) {
  background: linear-gradient(#2e8da5 0%, #114d64 100%);
  border: none;
}

.featureBtn {
  border: 1px solid #ffffff80;
  background-color: #343f4b;
}

/****Feature Elements****/
.featureElements {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Icon arka plan dairesi*/
.featureIcon {
  background-color: #314755;
  color: #0076a3;
  padding: 25px 15px;
  border-radius: 50%;
}

.elementSpace {
  margin: 50px 20px;
}

.elementLeft {
  margin: 50px 0px;
  text-align: right;
  /* flex-direction: row-reverse; */
}

.elementRight {
  margin: 50px 0px;
}

.elementMiddle {
  width: 40%;
}

.elementMiddle > img {
  width: 100%;
  /* margin: 0 !important; */
}

@media (max-width: 450px) {
  .navbarButton {
    display: none;
    position: absolute;
    top: 400px;
    z-index: 2;
  }

  .navbar {
    align-items: center;
    position: fixed;
    background-color: #343f4b;
  }

  nav .navbarLink {
    display: flex;
    flex-direction: column;
    background-color: #343f4b;
    position: absolute;
    width: 100%;
    height: 350px;
    margin: 30px 0;
    top: 17px;
    transform: translateY(-100%);
    z-index: -1;
    transition: 1s;
    left: -20px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }

  /*Service section responsivity*/
  .serviceCard {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
  .featureButton {
    text-align: center;
  }
  .featureElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .elementSpace {
    margin: 10px 0 0px 10px;
  }
  .elementSpace:nth-child(2) {
    margin: 50px 0 50px 10px;
  }
  .elementLeft {
    margin: 0;
    text-align: left;
  }
  .elementRight {
    margin: 0px 0px;
  }
  .elementMiddle {
    width: 100%;
    margin: 0;
  }
}
/*irem eklenenler*/
.freamPhone {
  display: flex;
  z-index: 9;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: absolute;
  margin-top: -20px;
}
.freame {
  max-width: 230px;
  height: auto;
}
.slıderImage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 1;
}
.slıderImage > img {
  margin-right: 50px;
  width: 183.2px;
  border-radius: 20px;
  height: 100%;
}
@media screen and (max-width: 450px) {
  .slıderImage {
    flex-direction: column;
    position: relative;
  }
  
  .slıderImage > img:nth-child(n + 2) {
    margin: 0 auto;
    display: none;
  }
  .freamPhone {
    display: none;
  }
  .teamBox {
    margin: 0 auto;
  }
}

.teamBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
}
.personal {
  display: flex;
}
.social-icons-horizontal {
  display: flex;
  flex-direction: row;
  left: 8%;
  bottom: 20%;
  color: #fff;
  margin-top: 0.5rem;
}
.social-icons-horizontal > a {
  margin: 0 0.5rem;
}
.social-icons-horizontal > a > img {
  color: #838485;
}
.personalText {
  font-family: "Poppins", sans-serif;
  position: absolute;
  margin-top: 45px;
  margin-left: -105px;
}
.personalText > h6 {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transform: rotate(270deg);
}
.title {
  color: #838485;
  font-size: 14px;
  font-weight: 400;
}
.personalImage {
  width: 190px;
  height: auto;
}
.personalImage > img {
  width: 100%;
  border-radius: 10px;
}
.personal-container {
  display: flex;
}
/*irem eklenenler*/
