@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto Slab', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8%;
  letter-spacing: 0.8px;

  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;

  height: 42px;


}

.container {
  width: 1140px;
}

.nav-container ul {
  display: flex;
}

.nav-links {
  display: flex;
  font-size: 12px;
  font-weight: 600;


}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;


}

.mobile-nav {
  display: none;
}

.nav-links1 {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;


}

.nav-links1 ul {
  gap: 10px;
}


.nav-links li a {
  margin: 0 2px;
  display: flex;
  align-items: center;

  color: rgb(214, 212, 212);
}

.nav-links1 li a:hover {
  color: #ffffff;
}

.nav-links1 li {
  margin: 0 6px;
}

.nav-links2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-links2 li a {
  background-color: rgb(214, 212, 212);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links2 li a:hover {
  background-color: #ffffff;

}

.nav-section {
  height: 800px;
  background-image: url(img/top.jpg);
  background-size: cover;




}

.slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(22, 28, 45, 0.75);
  opacity: 0.9;



}


.slider-container h4 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 24px;
  display: flex;

  align-items: center;

}

.slider-h4 {
  margin-top: 20px;
}

.slider-container p {
  max-width: 600px;
  font-size: 17px;
  opacity: 0.5;
}

.slider-container button {
  background-color: #ff5714;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 32px;
  cursor: pointer;

}

.slider-container button:hover {
  background-color: #f03405;
}



@keyframes cursor {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }

  90%,
  to {
    width: 0;
  }
}



.wrapper {
  text-decoration: underline #ffbf66;

}


.wrapper .text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;

}

.text li {
  list-style: none;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;

}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.text li span {
  position: relative;
  line-height: 10px;
  margin-left: 20px;


}

.text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 130%;
  width: 100%;
  background: #222732;
  animation: typing 3s steps(10) infinite;


}

@keyframes typing {

  40%,
  60% {
    left: calc(90% + 30px);
  }

  100% {
    left: 0;
  }
}


.companyStory {
  display: flex;
  background-color: #F8F9FC;
  align-items: center;
  justify-content: center;
  min-height: 726.156px;
  padding: 100px 0;
}

.companyStory-container {
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

}

.video {
  background: url("img/about.jpg");
  width: 451px;
  min-height: 526px;
  background-size: cover;
  border-radius: 10px;
  position: relative;

}

.play-icon {

  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
  left: 0;
  text-align: center;

}

.play-button {
  height: 78px;
  width: 78px;
  font-size: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
}

.play-button:hover {
  color: #FF5714;
}


.whoWeAre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;


}

.whoWeAre-container {
  display: flex;
  gap: 10px;

  justify-content: center;
  flex-direction: column;

}

.whoWeAre-container i {
  font-weight: 100;
  font-size: x-small;
}

.whoWeAre-container h6 {
  font-size: 15px;
  margin-bottom: 8px;
  color: #ff5714;
}

.whoWeAre-container h4 {
  font-size: 28px;
  margin-bottom: 24px;

}

.whoWeAre-container p {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 24px;
}

.whoWeAre-container button {
  background-color: #ff5714;
  color: white;
  border: 1px solid #ff5714;
  padding: 8px 20px;
  border-radius: 6px;
  margin: 16px 0 0;
  cursor: pointer;
  width: 130px;
  height: 40px;
  font-size: 15px;
}

.whoWeAre-container button:hover {
  background-color: #f03405;
  border: 1px solid #f03405;
  transition: ease-in;
}

.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;


}

.main-title div {
  width: 50%;
  display: flex;

  flex-direction: column;
}

.main-titleContent h6 {
  color: #ff5714;
  font-size: 15px;
  margin: 0 0 8px;


}

.main-titleContent h4 {
  font-size: 28px;
  margin: 0 0 24px;


}

.main-dataContent {
  font-size: 15px;
  opacity: 0.5;
  margin: 0 0 24px;
}


.main-cell {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;

}

.card {
  width: 30%;
  padding: 30px;
  background-color: #fffefe;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 314px;
}

.card:hover:nth-child(odd) {
  transition: 0.5s;
  box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card:nth-child(even) {
  box-shadow: 22px 24px 18px -10px rgba(0, 0, 0, 0.048), 0px 10px 15px -3px rgba(0, 0, 0, 0);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-content a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
}

.card-content a:hover {
  color: #f03405;
}

.card-content p {
  font-size: 15px;
  opacity: 0.5;
  margin: 0 0 8px;

}

.card-content button {
  font-size: 16px;
  font-weight: 400;
  width: 105px;
  height: 20px;
  display: flex;
  background-color: transparent;
  border: none;
  gap: 5px;
  color: #000;

}

/* .content-button:hover{color: #FF5714}; */

.cardbutton-underline {
  display: inline-block;
  position: relative;
  color: #000;
}

.cardbutton-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:
    #FF5714;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cardbutton-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;

}

.cardbutton-underline:hover {
  color: #FF5714;
}





.main-icon {
  width: 85px;
  height: 85px;
  background-color: #ffeee7;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;


}

.main-icon img {
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ff5714;
  border-radius: 10px;
}





.workProcess {
  width: 100%;
  min-height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.workProcess-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.workProcess-title h6 {
  color: #ff5714;
  font-size: 15px;
}

.workProcess-title h4 {
  font-size: 28px;
}



.workProcess-title p {
  width: 600px;
  text-align: center;
  font-size: 15px;
  color: rgba(88, 88, 88, 0.733);
}

.wpDesc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 50%;
  margin: auto;
}

.card-wrap {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  margin: 50px 0;
}

.strategy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strategy-img {
  width: 50%;
  display: flex;
  text-align: center;

}

.img-end {
  display: flex;
  justify-content: flex-end;
}

.strategy-svg {
  width: 250px;
  min-height: 250px;
}

.timeLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.timeLine::after {
  content: "";
  width: 2px;
  flex: 1;
  background: repeating-linear-gradient(#b8b9b9 0 2px, transparent 9px 11px);
}

.dot-border {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px dashed #b8b9b9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeLine-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5714;
}

.strategy-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: center;

}

.strategy-content h6 {

  font-size: 18px;
}

.strategy-content p {
  font-size: 15px;
  color: #8492a6;
}

.strategy-right {
  display: flex;


}

.strategy-left {
  display: flex;

  text-align: end;
}

.strategy-reverse {
  display: flex;
  flex-direction: row-reverse;
}

/* dashed */
.portfolio {
  height: 100%;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

}

.portfolio-header {
  background-color: #f8f9fc;
  color: black;
  padding: 20px;
  text-align: center;

}

.portfolio-header h6 {
  color: #ff5714;
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 8px;

}

.portfolio-header h4 {

  font-weight: 600;
  font-size: 28px;
  margin: 0 0 16px;

}

.portfolio-header p {

  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(132, 146, 166);
  text-align: center;

  color: #8492a6;
  margin: auto;
  margin: 0 258px;
}

.portfolio-images {

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;




}

.portfolio-image-container {
  position: relative;
  padding: 10px;
  padding-top: 0.5rem;
  margin-top: 1.5rem;

}

.portfolio-image-card {
  border-radius: 5px;
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
}

.portfolio-image {
  width: 265px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 20px 0px;
  border-radius: 5px;
}


.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.info h1 {
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 20px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.info p {
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}

.info a {
  color: #fff;
  background: #ff5714;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  opacity: 0;
  position: relative;
  transition: all 0.3s ease-out 0.4s;
}

.info a:hover {
  background: rgb(177, 73, 3);
}

.portfolio-image:hover img {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.5s ease;
}

.portfolio-image:hover .overlay-work {
  transition: all 0.5s ease;
  opacity: 0.65;
}

.portfolio-image:hover .icons {
  transition: all 0.5s ease;
  opacity: 1;
}

.portfolio-image .icons {
  top: 20px;
  right: 20px;
  z-index: 2;
  opacity: 0;
  position: absolute;
}

.portfolio-image .icons a {
  text-align: center;
  background-color: #ff5714;
  border: 1px solid #ff5714;
  color: #fff;
  box-shadow: 0 3px 5px 0 rgb(255 87 20 / 10%);
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 30px;
}

.portfolio-image:hover .portfolio-content {
  transition: all 0.5s ease;
  opacity: 1;
}

.portfolio-content a,
.portfolio-content p {
  color: #f8f9fc;
}

.portfolio-content {
  bottom: 20px;
  left: 20px;
  z-index: 1;
  opacity: 0;
  position: absolute;
}

.portfolio-image img {
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.portfolio-image .overlay-work {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  position: absolute;
  background-color: #24272c;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.portfolio-image:hover .info p {
  opacity: 1;
}

.portfolio-image:hover .info a {
  opacity: 1;
}

.portfolio-images img {
  width: 260px;
  height: auto;

  max-width: 100%;
  display: block;
}

.get-started {
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  background-repeat: no-repeat;

  height: 380px;
  box-shadow: inset 0 0 0 200rem rgba(0, 0, 0, 0.5);
}

.get-started-container {
  background-color: rgba(22, 28, 45, 0.532);
  height: 100%;
  opacity: .9;


}

.get-started-body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

}

.get-started h4 {
  font-weight: 600;
  font-size: 28px;
  color: white;
  margin: 0 0 16px;
  width: 630px;
  letter-spacing: 1.9px;

}

.get-started p {

  color: #8492a6;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  width: 600px;

}

.get-started button {
  padding: 8px 25px;
  border-radius: 6px;
  background-color: #ff5714;
  border: 1px solid #ff5714;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 20px;

}


.plans-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 850px;
  margin: 0 auto;

}

.plans-container {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.plans-header {
  text-align: center;
  padding: 20px;
  font-family: 'Roboto Slab', serif;


}

.plans-header h6 {
  color: #ff5714;

  font-size: 15px;
  margin: 0 0 8px;

}

.plans-header h4 {

  font-weight: 600;
  font-size: 28px;
  margin: 0 0 32px;
}

.plans-header p {


  font-size: 15px;
  line-height: 24px;
  text-align: center;
  max-width: 600px;
  color: #8492a6;
  margin: 0 258px;
}

.plans {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
  align-items: center;
  width: 100%;



}

.plan {

  width: 358px;
  padding: 48px 24px;
  background-color: #fffefe;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 429px;
  border: 1px solid #a4a4a458;


}

.plan:hover {
  box-shadow: 0 5px 13px rgb(36 39 44 / 20%);
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.plan-body {
  padding-left: 20px;
}

.plan-header {
  padding-left: 20px;
}

.plan-body ul {
  list-style-type: none;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(132, 146, 166);
  color: #8492a6;

}

.plan-body ul li {
  margin: 10px 0;

}

.plan-footer {
  display: flex;
  justify-content: center;
}

.plan-footer button {

  width: 100%;
  display: block;
  color: #ff5714;
  background-color: rgba(255, 87, 20, 0.1);
  border: 1px solid rgba(255, 87, 20, 0.1);
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.plan-footer button:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.479);
  opacity: .5;
  background-color: #ff5714;
}


.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fc;
  height: 950px;
  width: 100%;
}

.our-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 80%;
}

.our-team-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.our-team-header h6 {
  color: #ff5714;

  font-size: 15px;
  margin: 0 0 8px;
}

.our-team-header h4 {

  font-weight: 600;
  font-size: 28px;
  margin: 0 0 16px;
}

.our-team-header p {

  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(132, 146, 166);
  text-align: center;
  max-width: 600px;
  color: #8492a6;
  margin: auto;
}

.our-teamContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  gap: 24px;
  margin-top: 50px;



}

.team-member {
  position: relative;
  text-align: center;
  border-radius: 10px;


}

.team-member-info {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.5s;
  border-radius: 5px;
  height: 70px;
  opacity: 0;
  width: 240px;
  margin-left: 12px;
  text-align: center;



}

.team-member-info h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.team-member-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;


}


.team-member-icons li {
  margin-bottom: 10px;
  background-color: #ff5714;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;


}

.team-member-icons li:hover {
  background-color: #b93906;
}

.team-member:hover .team-member-icons {
  opacity: 1;
  right: 20px;
  transition: .7s;
  cursor: pointer;
}

.team-member:hover .team-member-info {
  bottom: 80px;
  opacity: 1;
  box-shadow: 0px -19px 24px 28px rgba(0, 0, 0, 0.3);

}

.team-member-icons svg {
  width: 15px;
  height: 15px;
}

.team-member-icons a:visited {
  color: white;
}



.team-member-image img {
  width: 267px;
  border-radius: 10px;
  height: 263px;
  border: 1px solid #a4a4a458;

}



.team-member-image {
  border-radius: 10px;
}

.our-teams-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 70px;


}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 260px;


}

.projects h3 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 16px;

}

.projects h6 {
  font-size: 15px;
  margin: 0 0 8px;
  color: #8d97a2;
  font-weight: 100;
}

.logos-container {
  background-color: #f8f9fc;
  height: 100%;
  width: 1140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;


}

.logos {
  display: flex;


}

.logos img {
  width: 45%;
  color: #000000;

}

.logos div {
  display: flex;
  justify-content: space-around;

}

/* blogs */

.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;


}

.blogs-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 50px;


}

.blogs-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogs-Title h6 {
  color: #ff5714;
  font-size: 15px;
  margin: 0 0 8px;
}

.blogs-Title h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 16px;
}

.blogs-Title p {
  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(132, 146, 166);
  text-align: center;
  max-width: 600px;
  color: #8492a6;
  margin: auto;
}

.blogs-cards {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-basis: 30.3%;
  gap: 20px;




}

.blogsCard-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 430px;


  border: 1px solid #c7c7c759;
  border-radius: 10px;
}

.blogsCard-image img {

  display: flex;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}

.blogs-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.blogsCard-info {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
  gap: 25px;
}

.blogsCard-info button {
  font-size: 16px;
  font-weight: 400;
  width: 105px;
  height: 20px;
  display: flex;
  background-color: transparent;
  border: none;
  gap: 5px;
  color: #000;
}

.blogsCard-info button:hover {
  color: #ff5714;
}

.blogsCard-info a {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin: 0 0 8px;
}

.blogsCard-info a:hover {
  color: #ff5714;
}

.blogsCard-info p {
  color: #778496;
  font-size: 15px;
  font-weight: lighter;
}



/* contact */
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FC;
  padding: 100px 0;

  font-family: "Roboto Slab", serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.contactTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 24px;

}

.contactTop h6 {
  color: #FF5714;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 8px;
}

.contactTop h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 28px;
}

.contactParagraph {
  max-width: 600px;
  display: flex;
  margin: auto;
  text-align: center;
  color: #8492a6;
}

.contactMain {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
}

.message {
  width: 760px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 12px 0 12px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.nameEmail {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  text-align: start;

}

.nameEmail input {

  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
  height: 40px;



}

.nameEmail button {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.top-input {
  width: 100%;
  display: flex;
  gap: 30px;
}

.top-input input {
  width: 55%;
}


input:focus,
textarea:focus {
  outline: #E04000 solid 1px;
}

.subject {

  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.textarea {

  border: 1px solid #DEE2e6;
  border-radius: 5px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  min-height: 30px;
  height: 127px;
  resize: vertical;
}

.formButton {
  width: 90%;

  margin-bottom: 1.5rem;


}

.formButton button {
  background-color: #FF572A;
  color: #FFFFFF;
  border: 1px #FF572A solid;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all .3s ease;
  cursor: pointer;



}

.formButton>button:hover {
  background-color: #d54106;
  transition: all .3s ease;
}

.form-aside {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 1rem;
  flex-wrap: wrap;
  padding: 5%;
}

.formAside-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10%;
}

.aside-Icon {
  text-align: start;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
}

.aside-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside-content h5 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 0;
}

.aside-content p,
.aside-content a {
  color: #8492a6;
  text-decoration: none;
  text-align: left;
}

.form-aside a:hover {
  color: #778496;
}


footer {
  background-color: #212842;
  height: 80px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;


}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: #A0B4BC;
  text-align: center;
  align-items: center;



}

.footer-social {
  width: 120px;
  display: flex;
  justify-content: space-between;
  gap: 10px;


}

.footer-social a {
  color: #A0B4BC;
  width: 32px;
  height: 32px;
  border: 1px solid #a0b4bc7e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.footer-social a:hover {
  background-color: #FF5714;
  transition: 0.3s;
  color: white;
}

.footer-social svg {
  width: 16px;
  height: 16px;
}

.back-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #FF572A;
  border: 5px solid #FF572A;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.back-button a:visited {
  color: white;
}





/* mediamediamediamedia */

@media only screen and (max-width: 1400px) {
  .container {
    width: 1140px;

  }

}

@media only screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }

  .nav-links {
    justify-content: center;
  }


  .slider-p {
    width: 100%;
    font-size: 20px;
    color: #788490;
    letter-spacing: 1px;
  }

  .slider-container h2 {
    font-size: 35px;
  }

  .slider-button {
    color: white;
    background-color: #FF5714;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    margin-top: 18px;
  }


}

@media only screen and (max-width: 992px) {
  .container {
    width: 960px;
  }

  .nav-links {
    display: none;
  }

  .logo {
    display: none;
  }

  .mobile-nav {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .slider-p {
    width: 100%;
    font-size: 18px;
    color: #788490;
    letter-spacing: 1px;
  }

  .slider-container h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 720px;
  }

  .nav-section {
    background: url("img/1.jpg");
    height: 60vh;
    background-size: cover;

  }

  .slider {
    display: block;
    background-color: rgba(22, 28, 45, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
  }

  .slider-p {
    width: 100%;
    font-size: 12px;
    color: #788490;
    letter-spacing: 1px;
  }

  .slider-container h2 {
    font-size: 25px;
  }

  .slider-button {
    color: white;
    background-color: #FF5714;
    border: none;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    font-size: 12px;
    margin-top: 18px;
  }

  .slider-container {

    top: 22%;
    left: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 540px;
  }
}

/*gizem */

@media only screen and (max-width: 768px) {
  .portfolio-header p {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .portfolio-image-container,
  .portfolio-image-card,
  .portfolio-image,
  .portfolio-image-container img {
    width: 95% !important;
    height: 95% !important;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .plans {

    align-items: center;
    display: flex;
    justify-content: center;
  }

  .plans-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .plans-header p {
    width: 100% !important;

    margin: 0 !important;
  }



}

@media only screen and (min-width: 770px) and (max-width: 1000px) {
  .portfolio-header p {
    width: 70% !important;

    text-align: center;

  }

  .portfolio-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-image-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .portfolio-image-container,
  .portfolio-image-card,
  .portfolio-image,
  .portfolio-image-container img {

    align-items: center;
    display: flex;
    justify-content: center;
  }

  .plans {
    width: 80%;
    align-items: left;
    display: flex;
    justify-content: left;
  }

  .plans-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .plans-header p {
    width: 100%;
    text-align: center;


  }




}