* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header.py-5 {
    padding: 8em 0 !important;
}

header {
    h3 {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 500;

    }
}

/*guzin */
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-title{
    h3{
        font-size: 36px;
    color: #222222;
    font-weight: 500;
    margin-bottom:15px;
    }
    p{
        font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #777777;
    margin-bottom: 0px;
    max-width: 570px;
    font-weight: 300;
    margin: auto;
    }
}
.price-text {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 45px;
    position: relative;
    h2{
        margin-bottom: 40px;
    }
    h3{
        font-size: 20px;
        color: #222222;
        margin-bottom: 12px;
        font-weight: 500;
    }
    h5{
        font-size: 14px;
    color: #777777;
    font-weight: 300;
    margin-bottom: 20px;
}
span{
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

a{
    color: #777777 !important;
    font-size: 14px;
}
    }


.inner {
    box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.1);
    border-radius: 10px;
    .item:hover {
        .price-text {
            h2 {
                color: $danger;
            }
        }
        .price_btn {
            opacity: 1;
        }
        .border {
            opacity: 1;
        }
    }

    .price-text::before {
        content: "";
        width: 1px;
        background: #eeeeee;
        height: 336px;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}
.price_btn {
    display: block;
    text-align: center;
    background: #6247ea;
    line-height: 30px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    opacity: 0;
    margin-bottom: -50px;
}

.price_btn:hover {
    opacity: 1;
}

.border {
    border-top: 2px solid $danger !important;
    opacity: 0;
}

.price-area {
    background-color: #fafcff;

    .item {
        background-color: #fff;
    }
}

/* logo */
.logo-area {
    .item {
        opacity: .5;
    }

    .item:hover {
        opacity: 1;
    }
}