// acordion items for filter area
$accordion-button-focus-box-shadow: none;
$accordion-button-focus-border-color: none;
$accordion-border-color: none;
$accordion-button-bg: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: black;
