*{
  padding: 0;
}
img{
  width: 100%;
}
.imgClass{
  margin-top: 20px;
}

.wrapperImgClass{
width: 250px !important;
  height: 300px;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  left: 28%;
  top:25%;
}
.container{
  background-image: url(../../assets/card.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 275px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textItem{
font-size: 9px;
padding: 3px;
text-transform: capitalize;
}

.PokeDetailHeader{
  display: flex;
  margin-top: 50px;
}
.StatContent{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.StatText{
  font-weight: bolder;
  font-size: 10px;
  text-decoration: unde;
}
.d-flex{
  display: flex;
}
.statArea{
  margin-top: 5px;
  align-items: center;
}
.mainCardDetail{
  text-align: center;
  padding-top: 1rem;
  align-items: center;  
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.typeContent{
  font-size: 9px;
}
