:root {
  --white-bg: #fff;
  --blue-bg: #bee1e6;
  --blue-bg2: #ebecf4;
  --darkblue-bg: #101828;
  --green-bg: #006d77;
  --pink-bg: #fff3ea;
  --ecf-bg: #cbd1e5;
  --gray-bg: #f2f4f7;

  --green-text: #006d77;
  --gray-text: #667085;
  --gray-text2: #475467;
  --gray-text3: #98a2b3;
  --gray-text4: #f2f4f7;
  --darkblue-text: #101828;

  --green-icon: #006d77;
}
p {
  color: var(--gray-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkblue-text);
}
.container {
  padding: 0 12px;
}
