@media (min-width: 576px) {
  .container {
    max-width: 540px;
}
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
}
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
}
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
}
}

@media (min-width:1620px) {
  .top-menu .container {
    max-width: 1620px;
  }
  .main-menu .container { 
    max-width: 1620px;
  }
}

@media (max-width: 768px) {
  .top-menu {
    display: none;
  }
}
@media (max-width: 992px) {
  .banner-image {
    display: none;
  }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


