body {
    background-color: #e0d7f8;
  }
  aside .accordion {
    background-color: #8e7cc3;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden; 
  }
  
  aside .accordion-button, 
  aside .accordion-body {
    background-color: #8e7cc3;
    color: #ffffff;
  }
  

  #filterAccordion {
    display: flex;
    flex-direction: column;
  }  

  button.btn-primary {
    background-color: #3c0eb3;
    border-color: #3c0eb3;
    color: #ffffff;
  }
  
  button.btn-danger {
    background-color: #6a329f;
    border-color: #6a329f;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 2rem;
    color: #fff;
    background: linear-gradient(-45deg, #6a329f, #3c0eb3, #6a329f, #3c0eb3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  
  .banner-img {
    position: absolute;
    bottom: 0;
    width: 150px; 
    height: auto;
  }
  
  .banner h1 {
    margin-bottom: 1rem;
  }
  
  .banner-text {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 85px;
  }
  
  .book-color {
    color: #ff00aa;
  }

  #modal-header-image {
    background: url('./boy.jpg') no-repeat center center;
    background-size: cover; 
    color: white;  
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    height: 110px;
  }
  
  .modal-body {
    align-items: flex-start;
  }
  
  .modal-form {
    flex-grow: 1; 
  }

  .cover-img {
    width: 50px; 
    height: auto;
  }
  
  #coverModal .modal-body {
    text-align: center;
  }
  
  #coverModal .modal-body img {
    max-width: 100%;
    height: auto;
  }
  
  