*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(25, 33, 153);
    
}

header{
    border-bottom: 3px solid white;
}

.books{
    border:10px inset brown;
    .card-img-top{
        border-bottom: 3px solid brown;
        height:16rem;
    }
}

.add-btn{
    height:3rem;
}
