.counter-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  
  .counter {
    display: flex;
    max-width: min-content;
    align-items: center;
    margin: 16px 0;

  }
  
  .count-button {
    background-color: transparent;
    border: 1px solid #003459;
    border-radius: 0;
    width: 40px;
    transition: all 0.3s ease-out;
  }
  
  .dec {
    border-radius: 25% 0 0 25%;
  }
  
  .inc {
    border-radius: 0 25% 25% 0;
  }
  
  .count-button:hover {
    background-color: #003459;
    color: white;
  }
  
  .count-button:disabled {
    background-color: gainsboro;
    color: #ebeeef;
  }
  
  .input {
    width: 50px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid #003459;
    border-bottom: 1px solid #003459;
  }