@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap%27");

* {
  font-family: "Nunito", sans-serif;
}
header {
  position: relative;
}
p {
  color: #808080;
}
.header-info {
  h1 {
    font-size: 32px;
    width: 90%;
    font-weight: 700;
  }
  p {
    color: #6c757d;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7em;
  }
  button {
    padding: 13px 40px;
    background: #4285f4;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-3px);
      background: #4285f4;
      color: #fff;
      box-shadow: 0 0 20px 0 #4286f457;
    }
  }
}
.card-features {
  margin-top: 5em;
}
.card-features-info {
  h2 {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 15px;
  }
  p {
    font-size: 20px;
  }
}
.card {
  background: #f1f1f1;
  border: none;
  position: relative;
  transition: 0.3s all ease;
  a {
    color: #4285f4;
    text-decoration: none;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  span {
    position: absolute;
    top: -40px;
    right: 40%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #4285f4;
    color: #fff;
    i {
      font-size: 32px;
    }
  }
  &:hover {
    transform: translateY(-5px);
    background: #4285f4;

    h3,
    p,
    a {
      color: #fff;
    }
    span {
      background-color: #fff;
      color: #4285f4;
      box-shadow: 0 0 20px 0 #4285f450;
    }
  }
}
// Commucaiton section
.communicate-section {
  margin-top: 7rem;
  .commu-text {
    margin-top: 5rem;
  }
}

.card-commu-body {
  border-left: 0.5em solid #4285f4;
  blockquote {
    @extend p;
    font-style: italic;
  }
}

.commu-header {
  div {
    img {
      height: 50px;
      width: 50px;
    }
  }
}

// Custom Variables
$primary: #4285f4;

//Ezmeler
.disabled-pc {
  display: block;
}
.disabled-mobile {
  display: none;
}
nav {
  a.navbar-brand {
    font-size: 32px !important;
    span {
      color: $primary;
    }
  }
  .navbar-toggler {
    border: unset;
  }
  a {
    &:hover {
      color: $primary !important;
    }
  }
}
.offcanvas {
  width: 90vw !important;
  padding-left: 1em;
}
.offcanvas-header {
  padding: 3em 2em 0 0 !important;
  .btn-close {
    margin-left: auto;
  }
}
.nav-item {
  .accordion-item {
    border: unset !important;
    box-shadow: unset !important;
    .accordion-header {
      position: unset;
      display: flex;
      align-items: center;
      width: unset;
      font-size: 0.5rem !important;
      color: var(--bs-accordion-btn-color);
      text-align: unset;
      background-color: unset !important;
      border: unset !important;
      border-radius: unset;
      overflow-anchor: none;
      transition: var(--bs-accordion-transition);
      a {
        font-size: 20px;
        flex: 2;
      }
      .accordion-button {
        background: unset;
        box-shadow: unset;
        flex: 1;
        padding: 0;
      }
    }
  }
}
.nav-link {
  font-size: 20px !important;
}
.accordion-body {
  padding-left: 0 !important;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
.accordion-link {
  padding: 0 !important;
  list-style: none !important;
  a {
    text-decoration: none;
    color: unset;
    color: #808080;
  }
}
#menu-2-link {
  font-weight: unset;
  font-size: 16px !important;
}

// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
