@media screen and (min-width: 990px) {
  header {
    height: 100vh;
    height: 100dvh;
    padding: 5em 0;
  }
  .header-info {
    align-self: center;
    h1 {
      font-size: 56px;
      width: 100%;
      font-weight: 700;
    }
    p {
      color: #6c757d;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.7em;
    }
    button {
      padding: 13px 40px;
      background: #4285f4;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-3px);
        background: #4285f4;
        color: #fff;
        box-shadow: 0 0 20px 0 #4286f457;
      }
    }
  }
  .card-features {
    margin-top: unset;
  }
  .card-features-info {
    h2 {
      font-size: 40px;
    }
  }
  .commu-text {
    padding-right: 3em !important;
  }
}
