@media screen and (min-width: 990px) {
  .container {
    padding: 0 5em !important;
  }
  header {
    height: 100vh;
    height: 100dvh;
    padding: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-info {
    align-self: center;
    h1 {
      font-size: 56px;
      width: 100%;
      font-weight: 700;
    }
    p {
      color: #6c757d;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.7em;
    }
    button {
      padding: 13px 40px;
      background: #4285f4;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-3px);
        background: #4285f4;
        color: #fff;
        box-shadow: 0 0 20px 0 #4286f457;
      }
    }
  }
  .card-features {
    margin-top: unset;
  }
  .card-features-info {
    h2 {
      font-size: 40px;
    }
  }
  .commu-text {
    padding-right: 3em !important;
  }
  .card-features .card {
    span {
      right: 40%;
    }
  }
  // About Us
  .about-us {
    padding: 7em 0;
  }

  .our-headline {
    font-weight: 700;
    color: #000;
    font-size: 28px;
  }

  .center-headline {
    @extend .our-headline;
    font-size: 40px;
  }

  // Contact Us
  .contact-us {
    padding: 5em 0;
  }

  //Ezmeler
  :is(.btn-group, .dm-1):hover .dm-1 {
    display: block;
    position: absolute;
    top: 40px;
  }
  :is(.dropend, .dm-2):hover .dm-2 {
    display: block;
    position: absolute;
    top: 10px;
  }
  .disabled-pc {
    display: none;
  }
  .disabled-mobile {
    display: block;
    .btn-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }
    .btn-group.dropend {
      width: 100%;
    }
    button {
      background-color: unset !important;
      border: unset !important;
      color: #000 !important;
      padding: 0 0 0 0 !important;
      width: 30px;
    }
  }
  .dropdown-item {
    list-style: none !important;
    flex: 1;
    a {
      width: 100%;
      text-decoration: none;
      color: unset;
      color: #808080;
    }
  }
  .dropdown-menu {
    position: absolute;
    padding: 1em;
    border: unset;
    border-radius: 0;
    border-top: 3px solid #4285f4;
    width: fit-content;
    box-shadow: 0 0 10px 0 #0000001a;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      position: relative;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
  .dropend {
    .dropdown-menu {
      left: 150px;
    }
  }
  .menu-link {
    color: #808080;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar-nav {
    gap: 2em;
  }

  // Our Team Section
  .our-team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 40px;
    }
    p {
      width: 50%;
    }
  }
  .our-team {
    .card-container {
      justify-content: space-between;
      gap: 2em;
      .card {
        width: 31%;
      }
    }
  }
}
