* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #667085;
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

nav {
  position: relative;
}

.heading {
  font-family: 'Chivo', sans-serif;
  color: black;
}

nav .container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 2%;
  place-items: center;
  place-content: center;
}

.menu-list {
  display: flex;
  gap: 3rem;
}

.logo {
  width: 150px;
}

.menu-list .menu-item {
  color: #101828;
  font-size: 18px;
}

.text {
  color: #475467;
}

.tag {
  border-radius: 50px;
  padding: 14px 28px;
  color: #e29578;
  font-size: 14px;
  line-height: 14px;
  font-family: Chivo, sans-serif;
  display: inline-block;
  color: #006d77;
  background-color: #bee1e6;
  align-self: flex-start
}

.get-started a,
.get-started i {
  transition: 0.4s all;

}

.get-started a {
  color: #fff;
  background-color: #101828;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-family: Chivo, sans-serif;
  padding: 22px 32px;

}


.get-started.white a,
.get-started.white i {
  color: #101828;
  background-color: #f2f4f7;
  border-radius: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.get-started i {
  margin-left: 15px;
}

.get-started.white:hover a,
.get-started.white:hover i {
  color: #fff;
  background-color: #101828;
}

.get-started:hover a,
.get-started:hover i {
  color: #101828;
  background-color: #f2f4f7;
}

.burger-menu {
  position: absolute;
  right: 27px;
  top: 45px;
}

.hero {
  background: #bee1e6;
  padding: 60px 0 20px;
}

.hero .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero-left>.text {
  font-size: 24px;
  line-height: 32px;
}

.hero-left .tag {
  align-self: flex-start;
  color: white;
  background-color: #006d77;
}

.hero-btns {
  display: flex;
  gap: 2rem;
}

.stats {
  display: flex;
  gap: 7rem;
}

.hero-right {
  position: relative;
}

.hero-right .main-img {
  animation: hero-main 3s infinite;
}

@keyframes hero-main {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(20px);
  }

  100% {
      transform: translateY(0);
  }
}


.mini-img {
  position: absolute;
}

.mini-img img {
  border-radius: 10px;
}

.hero-right .mini-img.one {
  width: 155px;
  height: 170px;
  top: 15%;
  right: -80px;
  animation: hero-mini1 4s infinite;
}

@keyframes hero-mini1 {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(40px);
  }

  100% {
      transform: translateY(0);
  }
}

.hero-right .mini-img.two {
  width: 220px;
  height: 260px;
  bottom: 20px;
  left: -70px;

  animation: hero-mini2 4s infinite;
}

@keyframes hero-mini2 {
  0% {
      transform: translateX(0);
  }

  50% {
      transform: translateX(20px);
  }

  100% {
      transform: translateX(0);
  }
}

h2.heading {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0;
}

h4.heading {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 15px;
}

.companies .heading {
  text-align: center;
  font-size: 35px;
  margin: 60px 0;
  line-height: 38px;
}

.companies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.company {
  display: inline-block;
  width: 18%;
  margin-bottom: 30px;
  transition: 0.4s all;
  cursor: pointer;
}

.company:hover {
  box-shadow: 0 47px 65px rgba(21, 28, 38, .1);
  scale: 1.01;
}

.fresh {
  margin: 5rem 0;
}

.fresh .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.fresh .main-img {
  width: 90%;
  padding-right: 30px;
}

.fresh-left {
  position: relative;
}

.fresh-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text.large {
  font-size: 24px;
}

.text.mid {
  font-size: 18px;
}

.fresh-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-img img {
  border-radius: 16px;
}

.fresh .mini-img {
  position: absolute;
  width: 270px;
  height: 204px;
  right: 30px;
  bottom: 50px;
  box-shadow: 0 47px 65px rgba(21, 28, 38, .1);
}

.fresh-element {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.fresh-element i {
  color: black;
}

.fresh-element-icon {
  background-color: #e4e7ec;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
}

.discover {
  text-align: center;
}

.discover-txt {
  width: 66%;
  margin: 0 auto;
}

.discover-txt .heading {
  margin-bottom: 40px;
}

.text.small {
  font-size: 14px;
}

.discover-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 90px;
}

.discover-img {
  max-width: 500px;
  max-height: 390px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 23px 19px;
  transform: translateY(50px);
}


.discover-card {
  padding: 55px 50px 0;
  border-radius: 15px;
  transition: 0.4s all;
}

.discover-card:hover {
  transform: translateY(-10px);
}

.discover-card:nth-child(1) {
  background: #fff3ea;
}

.discover-card:nth-child(2) {
  background: #bee1e6;
}

.discover-img.two {
  background: #cbd1e5;
}

.discover-img.one {
  background: #ebecf4;
}

.built {
  margin-top: 100px;
}

.built .discover-txt {
  text-align: center;
}

.built-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 3rem;
}


.built .fresh-element-icon {
  padding: 20px 15px;
}

/* --___________________-- */

.fresh .from-container {
  margin-top: 120px;
}

.fresh .from {
  bottom: 150px;
  right: -30px;
  width: 313px;
}

.from-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  gap: 3rem;
  border-top: #006d77 4px dotted;
}

.from-list .heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0;
}

.icon-leaf {
  background: url("https://agon-nextjs-13.vercel.app/_next/static/media/icon-leaf.f2afd49a.svg") no-repeat 0 2px;
  padding: 0 0 0 28px;
}

.customer img {
  width: 80px;
}


/* .customers h2.heading {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
} */

.customers-cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.customer {
  width: 40%;
  background-color: #FFFFFF;
  padding: 53px 48px;
  box-shadow: inset 0 40px 80px #fcfcfc;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s all;
  gap: 2rem;
}

.customer-info {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.customer:hover {
  transform: translateY(-10px);
}

.cont {
  max-width: 1300px;
  background-color: #f2f4f7;
  padding: 80px;
  border-radius: 58px;
}

.footer-top {
  display: flex;
  justify-content: space-between;

}

.footer-top .logo,
.footer-top-txt {
  margin: 2rem 0;
}

.footer-top-txt {
  display: flex;
  gap: 1rem;
}

h6.heading {
  font-size: 18px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-box {
  padding: 1rem;
  width: 15%;
}

.footer-element {
  margin-top: 1rem;
  transition: 0.5s all;
}

.plan-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.plan-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px 1.5rem;
  border-radius: 15px;
  gap: 2rem;
  border: 1px solid #d0d5dd;
}

.plan-card:hover {
  transform: translateY(-10px);
  background-color: #006d77;
}

.plan-card:hover .text,
.plan-card:hover .heading {
  color: white;
}

.plan-card:hover .fresh-element-icon i {
  color: #e29578;
}

.plan-card:nth-child(2) {
  background-color: #006d77;
}

.plan-card:nth-child(2) .heading,
.plan-card:nth-child(2) .text {
  color: #fff;
}

h5.heading {
  font-size: 22px;
}

.plan-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plans .fresh-element-icon {
  background: none;
}

.plans .fresh-element-icon i {
  color: #006d77;
}

.plan-card:nth-child(2) .fresh-element-icon i {
  color: #e29578;
}

.plans .get-started {
  margin-top: 1rem;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.plans .get-started a {
  width: 100%;
}

.sub-left {
  position: relative;
}

.sub-left input {
  padding: 11px 12px;
  margin-top: 30px;
  border-radius: 55px;
  border: none;
  width: 90%;
  min-height: 50px;
  line-height: 28px;
  outline: none;
}

.input-icon {
  position: absolute;
  background: #006d77;
  padding: 10px;
  top: 75%;
  right: 10%;
  border-radius: 50%;
}

.input-icon i {
  color: white;
}

.sub-right {
  position: relative;
}

.sub-right .main-img {
  position: absolute;
  max-width: 332px;
}

.sub-right .mini-img {
  top: 65%;
  left: 30px;
  max-width: 255px;
  height: 194px;
  animation: mini-sub 4s infinite;
}

@keyframes mini-sub {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }
}

.sub-imgs {
  display: flex;
  justify-content: flex-end;
}

.cont-sub {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: #bee1e6;
  padding: 52px 74px;
  padding-bottom: 102px;
  border-radius: 18px;
  max-width: 75%;
  margin: 0 auto;
}

section {
  margin: 100px 0;
}

.hero {
  margin-top: 0;
}

li.footer-element:hover a {
  color: #006d77;
}

li.footer-element:hover {
  transform: translateX(10px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-bottom-txt {
  display: flex;
  gap: 3rem;
}

.bottom-list {
  display: flex;
  gap: 3rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.social {
  background: #006d77;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s all;
  cursor: pointer;
}

.social:hover {
  background: #006d7791;
  transform: translateY(-10px);
}

.social i {
  color: white;
  width: 20px;
  height: 20px;
  transform: translateY(30%);
}

@media screen  and (max-width:1200px){
  .menu{
      display: none;
  }
  nav .get-started{
      display: none;
  }
}

@media screen  and (max-width:768px){
  .burger-menu {
      top: 15px;
  }
  .hero-right{
      display: none;
  }
  .hero .container {
      grid-template-columns: 1fr;
  }
  h2.heading{
      font-size: 35px;
      line-height: 42px;
  }
  .stats {
      gap: 1rem;
  }
  .company {
      width: 25%;
  }
  .fresh .container {
      grid-template-columns: 1fr;
      place-items: center;
  }
  .fresh .main-img{
      padding-right: 0;
      width: 100%;
  }
  .fresh .mini-img{
      right: 0;
      bottom: -20px;
  }
  .from-list{
      grid-template-columns: 1fr;
  }
  .discover-txt {
      width: 100%;
  }
  .mini-img.from{
      bottom: 80px;
  }
  .customer{
      width: 100%;
  }

  
  .discover-img.one, .discover-img.two{
      transform: translateY(0);
  }
}