body {
  background: url("https://images-ext-2.discordapp.net/external/VRoEi_y1uJv52TgyeUGSUxGsEWem1ibCGWXhcv4EYJ0/%3Fixlib%3Drb-1.2.1%26ixid%3DeyJhcHBfaWQiOjEyMDd9/https/images.unsplash.com/photo-1428908728789-d2de25dbd4e2?width=993&height=662");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
