*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #dcf4ef!important;
}
nav{
    width: 100%;
    height: 100px;
}
h1{
    font-family: 'Pacifico', cursive;
}
.container {
    position: relative;
  }
  
  .search-container {
    position: absolute;
    top: 0;
    right: 0;
  }
 h2, h3 {
    font-family: Raleway, Helvetica, sans-serif;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .text{
    
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 0;
    right: 0;
  }
  .paragraf{
    display:flex;
  }
  @media (max-width: 768px) {
    .paragraf{
        display:none;
      }
  }

  .padded {
    padding: 100px 0;
    background-color: #dcf4ef!important;
  }
  .wrapper-grey {
    background: #F4F4F4;
  }

  .cards {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .card-description h2 {
    font-size: 22px;
  }
  .card-description p {
    font-size: 15px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .features img {
    width: 100px;
  }
  .features h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features p {
    font-size: 15px;
    font-weight: lighter;
  }
  .modal-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color:#F4F4F4 !important;
  }
  .card-title {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .card-title {
    background:
      linear-gradient(
        to right,
        rgb(246, 252, 252),
        rgb(138, 138, 138)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .card-title:hover {
    background-size: 0 3px, 100% 3px;
    color:#fff;
  }
  .card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

  .earth {
    animation: rotate 4s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .btn-3 {
   
      
      color: white;
      background-color: #630404 !important;
      cursor: pointer;
      border: 2px solid #630404 !important;
      
  }
  .btn-3:hover{
      background-color: #ad0a0a !important;
  }
  .btn-2 {
   
      
      color: white;
      background-color: #104211 !important;
      cursor: pointer;
      border: 2px solid #104211 !important;
      
  }
  .btn-2:hover{
      background-color: #1b811d !important;
  }
  