header{
  height: 50px;
  background-color: rgb(225, 209, 187);
  width: 100%;
  margin-bottom: 1rem;
}
footer {
  height: 130px;
  background-color: rgb(174, 199, 215);
  width: 98%;
  margin: 2rem;
}

nav {
  height: 100px;
  width: 100%;
}

article {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}

aside {
  width: 30%;
  height: 500px;
}

section {
  width: 100%;
  height: 20px;
}

.row {
  display: flex;
}

* {
  box-sizing: border-box;
  text-align: center;
}

.page-header{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
  border: 2px solid rgb(180, 221, 180);
}
.image-ankara{
  width: 15rem;
  height: 12rem;
  padding: 1rem 1rem;
}
.image-ankara2{
  width: 15rem;
  height: 18rem;
  padding: 1rem 1rem;
}
.table-td{
  padding-left: 25rem;
}
a{
  text-decoration: none;
  color: rgb(136, 89, 32);
}