header{
  height: 50px;
  background-color: rgb(225, 209, 187);
  width: 100%;
}
footer {
  height: 130px;
  background-color: rgb(174, 199, 215);
  width: 100%;
}

nav {
  height: 100px;
  width: 100%;
}

article {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin:20px;
}

aside {
  width: 30%;
  height: 500px;
}

section {
  width: 100%;
  height: 20px;
  
}

.row {
  display: flex;
}

* {
  box-sizing: border-box;
  text-align: center;
}

.page-header{
  margin-top:80px;
}
.image-ankara{
  width: 100%;
  height: 31rem;
}
.table-td{
  padding-right: 20rem;
  padding-left: 10rem;
}