
.containerBlog{
    display: grid;
    grid-template-areas: 
    "containerUp containerUp containerUp"
    "blogList blogList sidebar"
    "blogList blogList sidebar"
  
}
.banner{
    background: url(./img/Behçet.png);
    background-color: #a6a6a6;
    padding-top: 210px;
    padding-bottom: 200px;
    background-position: center;
    background-repeat: no-repeat;
    
}
.deneme{
    width: 24rem !important;
    
}
.card-img-top{
    width: 380px;
    height: 250px;
}
.sidebar{
    width: 280px;
}
.sidebar h4{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    background: url(../Odev3/img/16393.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    
}
.sidebar img{
    width: 280px;
    height: 350px;
}
@media only screen and (max-width: 767px) {
    .banner{
        background-size: cover;
    }
    #blogList{
        justify-content: center;
    }
    .sidebar{
        display: none;
    }
  }