body {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 980px;
  margin: 0 auto;
}

.header {
  height: 150px;
  margin: 0 0 10px 0;
  background-color: #20b2cc;
}

.content {
  width: 690px;
  height: 600px;
  background: linear-gradient(to bottom, #11085c, #0790a8);
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: left;
}

.sidebar {
  width: 260px;
  height: 600px;
  background-color: rgb(136, 201, 255);
  border: 5px solid rgb(56, 6, 238);
  border-radius: 10px;
  float: right;
}

.footer {
  height: 100px;
  background-color: rgb(136, 201, 255);
  margin-top: 10px;
}

.clear {
  clear: both;
}
