:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.container {
  width: 80%;
  margin: 0 auto;
}

main{
  background: rgb(43,43,43);
  background: linear-gradient(164deg, rgba(43,43,43,0.6558998599439776) 0%, rgba(212,252,255,0.7259278711484594) 53%, rgba(188,227,123,0.4766281512605042) 100%)
}