body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    animation: aa 2s forwards 1s ease-in-out infinite;
}

@keyframes aa {
    0%{
        background-color: blue;

    }
}
