header{
    background-color: #42545d;
    text-align: center;
    color: rgb(246, 246, 246);
  }
  
  nav{
    background-color: rgb(255, 255, 255);
    height: 75px;
    text-align: center;
    margin-bottom: 40px;
  }
  nav > h2 > a {
    text-decoration: none;
  }
  article {
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  aside {
    width: 70%;
    height: 500px;
    background-color: rgb(255, 255, 255);
  }
  section {
    width: 100%;
  }
  footer{
    background-color: #42545d;
    color: white;
    text-align: center;
    height: 100px;
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 10px;
  }
  .row {
    display: flex;
  }
  .form {
    margin-left: 20%;
  }