* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 200px 200px; /* 2 satır oluşturur ve yüksekliği 200px'dir.*/
  grid-template-columns: 200px 200px 200px; /* 3 sütun oluşturur ve genişliği 200px'dir.*/
  height: 600px;
  width: auto;
  padding: 20px;
  gap: 10px;
  background-color: gray;
  justify-content: center;
  align-content: center;
}

.kutu1 {
  background-color: aqua;
}

.kutu2 {
  background-color: blue;
}

.kutu3 {
  background-color: brown;
}

.kutu4 {
  background-color: green ;
}

.kutu5 {
  background-color: darkblue;
}

.kutu6 {
  background-color: red;
}