 body {
     margin: 0;
     padding: 0;
     background-color: teal;
 }

 .container {
     max-width: 1140px;
     margin: auto;
     padding: 0 50px;
     background-color: thistle;
 }

 /*
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
}

.container2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px) {}

.container,
.container2 {
    max-width: 1140px;
}

@media (min-width: 1200px) {

    .container,
    .container2 {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {

    .container,
    .container2 {
        max-width: 960px;
    }
}

@media (min-width: 768px) {

    .container,
    .container2 {
        max-width: 720px;
    }
} */