body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: fff;
}

.container {
    width: 100%;
    margin-top: 100px;
   
}

.row1 {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
}

.services2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 1.5rem;
}

.work {
    color: #ff5714;
    font-family: 'Roboto Slab', serif;
    line-height: 23px;
    font-size: 15px;
    margin: 0;
    margin-bottom: 0.5rem;
}

.workTitle {
    color: #24272c;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 1rem;
}

.workText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    max-width: 600px;
    color: #8492a6;
    line-height: 24px;
    margin: 0 ;
}

@media screen and (max-width:768px) {
    .workTitle{
        font-size: 24px;
    }   
}