body{
  margin:0px;
}
header{
  height: 25px;
  background-color: #252525;
  color: #FBFBFB;
  padding-left: 5%;
  
}
footer {
  height:170px;
  background-color: #e8e5e5;
  margin-top: 170px;
}
nav {
  height: 50px;
  width: 100%;
}
article {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
}
aside {
  width: 30%;
  height: 500px;
}
section {
  width: 100%;
  height: 20px;
  text-align: center;
}
iframe{
  width: 50%;
  height: 180px;
}
.row {
  display: flex;
}
* {
  box-sizing: border-box;
}
.page-header{
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
  text-align: left;
  color: #252525;
  margin-top: 22%;
}
.imageBox{
  border: 2px solid #252525;
  margin: 3%;
  margin-top: 25%;
  text-align: center;
}
.image-ankara{
  width: 10rem;
  height: 13rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.image-ankara:hover{
  zoom: 1.05;
}
.table-td{
  margin-top: 50px;
  padding-left: 10rem;
}
a{
  text-decoration: none;
  color: #252525;
}
h1{
  color: #252525;
  text-align: left;
  font-size: 80px;
  margin:2rem;
  margin-top: 35px;
}
.capital-city{font-size:18px}
.weather{
 margin-top:0
}
.nav-img{
  float: left; 
  width:5%;
}
.footer-text{
  text-align: center;
}