.bgImage {
  background-image: url("https://www.w3schools.com/css/img_fjords.jpg");
  width: 200px;
  height: 200px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: azure;
}