.paragraf {
    font-size: 24px;
}

.title {
  color: red;
}

@media screen and (max-width: 768px){
  .paragraf {
    font-size: 18px;
  }

  .title {
    color: chocolate;
  }
}

.link {
  text-decoration: none;
  color: blueviolets;
}

.link:visited {
  color: yellow;
}

.link:hover {
  color: khaki;
  font-size: 24px;
}