*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

.paragraf{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  margin-bottom: 20px;
}
.title{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: red;
  line-height: 1.5;
  margin-bottom: 20px;
}

.link{
  color: green;
  text-decoration: none;
  font-size: 18px;
}
@media screen and (max-width: 768px){
  .paragraf{
    font-size: 16px;
  }
    .title{
      font-size: 14px;
      color: blue;
    }

    .link{
      font-size: 14px;
      color: blue;
      text-decoration: underline;

    }
}


/* Pseudo Class */

.paragraf:hover{
  color: orangered;
}

.link:hover{
  color: orangered;
}
.link:active{
  color: red;
}

/* .links:nth-child(odd){
  color: red;
}
.links:nth-child(even){
  color: blue;
} */

.links:hover{
  color: orangered;
}
/* tekler için oldu */
/* .links:nth-child(2n+1){
  color: red;
  
} */
.links:nth-child(-n+9){
  color: #973737;
}


