.borderRadius{
 border-radius: 50%;
}
.bgImage{
  background-image: url("https://picsum.photos/seed/picsum/1920/1024");
width: 500px;
height: 500px;
background-position: center;
  background-position-x: bottom;
  background-position-y: right;
  color: black;
  background-size: cover;
  
}