$title: #2f89fc;
$grey-text: #4d4d4d;
$bg-grey: #f8f9fa;
$bg-white: #fff;
$header-tag: #ffffff33;
$input-area: #ffffffcc;
$grey-span: #e9ecef;
$font-family: "Nanum Gothic", sans-serif;
$border-radius: 30px;
/* featured ads */
$featured-card-p: 5px 20px;
$featured-card-i-bg: #00000008;

@media only screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    width: 1024px;
    margin: 0 auto;
    align-self: center;
  }

  .featured {
    background-color: $bg-grey;
  }

  .featured-container > h2 {
    padding: 2em 0.5em;
  }

  .featured-cards {
    flex-direction: row;
    height: 40%;
  }

  .featured-card {
    background-color: $bg-white;
  }

  .featured-arrows {
    display: flex;
    justify-content: center;
    gap: 4em;
  }

  /*populer categories  */

  .categories-container {
    padding: 5em 2em;
  }

  .categories-cards {
    flex-direction: row;
    justify-content: center;
  }

  .categories-title {
    width: 130%;
  }

  .categories-border {
    position: relative;
    width: 9%;
    height: 2px;
    background-color: $title;
    margin: 0 auto;
  }
}
