$title: #2f89fc;
$grey-text: #4d4d4d;
$bg-grey: #f8f9fa;
$bg-white: #fff;
$header-tag: #ffffff33;
$input-area: #ffffffcc;
$grey-span: #e9ecef;
$font-family: "Nanum Gothic", sans-serif;
$border-radius: 30px;
$categories-title: #666666;
/* featured ads */
$featured-card-p: 5px 20px;
$featured-card-i-bg: #00000008;
$flex: flex;
$direction: column;
$align-items: center;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: $font-family;
}
@mixin title {
  font-size: 2rem;
  color: $title;
  margin-bottom: 8px;
}
@mixin section-padding {
  padding: 80px 0;
}

@mixin flex-align-direction($flex, $align, $direction) {
  display: $flex;
  align-items: $align;
  flex-direction: $direction;
}

.container {
  padding: 0 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* featured */

.featured-container {
  padding-top: 2em;
}

.featured-container > h2 {
  font-size: 20px;
  padding-bottom: 1em;
}

.featured-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 2em;
}

.featured-card {
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  background-color: $bg-white;
  border-radius: 7px;
}

.featured-card > img {
  width: 100%;
  border-top: 7px;
}

.featured-header {
  display: flex;
  justify-content: space-between;
}
.featured-category {
  background-color: $grey-span;
  border-radius: $border-radius;
  padding: $featured-card-p;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.fa-heart {
  width: 30px;
  height: 30px;
  background-color: $featured-card-i-bg;
  color: $title;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5em;
  transition: 0.3s all ease;
  &:hover {
    background-color: red;
    color: #fff;
  }
}

.featured-card-bottom {
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  background-color: $bg-white;
  border-radius: 7px;
  padding: 20px;
  gap: 1em;
@include flex-align-direction(flex,stretch,column);

}

.featured-info {
  @include flex-align-direction(flex,flex-start,column);
  gap: 8px;
}
.featured-info > h3 {
  color: $title;
  font-weight: 100;
  font-size: 17px;
}
.featured-address {
  font-size: 13px;
  margin-bottom: 1rem;
}

.featured-stars > span {
  @extend .featured-address; //font-size icin, direkt font-size yazilsa da olur ama kullanim olsun diye denedim.
}

.featured-arrows {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 2em;
}

/*populer categories */

.categories-header {
  @include flex-align-direction(flex, center, column);
  gap: 1em;
}

.categories-border {
  position: relative;
  width: 30%;
  height: 2px;
  background-color: $title;
  margin: 0 auto;
}

.categories-header > h2 {
  color: $title;
  font-weight: 700;
  font-size: 2rem;
}

.categories-header > p {
  color: rgba(0, 0, 0, 0.5);
}

.categories-cards {
  @include flex-align-direction(flex, center, column);
  padding-top: 4em;
  gap: 2em;
  padding-bottom: 4em;
}
.categories-card {
  @include flex-align-direction(flex, center, column);
  padding: 1.02em 1px;
  border-radius: 8px;
  gap: 1em;
  width: 130px;

  &:hover {
    background: #2f89fc;
    box-shadow: 0 5px 30px -5px rgba(47, 137, 252, 0.5);
    z-index: 1;
    transform: scale(1.09);
    transition: 0.3s all ease-in-out;
  }

  &:hover .icon-car {
    //categories card uzerine gelindiginde icon-car etkilensin
    color: $bg-white;
  }

  &:hover .categories-title {
    color: $bg-white;
  }

  &:hover .categories-number {
    color: $bg-white;
    background: #0362db;
  }
}

.categories-card > .icon-car {
  color: $title;
  font-size: 45px;
}

.categories-card > .categories-title {
  text-align: center;
  color: $categories-title;
  font-size: 15px;
}

.categories-card > .categories-number {
  padding: 2px 20px;
  border-radius: $border-radius;
  background: $grey-span;
}
