#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 1280px;
  height: 100vh;
}

.app.light {
  background-color: #F2F2F2;
  color: #000000;
}

.app.dark {
  background-color: #000000;
  color: #FFFFFF;
}