/*********************** Please use [camelCase] ****************************/

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
body {
  padding-top: 60px;
}
.colorWhite {
  color: white;
}
ul {
  list-style-type: none;
}
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* Roboto doesn`t provide semibold(600) font size anymore.500 is same  */
}
.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-700 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.colorBlue {
  background-color: #1b7596;
}
.paragraphBlue {
  color: #1b7596;
}
.textColorWhite {
  color: white;
}
.textColorBlue {
  color: #0076a3;
}
.textColorGray {
  color: rgba(255, 255, 255, 0.3);
}
.lightGray {
  background-color: #343f4b; /* Arkaplan ve birkac yerde */
}
.darkGray {
  background-color: #303841; /* Arkaplan ve birkac yerde */
}
.margin-y-05 {
  margin: 0.5em 0;
}
.margin-y-1 {
  margin: 1em 0;
}
.wrap {
  margin: 0 auto;
  width: 75%;
}
.button {
  background-image: linear-gradient(to right, #4495b5, #095471);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  line-height: 19px;
}
.flex {
  display: flex;
}
.textCenter {
  text-align: center;
}
.alignCenter {
  align-items: center;
}
/* Osman Can Kucuk */

/************************* Navbar-Home ***************************/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #283039;
  z-index: 3;
  transition: 500ms;
}
.mainPage {
  height: 740px;
}
.navItem {
  padding: 0 1.5em;
  font-size: 12px;
  line-height: 20px;
}
.navItem:hover {
  color: white;
}
.navButton {
  color: #3b434c;
  font-size: 13px;
  line-height: 20px;
  padding: 0.75em 2em;
  cursor: pointer;
}
.navContainer {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}
.navList {
  display: flex;
}
.homeSection {
  padding-top: 3em;
}
.popupIcon {
  display: none;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1em;
  margin-bottom: 5em;
}
.sectionContent h1 {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.wrapPhone {
  margin: 0 auto;
  width: 80%;
}
.homeIcons {
  position: absolute;
  top: 22em;
  left: 4.5em;
}
.homeListItem {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: rgba(184, 177, 177, 0.6);
}
.phoneSection {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: -2em;
}
.homePhone1 {
  width: 216px;
  height: 410px;
  margin-top: 8em;
}
.homePhone2 {
  width: 296px;
  height: 650px;
  /* margin-top: -1.5em; */
}
.phoneImageWrap {
  margin: 0 auto;
  width: 70%;
}
/****************** SERVICES ***********************/
.servicesSection {
  padding: 3em 0 6em 0;
}
.servicesContent {
  padding-top: 7em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.servicesList {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.serviceListItem {
  border-radius: 10px;
  padding: 1em;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.serviceListItem:hover {
  background-color: #343f4b;
}
.serviceBombItem {
  background-image: url("https://themesdesign.in/styza/layout/images/service/bomb.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5em;
}
/*************************** FOOTER ***********************/
.footerListSection {
  padding: 4em 0 6em 0;
}
.footerFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}
.footerItemsFontSize {
  font-size: 15px !important;
  line-height: 24px !important;
}

.exteriorElement {
  flex-basis: 30%;
}
.footerInput {
  padding: 1.5em 1em;
  width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  margin-right: -4px;
}
.footerButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 1.5em 2em;
}
.footerIconsFlex {
  display: flex;
  gap: 1em;
}
.footerIcons {
  padding: 0.75em;
  border: 1px dashed rgba(0, 118, 163, 0.15);
}
.footerBottom {
  text-align: center;
  padding: 1.5em 0;
}

/* Selim Eminoğlu--Features */

.featuresSection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.centerText {
  font-size: 16px;
  line-height: 22px;
}

.featuresText {
  flex-flow: column wrap;
}

.featureForText {
  font-size: 40px;
  line-height: 56px;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

.featureParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  width: 55%;
  max-width: 650px;
  margin-top: 0px;
}

.featureButtons {
  justify-content: center;
  margin-top: 3rem;
  padding-top: 1rem;
}

.featureButtonList {
  flex-flow: row wrap;
}

.topButton {
  border: 1px solid #0076a3;
  background: linear-gradient(#2e8da5 0%, #114d64 100%);
  color: #fff;
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 0.25rem;
}

.topButton:hover {
  cursor: pointer;
}

.smartButton {
  margin: 0 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 10px 30px;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 24px;
}

.smartButton:hover {
  cursor: pointer;
}

.featureThirdSection {
  margin: 1.5rem 12px;
}

.columnRule {
  height: auto;
  width: 60%;
  margin: 24px 0 0;
  padding: 8px 12px 0;
  flex-direction: column;
  flex-wrap: wrap;
}

.firsFirstCard {
  margin-top: 1.5rem;
  flex-direction: column;
  text-align: right;
  margin-bottom: 1.5rem;
}

.thirFirstCard {
  margin-top: 1.5rem;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}

.firsHeadline {
  font-size: 20px;
  line-height: 28px;
}

.firsFirstText {
  font-size: 15px;
  line-height: 25px;
}

.firstİcon {
  background-color: rgba(0, 118, 163, 0.1);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  margin-left: auto;
}

.secondİcon {
  background-color: rgba(0, 118, 163, 0.1);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  margin-left: 0px;
}

.material-symbols-outlined {
  font: normal normal normal "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: auto;
}
/* Features Sonu */
/* What They Think Bölümü */
.clientText {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 8px;
}

.phoneİcon {
  color: rgba(255, 255, 255, 0.3);
  font-variation-settings: "FILL" 1, "opsz" 20, "GRAd" 0, "wght" 200;
}

.whatTheySection {
  padding-top: 120px;
  padding-bottom: 120px;
}

.whatLeftPart {
  width: 70%;
  padding: 0 12px;
}

.slideArea {
  height: auto;
  padding: 0 12px;
}

.whatTheyParagraf {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  width: 100%;
  max-width: 650px;
  margin-top: 0px;
}

.whatTheyText {
  font-size: 27px;
  line-height: 38px;
  margin: 0 0 8px;
}

.whatButton {
  background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
  border: none;
  font-size: 13px;
  line-height: 20px;
  margin: 24px 0 0;
  padding: 12px 15px;
  width: 80%;
  justify-content: center;
  border-radius: 0.5rem;
}

.sliderİmage {
  padding: 0.5rem;
  width: 60%;
}

.sliderProfile {
  padding: 0.5rem;
  flex-direction: column;
}

.grayMiniText {
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.proText {
  font-size: 14px;
  line-height: 25px;
}

.profileHeadline {
  font-size: 20px;
  line-height: 28px;
}

.profilePhoto {
  border-radius: 50%;
  height: 100%;
}

.profTextAndİmage {
  height: 25%;
}

.profileParagraf {
  margin-top: 0.5rem;
  height: 50%;
}

.profileParagGray {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 25px;
}

.buttonAndİmage {
  justify-content: space-between;
}

.profileButton {
  background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
  border: none;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 0;
  padding: 8px 10px;
  width: 40%;
  height: 50%;
  justify-content: center;
  border-radius: 0.5rem;
}

.girlİmage {
  width: 100px;
  height: 100px;
  text-align: right;
}

/* What they think Sonu */
/* Pricing Bölümü */
.pricing {
  padding-top: 120px;
  padding-bottom: 120px;
}

.plans {
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;
}

.firstPlan {
  margin: 35px 0 0;
  padding: 8px 12px 0;
}

.firstPlanTop {
  padding: 24px;
  background-color: #183b56;
  border-radius: 0.5rem;
  box-shadow: 0.5px 1px black;
}

.firstPlanBottom {
  padding: 24px;
  border-radius: 0.5rem;
  flex-direction: column;
  box-shadow: 0.5px 1px black;
}

.liPad {
  margin: 8px 0 0;
}

.planButton {
  margin: 16px 0 0;
  padding: 6px 3px;
}

.yourPlanButton {
  color: #0076a3;
  border-color: #0076a3;
  font-size: 12px;
  padding: 6px 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  border: 1px solid #0076a3;
  overflow: hidden;
  display: inline-flex;
  border-radius: 0.2rem;
  vertical-align: middle;
}

.buyNowButton {
  color: white;
  background-color: #0076a3;
  border-color: #0076a3;
  font-size: 12px;
  padding: 6px 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  border: 1px solid #0076a3;
  overflow: hidden;
  display: inline-flex;
  border-radius: 0.2rem;
  vertical-align: middle;
}

.checkCircle {
  color: #1d9b7b;
}

.cancelİcon {
  color: #da3746;
}

.secondPlanHeader {
  background-color: #0076a3;
  padding: 8px 0;
  border-radius: 0.2rem;
}

.recomText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.secondPlanTop {
  padding: 24px;
  background-color: rgba(0, 118, 163, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0.5px 1px black;
}

.border3px {
  border: 1px solid #dee2e6;
  border-width: 3px;
}

.planH2 {
  font-size: 40px;
  line-height: 56px;
}

.planHead {
  background-color: #0076a3;
  font-size: 14px;
  padding: 4.9px 9.1px;
  display: inline-flex;
  border-radius: 0.25rem;
}

.planParag {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 4px;
}

.planParag2 {
  font-size: 15px;
  line-height: 25px;
}

.sup22 {
  font-size: 22px;
}

.sup16 {
  font-size: 16px;
}

.secondPlan {
  margin: 24px 0 0;
  padding: 8px 12px 0;
}

.thirdPlan {
  margin: 35px 0 0;
  padding: 8px 12px 0;
}

/* Pricing Sonu */
/* Application Bölümü */
.application {
  padding-top: 120px;
  padding-bottom: 120px;
}

.imageGallery {
  margin-top: 3rem;
  padding-top: 0.5rem;
  flex-flow: row wrap;
  justify-content: space-between;
}

.galleryİtem {
  width: 147.2px;
  height: 273.3px;
  border-radius: 20px;
}

/* Application Sonu */

/* Ekin Mert */
.cardWrap {
  /* margin: 0 auto; */
  /* max-width: 1140px; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo {
  max-width: 90%;
  max-height: 90%;
}

.card {
  display: flex;
  flex-direction: row;
  height: 228px;
  width: 20%;
}

.nameTitle {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: white;
  max-height: 185px;
  margin-right: 12px;
}

.photoImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.iconsWrap {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  height: 20px;
  width: 30px;
  margin-left: 10px;
}

.title {
  font-size: 14px;
}

.ourTeamSection {
  padding-bottom: 60px;
}

.headerPadding {
  margin-bottom: 50px;
}

.personelInfoWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 30px;
}

.formInput {
  border: 1px solid #dee2e6;
  font-size: 14px;
  line-height: 22px;
  border-radius: 6px;
  flex: 1;
  padding: 0.9rem 0.75rem;
}

.name {
  display: flex;
  flex: 1;
  margin-right: 20px;
}
.email {
  display: flex;
  flex: 1;
}

.subject {
  display: flex;
  margin-bottom: 24px;
}

.message {
  display: flex;
  margin-bottom: 24px;
}

.sendButton {
  width: 100%;
  padding: 14px 20px;
  font-size: 12px;
  font-weight: 200;
  border-radius: 6px;
  background: #0076a3 !important;
  color: #fff;
  border-color: #0076a3 !important;
  border: 1px solid;
}

.contactWrap {
  max-width: 1200px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.poppins-24px {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.roboto-15px {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.map {
  position: relative;
  margin: 0 30px;
}

.mapShape {
  content: "";
  position: absolute;
  height: 350px;
  width: 200px;
  background-color: #0076a3;
  top: -5%;
  right: -10%;
  border-radius: 10px;
  z-index: 1;
}

.mapImage {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.concactUsSection {
  padding-top: 10em;
}

.contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol {
  width: 50px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.infoHeader {
  width: 290px;
  height: 28px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.infoText {
  width: 290px;
  height: 25px;
}

.informations {
  display: flex;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  margin-top: 70px;
  flex-wrap: wrap;
}

.infoIcon {
  font-size: 48px !important;
  color: #0076a3 !important;
}
/* Build Your Bölümü */

.teamSection::before {
  position: absolute;
  content: "";
  background: #343f4b;
  top: -35px;
  width: 100%;
  height: 15%;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  z-index: 1;
}
.teamSection::after {
  position: absolute;
  content: "";
  background: #303841;
  bottom: -35px;
  width: 100%;
  height: 15%;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  z-index: 2;
}
.teamSectionContent {
  display: flex;
  flex-wrap: wrap;
}

.teamSectionImage {
  /* position: absolute; */
  /* height: 600px;
 

  z-index: 2; */

  height: 300px;
  z-index: 999;
}
.sectionBuild {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative !important;
}
.cta {
  background-image: url("	https://themesdesign.in/styza/layout/images/cta-bg.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cta::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #343f4b;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  z-index: 1;
}
.cta::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #303841;
  -ms-transform: matrix(1, -0.05, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.05, 0, 1, 0, 0);
  transform: matrix(1, -0.05, 0, 1, 0, 0);
}
.bg-overlay-gradiant {
  background: linear-gradient(80deg, #377d8f 0%, #0a4157 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.teamSectionParagraph {
  flex-basis: 50%;
}
.teamSectionParagraph h1 {
  font-size: 53px;
  line-height: 66px;
}
.teamSection p {
  font-size: 17px;
  line-height: 25px;
}
.teamSectionLogos {
  display: flex;
  gap: 1em;
}
.cta-phone-image {
  position: absolute;
  z-index: 999;
  top: -55%;
  vertical-align: middle;
  z-index: 2;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}
/* .buildYour {
  background-image: url("./images/build-your-image.jpg");
  background-size: auto;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  padding: 120px 0;
  margin: 200px 0;
}

.buildYour::before {
  background: #303841;
  content: "";
  position: absolute;
  top: -50px;
  left: 0px;
  width: 100%;
  height: 100px;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
  z-index: 1;
}

.buildYour::after {
  background: #303841;
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  height: 100px;
  transform: matrix(1, -0.05, 0, 1, 0, 0);
}

.buildColor {
  background: linear-gradient(80deg, #377d8f 0%, #0a4157 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.buildHeadline {
  font-size: 54px;
  line-height: 64px;
}

.buildParagraf {
  font-size: 18px;
  line-height: 25px;
  margin: 16px 0;
}

.buildText {
  height: 500px;
  width: 60%;
  margin-top: 100px;
  margin-bottom: 8px;
  padding: 3rem 0;
  flex-direction: column;
}

.buildButtons {
  gap: 20px;
}

.buttonRule {
  max-width: 100%;
  height: auto;
} */

@media screen and (max-width: 960px) {
  .homeIcons {
    display: none;
  }

  .phoneSection {
    display: block;
    margin-top: -7em;
  }
  .wrapPhone {
    margin: 0 auto;
    width: 95%;
  }
  .homePhone1 {
    width: 100%;
    height: 850px;
    margin-top: 3em;
  }
  .homePhone2 {
    width: 100%;
    margin-bottom: -4em;
    height: 850px;
  }
  .mainPage {
    height: 100%;
  }
  .sectionContent h1 {
    font-size: 36px;
    line-height: 43px;
  }
  .navListSectionItem {
    display: none;
  }
  .navButtonItem {
    display: none;
  }
  .popupIcon {
    display: block;
    color: white;
  }
  .servicesContent {
    width: 100%;
  }
  .wrap {
    width: 90%;
  }
  .serviceListItem {
    width: 100%;
  }
  .footerFlex {
    display: block;
    width: 100%;
  }
  .exteriorElement {
    margin-bottom: 1.5em;
  }
  .insideElement {
    margin-bottom: 1.5em;
  }
  .teamSectionContent {
    display: block;
  }
  .cta-phone-image {
    position: static;
    z-index: 999;

    vertical-align: middle;
    z-index: 2;
  }
  .teamSectionParagraph h1 {
    font-size: 48px;
    line-height: 59px;
  }

  /* Responsive--Selim Eminoğlu */
  .featureThirdSection {
    flex-direction: column;
  }
  .firsFirstCard {
    text-align: left;
  }
  .firstİcon {
    margin-left: 0px;
  }
  .whatTheyFlex {
    flex-direction: column;
  }
  .whatButton {
    width: 50%;
  }
  .sliderİmage {
    width: 40%;
  }
  .sliderProfile {
    width: 40%;
  }
  .plans {
    flex-direction: column;
  }
  /* Ekin Mert */
  .cardWrap {
    position: relative;
    justify-content: center;
    gap: 1rem;
  }
  .contactInfo {
    justify-content: center;
    gap: 1rem;
  }
  .contactWrap {
    justify-content: center;
    gap: 2rem;
  }
  .map {
    max-width: 300px;
  }
  .mapShape {
    height: 200px;
    width: 100px;
  }
  .infoCard {
    margin: 0 auto;
  }
  .form {
    width: 300px;
  }
  .personelInfoWrap {
    flex-direction: column;
    gap: 1.5rem;
  }
  .name {
    margin-right: 0px;
  }
}
@media screen and (max-width: 600px) {
  .phoneImageWrap {
    margin: 0 auto;
    width: 100%;
  }
}

/* Responsive--Selim Eminoğlu--Samsung Galaxy S20 Ultra*/
@media screen and (max-width: 412px) {
  .featureForText {
    text-align: center;
  }
  .featureButtonList {
    justify-content: center;
  }
  .whatLeftPart {
    width: 100%;
  }
  .sliderArea {
    flex-direction: column;
  }
  .sliderİmage {
    width: auto;
  }
  .sliderProfile {
    width: auto;
  }
  .imageGallery {
    flex-direction: column;
    gap: 100px;
  }
  .galleryİtem {
    width: 100%;
    height: auto;
  }
  .teamSectionParagraph h1 {
    font-size: 43px;
    line-height: 54px;
  }
}
