@import url("https://fonts.cdnfonts.com/css/svn-gilroy");
#root {
  background-color: #fdfdfd;
  height: 100%;
}
a {
  color: black;
  text-decoration: none;
}
* {
  font-family: "SVN-Gilroy", sans-serif;
}
