@font-face {
  font-family: "svngilroy-bold";
  src: url("fonts/SVNGilroy\ Bold.otf") format("otf");
}
@font-face {
  font-family: "svngilroy-bold";
  src: url("fonts/SVNGilroy\ Light.otf") format("otf");
}

#root {
  background-color: #fdfdfd;
  height: 100%;
}
a {
  color: black;
  text-decoration: none;
}
* {
  font-family: "svngilroy-bold", sans-serif;
}
