$primary: #ff9b52;
$secondary: rgba(255, 255, 255, 0.5);
$dropdown-bg: rgba(255, 255, 255, 0.6);
$dropdown-link-active-bg: none;
$dropdown-link-hover-bg: rgba(255, 255, 255, 0.8);
$modal-header-padding-y: 3rem;
$modal-content-bg: rgba(255, 255, 255, 0.6);
