$primary: #ff9b52;
$secondary: rgba(255, 255, 255, 0.5);
$dropdown-bg: rgba(255, 255, 255, 0.6);
$dropdown-link-active-bg: none;
$dropdown-link-hover-bg: rgba(255, 255, 255, 0.8);
$modal-bg: rgba(255, 255, 255, 0.5);
