.card-img-top{
    max-width: 100%;
}

body{  
    background-image: linear-gradient(
        35deg,
      hsl(240deg 100% 50%) 0%,
      hsl(248deg 100% 57%) 8%,
      hsl(250deg 99% 61%) 16%,
      hsl(252deg 99% 65%) 23%,
      hsl(253deg 98% 68%) 30%,
      hsl(254deg 97% 72%) 36%,
      hsl(253deg 95% 75%) 42%,
      hsl(253deg 92% 78%) 47%,
      hsl(251deg 89% 81%) 52%,
      hsl(248deg 83% 84%) 55%,
      hsl(240deg 74% 87%) 57%,
      hsl(226deg 65% 89%) 58%,
      hsl(200deg 53% 90%) 56%
    );
}

.card{
    font-family: 'Oldenburg', cursive;
    background-color: rgba(194, 180, 248, 0.404);
    font-size: 18px;
    color: rgba(53, 34, 87, 0.678);
    &:hover{
        box-shadow: rgba(77, 3, 80, 0.1) 0px 0px 10px;
        transform: translateY(-10px);
    }
    .card-img-top{
        margin-top: 10px;
        &:hover{
            
        }
    }
}

.btn-group{
    display: flex;
    gap: 10px;
    border-radius: 25px;
    font-size: 25px;
}

h1{
    margin: 40px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
    // border-bottom: 4px rgb(174, 101, 223) dashed;
    padding: 10px;
    font-size: 70px;
    color: rgb(146, 70, 190);
}

h5{
    font-size: 25px;
}

.modal-header{
    h5{
        font-family: 'Amatic', cursive;
    }
}
.intro{
    border-bottom: 2px white solid;
    margin-bottom: 50px;
    button.btn.btn-success {
        margin: 15px;
    }
    .mt-3 {
        margin-left: 15px;
    }
}
.form-group{
    // border: 2px white solid;
    // border-bottom: 2px white solid;
    // margin: 50px;
    // padding: 30px;
}



.footer{
    margin-top: 70px;
    #bookshopinfo{
        p{
            font-size: 15px;
            text-decoration: none;
            color: #1a0125b0;
            width: 100%;
            margin-left: 20px;
        }
    }
    h6{
        font-family: "DynaPuff", cursive;
        font-size: 45px;
        color: #e3b4e7a2;
        font-weight: 800px;
        &:hover{
            font-size: 50px;
            color: rgb(207, 132, 207);
        }
    }
    li{
        &:hover{
            font-size: 20px;
        }
    }
}

#searchInput{
    margin: 28px;
}

.modal-header{
    background-color:rgb(198, 243, 245);
    h5{
        text-align: center;
        color:rgb(47, 120, 230);
    }
}



