$danger: #cb4154;
$warning: #ffe135;
$primary: #6f2da8;

$card-bg: rgba(255, 255, 255, 0.25);
$border-color-translucent: rgba(
  $color: $warning,
  $alpha: 0.5,
);

$modal-header-padding-y: 3rem;
$modal-content-bg: rgba(255, 255, 255, 0.6);

$accordion-bg: rgba(255, 255, 255, 0.25);
