body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #6f2da8,
    #5e3494,
    #50377f,
    #453769,
    #3c3652,
    #38334a,
    #353143,
    #312e3b,
    #302941,
    #302445,
    #301e4a,
    #32174d
  );
}

label {
  color: $warning;
  font-size: 1.25rem;
}

.title {
  h1 {
    // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $warning,
    //   0 0 30px $warning, 0 0 40px $warning, 0 0 55px $warning, 0 0 75px $warning;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: #fff;
  }
}

.card {
  backdrop-filter: blur(10px);
  transition: 0.3s;
  .card-title {
    color: $warning;
    font-weight: 600;
    text-transform: capitalize;
  }
  .card-subtitle {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    font-style: italic;
  }

  .card-text {
    color: white;
  }

  i {
    pointer-events: none;
  }

  &:hover {
    box-shadow: rgba($color: $warning, $alpha: 0.07) 0px 1px 2px,
      rgba($color: $warning, $alpha: 0.07) 0px 2px 4px,
      rgba($color: $warning, $alpha: 0.07) 0px 4px 8px,
      rgba($color: $warning, $alpha: 0.07) 0px 8px 16px,
      rgba($color: $warning, $alpha: 0.07) 0px 16px 32px,
      rgba($color: $warning, $alpha: 0.07) 0px 32px 64px;
  }
}

.modal-content {
  backdrop-filter: blur(5px);

  .modal-header {
    background-image: url(https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    .modal-title {
      h1 {
        font-size: 2rem;
      }
    }
  }

  .modal-body {
    font-size: 1.25rem;
    text-indent: 1rem;
  }
}

.form-control,
.form-select {
  border: $primary 1px solid;
}

#utilities {
  position: sticky;
  top: 2rem;
  height: 100%;
}
