.updateInput {
  width: 80%;
}

a {
  margin-left: 1.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .updateInput {
    width: 60%;
  }
  a {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .updateInput {
    width: 45%;
  }
  a {
    margin-left: 10px;
    font-size: .8rem;
  }
}