$primary: #212529; //headers color
$secondary: #495057; //bookverse WriterGray
$secondary-emphasis: #6C757D; //bookverse yearGray
$success: #ADB5BD; //categoryGray
$light: #F0EEE4; //bookverseDetailbg
$pink: #ED3C6A; //bookversePink
$warning: #FCBF49; //bookverseYellow
// $info:#0075F6; //bookverse saveButtonBlue
$info: #F77F00; //bookverseOrange
$danger: #D62828; //bookversered

//Bootstrap overrides
$font-weight-bold: 900;

//card overrides

$card-bg: none;

//spacer overrides
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  8: $spacer * 8,
  17 : $spacer * 17,
  20 : $spacer * 20,

);