


.container7{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;

  
 

}


.row-general1{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #f8f9fc;
  


}

.row-general2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}



.text-header{
  color: orangered;
  text-align: center;
  font-size: 16px;
  margin:1.5rem;
}

.title{
  text-align: center;
  font-size: 24px;
}
.paragraf{
  text-align: center;
  color: #8492a6;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  
}
p{
  line-height: 1.6;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.row {
  display: flex;
  justify-content: center;
  align-items: center;
   
 
}




.card {
  width: 25%;
  height: auto;
  
  margin: 2%;
  
}
.card img {
  border-radius: 5px;
  width: 100%;
}


.card-info{
  text-align: center;
  margin-top: 2rem;
}



.card ul {

  display: flex;
  list-style-type: none;
    flex-direction: column;
  margin-left: -80px;
}






.card li {
  background-color: #ff5714;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  cursor: pointer;
  list-style-type: none;
  
}

.card li:hover {
  background-color: #E04000;
}

.card a {
  color: #FFFFFF;
}

.row{
  display: flex;
  box-sizing: border-box;
  
}

/* ikinci alan */

.creativeInfo {
  width: 100%;
  margin-top: 2rem;
}

.rowInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.rowInfo div {
  width: 25%;
}

.rowInfo span {
  color: #8492a6;
}


.creativeLogo {
  width: 100%;
  margin-top: 3rem;
}

.rowLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
}

.rowLogo div img{
  width: 40%;
  color: #000000;
}

/* BLOG */
/*  */
.latestNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

}



.newsTop h6 {
  color: #ff5714;
  font-size: 15px;
  margin:1.5rem;
}

.newsTop h4 {
  letter-spacing: 0.5px;
  font-size: 28px;
  margin:1.5rem;
}

.newsParagraph {
  max-width: 600px;
  display: flex;
  margin: auto;
  text-align: center;
  color: #8492a6;
}



.cardNews {
  box-shadow: 0 0 3px rgba(36,39,44,0.15);
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.cardNews img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.cardNewsInfo {
  padding: 1.5rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 80%;
}

.cardNewsInfo>a {
  font-size: 18px;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  color: #24272c;
}

.readMore > a:hover,
.cardNewsInfo>a:hover {
  color: #FF572A;
}

.cardNewsInfo>p {
  color: #8492a6;
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.6;
}

.readMore {
  margin-top: 1rem;
}

.readMore > a {
  color: #24272c;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.form{
  display: block;
    margin-top: 0em;
}

.form-control{
  border: 1px solid #dee2e6;
    font-size: 14px;
    line-height: 26px;
    background-color: #fff;
    border-radius: 6px;
    width: 100%;

    
}

.form-control {
    display: block;
   
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    
  
}
.btn{

  padding: 8px 20px;
    
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    border-radius: 6px;

 
    background-color: #ff5714 !important;
    border: 1px solid #ff5714 !important;
    color: #fff !important;
    box-shadow: 0 3px 5px 0 rgb(255 87 20 / 10%);
}
