/* Portfolio Section*/
.portfolioMain {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.images {
    /* background-color: teal; */
    padding: 30px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.images>img {
    width: 260px;
    margin: 12px;
    border-radius: 5px;
}

@media screen and (max-width:2560px) {
    .images>img {
        width: 260px;
    }
}

@media screen and (max-width:1440px) {
    .images>img {
        width: 260px;
    }
}

@media screen and (max-width:1200px) {
.images>img {
width: 215px;
}
}

@media screen and (max-width:1024px) {
    .images>img {
        width: 215px;
    }
}

@media screen and (max-width:991px) {
.images>img {
width: 335px;
}
}

@media screen and (max-width:768px) {
.images>img {
width: 500px;
}
}





@media screen and (max-width:425px) {
    .images>img {
        width: 400px;
    }
}

@media screen and (max-width:375px) {
    .images>img {
        width: 350px;
    }
}

@media screen and (max-width:320px) {
    .images>img {
        width: 300px;
    }
}