body {
  padding: 0;
  margin: 0;
}

.container {
  /* background-color: thistle; */
  margin: auto;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
.portfolioSection,
.teamSection,
.formSection {
  background-color: #f8f9fc;
}
