/* Portfolio Section*/
.teamMain {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.teamTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.teamImages {
    padding: 30px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.teamImages>img {
    width: 260px;
    margin: 12px;
    border-radius: 5px;
}

.teamStatistic {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.teamStatistic>div>h3 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #24272c;
}

.teamStatistic>div>span {
    font-size: 15px;
    font-family: "roboto", sans-serif;
    color: #8492a6;
}

.teamLogo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 50px 0;

}

.teamLogo>img {
    width: 15%;
    height: 25px;
}

@media screen and (max-width:2560px) {
    .teamImages>img {
        width: 260px;
    }
}

@media screen and (max-width:1440px) {
    .teamImages>img {
        width: 260px;
    }
}

@media screen and (max-width:1140px) {
    .teamImages>img {
        width: 215px;
    }
}

@media screen and (max-width:991px) {
    .teamImages>img {
        width: 330px;
    }

    .teamStatistic {
        width: 73%;
        margin: auto;
        /*Padding eklenecek*/
    }

    .teamStatistic>div,
    .teamLogo {
        justify-content: space-evenly;
        margin: auto;
    }
    .teamLogo>img {
        width: 10%;
        padding: 20px 15px;
    }
}

@media screen and (max-width:767px) {
    .teamImages>img {
        width: 500px;
    }

    .teamStatistic>div,
    .teamLogo>img {
        justify-content: space-evenly;
        width: 50%;
    }

    .teamLogo>img {
        width: 33%;
        padding: 20px 15px;
    }
}

@media screen and (max-width:535px) {
    .teamImages>img {
        width: 400px;
    }
}

@media screen and (max-width:425px) {
    .teamImages>img {
        width: 350px;
    }
}

@media screen and (max-width:375px) {
    .teamImages>img {
        width: 350px;
    }
}

@media screen and (max-width:350px) {
    .teamImages>img {
        width: 300px;
    }
}