.mainTitle {
    color: #ff5714;

    font-size: 15px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 0.5rem;
}

.title {
    color: #24272c;

    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 1rem;

}

.titleText {
    color: #8492a6;

    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    margin-top: 0;
}


.priceTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #24272c;
    line-height: 27px;

    margin-top: 0;
    margin-bottom: 0.5rem;

}

.rightTitle {
    color: #24272c;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width:480px) {
    .title {
        font-size: 24px;
    }

    .titleText {
        width: 95%;

    }
}

@media screen and (max-width:768px) {
    .title{
        font-size: 24px;
    }
}

@media screen and (max-width:1024) {}

@media screen and (max-width:1200px) {}