*{
    background-color: black;
    font-family: "Permanent Marker", cursive;
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 60px;
    color: #cd03ffc9;
    margin-top: 40px;
}
#resetBtn {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    width: 200px;
    height: 50px;
    border: 4px solid rgb(39 145 30);
    border-radius: 15px;
    cursor: pointer;
    background-color: #80ff46;
    margin-top: 40px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#gameBoard {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#gameBoard {
    display: none;
}

canvas#gameBoard {
    margin: auto;
    margin-top: 150px;
    border: 10px red solid;
    /* background-color: #d7bd9e; */
}

.modal-content {
    background-color: black;
    padding: 20px;
    text-align: center;
    border: 3px solid green;
    font-size: 20px;
    color: bisque
}

button#startBtn {
    border: 3px solid yellow;
    color: bisque;
    width: 100px;
    height: 40px;
    font-size: 20px;
}