body{
    background-color: rgb(160, 147, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    min-height: 100vh;
    max-width: 50vh;
    overflow: hidden;

}

.container{
    background-color: rgb(223, 195, 217);
    border: 4px solid rgb(211, 156, 203);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
}

h3{
    margin: 10px;
    text-align: center;
}

.password-container{
    background-color: rgb(227, 214, 228);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px;
    border-radius:10px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.selection-container{
    font-size: 25px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input#length {
    max-width: 40%;
}

.password{
    background-color: rgb(155, 111, 149);
}

button#generatePassword {
    margin-top: 25px;
    font-size: 20px;
    width: 100%;
}