@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

i {
  pointer-events: none;
}

input {
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
  .navbar {
    .navbar-brand {
      color: $secondary;
    }
    .nav-link {
      color: $secondary;
      &:hover {
        color: $info;
      }

      &.active {
        color: $info;
      }
    }
  }
}

footer {
  color: $secondary;
  ul {
    padding: 0;
    margin: 0;
  }
  .btn {
    color: $info;
    :hover {
      color: $primary;
    }
  }

  .footer-content {
    a {
      color: $secondary;
      transition: 0.3s all;
      &:hover {
        color: $info;
      }
    }

    button {
      transition: 0.3s all;
    }
  }

  .input-wrap {
    position: relative;
    border-bottom: 2px solid $secondary;
    input {
      color: $secondary;
      border: none;
      outline: none;
      border-radius: 1rem;
      transition: 0.3s all;

      &:focus + .focus-input1 {
        width: 100%;
      }
      &::placeholder {
        color: rgba(255, 255, 240, 0.623);
      }
    }
    .focus-input1 {
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: $info;
      left: 0;
      bottom: -2px;
      transition: 0.3s all;
    }
  }

  .col-lg-4 {
    border-left: 1px solid #777;
    padding: 1rem 5rem;
    &:first-child {
      border-left: none;
    }
  }
}

.amount-controls {
  div {
    width: 45px;
    height: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    &:nth-child(2) {
      border: 2px solid $primary;

      background: $secondary;
      margin: 0 -2px;
      color: black;
    }
    &:nth-child(1) {
      border: 2px solid $primary;

      background: $primary;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      color: white;

      &:hover {
        background: rgba(36, 33, 36, 0.5);
      }
    }
    &:nth-child(3) {
      border: 2px solid $primary;

      background: $primary;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      color: white;

      &:hover {
        background: rgba(36, 33, 36, 0.5);
      }
    }
  }
}

.cart-item-img {
  max-width: 150px;
  img {
    width: 100%;
  }
}

.card-img-top {
  height: 200px;
  img {
    width: 100%;
  }
}

#cart-area {
  position: relative;
  #cart-count {
    position: absolute;
    top: -10px;
    font-size: 16px;
  }
}
