:root{
  // --bs-background-color:#1D152D;
  // --secondary-bg-color: #4a4356;
  // --black:#000;
  // --cafe-racer-card-bg: #29152d;
  // --accordion-button-bg:#605b6c;
}
$primary: #003459;
$secondary:#FCEED5;
$white:#FDFDFD;
$info:#00171F;
// $danger:#d8ae2d;
$font-family-base:'SVN-Gilroy', sans-serif;
$carousel-control-color : $primary;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  175: $spacer * 1.75,
  075: $spacer * 0.75,
  6: $spacer * 3.75,
  14: 14px,
  120:120px,
  100:100px,
  80: 5rem,
  180: 11.25rem,
  34:2.125rem,
  36:2.25rem,
  20: 1.25rem
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  10:0.75rem,
  11:0.5rem,
  60: 3.75rem,
  46: 2.875rem,
  52:3.25rem,
  36:2.25rem,
  14:14px,
);
