:root{
  --secondary-color-mon-yellow :#F7DBA7;
  --primary-color-dark-blue: #003459;
  --primary-color-dark-blue-80: #002A48;
  --banner-background-orange:#FFB775;
  --text-white:#FDFDFD;
  --neutral-color-10: #ebeeef;
  --icon-color-gray:#99A2A5;
}
body{
  background-color: #FDFDFD;
}