* {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  font-weight: 600 !important;
}

body {
  background-color: #444;
}

select,
.form-control {
  background-color: #feffdb !important;
}

.modal-content {
  background-color: #ffc60b;
}

.bg-orange {
  background-color: #ff8b00;
  border-radius: 10px;
}

.bg-white {
  max-width: 98%;
  border-radius: 10px;
}

.card {
  margin-top: -40px !important;
  padding-top: 10px;
  background-color: transparent;
  margin: 1em 0;
  border: 0;
  border-radius: 10px;
}

.card-body,
.card-footer {
  background-color: #ffc60b;
  box-shadow: -5px 10px 10px 0 rgba(131, 130, 130, 0.545) !important;
}

.add-btn {
  background-color: #feffdb;
}

.card-img-top {
  width: 100%;
}

.container .card .slide.slide1 {
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.container .card .slide.slide2 {
  transition: 0.8s;
  transform: translateY(-250px);
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
}
