body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #777777;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.p_120 {
  padding: 120px 0;
}
