$primary: #6247ea;
$secondary: #ec9d5f;
$dark: #222222;
$bs-font-sans-serif: "Gloria Hallelujah", cursive;
$header-p-color: #f9f9ff;
$content-p-color: #777777;

//$font-family-sans-serif: "Roboto", sans-serif; bunu override edip main.scss içine en sonda font family import edersen çalışır

$font-sizes: (
  1: 12px,
  2: 14px,
  3: 20px,
  4: 36px,
  5: 18px,
);

$spacer: 20px;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3,
);
