@mixin text-color-white {
    transition: 0.5s ease;
    color: $white;
  }
  //nasıl daha iyi olabilir?
  header {
    a {
      @include text-color-white;
      &:hover {
        color: $primary;
      }
    }
  }
  .navbar {
    a {
      @extend header;
      color: $black;
      &:hover {
        color: $primary;
      }
    }
  }
  .header-content {
    p {
      color: $header-p-color;
      opacity: 0.6;
      max-width: 385px;
    }
    button {
      @include text-color-white;
      @extend header;
      &:hover {
        color: $primary;
        background-color: $secondary;
      }
    }
  }
  .feature {
    p {
      color: $content-p-color;
    }
    // .card {
    //   padding: 40px 10px 40px 10px;
    //   transition: 0.3s ease;
    //   &:hover {
    //     border-color: rgba(119, 119, 119, 0.074);
    //     box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.074);
    //   }
    // }
  }
  .card {
    padding: 40px 10px 40px 10px;
    transition: 0.3s ease;
    &:hover {
      border-color: rgba(119, 119, 119, 0.074);
      box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.074);
    }
  }
  .price {
    background-color: #fafcff;
    p,
    li,
    h5,
    span {
      color: #777777;
    }
    a {
      text-decoration: none;
      color: $content-p-color;
    }
    button {
      display: none;
      border: none;
    }
  }
  .price-card-col {
    border-top: 2px solid $white;
    margin-top: 0;
    position: relative;
    &:hover {
      border-top: 2px solid $primary;
      span,
      h2 {
        color: $primary;
      }
      button {
        position: absolute;
        width: 100%;
        display: block;
      }
    }
  }
  // Nasıl abi nasıl???
  .price-card {
    &::before {
      content: "";
      width: 1px;
      background: #eeeeee;
      height: 336px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  .custom-solution {
    p {
      max-width: 800px;
    }
    a {
      color: $black;
      background-color: $white;
      transition: 0.3s ease-in-out;
      &:hover {
        @include text-color-white;
        background-color: $primary;
      }
    }
  }
  .client-about {
    p,
    h6 {
      color: $content-p-color;
    }
    // .card {
    //   @extend ;
    // }
  }
  .top-service {
    position: relative;
    &::before {
      content: "";
      background: url("https://preview.colorlib.com/theme/hosthub/img/map-bg.png.webp");
      background-size: cover;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
    }
    .container {
      position: relative;
      z-index: 3;
    }
    //sırası nasıl olmalı
    .top-service-title {
      @extend .blog-main-title;
    }
  }
  .top-service-item {
    background: rgba(255, 255, 255, 0.1);
    color: $white;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: white;
      color: $black;
    }
  }
  .blog-main-title {
    p {
      max-width: 600px;
      color: $content-p-color;
    }
  }
  .blog-card-body {
    border: $gray-200;
    transition: 0.3s ease-in-out;
    .card-text {
      color: $content-p-color;
    }
    .card-title {
      color: $dark;
      transition: 0.3s ease-in-out;
    }
    .card-view {
      a {
        @extend .card-text;
      }
    }
    &:hover {
      border-color: $gray-200;
      box-shadow: 0px 0px 10px 5px $gray-200;
      h4 {
        color: $primary;
      }
    }
  }
  .footer {
    background-color: #04091e;
    .social {
      a {
        background-color: #1e2235;
        margin: 0 5px;
        padding: 5px 10px;
        color: $white;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
  .logos {
    @extend .price;
    img {
      transition: 0.3s ease-in-out;
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
  .insta-feed {
    margin-right: 0px;
    padding-right: 0;
    ul {
      margin-right: 0px;
      padding-right: 0;
  
      li {
        margin: 0 5px 10px 0;
      }
    }
  }
  .social {
    justify-content: end;
  }
  @media screen and (max-width: 992px) {
    .header-img,
    .header-tag {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .logos {
      display: none !important;
    }
  }
  @media screen and (max-width: 576px) {
    .insta-feed {
      h6,
      ul {
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .footer-bottom {
      p,
      .social {
        text-align: center !important;
        justify-content: center !important;
      }
    }
  }
  