.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.top-menu{
    .float-left{
        float: left;
    }
    .float-right {
        float:right;
    }
    a{
       
        text-decoration: none;
        line-height: 40px;
        display: inline-block;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        margin-right: 50px;
      }
}
.btn-nav{
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    display: block;
    padding: 0px 40px;
    font-weight: 500;
    font-size: 12px;
}

.nav-menu{
    font: 500 12px "Roboto", sans-serif;
    text-transform: uppercase;
    color: #222222;
     padding: 0px;
     display: inline-block;
     &:hover{
        color: #6247ea;
     }
}
.banner-inner{
    overflow: hidden;
    width: 100%;
    padding: 225px 0px;
}
.ref-img:hover{
    transition: all 300ms linear 0s;
}
.input-footer{
  max-width: 340px;
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 40px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  border-radius: 20px;
  background: #fff;
  padding-left: 20px;
}
.footer-a{
  font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin-left: 6px;
    background: #1e2235;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
}