@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  font-family: "Lora", serif;
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

:root {
  --primary-color: #e1d6aa;
  --secondary-color: #5a90a9;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

select {
  background: #faf4eb !important;
}

header {
  padding: 1rem;
  background-color: #fffbeb;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

option,
.search::placeholder {
  color: var(--secondary-color) !important;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h5 {
  color: var(--secondary-color) !important;
}

.blog {
  width: 300px;
  margin: 1rem;
  background-color: #ecf9ff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.blog img {
  height: 400px;
  width: 100%;
}

.blog-info {
  color: #759db0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.blog-info h3 {
  margin-top: 0;
}

.blog-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.blog-info span.green {
  color: lightgreen;
}

.blog-info span.orange {
  color: orange;
}

.blog-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.blog:hover .overview {
  transform: translateY(0);
}

.alert {
  bottom: 0;
  right: 0;
  top: auto;
}
