section.footer {
    background-color: #373b54;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 1rem;
    max-width: 1140px;
    margin: 0 auto;
}

.minifooter{
    /*grid-column: 1/span 4;*/
    text-align: center;
    margin: 1rem;
    border: none;
    opacity: 0.5;
    margin-bottom: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}

.footer h3{
    color: white;
    font-size: ;
}

img.logopict {
    width: 40%;
}

button {
    background-color: orangered;
    border: none;
    color: white;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}

input#email {
    width: 80%;
    border: 1px solid #dee2e6;
    font-size: 15px;
    border-radius: 8px;
    padding: 0.3rem;
}

.links-list ul{
    list-style: none;
    padding-left: 0;
}

li {
    display: list-item;
    color: inherit;
}

a{
    color: white;
    text-decoration: none;
}

.footer-container ul li{
    border-bottom: thin dotted black ;
    font-size: 1.2rem;
}

p.paragraph {
    background-color: #2f3034;
    font-size: 1.2rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 18px;
}
