*{
    margin: 0;
    padding: 0;
}

section.icerik {
    background-color: #dce4eb;
}

.icerik-boxes{
   /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    margin: 25px*/
    margin: 25px;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    gap: 2rem;
    max-width: 1100px;
}

img {
    width: 100%;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}

p.minibox {
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
    width: 15%;
    text-align: center;
    margin-left: 10px;
    border-radius: 8px;
    margin: 10px;
}

p.mini-title {
    font-size: 20px;
    opacity: 50%;
    font-weight: bold;
    margin: 10px;
}

p.content{
    margin: 10px;
}

h2 {
    text-align: center;
}
