:root{
  --bs-background-color:#1D152D;
  --secondary-bg-color: #4a4356;
  --black:#000;
  --cafe-racer-card-bg: #29152d;
  --accordion-button-bg:#605b6c;
}

// $primary: #F8F6F4;
$primary: #F6F1F1;
$light:#F1F6F9;
$secondary:#FFB085;
$info:#474E68;
$danger: #F1D3B3;
$warning: #D0B8A8;


$headings-font-family:'Oswald', sans-serif;
$font-family-base:'Ysabeau', sans-serif;

// $font-family-base: 'Vina Sans', cursive;
$list-group-bg: $primary;
$list-group-color:  $secondary;
$list-group-hover-bg: $secondary;

$accordion-color: $secondary;
$accordion-bg: $primary;

// modal
$modal-content-bg: $primary;
$modal-content-color: $info;
$modal-header-border-color: $info;



$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  100: $spacer * 6.25,
  120: $spacer * 7.5, 
);