body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* background-color: wheat; */
    color: darkslategray;
    font-weight: 600;
}

.mainDiv {
    background-color: whitesmoke;
    border: 5px solid darkslategrey;
    border-radius: 10px;
    margin: 50px auto;
    width: 450px;
    height: auto;
}

h2,p {
    text-align: center;
}

p {
    font-weight: lighter;
}

.subform {
    margin: 10px;
}

label {
    font-size: 14px;
}

#name,
#surname,
#date,
#email,
#phone {
    width: 97%;
    border-radius: 5px;
    padding: 5px;
}

#bilgilendirmeMetni,
#aydınlatmaMetni {
    font-weight: 100;
    font-size: 13px;
}

button {
    display: flex;
    margin: 25px auto;
    background-color: deepskyblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 11px gray;
}