.paragraf{
    font-size: 24px;
}
.title1{
    color: aqua;
}

@media only screen and (max-width: 768px) {
    .paragraf{
        font-size: 14px;
    }
    .title1{
        color: red;
    }
}

.link{
    font-size: 18px;
    text-decoration: none;
    color: rgb(158, 44, 44)
}

.link:visited{
    color: blueviolet;
}

.link:hover{
    color: burlywood;
}

.link:active{
    color: aquamarine;
}

.listItem{
    list-style-type: none;
    font-size: 18px;
    color: orange;
}
.listItem:last-child{
    color: green;
}
.listItem:nth-child(odd){
    color: teal;
}
/* .listItem:nth-child(even){
    color: teal;
}
.listItem:nth-child(n+2){
    color: yellow;
} */
.text1::first-letter{
    font-size: 30px;
}

.text1::first-line{
    color: yellowgreen;
}

.text1::after{
    content: "This is after part";
}

.text1::before{
    content: "This is before part";
}