.yellow {
  background-color: #F5F0BB;
}
.green {
  background-color: #DDFFBB;
}
.red {
  background-color: #f77878;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  margin: 20px auto;
}

.creators {
  font-size: small;
  margin: 5px auto;
}

.title {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  flex-wrap: wrap;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-weight: 600;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 210px;
}

button {
  font-size: 15px !important;
}

.checked {
  text-decoration: line-through;
}

.App {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  border: none;
}

input::placeholder {
  color: rgba(250, 249, 248, 0.527);
}