@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    color: #24272c;
}


/*--------- NAVBAR --------*/
nav {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    height: 50px;
    width: 1100px;
    margin: auto;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-items {

    width: 100%;
    font-size: 12px;
    display: flex;
    float: right;
    justify-content: right;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 65%;
    float: right;

    margin-right: 15px;
}

.items a {
    color: #D4D4D6;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.items a:hover {
    color: white;
    transition: 0.3s;
}

.items span {
    color: white;
}

.social {
    width: 8%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.social a {
    color: white;
}

/*------- LANDING AREA -------*/

.Landing-Area {
    background: url("./img/1.jpg");
    height: 80vh;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;

}

.overlay {
    display: block;
    background-color: rgba(22, 28, 45, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    position: absolute;

}

.title-heading {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 30%;
    left: 20%;
}

.title-heading h2 {
    font-size: 40px;
}

.heading-button {
    color: white;
    background-color: #FF5714;
    border: none;
    border-radius: 10px;
    padding: 12px 25px 12px 25px;
    font-size: 16px;
    margin-top: 18px;
}

.title-p {
    width: 70%;
    font-size: 20px;
    color: #788490;
    letter-spacing: 1px;
}

/*--------- SECTION 1 --------*/
.section1 {
    padding: 100px 0;
    width: 100%;
}

.section1-div {
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.video {
    background: url("./img/about.jpg");
    width: 450px;
    height: 515px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.play-icon {

    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 0;
    left: 0;
    text-align: center;

}

.play-button {
    height: 78px;
    width: 78px;
    font-size: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
}

.play-button:hover {
    color: #FF5714;
}

.section1-info {
    width: 50%;
    bottom: 15%;
}


.section1-subTitle {
    color: #FF5714;

}

.section1-title {
    font-size: 20px;

}

.section1-p {
    line-height: 1.6em;
    color: #88B2D9;
}

.section1-btn button {
    color: white;
    font-size: 18px;
    background-color: #FF5714;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}

/*--------- SECTION 2 --------*/
.section2 {
    padding: 100px 0;
   
    
}

.section2-div {
    width: 1100px;
    margin: auto;
}
.section2-up {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.section2-down {
    width: 100%;
}
.section2-up-info {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}
.up-left{
    width: 30%;
}
.up-left h1{
    font-size: 28px;
}
.up-left h4{
    color: #FF5714;
}
.up-right{
    width: 50%;
}

.section2-up-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
}

.section2-card {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    padding: 30px;
    border-radius: 30px;
}

.section2-card:hover {
    box-shadow: 0px 20px 10px 0.1px rgba(0,0,0,0.1);
    transition: 0.7s ease-in-out;
}

.card-info a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.card-icons i{
    background: rgba(255,87,20,0.1);
    color: #ff5714;
    height: 85px;
    width: 85px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
}

.card-shadow{
    box-shadow: 0px 20px 10px 0.1px rgba(0,0,0,0.1);
}



/*--------- SECTION 3 --------*/
.section3 {
    padding: 100px 0px;
    color: #24272c;
    text-align: center;
 background-color: #f8f9fc ;
}

.section3-text {
    margin: 0px 0px 24px;
    padding: 0px 0px 8px;
}

.section3 h4 {
    color: #ff5714;
    margin: 0px 0px 8px;
}

.section3 h1 {
    font-size: 28px;
    margin: 0px 0px 16px;
}

.section3 p {
    color: #8492a6;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

.section3 a {
    text-decoration: none;
}

.section3-images {
    display: flex;
    justify-content: center;
    margin: 0px 12px;
    padding: 3px;
    flex-wrap: wrap;
    position: relative;
}

.section3-img {
    width: 261px;
    height: 203px;
    margin: 24px 0px 0px;
    padding: 8px 12px 0px;
    border-radius: 6px;
    position: relative;
}

.section3-img-sub {
    background-color: #24272c;
    border-radius: 6px;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    height: 203px;
}

.section3-content {
    position: absolute;
    left: 30px;
    bottom: 20px;
    opacity: 0;
}

.section3-content p,
h6 {
    color: white;
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.section3-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    opacity: 0;
}

.section3-icon a {
    color: #FF5714;
}


.section3-img img {
    width: 261px;
    height: 203px;
    border-radius: 6px;
    background-color: #24272c;
    background-size: cover;
}

.section3-img img:hover {
    opacity: 0.5;
    transition: transform 0.4s ease-in-out;
    transform: rotate(+6deg) scale(1.1);
}

.section3-img:hover .section3-content {
    opacity: 1;
    transition: transform 0.4s;
}

.section3-img:hover .section3-icon {
    opacity: 1;
    transition: transform 0.4s;
}

.section3-content h6:hover {
    color: #FF5714;
    transition: color 0.4s ease-in-out;
}



/*----- FOOTER -----*/
footer {
    background-color: #212842;
    height: 100px;
}

.footer {
    height: 100%;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: #A0B4BC;
    font-weight: 500;

}

.footer-social {
    width: 120px;
    display: flex;
    justify-content: space-between;
    float: right;
}

.footer-social a {
    color: #A0B4BC;
}

.footer-social a:hover {
    color: #FF5714;
    transition: 0.3s;
}



/* ------------ MEDIA QUERIES ------------ */

@media only screen and (min-width: 1200px) {
    .mobile-nav {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-items {
        justify-content: center;
    }

    .mobile-nav {
        display: none;
    }

    .title-p {
        width: 100%;
        font-size: 20px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 35px;
    }

    .heading-button {
        color: white;
        background-color: #FF5714;
        border: none;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        font-size: 14px;
        margin-top: 18px;
    }

    .section1-div {
        width: 100%;
        justify-content: space-around;
    }

    .video {
        width: 300px;
        height: 350px;
    }


    .footer {
        width: 80%;
    }

}



@media only screen and (max-width: 992px) {
    .navbar {
        background-color: white;
        width: 100%;
    }

    .nav-items {
        display: none;
    }

    .logo {
        display: none;
    }

    .mobile-nav {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title-p {
        width: 100%;
        font-size: 18px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {

    .Landing-Area {
        background: url("./img/1.jpg");
        height: 60vh;

        background-size: cover;

    }

    .overlay {
        display: block;
        background-color: rgba(22, 28, 45, 0.75);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
    }

    .title-p {
        width: 100%;
        font-size: 12px;
        color: #788490;
        letter-spacing: 1px;
    }

    .title-heading h2 {
        font-size: 25px;
    }

    .heading-button {
        color: white;
        background-color: #FF5714;
        border: none;
        border-radius: 10px;
        padding: 8px 16px 8px 16px;
        font-size: 12px;
        margin-top: 18px;
    }

    .title-heading {

        top: 22%;
        left: 20%;
    }

    .section1-div {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

    }

    .video {
        width: 300px;
        height: 350px;

    }

    .section1-info {
        width: 60%;
        bottom: 15%;
    }

    .footer {
        height: 80%;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    footer {
        height: 20vh;

    }
}