.wrapper{
    display: flex;
    justify-content: space-between;
}


.repoTitle{
    display: flex;
    align-items: center;
    gap: 10px;
}

.repoTitle a{
    color: #22848b;
    text-decoration: none;
}

.badge{
    background-color: #22848b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.repoDetailBadge{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.repoBadge{
    display: flex;
    align-items: center;
    gap: 5px;
}

