#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url("https://images.pexels.com/photos/3944454/pexels-photo-3944454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-color: rgb(235, 235, 235);
}
.inputArea {
  width: 300px;
}

.body-bg {
  background: rgba(55, 55, 55, 0.52);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(55, 55, 55, 0.32);
  min-width: 600px;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

