* {
    box-sizing: border-box;
}
body{
    background-color: #343F4B;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.container{
    box-sizing: content-box;
    width: 1140px;
    height: 447.39px;
    /* padding: 0 12px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(184, 127, 127); */
    
}
.baslik{
    width: 1116px;
    height: 168.39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 0 0 18px;
    padding: 0 0 8px;
}
.baslik h6{
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    color: #0076a3;
    width: 558px;
    height: 22.39px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.baslik h2{
    font-size: 40px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    width: 558px;
    height: 56px;
    text-align: center;
    margin: 0 0 8px 0;
}
.baslik p{
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    color: #ffffff4d;
    width: 558px;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.teammate{
    display: flex;
    justify-content: baseline;
}
.person{
    width: 285px;
    height: 235.77px;
    margin-top: 24px;
    padding: 8px 12px 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.name{
    width: 165px;
    height: 30.38px;
    transform: rotate(270deg);
    margin: 0;
    position: absolute;
    top: 80px;
    left: -5px;
}
.name h6{
    display: inline-block;
    width: 165px;
    height: 22px;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    margin: 0;
    padding:0;
}
.name-span{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: #838485;
}
.teammate-photo{
    width: 189.77px;
    height: 189.77px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.img-icon{
    display: flex;
    align-items: center;
    
}
.icons{
    width: 189.77px;
    height: 32px;
}
.icons a{
    color:#838485 ;
}
.icons i{
    font-size: 20px;
    margin-left: 10px;
}


