* {
    box-sizing: border-box;
}
body{
    background-color: #343F4B;
}
.by-section{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.by-container{
    box-sizing: content-box;
    width: 1140px;
    margin: auto;
    /* background-color: rgb(184, 127, 127); */
    
}
.by-baslik{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: auto;
}
.by-baslik h6{
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    color: #0076a3;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.by-baslik h2{
    font-size: 40px;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
    margin: 0 0 8px 0;
}
.by-baslik p{
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    color: #ffffff4d;
    text-align: center;
    margin: 0;
    padding: 0;
}
.by-teammate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.by-person{
    width: 25%;
    margin-top: 24px;
    padding: 8px 12px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  
}
.by-name{ 
    transform: rotate(270deg);
    margin: 0;
    display: flex;
    align-items: center;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 60px;
}
.by-name h6{
    font-size: 16px;
    width: 200px;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    margin: 0;
    padding:0;
}
.by-name-span{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: #838485;
}
.by-teammate-photo{
    width: 189.77px;
    height: 189.77px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.by-icons{
    width: 189.77px;
    height: 32px;
}
.by-icons a{
    color:#838485 ;
}
.by-icons i{
    font-size: 18px;
    margin-left: 13px;
}

/*---- GET IN TOUCH----*/
.by-section-mm{
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.by-s1-mail{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail-title h4{
    font-size: 24px;
    font-family: "Poppins",sans-serif;
    margin: 0 0 4px;
    color: #ffffff;
    line-height: 1.4;
}
.mail-title p{
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    margin: 0 0 16px;
    color: #ffffff4d;
    line-height: 25px;
}
.name-email{
    display: flex;
    justify-content: space-between;
}
.by-input{
    margin: 15px 0;
    height: 48px;
    padding: 6px 12px 6px 20px;
    border: 1px solid #efefef;
    font-size: 15px;
    border-radius: 5px;
}
.subject{
    width: 100%;
}
.by-subject-input{
    width: 100%;
    margin: 15px 0;
    height: 48px;
    padding: 6px 12px 6px 20px;
    border: 1px solid #efefef;
    font-size: 15px;
    border-radius: 5px;
}
.by-message-input{
    width: 100%;
    margin: 15px 0;
    height: 104px;
    padding: 6px 12px 6px 20px;
    border: 1px solid #efefef;
    font-size: 15px;
    border-radius: 5px;
}
.mail-btn input{
    background-color: #0076a3;
    color: #ffffff;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 45px;
    margin: 15px 0;
    padding: 12px 30px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 5px;
}
.by-s1-map{
    box-sizing: content-box;
    width: 641px;
    height: 533px;
    padding: 0 12px;
    position: relative;
}
.by-map{
    position: absolute;
    top: 8%;
    right: 9%;
    width: 82%;
}
.by-section-contact{
    display: flex;
    justify-content: center;
}
.ctn{
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 24px 0 0 0;
}
.by-section-contact h1{
    font-family: "Poppins",sans-serif;
    font-weight: 600 ;
    line-height: 1.4;
    width: 100%;
    margin:0 0 4px;
    font-size: 20px;
    color: #ffffff;
}
.by-section-contact p{
    font-family: "Poppins",sans-serif;
    margin:0 ;
    font-size: 14px;
    color: #ffffff4d;
    line-height: 25px;
}
.by-section-contact i{
    color: #0076a3;
    font-size: 45px;
    width: 50px;
    height: 75px;
    text-align: center;
    padding: 25% 0;
    margin-right: 20px;
}
.wdth100 {
    width: 100%;
}


/*---- MEDIA QUERIES ---- */
@media only screen and (max-width: 1200px){
   
}


@media only screen and (max-width: 996px){
    .by-container {
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .by-teammate{
        justify-content: center;
        text-align: center;
    }
    .by-person{
        width: 50%;
    }
   
    .by-teammate-photo{
        width: 276px;
        height: 276px;
    }
    .by-name{
        top: 150px;
        left: -60px;
    }
    .by-section-mm{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin: 0;
    }
  
    .name-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    .by-container{
        justify-content: flex-end ;
    }
    
    .by-teammate{
        justify-content: flex-end;
    }
    .by-person{
        width: 75%;
    }
   
    .by-teammate-photo{
        width: 400px;
        height: 400px;
    }
    .by-name{
        top: 190px;
        left: -150px;
        
    }
}

