// $primary: rgba(0, 0, 0, 0.5);

// caurosel items
// $carousel-caption-color: $black;
$carousel-caption-width: 80%;

// acordion items
$accordion-button-focus-box-shadow: none;
$accordion-button-focus-border-color: none;
$accordion-border-color: none;
$accordion-button-bg: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: black;
