.AddModalButton{
  color:#ffd300 !important;
  font-size: 40px !important;
  font-weight: 600 !important;
}

.modal{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}

.closeBtn{
  color: white !important;
}

.addToDoBtn{
  color: gold !important;
  font-weight: bold !important;
}
