.borderradius{
    border-radius: 50%;
}
.bgimage{
    background-image: url("https://picsum.photos/800/800");
    width: 500px;
    height: 500px;
    background-position-y:center ;
    background-position-x: center;
    background-size: cover; /*cover verdiğimizde resmi kendi alanına sığdırmaya çalışır.*/
    overflow: auto;
}
