.container{
    max-width: 1200px;
    margin: 0 auto;
  }

/* Navbar component */
.navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  
  /* Navbar Component Finish */