table,
tr,
td,
th {
  width: 60%;
  height: 40px;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  font-family: sans-serif;
}

tbody {
  font-size: 15px;
}

thead {
  font-size: 20px;
  background-color: olive;
}

tbody tr:nth-child(odd) {
  background-color: aqua;
}

tbody tr:hover {
  background-color: grey;
  cursor: pointer;
}
