*{
  margin: 0px;
  padding: 0px;
}
.nav{
  height: 70px;
  width: 100%;
  display:flex;
  font-size: 20px;
  margin-bottom: 10px;
}

.menu ul{
  list-style-type: none;
  display:flex;
  justify-content: center;
  gap:38px; 
}

.menu ul li:hover{
  color: #f3612f;
}

img{
  width: 95px;
  height: 25px;
  margin: 30px 114px;
}

.iconBox{
  background-color: #f3612f;
  border:1px solid #f3612f;
  border-radius: 50%;
  font-size: 23px;
  padding: 4px 10px;
  width: 17px;
  margin-top: -14px;
  margin-right: -30px;
}

.iconBox:hover{
  color: #87351c;
}

.menu{
  margin-top: 23px;
  width: 100%;
}

.main{
  height: 600px;
  width: 100%;
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/1.jpg");
  background-position-y: bottom;
  background-color: black
}

.metin{
  padding-top: 115px;
  padding-left: 120px;
  color: white;
}

.buton{
  width: 125px;
  height: 50px;
  background-color: #f3612f;
  border-radius: 7px;
  color:white;
  font-size: 16px;
  margin-top: 24px;
}
.buton:hover{
  background-color: #bf3507;
  
}

.video img{
  width: 444px;
  height: 393px;
  border-radius: 10px;
}

.kısım2{
  width: 100%;
  height: 600px;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}
.playButton{
  border-radius: 50%;
    font-size: 57px;
    position: absolute;
    bottom: 59%;
    left: 355px;
    text-align: center;
    color: orangered;
    background-color: white;
    width: 60px;
    padding-left: -10px;
}
.playButton:hover{
  color: white;
  background-color: orangered;

}

.yazı{
  margin-top: 100px;
}
 @media screen and (max-width: 768px) {
  .yazı{
    
    margin-left: -105px;
  }
  .yazı p{
    width: 131px;
  }
  .video img {
    width: 218px;
    height: 355px;
    border-radius: 10px;
}

} 


.yazı h4{
  color: #f3612f;
}

.yazı h3{
  font-size: 25px;
}

.yazı p{
  width: 500px;
}


.kısım3{
  display: flex;
  justify-content: center;
  gap: 200px;
}

.row1{
  display: flex;
  flex-wrap: wrap;
  gap:10px;  
  margin: 0px 250px;
}

.card{
  width: 325px;
  height: 310px;
  border-radius: 15px;
}

.golge{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.kutu{
  width: 100px;
  height: 100px;
  margin: 20px;
  background: rgba(255,87,20,0.1);
  border-radius: 15px;
}

.kutu ,p,a,h3{
  margin: 20px;
}

.card a{
  text-decoration: none;
  color: black;
}

.card a:hover{
  color: #f3612f;
}

.kısım6{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  text-align: center;
  background-color: #f8f9fc;

}

.portfolio-metin h4{
  color: #f3612f;

}



.portfolio-resim{
  display: flex;
  flex-wrap: wrap;
  margin : 0px 190px;
}

.portfolio-resim img{
  width: 250px;
  height: 250px;
  margin: 15px;
  border-radius: 10px;
}



.kısım7{
  background-image: url("https://shreethemes.in/upstart/layouts/images/bg/cta.png");
  background-position-y:center;
  width: 100%;
  height: 400px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
.kısım7 h1{
  color: white;
  margin: 0px;
}
.kısım7 p{
  color: white;
}

.kısım8{
  
  margin-top: 50px;
  text-align: center;
}
.plans{
  margin-bottom: 51px;
}

.plans h4{
  color: #f3612f;

}

.plans h2{
  font-size: 30px;
  }
.plans p{
color: #8492a6;
}
.plans-card{
display: flex;
justify-content: center;
gap: 10px;
}
.p-card{
  border-radius: 10px;
    width: 367px;
    height: 325px;
    padding-top: 26px;
    margin-left: 21px;
    margin-bottom: 50px;
    border: 1px solid grey;

  
}
.p-card:hover{
  transform: scale(1.1);
  z-index: 2;
  box-shadow: rgba(36, 39, 44, 0.15) 3px 15px 22px
}
.p-card ul{
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  color: grey;
}
.p-card li,a{
  margin-bottom: 12px;
}
.buton8{
  width: 285px;
  height: 37px;
  background-color: #ffccd5;
  border-radius: 7px;
  color: #ff5714;
  font-size: 16px;
  margin-top: 55px;
}

.buton8:hover{
  color: white;
  background-color: #ff5714;
}
.kısım9{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 50px;
  text-align: center;
  background-color: #f8f9fc;

}


.resim9 img {
  width: 220px;
  height: 231px;
  margin: 9px;
  border-radius: 10px;
  background-color: #f8f9fc;
}

.k9m{
  margin-top: 82px;
}
.rakamlar{
  margin-left: 294px;
  display: flex;
  gap: 162px;
  margin-top: 26px;
}
.rakamlar p{
  margin-top: 0px;
  color: #8492a6;
  margin-left: 2px;
}
.logolar img{
  width: 87px;
  height: 54px;
  margin: 10px 65px;
}