// Renkler
$primary: #242ba1;
$secondary:rgba(24,218,5,1);
$danger:#6E1E32;
$info:#ffd700;

// text için düzenleme
$link-decoration:none;
// Fontlar
$display-font-sizes:(
    1:1.75rem,
    2:1.35rem,
    3:2rem,
);

// h font size
$h2-font-size:1rem*4;
$h3-font-size:1rem*2.3;
$h4-font-size:1rem*3.5;
$h5-font-size:1rem*1.6;
$h6-font-size:1rem*3.4;