  .conteiner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
  
  }
  .footerNewsletter{
    /* height: 150px; */
    background-color: #FFB91F;
    /* display:flex */
  }
        
  .footerblack{
    width: 100%;
    height: 540px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.new-slater-wraper{
    display: flex;
    gap: 5rem;
    height: 150px;
    align-items: center;
    justify-content: space-between;

}

  .footerNewsletterform{
    filter: none;
    padding: 5px;
    text-align: left;
    width: 50%;
    box-shadow: none;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    line-height: 24px;
    background: #FFFFFF00;
    border-color: #202020;
    color: #202020;
    display: flex;
    justify-content: space-between;
  }

  .footerNewsletterBaslik{
    /* background-color: aqua; */
    /* width: 40%;
    height: 150px; */
    
  }
  input[type=email] {
/* 
    filter: none;
    padding: 12px 26px;
    text-align: left;
    width: 100%;
    box-shadow: none;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    line-height: 24px;
    background: #FFFFFF00;
    border-color: #202020;
    color: #202020; */
    width: 70%;
    margin-bottom: 0;
    box-shadow: none;
    vertical-align: bottom;
    line-height: 24px;
    color: #202020; 
    background-color: transparent;
    outline: none;
    border: none;
    text-align: left;
    margin-left: 20px;

}
.footerNewsletterform .button{
    background-color: #000;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: inherit;
    font-weight: 600;
    border: 1px solid black;
    
}

  h2.Newsletter{
    color: #202020;
    border-color: rgba(24,24,24,1);
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 45px;
    font-family: Outfit;
    font-style:normal;
    font-weight: 700;
    text-align: left;
  }


  p.Newsletter{
    text-align: left;
  }
  .footerNewsletterform .button:hover{
    color: #000;
    border-color: #000;
  }
  .button:hover {
    background: transparent !important;
   
  }

  .footerblack-conteiner{
    display: flex;
    max-width: 1230px;
    align-items: center;
    justify-content: space-between;
    margin-left:10px ;
  }
  .SAYHELLO{
    width: 30%;
    height: auto;
  
    margin-right: 70px;
    /* background-color: aliceblue; */
  }
  .SAYHELLO p{
    text-align: left;
    /* color: rgba(255,255,255,1); */
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
  }
  .SAYHELLO h5{
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
    color: rgba(255,255,255,1);
    padding-bottom: 50px;
    
  }
  .SAYHELLO a{
    text-align: left;
    color: rgba(255,255,255,1);
    padding-bottom: 20px;
    color: rgba(170,170,170,1);
    text-decoration: none;
  }
  .SAYHELLO a:hover{
    color: rgba(255,185,31,1);
  }
  .MYACCOUNT{
    width: 25%;
    height: auto;
 

  }

  .PRODUCT{
    width: 25%;
    height: auto;

  }
  .READERSERVICES{
    width: 25%;
    height: auto;
  
  }


  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 260px;
  }

  .footer-title{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .footer-menu li a{
    color: rgba(170,170,170,1);
  }

  .social-icons ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 210px;
    margin-top: 10px;
  }


  .footer-main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:100px;
    border-top: 1px solid #ffffff31;
 height: 100px;
 align-items: center;
  }
.footer-bottom{
  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:60px;
    width: 1230px;
}

  .footer-left{
    color: #fff;
  }

  .footer-left span{
    color: #FFB91F;
  }
.featured-main{
  background-color: #fff;
}
  .featured-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top:20px;
  }

 .featured-title{
    display: flex;
   justify-content: center;

  }
  .featured-title h2{
    font-size: 42px;
  }
  
  @media  screen and (max-width:500px) {
    .footerNewsletter{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
     
    }
    .conteiner{
      display: flex;
      flex-direction: column;
      max-width: 345px;
    
    }

    .new-slater-wraper{
      gap: 0px;
      flex-wrap: wrap;
    }

    .footerNewsletterform{
      width: 100%;
      height: 30%;
      align-items: center;
    }

.footerblack-conteiner .SAYHELLO{
  width: 500px;
}
    .footerblack-conteiner{
      width: 375px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top:30px;
      background-color: #000000;
    }

.footerblack{
  background-color: #000000;
}
.footer-main{
  background-color: #000;
  margin-top: 0px;
 
}

  }