
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .card .cardHeader {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card .listGroup{
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
  }
  
  .card .listGroupItem {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .listGroupItem:hover{
    background-color: #f8f9fa;
  }
  
  .card .listGroupItem:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .card .listGroupItem:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }


  .deleteButton{
    width: 100%;
    background-color: #FE481C;
    color: white;
    padding: 0.5rem 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: medium;
    border-color: transparent;
    min-width: 5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 700;

    &:hover{
      background-color: #fff;
      color: #FE481C;
      transition: all 0.3s ease-in-out;
      border: #FE481C 2px solid;
    }

  }