.banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: blue;
  padding: 20px;
  height: 695px;
}

.ms-10 {
  margin-left: 10rem;
  padding: auto;
}

.text-left {
  text-align: left;
}

.c-margin {
  margin-left: 10rem;
  margin-top: 5rem;
  text-align: start;
}

.c-margin h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #002A48;
}

.c-margin h3,
.banner-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #002A48;
}

.c-margin p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #002A48;
  width: 50%;
}

.row-buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.products {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.banner-2 {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 378px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  padding: 20px;
  height: 378px;
}

.banner-content p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #002A48;
  width: 50%;
}

.banner-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #002A48;
}

.sellers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.footer {
  height: 440px;
  background: linear-gradient(180deg,
      rgb(251.81, 238.23, 212.99) 6.17%,
      rgb(251.81, 238.23, 212.99) 75.14%,
      rgb(255, 230.83, 185.94) 100%);
  overflow: hidden;
  position: relative;
  padding: 80px 130px;
}

.subscription {
  background-color: #002A48;
  padding: 32px;  
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.subscription h5 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

#subs {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: none;
  padding: 0 20px;
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

#subs button {
  height: 75%;
  margin-top: 0.4rem;
  border-radius: 12px;
  border: none;
  font-weight: 400;
  background-color: #002A48;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 100px;
  gap: 30px;
  margin-top: 2rem;
  list-style: none;
}

.footerlinks a {
  color: #002A48;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.footerlinks a:hover {
  color: #002A48;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  text-align: end;
  height: 100px;
  gap: 30px;
  margin-top: 2rem;
  list-style: none;
}

.policy {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  text-align: end;
  height: 100px;
  margin-top: 2rem;
  list-style: none;
}



@media screen and (max-width: 768px) {
  .c-margin {
    margin-left: 1rem;
    margin-top: 5rem;
    text-align: start;
  }

  .c-margin h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #002A48;
  }

  .c-margin h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #002A48;
  }

  .c-margin p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #002A48;
    width: 100%;
  }

  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: blue;
    padding: 20px;
    height: 695px;
  }

  .banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 378px;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 378px;
  }

  .banner-content p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
    width: 100%;
  }

  .banner-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: white;
  }

  .banner-content h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
  }

  .row-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .products {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
  }

  .sellers img {
    width: 50px;
    height: 50px;
  }

  .footer {
    height: 100%;
    background: linear-gradient(180deg,
        rgb(251.81, 238.23, 212.99) 6.17%,
        rgb(251.81, 238.23, 212.99) 75.14%,
        rgb(255, 230.83, 185.94) 100%);
    overflow: hidden;
    position: relative;
    padding: 80px 30px;
  }

  .subscription {
    background-color: #002A48;
    padding: 32px;  
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subscription h5 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
  }

  #subs {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 400;
  }
}