.button.btnLarge {
  cursor: pointer;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
}
.button.btnMed {
  cursor: pointer;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
}
.icon {
  display: inline-flex;
}
.icon > svg {
  width: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.textOnly {
  width: 163px;
}
.textIconRight,
.textIconLeft {
  display: inline-flex;
}
.iconOnly {
  display: inline-flex;
  padding: 12px;
}
.btn1 {
  background: #003459;
  color: #fdfdfd;
}
.btn2 {
  background: #0078cd;
  color: #fdfdfd;
}
.btn3 {
  background: #002a48;
  color: #fdfdfd;
}
.btn4 {
  background: #00528c;
  color: #fdfdfd;
}
.btn5 {
  background: #ccd1d2;
  color: #667479;
}
.btn6 {
  border: 1.5px solid #003459;
  color: #003459;
  background-color: transparent;
}
