.listItem{
  background-color: rgb(255, 255, 255);
  display: flex;
  color: rgb(46, 46, 46);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(100, 100, 100);
  padding: 20px;
  width: 800px;
  border-radius: 10px;
}
.buttonGroup{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titleGroup{
  display: flex;
  gap: 20px;
}
.edit-class{
  display: none;
}
.edit-class-active{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked-class-active{
  font-style: italic;
  font-weight: bolder;
  background-color: #F0EEED;
}
.checked-class-active h5{
  text-decoration: line-through;
}
.edit-button{
  background-color: #BDCDD6;
  border: none;
  padding: 8px;
  border-radius: 7px;
}
.delete-button{
  border: none;
  padding: 8px;
  border-radius: 7px;
  background-color: #19376D;
}
.edit-input{
  margin-right: 10px;
  padding: 8px;
  border-radius: 7px;
  border: none;
  background-color: #dfdfdf;
}