/* features */

features{
    background-color: #343f34;
}

*{
    background-color: hsl(211, 18%, 25%)
}

.section#features{
    width: 1100px;
}

.features-conteiner{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.app h2{
    color: white;
}

.app h6{
    color: #0076a3;
    margin-top: 15px;
    margin-bottom: 15px;
}

.app p{
    color: rgba(255, 255, 255, .3);
    font-size: 15px;
    font-family: "roboto", sans-serif;
    /*margin-left: 250px;*/
}

.app{
    width: 1100px;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 15px;
}

.appteach {
    width: 1100px;
    display: flex;
    flex-direction: column
}

p.appteach-text {
    color: rgba(255, 255, 255, 0.3);
    max-width: 650px;
    font-size: 0.93rem;
    line-height: 25px;
    text-align: center;
    margin-top: 0;
}

.appteach-buttons {
    margin-top: 100px;
}

.appteachtab-content {
    display: flex;
    justify-content: space-evenly;
}

.featureBtn {
    display: flex;
    margin-bottom: 80px;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

button.smart-btn {
    color: white;
    padding: 15px;
    border-radius: 6%;
    background-color: none;
    margin: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

button.top-btn {;
    color: white;
    padding: 15px;
    border-radius: 6%;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5 0%, #114d64 100%);
    color: #fff;
    cursor: pointer;
}

.apptab-content {
    display: flex;
    align-items: center;
    margin-bottom: 250px;
    width: 75%;
    justify-content: center;
}

::before {
    color: #0076a3;
    background-color: rgba(0,118,163,.1) !important;
}

h4, h5, h6 {
    font-family: "Poppins",sans-serif;
    font-weight: 600 !important ;
    line-height: 1.4;
}

.h5 {
    font-size: 1.25rem;
    font-family: "poppins", sans-serif;
}

.tab-content p {
    color: rgba(255, 255, 255, .3);
    font-size: 14px;
    font-family: "roboto", sans-serif;
}

.left-content>h5{
    color: white
}

.left-content p{
    text-align: right;
}

.resp-design-text , .cool-feat-text {
    margin-bottom: 100px;
}

.right-content {
    text-align: left;
    margin-left: 0px;
}

.stun-design-text , .best-psd-text {
    margin-bottom: 100px;
}

.img-content {
    width: 300px;
}

.\,img-content {
    display: flex;
    justify-content: center;
}

img.imgphone {
    width: 100%;
}

img.phone-feat {
    width: 350px;
}

.left-content {
    text-align: right;
}

img.phone-feat2 {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.features2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.features2-content {
    display: flex;
    flex-direction: row;
    align-items: center
    width: 75%;
}

.align-items-center {
    align-items: center!important;
}

button.follow {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.buildapp-content {
    margin-top: 25px;
}

.follow {
    height: 260px;
    width: 500px;
}

div.feat2-img {
    margin: 5px 0 0 0;
    padding-block-end: 10px;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
}

img.potre-feat2 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

button.readmore-btn {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

button.followbtn {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.Client {
    width: 200px;
}

.title.text-center {
    width: 1100px;
    display: flex;
    flex-direction: column;
    text-align: center !important;
}

h6.title1 {
    color: #0076a3;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2.title2 {
    color: white;
    margin-top: 0;
    margin: bottom 0;
}

p.text-pravity {
    color: rgba(255, 255, 255, .3);
}

.cantainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h3.title.Testimonial {
    color: white;
    font-size: 28px;
    font-family: poppins
    margin: 0px 0px 8px;
    color: white;
}

p.Testimonial {
    color: rgba(255, 255, 255, .3);
    font-family: "roboto"
    font-size: 15px;
    line-height: 25px;
    padding: 9px 0;
    margin: 20px 0 16px;
    max-width: 500px;
    margin: auto;
}


h5.title.Testimonial {
    color: white;
    margin-left: 0;
}

h1, h2, h3 {
    font-family: "Poppins",sans-serif;
    font-weight: 700 !important;
    line-height: 1.4;
}

@media screen and (max-width: 996px){
    .features2-content{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 768px){
    .features2-content{
        flex-direction: column;
        align-items: center;
    }
    .tab-content{
        flex-direction: column;
        align-items: center;
    }
    .appteach-buttons {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 996px){
    .features2-content{
        flex-direction: column;
        align-items: center;
    }
    .tab-content{
        flex-direction: column;
        align-items: center;
    }
    .appteach-buttons {
        flex-direction: column;
        align-items: center;
    }
}
/* application */

.application {
    background-color: #303841 !important;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 200px;
}

.application-container {
    width: 1100px;
    margin: auto;
    line-height: 1.5em;
    flex-direction: column;
}

.application-text {
    margin-bottom: 100px;
    text-align: center;
    color: white;
    background-color: #303841
}

p.app\.teach\.p {
    text-align: center;
}

app.teach.p {
    text-align: center;
    font-size: 30px;
}

.application-container h2{
    font-size: 45px;
    margin-top: 20px;
    color: #fff;
    background-color: #303841;
}

h6.applooksminititle , h2.applookstitle , p.app\.teach\.p {
    background-color: #303841 !important;
}

.application-container p{
    margin-top: 20px;
    color: #888E97;
    background-color: #303841;
}

.application-container h6{
    background-color: #303841;
}

.appfotos{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 996px){
    .appfotos{
        flex-direction: column;
    }

    .application.container{
        align-items: center;
    }

    .application-text {
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    .appfotos{
        flex-direction: column;
    }

    .application.container{
        align-items: center;
    }

    .application-text {
        width: 40%;
    }
}

/* pricing */

.btpriceboxs {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

section.btsection4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.btprice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.btpricetitles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
    padding: 50px 10px;
    text-align: center;
}

 h6 {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #0076a3;
    margin: 0;
}


h2 {
    font-family: "poppins", sans-serif;
    font-size: 40px;
    line-height: 56px;
    color: #ffffff;
    margin: 0;
}

p {
    font-family: "roboto", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
    color: #ffffff80;
    line-height: 25px;
    padding: 9px 0;
    margin: 20px 0 16px;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.btbasicbox , .btstartbox , .btenterbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
    width: 35%;
    padding: 2rem;
    justify-content: space-evenly
}

.basicprice {
    width: 356px;
    height: 238px;
    padding: 24px;
    border-radius: 5px;
}

.ministartbox {
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
    background-color: #0076a3 !important;
    padding-left: 0;
    display: flex;
    width: 25%;
    border-radius: 10%;
}

.minienterbox {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
    background-color: #0076a3 !important;
    padding-left: 0;
    display: flex;
    width: 33%;
}

.minibasicbox {
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
    background-color: #0076a3 !important;
    padding-left: 0;
    display: flex;
    width: 18%;
    border-radius: 10%;
}

sup.timestart ,  sup.timebasic , sup.timeenter{
    margin-top: 15px;
}

h2.month.basic , h2.month.start , h2.month.enter {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 15px;
}

p.basic.text1 {
    color: rgba(255,255,255,.3) !important;
    text-align: left;
}

p.basic2 {
    color: rgba(255,255,255,.3) !important;
    text-align: left;
    width: 450px
}

ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
}

.fa-regular, .far {
    font-weight: 400;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.text-success {
    color: #1d9b7b !important;
}

.text-danger {
    color: #da3746 !important;
}

.btstartbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
    width: 35%;
    padding: 2rem;
}

.basicborder, .startborder , .enterborder {
    border: 1px solid #dee2e6;
    border-width: 3px;
}

sup.moneybasic , sup.moneystart , sup.moneyenter {
    font-size: 30px;
}

sup.timebasic {
    font-size: 35px;
}

h2.month.start , p.start.text1 {
    display: flex;
}

.recommenbox {
    background-color: #0076a3 !important;
    color: white;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 14px 0px;
    font-size: 16px;
    text-align: center;
    color: white;
    font-family: 'Roboto';
}

.ministartbox {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
    background-color: #0076a3 !important;
    padding-left: 0;
    display: flex;
    width: 20%;
}

.minienterbox {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.5rem;
    color: white;
    background-color: #0076a3 !important;
    padding-left: 0;
    display: flex;
    width: 30%;
    /* text-align: center; */
}

button.minibtn3 {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 35px;
    display: flex;
    cursor: pointer;
}

button.minibtn1 {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 35px;
    display: flex;
    cursor: pointer;
}

.btenterbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.05);
    width: 35%;
    padding: 2rem;
}

button.minienterbutn {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90px;
    height: 35px;
    display: flex;
    cursor: pointer;
}

.basicinfobox , .enterinfobox {
    text-align: left;
    color: #fff;
}

.startinfobox{
    text-align: left;
    color: #fff;
}


@media only screen and (max-width: 768px){
    .btpriceboxs{
        flex-direction: column;
    }

    .btpricetitles{
        width: 45%;
    }
}

@media only screen and (max-width: 768px){
    .btbasicbox, .btstartbox, .btenterbox{
        flex-direction: column;
        width: 50%;
    }
}

@media only screen and (max-width: 996px){
    .btbasicbox, .btstartbox, .btenterbox{
        flex-direction: column;
        width: 50%;
    }
}

/* team */

section.team {
    background-image: url(../images/cta-bg.jpg);
}

.teamimg> img{
    width: 60%;
}


.team-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
}

.team-content {
    width: 40%;
    margin-left: 500px;
    margin-top: 150px;
}

h1.ideal {
    color: #ffffff;
    font-size: 80px;
}

p.textteam {
    color: rgba(255,255,255,.3) !important;
    font-size: 18px;
    font-family: 'Poppins';
    /* text-align: left; */
    margin-left: 0px;
}

button.appstore , button.googleplay {
    border: none;
}

.teambutton> img {
    width: 200px;
}

.teambutton {
    margin-top: 50px;
}

media screen and (max-width: 996px){
    .team-container{
        flex-direction: column;
    }

    .team-content{
        font-size: 40px;
        margin-top: 150px;
        width: 20%;
        text-align: left;
        margin-left: 0;
    }

    .teamimg {
        width: 800px;
    }
}

@media screen and (max-width: 768px){
    .team-container{
        flex-direction: column;
    }

    .team-content{
        font-size: 40px;
        margin-top: 150px;
        width: 20%;
        text-align: left;
        margin-left: 0;
    }

    .teamimg {
        width: 800px;
    }

}

