features{
    background-color: #343f34;
}

*{
    background-color: #343f4b;
    margin-left: 10px;
}

.section#features{
    width: 1100px;
}

.features-conteiner{
    max-width: 1100px;
}

.app h2{
    color: white;
}

.app h6{
    color: #0076a3;
    margin-top: 15px;
    margin-bottom: 15px;
}

.app p{
    color: rgba(255, 255, 255, .3);
    font-size: 15px;
    font-family: "roboto", sans-serif;
}

.app{
    width: 1100px;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 15px;
}

.appteach {
    width: 1100px;
    display: flex;
    flex-direction: column
}

.featureBtn {
    display: flex;
    margin-left: 440px;
    margin-bottom: 80px;
    gap: 50px;
    margin-right: 80px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

button.smart-btn {
    border: 1px solid #f9f6f6;
    color: white;
    padding: 15px;
    border-radius: 6%;
    background-color: none;
}

button.top-btn {;
    color: white;
    padding: 15px;
    border-radius: 6%;
    border: 1px solid #0076a3;
    background: linear-gradient(#2e8da5 0%, #114d64 100%);
    color: #fff;
}

.apptab-content{
    width: 1100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

::before {
    color: #0076a3;
    background-color: rgba(0,118,163,.1) !important;
}

h4, h5, h6 {
    font-family: "Poppins",sans-serif;
    font-weight: 600 !important;
    line-height: 1.4;
}

.h5 {
    font-size: 1.25rem;
    font-family: "poppins", sans-serif;
}

.tab-content p {
    color: rgba(255, 255, 255, .3);
    font-size: 14px;
    font-family: "roboto", sans-serif;
}

.left-content>h5{
    color: white
}

.right-content {
    text-align: left;
    margin-left: 0px;
}

.img-content {
    width: 300px;
}

img.imgphone {
    width: 100%;
}

img.phone-feat {
    width: 350px;
}

.left-content {
    text-align: right;
}

img.phone-feat2 {
    width: 20vw;
    padding-left: 20px;
}

.features2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 80px;
    margin-bottom: 100px;
}

.features2-content {
    width: 1100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.align-items-center {
    align-items: center!important;
}

button.follow {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    height: 35px;
}

.buildapp-content {
    margin-top: 25px;
}

img.phone-feat2 {
    width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
}

.follow {
    height: 260px;
    width: 500px;
}

div.feat2-img {
    margin: 5px 0 0 0;
    padding-block-end: 10px;
    padding-inline: 10px;
}

img.potre-feat2 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

button.readmore-btn {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

button.followbtn {
    background: linear-gradient(80deg, #46a5bd 0%, #116a8d 100%);
    border: none !important;
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.Client {
    width: 200px;
}

.title.text-center {
    width: 1100px;
    display: flex;
    flex-direction: column;
    text-align: center !important;
}

h6.title1 {
    color: #0076a3;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2.title2 {
    color: white;
    margin-top: 0;
    margin: bottom 0;
}

p.text-pravity {
    color: rgba(255, 255, 255, .3);
}

.cantainer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h3.title.Testimonial {
    color: white;
    font-size: 28px;
    font-family: poppins, sans-serif;
    margin: 0px 0px 8px;
    color: white;
}

p.Testimonial {
    color: rgba(255, 255, 255, .3);
    font-family: "roboto", sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding: 9px 0;
    margin: 20px 0 16px;
    max-width: 500px;
    margin: auto;
}


h5.title.Testimonial {
    color: white;
    margin-left: 0;
}

h1, h2, h3 {
    font-family: "Poppins",sans-serif;
    font-weight: 700 !important;
    line-height: 1.4;
}

.price-text-center {
    align-items: center!important;
}

.basic {
    padding-top: 0.5rem !important;
    margin-top: 1.5rem !important;
}

.basic.box {
    border-radius: 10px;
}

.basic.box.up {
    background-color: #183b56;
    padding: 1.5rem !important;
}

.minibox.basic {
    background-color: #0076a3 !important;
}

p.basic2 {
    color: rgba(255,255,255,.3) !important;
}

.basic.down.box {
    padding: 1.5rem !important;
}

ul.basic-list {
    padding-left: 0;
    list-style: none;
}

.text-success {
    color: #1d9b7b;
    font-size: 20px;
}

.text-danger {
    color: #da3746;
}

.section.pricing{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

