* {
    color: rgb(32, 32, 32);
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}

.buttons {
    background: rgb(22, 180, 207);
    padding: 1rem;
}


.btn {
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 600;
    border-style: solid;
    border-width: 1px;
    padding: 11px 20px;
    border-radius: 42px;
    margin-top: 25px;
    min-width: 115px;
    transition: 0.3s ease;
    text-transform: uppercase;
}


.gold-to-dark {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
    color: rgb(32, 32, 32);
}

.gold-to-dark:hover {
    border-color: rgb(32, 32, 32);
    color: rgb(255, 185, 31);
    background: rgb(32, 32, 32);
}

.dark-to-gold {
    border-color: rgb(32, 32, 32);
    color: rgb(255, 185, 31);
    background: rgb(32, 32, 32);
}

.dark-to-gold:hover {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
    color: rgb(32, 32, 32);
}

.white-to-gold {
    background: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.white-to-gold:hover {
    border-color: rgb(255, 185, 31);
    background: rgb(255, 185, 31);
}

.link-box {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 14px 5px;
    transition: 0.3s ease;
}

.link-no-deco {

    text-decoration: none;
}

.flex-row {
    display: flex;
}

.flex-reverse-row {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-reverse-column {
    display: flex;
    flex-direction: column-reverse;
}


.container {
    max-width: 1260px;
}

/*ege*/

/*gizem*/
.product-sales-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 80px 30px;


}

.product-sales-content {
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.product-sales-header h2 {
    font-size: 36px;
    letter-spacing: 0.9px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: left;
}

.product-sales-column {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(235, 235, 235, 1);
    padding-right: 20px;
}

.product-sales-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(235, 235, 235, 1);


}

.product-img {
    display: flex;
    background-color: gray;
    border: none;

}

.product-img img {
    width: 180px;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    margin: 0 !important;


}

.product-sales-row:hover img {
    opacity: 0.5;

}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.product-info a {
    margin-bottom: 12px;
    line-height: 1.2;
    font-weight: inherit !important;
    text-decoration: none !important;
}

.product-info a:hover {
    color: rgb(255, 185, 31);
}

.star-icon {
    margin-bottom: 16px;
    line-height: 1.2;
    float: none;

    height: 13px;

    font-family: star;
    position: relative;
    letter-spacing: 3px;

}

.star-icon .checked {
    color: rgba(255, 210, 0, 1);
}


.star-icon span {
    color: rgba(195, 195, 195, 1);
}

.product-price .price {
    font-size: 18px;
    color: rgba(35, 63, 146, 1);
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
    line-height: 1 !important;
}

.addtocart-button {
    margin-bottom: 0;
    line-height: 1.2;

}

.addtocart-button button {
    width: auto;
    min-width: 120px;
    font-size: 12px;
    line-height: 16px;
    padding: 6px;
    margin-top: 10px;
    display: inline-block !important;
    font-weight: 700;
    font-family: Outfit;
    font-style: normal;
}



.popular-part-header {
    padding: 0;
    margin-bottom: 30px;
    line-height: 1;
    letter-spacing: 0.9px;
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
}

.popular-part-buttons button {

    border: 1px solid #cbcbcb;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    padding: 14px 5px;
    text-decoration: none;
    width: 100%;


}


.popular-part-categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1300px;
}

.popular-part-categories {
    display: flex;
    justify-content: center;
}

.popular-part-categories ul li {
    padding: 0 10px 10px;
    width: 230px;
    height: 50px;
    text-align: center;
}

.popular-part-categories button {
    margin: 0;
}

.genuine-banner-container {
    position: relative;
    background-image: url(https://demo.theme-sky.com/druco/wp-content/uploads/2022/08/banner-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 80px;
    margin-bottom: 81px;
    padding: 28px 0px 37px 0px;
    margin-left: 0;
    margin-right: 0;
    height: 210px;

}

.genuine-banner-img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

}

.genuine-banner-header {
    width: 100%;
    position: relative;
    display: flex;
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    transition: opacity 350ms ease 0s, visibility 350ms ease 0s;

}

.genuine-banner-content {
    padding: 10px;
    display: flex;
    position: relative;

    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
}



.genuine-banner-main-header h2 {
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.9px;
    color: #FFB91F;
    font-size: 90px;
    line-height: 85px;
}

.genuine-banner-sub-header p {
    margin-bottom: 0;

    display: block;

    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #FFF;
    font-size: 18px;
}

.genuine-banner-sub-header span {
    color: rgba(255, 185, 31, 1);
}

/* Media queires for tablet mode */

@media screen and (min-width: 910px) and (max-width: 1370px) {
    .product-sales-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Media queries for mobile mode */

@media screen and (max-width: 768px) {
    .genuine-banner-main-header h2 {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }

    .genuine-banner-sub-header p {
        font-size: 14px;
        text-align: center;
    }

    .genuine-banner-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .genuine-banner-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .genuine-banner-container {
        height: 195px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-sales-column {
        border: none;


    }

    .product-sales-row {
        border: none;


    }

    .product-sales-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}