header {
  width: 100%;
  background-color: gainsboro;
}

.maxDivHeader {
  max-width: 1260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 1%;
}

header img {
  height: 80px;
  cursor: pointer;
}

.menu {
  display: grid;
  align-content: center;
}

.menu ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 2%;
}

.menu ul li {
  padding: 8%;
  border-radius: 15px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.menu ul li:hover {
  cursor: pointer;
  background-color: rgb(255, 111, 0);
  color: #FFFFFF;
}

.socialItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  justify-content: center;
  gap: 10px;
  align-content: center;
  font-size: 1.2rem;
}

.socialItems a {
  text-decoration: none;
  color: #7E7E7E;
}

.socialItems a:hover {
  color: rgb(255, 111, 0);
}

section {
  width: 100%;
  background-color: rgb(200, 200, 200);
}

.topSection {
  height: 400px;
  background: url("https://media06.ligtv.com.tr/img/news/2022/11/16/super-ligde-ilk-14-haftasi-pek-cok-hikayeye-sahne-oldu/1024_400/HikayeKapak.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.maxDivSection {
  max-width: 1260px;
  margin: 0 auto;
  padding: 1%;
  min-width: 200px;
}

.topSectionInfo {
  width: 45%;
  padding: 7% 0;
}

.topSectionInfo p {
  margin-bottom: 5%;
  font-size: 0.9rem;
}

.topSectionInfo a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(203, 88, 0);
  padding: 2% 3%;
  border-radius: 15px;
}

.cardsContainer {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.card {
  background-color: #FFFFFF;
  padding: 2%;
  border-radius: 15px;
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 2% 2% 0 0;
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(18, 105, 0);
  padding: 2% 4%;
  border-radius: 15px;
}

.card h4 {
  color: #7E7E7E;
}

footer {
  width: 100%;
  background-color: #5b5b5b;
  color: #FFFFFF;
}

.footerArea {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
}

.footerCard {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
  .maxDivHeader {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .socialItems {
    display: none;
  }
}