.box{
    height: 50px;
    width: 250px;
    margin: 10px;
    /* margin=dış boşluklar */
}
.red{
background-color: red;
margin-left: 50px;
padding-top: 20px;
}
.blue{
background-color: blue;
margin-left: 60px;
padding-top: 30px;
}
.green{
background-color: green;
margin-left: 80px;
padding-top: 30px;

}