body{
    display: flex;
    height: 100vh;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background: red;
    margin: auto;
    animation: move 2s infinite;
}
.box:hover{
    background-color: #41f321;
    width: 300px;
    border-radius: 50%;
    transform: scale(2);

  }