.head1{
    font-size: 20pt;
}
.paragraf{
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
}
.box{
    width: 300px;
    height: 300px;
    background-color: red;
    padding:20px 30px ; /*20 alttan üsten, 30 sağdan soldan */
}
.inBox{
    width:100px;
    height: 100px;
    background-color: green;
    margin: 20px 30px; /* 20 alttan üsten, 30 sağdan soldan*/
    border:5px solid #449;
    border-radius: 50%;
}
    /* padding iç boşluk, margin dış boşluk verir*/

    .box{
        width: 300px;
        height: 300px;
        background-color: red;
        border: 1px solid #449;

    }
    .inBox{
        width: 100px;
        height: 100px;
        
    }