@media screen and (min-width: 1024px) {
  /* navbar başlangıç */
  .nav-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: end;
    justify-content: space-between;
  }
  .nav-container > img {
    margin: 0;
    height: 50px;
  }

  /* navbar bitiş */
  /* header başlangıç */
  /* header bitiş */
  /* section başlangıç */
  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* section bitiş */
  /* footer başlangıç */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer-container img {
    /* text-align: left; */
    align-items: flex-end;
    justify-content: flex-end;
  }
  /* footer bitiş */
}
