@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100% 100%;
}

header {
  color: black;
}

footer {
  height: 100px;
  width: 100%;
}

nav {
  height: 50px;
  width: 100%;
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.371);
  background: rgba(240, 248, 255, 0.31);
  border-radius: 5px;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
}

li {
  padding-left: 10px;
  list-style-type: none;
  justify-content: space-between;
}

article {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 60%;
}
article img {
  padding: 8px;
}

article li {
  border: 2px solid #0000008f;
  box-shadow: 10px 10px 5px 5px rgba(151, 151, 151, 0.75);
  border-radius: 4px;
  list-style-type: none;
  justify-content: space-between;
  display: inline-block;
  float: none;
  background: rgba(240, 248, 255, 0.31);
}
aside {
  width: 40%;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  box-shadow: 10px 10px 5px 5px rgba(151, 151, 151, 0.75);
  background-color: rgba(240, 248, 255, 0.489);
}

section {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  box-shadow: 10px 10px 5px 5px rgba(151, 151, 151, 0.75);
  background-color: rgba(240, 248, 255, 0.489);
}

aside p {
  text-align: justify;
  padding: 30px 30px 30px 30px;
  word-spacing: 20px;
}

.row {
  display: flex;
  height: 10%;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}
p {
  padding: 5px;
}
.footer_image {
  display: flex;
  justify-content: space-between;
}
img {
  box-shadow: 10px 10px 5px 0px rgba(151, 151, 151, 0.75);
}

section img {
  height: 90%;
  width: 50%;
}

section p {
  text-align: justify;
  padding: 10px 10px 30px 50px;
  word-spacing: 20px;
  display: inline-block;
  word-break: break-word;
  table-layout: fixed;
}

aside img {
  height: 50%;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #000000;
  border: 1.1px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(242, 242, 242);
}

.socials a:hover {
  border-color: beige;
}
