body {
  /* background-image: linear-gradient(
    to right top,
    #7e0a0a,
    #690813,
    #530b16,
    #3c0d15,
    #260c11,
    #2f0e15,
    #380f19,
    #420f1d,
    #710826,
    #a20027,
    #d2001f,
    #ff0000
  ); */
  background-color: #7e0a0a;
  /* background-image: no-repeat; */
}

.nav-link:hover {
  color: gold;
}

.nav-link.active:hover {
  color: gold;
}

nav img {
  width: 5rem;
}
