body {
  background-image: linear-gradient(
    to right top,
    #7e0a0a,
    #690813,
    #530b16,
    #3c0d15,
    #260c11,
    #2f0e15,
    #380f19,
    #420f1d,
    #710826,
    #a20027,
    #d2001f,
    #ff0000
  );
  /* background-color: #7e0a0a; */
  /* background-image: no-repeat; */
  font-family: "Almendra", serif;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-link:hover {
  color: gold;
}

.nav-link.active:hover {
  color: crimson;
}

nav img {
  width: 5rem;
}

.image-container {
  margin: 3rem 0;
}

h1,
h2 {
  font-family: "Almendra SC", serif;
}

article p {
  font-size: 1.25rem;
}

h1 {
  font-size: 5rem;
}

article h2 {
  font-size: 3rem;
}

/* .image-container {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px #ffdb58, 0 0 20px #ffdb58, 0 0 30px #ffdb58,
    0 0 40px #ffdb58, 0 0 50px #ffdb58, 0 0 60px #ffdb58, 0 0 70px #ffdb58,
    0 0 80px #ffdb58, 0 0 90px #ffdb58, 0 0 100px #ffdb58;
}

.light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
    circle at center,
    #ffdb58 0%,
    rgba(255, 238, 0, 0.5) 40%,
    rgba(255, 255, 255, 0.2) 60%,
    rgba(255, 255, 255, 0) 80%
  );
  transform: rotate(-45deg);
} */

i {
  font-size: 100px;
  color: #ffd84c;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black, 2px 2px 2px rgba(206, 89, 55, 0);
}

article {
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black, 2px 2px 2px rgba(206, 89, 55, 0);
}

h1 {
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black, 2px 2px 2px rgba(206, 89, 55, 0);
}

.welcome h2 {
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black, 2px 2px 2px rgba(206, 89, 55, 0);
  font-style: italic;
  font-size: 4rem;
}
.welcome p {
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black, 2px 2px 2px rgba(206, 89, 55, 0);
  font-size: 1.5rem;
  font-style: italic;
  text-indent: 1rem;
}

.carousel-inner img {
  height: 500px;
}

.nav-link {
  color: white;
}

.nav-link.active {
  background-color: gold;
  border-radius: 10px;
}
