*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  background: rgb(25,26,96);
  background: linear-gradient(45deg, rgba(15,15,55,1) 10%, rgba(33,37,40,1) 87%);
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

#modalImg {
  height: 200px;
  object-fit: cover;
}

.card {
  transition: all .3s ease-in-out;
}

.card:hover{
  box-shadow: 0px 10px 10px 0px rgba(197, 197, 197, 0.75) !important;

}
.hero{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://images4.alphacoders.com/123/1237523.jpg");
  color: white;
  box-shadow: 0px 25px 34px -19px rgba(235, 233, 233, 0.1) !important;
}

#movieList a {
  color: #333333;
  transition: all .3s ease-in-out;
}

#movieList a:hover {
  color: rgb(208, 106, 17);
}

nav {
  height:90px;
}
header{
  border-bottom: 7px dashed rgba(255, 255, 0, 0.77);
  background: transparent;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
}
.nav-link:hover {
  color:yellow !important;
}
a,a:active,a:focus {
    color: #333;
    text-decoration: none;
}
.btn {
transition: all 0.8s;
}
.join-btn:hover{
background: black !important;
color: yellow !important;
border-color: #ffffff;
}
footer {
border-top: 7px dashed yellow;
font-size: 17px;
}
footer h3 {
font-size: 24px;
letter-spacing: 1px;
}
footer h4 {
font-size: 20px;
letter-spacing: 1px;
display: inline-block;
margin-bottom: 2px;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
color: yellow !important;
}
.footer-title {
border-bottom: 2px solid yellow;
padding-bottom: 25px;
margin-bottom: 35px;
}
ul.footer-social i {
width: 30px;
height: 30px;
line-height: 30px;
border-radius: 30px;
font-size: 16px;
transition: all 0.5s;
font-weight: 800;
}
ul.footer-social i:hover {
background: #1b1b1b !important;
color: yellow !important;
}
.open-hour{
  padding-bottom: 20px !important;
}
.text-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: yellow;
    transition: width 0.3s;
  }
  .text-hover:hover::after {
    width: 25%;
  }
  .text-hover-nav:hover::after {
    width: 75%;
  }

  .add-movie-btn:hover{
    background: black !important;
    color: yellow !important;
    border-color: #ffffff;
  }