body{
    margin: 0;
}
.container{
    display: grid;
    height: 600px;
    background-color: rgb(167, 167, 167);
    padding: 20px;
    gap: 10px;
    /* grid-template-columns: 150px 150px 150px 150px 150px 150px; */
    /* grid-template-columns: 150px auto 150px auto 150px 150px; */
    /* grid-template-columns: 150px 1fr 150px 2fr 150px 150px; */
    /* grid-template-columns: 1fr 2fr 5fr; */
    /* grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 1fr); */
    /* grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px); */
    /* grid-auto-columns: 1fr;
    grid-auto-rows: 3fr; */
    grid-template-columns: minmax(50px, 100px) 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-content: center;
    align-content: center; */
  }
  
  .item{
    background-color: rgb(255, 112, 3);
    padding: 20px;
  }